.arc-circle-badge {
  align-items: center;
  border: 2px solid #7f8c8d;
  border-radius: 50%;
  display: inline-flex;
  flex: 0 0 36px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  height: 36px;
  justify-content: center;
  line-height: 1;
  width: 36px;
}

.arc-circle-badge-label {
  display: inline-flex;
  line-height: 1;
}

.arc-circle-badge .material-icons {
  font-size: 22px;
}

.arc-circle-badge--sm {
  flex-basis: 52px;
  font-size: 26px;
  height: 52px;
  width: 52px;
}

.arc-circle-badge--sm .material-icons {
  font-size: 26px;
}
