.oppia-preview-set-params-modal {
    padding: 15px 10px 15px 10px;
  }
  .oppia-preview-set-params-modal .oppia-preview-set-params-modal-table {
    margin: 5px 0 15px 0
  }
  .oppia-preview-set-params-modal .oppia-preview-set-params-modal-td {
    padding: 1px 5px;
  }
