/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/
.oppia-classroom-search-container {
  background-color: #d7d7d7;
  bottom: 0;
  margin-left: -12.5vw;
  margin-right: -12.5vw;
  padding-bottom: 10px;
  position: absolute;
  width: 100vw;
}

.oppia-classroom-viewer-container {
  text-align: left;
}

.oppia-classroom-search-section .classroom-page-search-bar {
  margin-left: -18px;
}

.oppia-classroom-details {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 0.95em;
}

.oppia-classroom-details .course-details {
  margin-bottom: 4vh;
}

.oppia-classroom-details h2 {
  color: #545454;
}

.oppia-classroom-details p {
  line-height: 2;
}

.oppia-classroom-viewer-container,
.oppia-classroom-search-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
}

.oppia-classroom-search-container .initial-help-text {
  font-weight: 500;
  padding-top: 2.5vh;
}

.classroom-page-help-text {
  color: #01645c;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.2em;
}

.oppia-classroom-viewer-container .oppia-classroom-header {
  color: #01645c;
  font-family: 'Capriola', 'Roboto', Arial, sans-serif;
  margin-bottom: 25px;
  margin-top: 0;
  padding-top: 66.5px;
  text-align: left;
}

.oppia-classroom-viewer-container .oppia-topic-summary-tiles {
  display: grid;
  grid-template-columns: 210px 210px 210px;
  justify-content: center;
  margin-top: 40px;
  overflow-y: auto;
  padding-bottom: 18vh;
  row-gap: 24px;
}

.oppia-topic-summary-tile {
  margin: 0 12px;
}

.oppia-classroom-viewer-container .classroom-name {
  font-size: 3em;
}
.oppia-classroom-viewer-container .classroom-header {
  font-size: 1.2em;
}
.oppia-classroom-viewer-container .oppia-classroom-banner {
  height: auto;
  margin-left: 25vw;
  margin-top: -120px;
  text-align: center;
}
.oppia-classroom-banner-img {
  height: auto;
  max-width: 400px;
  width: 15vw;
}
classroom-page .oppia-classroom-page-subheading-text {
  font-size: 1em;
}

@media(max-width: 1150px) {
  .oppia-topic-summary-tiles {
    margin-bottom: 55px;
  }

  .oppia-classroom-viewer-container .oppia-topic-summary-tiles {
    grid-template-columns: 180px 180px 180px;
  }

  .oppia-classroom-viewer-container,
  .oppia-classroom-search-section {
    width: 75vw;
  }

  .oppia-classroom-search-container {
    margin-bottom: -54px;
    margin-left: -12.5vw;
  }
}

@media (max-width: 880px) {
  .oppia-classroom-viewer-container .classroom-header {
    margin-top: -3vh;
  }
  .oppia-classroom-search-container .initial-help-text {
    padding-top: 0.5vh;
  }

  .oppia-classroom-viewer-container {
    width: 80vw;
  }

  .oppia-classroom-search-section {
    text-align: center;
    width: 95vw;
  }

  .oppia-classroom-search-bar-container {
    display: flex;
    justify-content: center;
  }

  .oppia-classroom-search-container {
    padding-bottom: 12vw;
  }

  .classroom-page-help-text {
    font-size: 1em;
  }

  .oppia-classroom-viewer-container .oppia-classroom-banner {
    margin-left: 12.5vw;
    margin-top: -7vh;
    width: 50vw;
  }
  .oppia-classroom-banner-img {
    width: 100%;
  }
  .oppia-classroom-viewer-container .oppia-topic-summary-tiles {
    grid-template-columns: 150px 150px 150px;
    margin-top: 5vh;
    padding-bottom: 140px;
  }
}

@media screen and (max-width: 1806px) {
  .oppia-classroom-details {
    margin-top: 1vh;
    padding-top: 1vh;
  }
}

@media screen and (max-width: 1489px) {
  .oppia-classroom-details {
    margin-top: 2.4vh;
    padding-top: 2.4vh;
  }
}

@media screen and (max-width: 1321px) {
  .oppia-classroom-details {
    margin-top: 3.8vh;
    padding-top: 3.8vh;
  }
}

@media(max-width: 600px) {
  .oppia-classroom-viewer-container {
    width: 85vw;
  }

  .oppia-classroom-search-container {
    margin-left: -7.5vw;
  }

  .oppia-classroom-search-section {
    width: 95vw;
  }

  .oppia-classroom-details {
    font-size: 0.8em;
  }

  .oppia-classroom-viewer-container .oppia-topic-summary-tiles {
    display: grid;
    grid-template-columns: 150px 150px;
  }
}
