<div class="oppia-splash-section-one" dir="auto">
  <div class="oppia-splash-main-image-container">
    <img class="oppia-splash-main-image" ng-src="<[$ctrl.getStaticImageUrl('/splash/splashMainDesktop.png')]>" alt="">
  </div>
  <div class="oppia-splash-headers">
    <h1 class="oppia-splash-h1" translate="I18N_SPLASH_TITLE_LINE_1"></h1>
    <h1 class="oppia-splash-h1" translate="I18N_SPLASH_TITLE_LINE_2"></h1>
    <h1 class="oppia-splash-h1" translate="I18N_SPLASH_TITLE_LINE_3"></h1>
    <div class="oppia-splash-h2-container">
      <h2 class="oppia-splash-h2 oppia-splash-h2-text" translate="I18N_SPLASH_SUBTITLE"></h2>
    </div>
    <div class="oppia-splash-button-container">
      <button type="button" ng-click="$ctrl.onClickBrowseLibraryButton()"
              class="btn oppia-splash-button oppia-splash-button-browse oppia-splash-browse-button-position oppia-transition-200"
              translate="I18N_ACTION_BROWSE_LESSONS">
      </button>
    </div>
  </div>
</div>

<div class="oppia-splash-section-two">
  <div class="oppia-splash-icon-1-container">
    <img ng-src="<[$ctrl.getStaticImageUrl('/splash/userIcon.svg')]>" class="oppia-splash-icon-1" alt="">
    <span class="splash-icon-text" translate="I18N_SPLASH_ICON_ONE_TEXT"></span>
  </div>
  <div class="oppia-splash-icon-2-container">
    <img ng-src="<[$ctrl.getStaticImageUrl('/splash/languageIcon.svg')]>" class="oppia-splash-icon-2" alt="">
    <span class="splash-icon-text" translate="I18N_SPLASH_ICON_TWO_TEXT"></span>
  </div>
  <div class="oppia-splash-icon-3-container">
    <img ng-src="<[$ctrl.getStaticImageUrl('/splash/lessonIcon.svg')]>" class="oppia-splash-icon-3" alt="">
    <span class="splash-icon-text" translate="I18N_SPLASH_ICON_THREE_TEXT"></span>
  </div>
</div>


<div class="oppia-splash-section-three">
  <div class="oppia-splash-section-three-left">
    <img ng-src="<[$ctrl.getStaticImageUrl('/splash/matthew_fractions.png')]>" class="splash-matthew-image" alt="">
  </div>
  <div class="oppia-splash-section-three-right">
    <h3 translate="I18N_SPLASH_BENEFITS_TITLE"></h3>
    <div class="splash-benefits-section">
      <img ng-src="<[$ctrl.getStaticImageUrl('/splash/bullet1.svg')]>" alt="">
      <h2 translate="I18N_SPLASH_BENEFITS_ONE" class="splash-benefits"></h2>
    </div>
    <div class="splash-benefits-section">
      <img ng-src="<[$ctrl.getStaticImageUrl('/splash/bullet2.svg')]>" alt="">
      <h2 translate="I18N_SPLASH_BENEFITS_TWO" class="splash-benefits"></h2>
    </div>
    <div class="splash-benefits-section">
      <img ng-src="<[$ctrl.getStaticImageUrl('/splash/bullet3.svg')]>" alt="">
      <h2 translate="I18N_SPLASH_BENEFITS_THREE" class="splash-benefits"></h2>
    </div>
  </div>
</div>

<div class="oppia-splash-section-four">
  <div class="oppia-splash-section-four-left">
    <h3 translate="I18N_SPLASH_FOR_STUDENTS"></h3>
    <h2 translate="I18N_SPLASH_STUDENTS_TITLE"></h2>
    <p translate="I18N_SPLASH_STUDENTS_CONTENT"></p>
    <div class="oppia-splash-button-container">
      <button type="button" ng-click="$ctrl.onClickLearnMoreButton()"
              class="btn oppia-splash-button oppia-splash-button-browse oppia-splash-browse-button-position oppia-transition-200"
              translate="I18N_SPLASH_LEARN_MORE">
      </button>
    </div>
  </div>
  <div class="oppia-splash-section-four-right">
    <img class="splash-student-desk-image" ng-src="<[$ctrl.getStaticImageUrl('/splash/student_desk.png')]>" alt="">
  </div>
</div>

<style>
  splash-page .oppia-splash-section-four {
    background-color: #fff;
    display: flex;
    padding-bottom: 50px;
    padding-top: 40px;
    width: 100vw;
  }

  splash-page .oppia-splash-section-four .oppia-splash-button-container {
    margin-left: 0;
    margin-top: 7.5vh;
  }

  splash-page .splash-student-desk-image {
    max-width: 500px;
    width: 100%;
  }

  splash-page .oppia-splash-section-three-right h3 {
    color: #6d6d6d;
  }

  splash-page .oppia-splash-section-four-left h3 {
    color: #6d6d6d;
  }

  splash-page .oppia-splash-section-four-left h2 {
    color: #094142;
    font-family: "Capriola", "Roboto", Arial, sans-serif;
    font-size: 2.1em;
  }

  splash-page .oppia-splash-section-four-left p {
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.5;
    padding-right: 15vw;
  }

  splash-page .oppia-splash-section-four-right {
    margin-left:  15vw;
  }

  splash-page .oppia-splash-section-four-left {
    margin-left: 10vw;
    padding-top: 40px;
    width: 40vw;
  }

  splash-page .oppia-splash-main-image-container {
    position: absolute;
    right: 0;
  }

  splash-page .splash-benefits-section {
    margin-top: 30px;
  }

  splash-page .oppia-splash-section-three-right {
    color: #6d6d6d;
    margin-left: 7.5vw;
    margin-top: 50px;
  }

  splash-page .splash-matthew-image {
    max-width: 600px;
    width: 100%;
  }

  splash-page .splash-benefits {
    color: #094142;
    display: inline;
    font-size: 1.4em;
    padding-left: 25px;
  }

  splash-page .oppia-splash-icon-1-container {
    float: left;
    margin-left: 10vw;
    width: 20vw;
  }

  splash-page .oppia-splash-icon-2-container {
    float: left;
    margin-left: 10vw;
    width: 30vw;
  }

  splash-page .splash-icon-text {
    color: #6d6d6d;
    font-size: 1.2em;
    font-weight: bold;
  }

  splash-page .oppia-splash-main-image {
    max-width: 1250px;
    width: 100%;
  }

  splash-page .oppia-splash-background-icon-rows-container {
    padding-left: 200px;
  }
  splash-page .oppia-splash-books-image {
    margin-left: -250px;
    top: 95px;
    width: 500px;
  }
  splash-page .oppia-splash-browse-button-position {
    bottom: 210px;
    z-index: 10;
  }
  splash-page .oppia-splash-create-button-position {
    bottom: 150px;
    z-index: 10;
  }
  splash-page .oppia-splash-h2-text {
    color: #4c4c4c;
    font-size: 1.3em;
    font-weight: 500;
    max-width: 700px;
    padding-bottom: 30px;
    padding-top: 0;
  }

  splash-page .oppia-splash-bullet-extra-info {
    clear: both;
    overflow: visible;
  }
</style>
