/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/
.splash-page .image-mobile {
  display: none;
}

.splash-page {
  text-align: left;
}

.splash-page .image-with-border {
  border-radius: 11em;
}

.splash-page .oppia-splash-button {
  border: none;
  border-radius: 5px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  min-width: 230px;
  padding: 10px;
  text-transform: none;
  width: fit-content;
}

.splash-page .oppia-splash-learn-button {
  background-color: #00645c;
  color: #fff;
}
.splash-page .oppia-splash-learn-button:hover,
.splash-page .oppia-splash-learn-button:active {
  background-color: #3d9991;
}

.splash-page .oppia-splash-top-account-button {
  background-color: #eef4f3;
  border: 1px solid #00645c;
  color: #00645c;
}

.splash-page .oppia-splash-top-account-button:hover {
  border-width: 2px;
}

.splash-page .oppia-splash-section-one {
  background-color: #eef4f3;
  padding: 50px 70px 0 70px;
}

.splash-page .oppia-splash-section-one-header1 h2,
.splash-page .oppia-splash-section-one-header2 h2 {
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 3.2rem;
  margin: 0 0;
  text-align: start;
}

.splash-page .oppia-splash-section-one-header1 {
  display: none;
  margin-bottom: 5vh;
}

.splash-page .oppia-splash-section-one-top {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  justify-content: space-between;
}

.splash-page .oppia-splash-section-one-top-text {
  font-size: 2rem;
}

.splash-page .oppia-splash-section-one-top-left {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  height: fit-content;
  max-width: 350px;
}

.splash-page .oppia-splash-section-one-content {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  height: fit-content;
}

.splash-page .oppia-splash-section-one-top-right {
  height: inherit;
  min-width: 50%;
}

.splash-page .oppia-splash-section-one-bottom {
  padding: 4.8rem 0;
}

.splash-page .oppia-splash-section-one-cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: fit-content;
  justify-content: space-between;
  padding: 3.2rem 0 0 0;
}

.splash-page .oppia-splash-section-one-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 33%;
}

.splash-page .oppia-splash-section-one-card-img img {
  height: 248px;
}

.splash-page .oppia-splash-section-one-card-h2 {
  color: #0d48a1;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 2.4rem;
}

.splash-page .oppia-splash-section-one-card p {
  text-align: center;
}

.splash-page .oppia-splash-section-two {
  background-color: #fdfbf1;
  display: flex;
  flex-direction: column;
  gap: 0;
  height: auto;
  justify-content: center;
  padding: 4rem 5vw;
  text-align: center;
}

.splash-page .oppia-splash-section-two-product p {
  text-align: center;
}

.splash-page .oppia-splash-title {
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 3.2rem;
  margin: 0 0;
  text-align: center;
}

.oppia-splash-mobile-content {
  display: none;
}

.splash-page .oppia-splash-section-two-title {
  color: #005c5e;
}

.splash-page .oppia-splash-section-two-products {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: auto;
  justify-content: center;
  padding: 1rem;
}

.splash-page .oppia-splash-section-two-product {
  align-items: center;
  background-color: #fdfbf1;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  padding: 0.5rem;
  row-gap: 12px;
  width: 50%;
}

.splash-page .oppia-splash-section-two-product-image img {
  height: 222px;
  max-width: 100%;
  width: 380px;
}

.splash-page .oppia-splash-text {
  font-size: 1.8rem;
  margin: 0 0;
}

.splash-page .oppia-splash-h1 {
  color: #005c5e;
  display: flex;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 90%;
}

.splash-page .oppia-splash-h2-container {
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 900px;
  width: 90%;
}

.splash-page .oppia-splash-h2 {
  font-family: "Roboto", Arial, sans-serif;
}

.splash-page .oppia-splash-classroom-h2 {
  color: #00609c;
}

.splash-page .oppia-splash-orange-text {
  color: #a74b35;
}

.splash-page .oppia-splash-section-three {
  background-color: #fcfcfd;
  display: flex;
  flex-direction: row;
  gap: 4vw;
  padding: 0 2rem;
  width: 100%;
}

.splash-page .oppia-splash-section-three-left {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 0;
  row-gap: 16px;
  text-align: start;
  width: 100%;
}

.splash-page .oppia-splash-indigo-text {
  color: #0d48a1;
}

.splash-page .oppia-splash-left-aligned-text {
  text-align: start;
}

.splash-page .oppia-splash-classroom-button {
  background-color: #fdfbf1;
  border: 1px solid #205d86;
  color: #205d86;
}

.splash-page .oppia-splash-lessons-button {
  background-color: #fdfbf1;
  border: 1px solid #c55f45;
  color: #c55f45;
}

.splash-page .oppia-splash-classroom-button:hover,
.splash-page .oppia-splash-lessons-button:hover {
  border-width: 2px;
}

.splash-page .oppia-splash-classroom-button:active,
.splash-page .oppia-splash-lessons-button:active {
  background-color: #f5f5f5;
}

.splash-page .oppia-splash-account-button {
  background-color: #0d48a1;
  color: #fff;
}

.splash-page .oppia-splash-account-button:hover {
  background-color: #0b3e8a;
}

.splash-page .oppia-splash-account-button:active {
  background-color: #044fc0;
}


@media only screen and (min-width: 768px) {
  .splash-page .oppia-splash-button-browse {
    left: -webkit-calc(50% - 200px);
    left: -moz-calc(50% - 200px);
    left: -o-calc(50% - 200px);
    left: calc(50% - 200px);
  }
}

@media only screen and (min-width: 575px) {
  .splash-page .oppia-splash-button {
    left: -webkit-calc(130px - -15%);
    left: -moz-calc(130px - -15%);
    left: -o-calc(130px - -15%);
    left: calc(130px - -15%);
  }
}

@media only screen and (max-width: 365px) {
  .splash-page .oppia-splash-button {
    min-width: 95%;
  }
}

.splash-page .oppia-splash-section-four {
  align-items: center;
  background-color: #e4eae9;
  background-size: 100% 100%;
  display: flex;
  flex-direction: row-reverse;
  height: fit-content;
  width: 100%;
}

.splash-page .oppia-splash-section-four-right {
  align-items: end;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 52px 5rem 52px 4rem;
  row-gap: 12px;
  text-align: end;
  width: fit-content;
}

.splash-page .oppia-splash-section-four-title {
  color: #0f6c5e;
}

.splash-page .oppia-splash-teach-button {
  background-color: #0f6c5e;
  color: #fff;
}

.splash-page .oppia-splash-teach-button:hover,
.splash-page .oppia-splash-teach-button:active {
  background-color: #3d9991;
}

.splash-page .oppia-splash-right-aligned-text {
  text-align: end;
}

.splash-page .oppia-splash-section-four-left {
  align-items: start;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.splash-page .oppia-splash-teaching-image img {
  height: 100%;
  max-width: 590px;
  width: 100%;
}

.splash-page .splash-icon-text-container {
  min-width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

.splash-page .material-icons {
  color: #6d6d6d;
  cursor: pointer;
  font-size: 2.5em;
  margin-top: 50px;
}

.splash-page .splash-books-image {
  height: auto;
  max-width: 500px;
  width: 100%;
}

.splash-page .splash-student-image img {
  height: auto;
  max-width: 350px;
  width: 100%;
}

.splash-page .oppia-splash-section-five {
  background-color: #fdfbf1;
  background-size: 104% 100%;
  display: flex;
  gap: 4vw;
  padding: 0 0 0 2rem;
  width: 100%;
}

.splash-page .oppia-splash-section-five-left {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  row-gap: 16px;
  text-align: start;
  width: 100%;
}

.splash-page .oppia-splash-section-five-title {
  color: #a74b35;
}

.splash-page .oppia-splash-explore-button {
  background-color: #b25239;
  color: #fff;
}

.splash-page .oppia-splash-explore-button:hover {
  background-color: #c55f45;
}

.splash-page .oppia-splash-explore-button:active {
  background-color: #dd7358;
}

.splash-page .oppia-splash-section-five-right {
  align-items: end;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.splash-page .oppia-splash-students-image img {
  height: 100%;
  max-width: 540px;
  width: 100%;
}

.splash-page .oppia-splash-section-six {
  align-items: center;
  background-color: #fcfcfd;
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
  height: fit-content;
  padding: 0 5vw;
  width: 100%;
}

.splash-page .oppia-splash-section-six-right {
  align-items: end;
  display: flex;
  flex-direction: column;
  padding: 52px 0;
  row-gap: 12px;
  text-align: end;
  width: fit-content;
}

.splash-page .oppia-splash-section-six-title {
  color: #35729b;
}

.splash-page .oppia-splash-volunteer-button {
  background-color: #205d86;
  color: #fff;
}

.splash-page .oppia-splash-volunteer-button:hover {
  background-color: #1a5278;
}

.splash-page .oppia-splash-volunteer-button:active {
  background-color: #35729b;
}


.splash-page .splash-volunteer-image img {
  max-width: 300px;
  width: 100%;
}

.splash-page .splash-student-desk-image img {
  height: 280px;
  width: 400px;
}

.splash-page .oppia-splash-section-five-left .testimonial-quote-details {
  line-height: 1.75em;
}

.splash-page .oppia-splash-section-four-left p {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.5;
  padding-right: 10vw;
}


.splash-page .splash-benefits-section {
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
}

.splash-page .splash-matthew-image {
  height: auto;
  max-width: 600px;
  width: 100%;
}

.splash-page .splash-benefits {
  color: #094142;
  font-size: 1.4em;
  margin: 0;
}

.splash-page .splash-benefits-list {
  display: flex;
}

.splash-page .splash-benefit-bullets-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: space-between;
  margin-right: 25px;
  width: 40px;
}

.splash-page .splash-benefit-bullets-column img {
  height: auto;
}

.splash-page .splash-benefit-text-items-column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: space-between;
}

.splash-page .oppia-splash-icon-1-container,
.splash-page .oppia-splash-icon-2-container,
.splash-page .oppia-splash-icon-3-container {
  display: flex;
}

@media only screen and (max-width: 950px) {
  .splash-page .oppia-splash-icon-1-container,
  .splash-page .oppia-splash-icon-2-container,
  .splash-page .oppia-splash-icon-3-container {
    display: flow-root;
  }
}

.splash-page .oppia-splash-icon-3-container img {
  max-height: 2.05em;
}

.splash-page .splash-icon-text {
  color: #6d6d6d;
  font-size: 1.2em;
  font-weight: bold;
}

.splash-page .oppia-splash-main-image img {
  height: auto;
  max-width: 800px;
  width: 100%;
}

.splash-page .oppia-splash-browse-button-position {
  bottom: 210px;
  z-index: 10;
}
.splash-page .oppia-splash-create-button-position {
  bottom: 150px;
  z-index: 10;
}
.splash-page .oppia-splash-h2-text {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  max-width: 700px;
  padding-top: 0;
}

@media only screen and (max-width: 1025px) {
  .splash-page .oppia-splash-learn-more-title {
    font-size: 2.8rem;
  }
}


@media only screen and (max-width: 769px) {

  .splash-page .oppia-splash-section-one-header1 h2,
  .splash-page .oppia-splash-section-one-header2 h2 {
    font-size: 2.8rem;
  }

  .splash-page .oppia-splash-section-one-header1 {
    display: block;
  }

  .splash-page .oppia-splash-section-one-header2 {
    display: none;
  }

  .splash-page .oppia-splash-title {
    font-size: 2.8rem;
  }

  .splash-page .oppia-splash-learn-more-title {
    font-size: 2rem;
  }

  .splash-page .oppia-splash-section-one-card-h2 {
    font-size: 1.6rem;
  }

  .splash-page .oppia-splash-section-one-card-img img {
    height: 192px;
  }

  .splash-page .image-mobile {
    display: inherit;
  }

  .splash-page .image-desktop {
    display: none;
  }

  .splash-page .oppia-splash-button-browse {
    left: 50%;
  }

  .splash-page .splash-vol-image img {
    height: auto;
    max-width: fit-content;
  }

  .splash-page .oppia-splash-section-four-image-mobile {
    margin-left: 10vw;
  }

  .splash-page .oppia-splash-section-five-image {
    margin-left: auto;
    margin-right: auto;
    width: 10em;
  }

  .splash-page .splash-student-image img {
    height: auto;
    max-width: 150px;
  }

  .splash-page .oppia-splash-section-four-left {
    width: auto;
  }

  .splash-page .oppia-splash-h1,
  .splash-page .oppia-splash-h2 {
    display: block;
    margin-left: 0;
  }

  .splash-page .oppia-splash-h1 {
    font-size: 2rem;
    line-height: 1.5;
  }

  .splash-page .oppia-splash-h2-container {
    margin-left: 0;
  }

  .splash-page .oppia-splash-h2-text {
    font-size: 1.05em;
    font-weight: 600;
  }
  
  .splash-page .oppia-splash-icon-3-container {
    display: block;
  }

}


@media only screen and (max-width: 641px) {
  .splash-page .oppia-splash-section-one {
    padding: 50px 30px 0 30px;
  }

  .splash-page .oppia-splash-section-one-header1 h2,
  .splash-page .oppia-splash-section-one-header2 h2 {
    font-size: 2rem;
  }

  .splash-page .oppia-splash-title {
    font-size: 1.8rem;
  }

  .splash-page .oppia-splash-text {
    font-size: 1.4rem;
  }

  .splash-page .oppia-splash-button {
    font-size: 1.4rem;
    min-width: 260px;
  }

  .splash-page .oppia-splash-section-one-card-h2 {
    font-size: 1.8rem;
  }

  .splash-page .oppia-splash-section-one-card-img img {
    height: 112px;
  }

  .splash-page .oppia-splash-section-one-cards {
    column-gap: 5rem;
  }

  .splash-page .oppia-splash-section-two-products {
    align-items: center;
    flex-direction: column;
  }

  .splash-page .oppia-splash-section-two-product {
    width: 100%;
  }

  .splash-page .oppia-splash-section-three-right {
    align-items: center;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 0;
    row-gap: 12px;
  }

  .splash-page .splash-student-desk-image {
    max-width: 224px;
  }

}


@media only screen and (max-width: 361px) {

  .splash-page .oppia-splash-right-aligned-text,
  .splash-page .oppia-splash-left-aligned-text {
    text-align: center;
  }

  .splash-page .oppia-splash-desktop-content,
  .splash-page .oppia-splash-section-one-header2 {
    display: none;
  }

  .splash-page .oppia-splash-mobile-content,
  .splash-page .oppia-splash-section-one-header1 {
    display: block;
  }

  .splash-page .oppia-splash-learn-more-title {
    font-size: 2rem;
  }

  .splash-page .oppia-splash-section-one-card-h2 {
    font-size: 1.6rem;
  }

  .splash-page .oppia-splash-section-one-top {
    align-items: center;
    flex-direction: column;
    justify-content: start;
  }

  .splash-page .oppia-splash-section-one-cards {
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
  }

  .splash-page .oppia-splash-section-one-card {
    width: 100%;
  }

  .splash-page .oppia-splash-section-one-card-img img {
    height: 192px;
  }

  .splash-page .oppia-splash-section-three {
    padding: 3rem;
  }

  .splash-page .oppia-splash-section-three,
  .splash-page .oppia-splash-section-four,
  .splash-page .oppia-splash-section-five,
  .splash-page .oppia-splash-section-six {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4rem 5rem;
    row-gap: 24px;
    text-align: center;
  }

  .splash-page .oppia-splash-section-one,
  .splash-page .oppia-splash-section-two,
  .splash-page .oppia-splash-section-three,
  .splash-page .oppia-splash-section-four,
  .splash-page .oppia-splash-section-five,
  .splash-page .oppia-splash-section-six {
    width: 100%;

  }

  .splash-page .oppia-splash-section-three-left,
  .splash-page .oppia-splash-section-four-right,
  .splash-page .oppia-splash-section-five-left,
  .splash-page .oppia-splash-section-six-right {
    align-items: center;
    padding: 0;
  }

}
