state-skill-editor .oppia-editor-card-with-avatar {
  padding: 9px 28px 25px 17px;
}
state-skill-editor .arrow-button {
  cursor: pointer;
  float: right;
}
:host /deep/ .mat-card-header-text {
  width: 100%;
}
state-skill-editor .oppia-skill-button-container {
  margin-bottom: 0;
  padding-left: 22px;
}
state-skill-editor .skill-description-card {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
  display: block;
  margin-left: 12px;
  margin-top: 7px;
  padding: 12px 0 0 45px;
}
state-skill-editor .skill-link {
  bottom: 4px;
  color: #444;
  position: relative;
}
state-skill-editor .skill-delete-button {
  color: #444;
  cursor: pointer;
  float: right;
  padding-right: 10px;
}
