/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are some additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

.oppia-dashboard-container .checkbox label {
  font-weight: normal;
}

.oppia-page-card {
  text-align: left;
}

.oppia-preferences-page-heading {
  color: #01645c;
  font-family: 'Capriola', 'Roboto', Arial, sans-serif;
  font-size: 3em;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 45px;
  position: relative;
  text-align: center;
}

.oppia-preferences-page-heading-subtext {
  color: #01645c;
  font-family: 'Capriola', 'Roboto', Arial, sans-serif;
  font-size: 1.2em;
  position: relative;
  text-align: center;
}

.oppia-bio-border {
  border-color: rgb(156,156,156);
  border-radius: 4px;
  border-width: 0.01em;
}

.oppia-editor-profile-picture-container {
  height: 150px;
  width: 150px;
}

.oppia-editor-edit-icon-pos {
  right: 8px;
  top: 8px;
}

.oppia-checkbox {
  padding-top: 0;
}

.oppia-subscription-card.mat-card {
  padding: 0;
}

.oppia-subscription-list-container {
  margin: 0 8px 0 0;
}

.oppia-subscription-card-summary-text-container {
  font-size: 17.5px;
  margin-bottom: 5px;
}

.oppia-impact-text {
  font-size: 14.5px;
}
.oppia-form-text {
  font-size: smaller;
}
