.oppia-language-required-message-container {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: auto;
    min-height: 40vh;
    padding: 25px;
    width: 75%;
  }
  .oppia-language-required-message {
    color: #4a4a4a;
    font-size: 28px;
    text-align: center;
  }
  .oppia-language-required-message > .oppia-link-text {
    color: #009688;
  }
