.music-notes-input-container {
    background: #fff;
    padding: 8px;
  }

  .note-choice, .placed-note {
    cursor: pointer;
  }

  .placed-note.cdk-drag-dragging {
    z-index: 1000;
  }

  .placed-note {
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(0, 0);
  }

  @media screen and (max-width: 1024px) {
    .music-notes-input-container {
      max-width: 100vw;
      width: 235px;
    }
  }

  @media screen and (max-width: 768px) {
    .music-notes-input-container {
      max-width: 100vw;
      width: 526px;
    }
  }

  @media screen and (max-width: 425px) {
    .music-notes-input-container {
      max-width: 100vw;
      width: 289px;
    }
  }

  @media screen and (max-width: 375px) {
    .music-notes-input-container {
      max-width: 100vw;
      width: 248px;
    }
  }
  .music-notes-play {
    padding-right: 5px;
  }
