.roles-tab .form-horizontal .col-form-label {
    padding-left: 0;
    text-align: left;
  }
  .roles-editor .row {
    margin-top: 20px;
  }
  .oppia-flex {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
  .oppia-roles-editor-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
  }
  .oppia-roles-editor-form-container {
    width: 100%;
  }
  .oppia-username-form {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
  .oppia-roles-edit-container {
    min-height: 100px;
    width: 100%;
  }
  .oppia-roles-editor-card {
    min-height: 250px;
    padding: 70px 70px 40px 70px;
  }
  .oppia-user-role {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }
  .oppia-user-role:hover {
    background-color: #ccc;
  }
  .oppia-user-role-description:before {
    bottom: 3px;
    color: black;
    content: "\2B24";
    font-size: 10px;
    padding-right: 6px;
    position: relative;
  }
  .oppia-progress-spinner {
    align-items: center;
    display: flex;
    height: 40px;
    width: 32px;
  }
  .oppia-add-role-button {
    margin-top: 20px;
  }
  .oppia-red-button {
    background-color: #b03900;
    color: #fff;
  }
  .oppia-red-link {
    color: #b03900;
  }
