.oppia-param-editor-row {
  margin-bottom: 15px;
  position: relative;
}
.oppia-param-display-row {
  margin-bottom: 4px;
}
.oppia-param-change-sort-handle {
  cursor: move;
  left: -20px;
  opacity: 0.3;
  position: absolute;
  top: 4px;
}
.oppia-delete-param-change-button {
  background: none;
  border: 0;
  color: #000;
  cursor: pointer;
  height: 30px;
  opacity: 0.5;
  position: absolute;
  right: -30px;
  top: 0;
  width: 30px;
}
.oppia-delete-param-change-button:hover {
  opacity: 1;
}
.oppia-form-control {
  display: inline;
  width: 110px;
}
.oppia-serious-warning-text-container {
  margin-bottom: 20px;
  margin-top: 20px;
}
.oppia-card-parameter {
  opacity: 0.7;
}
