div.license-warning {
  background-color: rgba(225, 250, 89, 0.41);
  border: 1px solid rgba(200, 230, 59, 0.41);
  border-radius: 6px;
  font-size: 12px;
  font-style: italic;
  left: 8px;
  margin-top: 6px;
  padding: 4px 6px;
  text-align: left;
}

div.error-message {
  color: red;
  display: inline-block;
  font-size: 14px;
  padding: 4px;
}
div.error-message i {
  margin-right: 4px;
}
div.oppia-audio-container {
  float: left;
  width: 70%;
}
