<div class="oppia-audio-container e2e-test-audio-upload-container">
  <form #inputForm>
    <input type="file"
           class="e2e-test-upload-audio-input"
           aria-label="Upload voiceover file"
           (change)="this.addAudio($event)"
           #fileInput>
  </form>
  <div class="license-warning" tabindex="0">
    Please only upload audio files that you created yourself and that you are willing to license under the site's
    <a href="/license"
       target="_blank"
       rel="noopener">
      license terms
    </a>.
    Audio translation files should be less than <b>five minutes</b> long.
  </div>

  <div *ngIf="errorMessage" class="error-message e2e-test-upload-error-message">
    <i class="fas fa-exclamation-triangle"></i>
    {{errorMessage}}
  </div>
</div>
