.oppia-thumbnail-container {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 4.5px 10px rgba(0, 0, 0, 0.25);
    height: 260px;
    margin: 0 auto 15px auto;
    max-width: 100%;
    position: relative;
  }
  .oppia-thumbnail-container img {
    border-radius: 4px 4px 0 0;
  }
  .oppia-thumbnail-reset-button {
    position: absolute;
    right: -50px;
    top: 0;
  }
  .oppia-thumbnail-uploader {
    word-break: break-word;
  }
  .oppia-thumbnail-confirm-button {
    position: absolute;
    right: -50px;
    top: 40px;
  }
  .oppia-thumbnail-colour-select {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 25px 25px 25px 25px;
    grid-template-rows: 20px;
    margin-bottom: 7px;
  }

  .oppia-thumbnail-colour-select > * {
    border: 1px solid;
    border-radius: 10%
  }

  .oppia-thumbnail-colour-select > *:hover,
  .oppia-thumbnail-colour-select > *:focus {
    border: 2px solid;
    cursor: pointer;
  }
  .oppia-thumbnail-preview-description {
    font-size: 16px;
    line-height: 1.2;
    overflow: hidden;
    padding: 0 16px 0 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .oppia-thumbnail-preview-footer {
    bottom: 10px;
    font-size: 16px;
    font-style: italic;
    line-height: 1.2;
    padding: 0 16px 0 16px;
    position: absolute;
  }
  .oppia-thumbnail-preview-title {
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 16px 10px 16px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .oppia-thumbnail-uploader-container {
    min-height: 300px;
  }
  .oppia-form-error {
    margin-top: 15px;
    word-break: break-word;
  }
  .oppia-unsupported-svg-tag-attribute-error {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    padding: 10px;
  }
