.oppia-image-placeholder-landscape {
    max-height: 180px;
    max-width: 320px;
  }

  .oppia-image-placeholder-portrait {
    max-height: 180px;
    max-width: 180px;
  }

  .image-editor {
    height: 200px;
  }

  .oppia-editable-section {
    border-radius: 0.25rem;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .img-image {
    border: none;
    max-height: 100%;
    max-width: 100%;
  }

  .oppia-pencil-icon {
    top: 8px;
  }

  .edit-btn-container {
    min-height: 2rem;
    min-width: 2rem;
  }
