.oppia-thumbnail-placeholder {
    height: 180px;
    width: 180px;
  }

  .thumbnail-editor {
    height: 200px;
  }

  .oppia-editable-section {
    border-radius: 0.25rem;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .img-thumbnail {
    border: none;
    max-height: 100%;
    max-width: 100%;
  }

  .oppia-pencil-icon {
    right: 8px;
    top: 8px;
  }

  .edit-btn-container {
    min-height: 2rem;
    min-width: 2rem;
  }
