/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are some additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

.oppia-lesson-player-header {
  align-items: center;
  background-color: #094142;
  color: #fff;
  display: flex;
  height: 40px;
  padding-left: 15px;
}
