/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

.oppia-lesson-player-sidebar {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 75px;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
  box-shadow: 1px 0px 0px 2px rgb(0 0 0 / 0.30);
}

.oppia-lesson-player-sidebar.expanded {
  width: 250px;
}
