<div class="oppia-lesson-player-header">
  <div class="player-header-left">
    <p>
      <span class="e2e-test-exploration-header oppia-exploration-header"
            itemprop="description">
        <span *ngIf="!isHackyExpTitleTranslationDisplayed()">
          {{ explorationTitle }}
        </span>
        <span *ngIf="isHackyExpTitleTranslationDisplayed()">
          {{ explorationTitleTranslationKey | translate }}
        </span>
      </span>
    </p>
    <a class="oppia-topic-title" *ngIf="isLinkedToTopic == true"
       [href]="getTopicUrl()">
      <span *ngIf="!isHackyTopicNameTranslationDisplayed()">
        {{ topicName }}
      </span>
      <span *ngIf="isHackyTopicNameTranslationDisplayed()">
        {{ topicNameTranslationKey | translate }}
      </span>
    </a>
  </div>
  <div class="player-header-right">
    <button class="header-menu-button" (click)="toggleMenu()">
      <i class="fa fa-lg fa-ellipsis-h"></i>
    </button>
  </div>
</div>
