/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are some additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

.oppia-lesson-player-footer {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  padding: 8px;
  position: relative;
}

.player-footer-previous-button {
  background: #fcfcfd;
  border: 1px solid #0d48a1;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), inset -2px -2px 4px rgba(0, 0, 0, 0.3);
  color: #0d48a1;
  height: 44px;
  margin: 0 auto;
  padding: 10px 0px;
  width: 44px;
}

.player-footer-continue-button {
  display: flex;
  padding: 10px 4px 10px 8px;
  gap: 4px;
  width: 113px;
  height: 44px;
  background: #0d48a1;
  border: 1px solid #0d48a1;
  box-shadow: inset -5px -5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.player-footer-mid {
  display: flex;
  gap: 16px;
}

.lesson-progress-bar-container {
  padding: 8px;
  padding-right: 0;
}

.player-footer-save-button {
  display: flex;
  padding: 8px 12px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 44px;
  background: #fff;
  border: 1px solid #C55F45;
  color: #C55F45;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 4px;
}

.player-footer-save-button:disabled {
  border: 1px solid #667085;
  color: #667085;
}