<div>
  <span ng-show="items.length == 0">
    <em>None</em>
  </span>

  <ol start="0">
    <li ng-repeat="item in items">
      <[item]> (<a ng-click="openItemEditor($index)">Edit</a> | <a ng-click="deleteItem($index)">Delete</a>)
      <span ng-show="activeItem == $index">
        <input type="text" ng-model="replacementItem"
               placeholder="Replacement Item">
        <button type="button" ng-click="replaceItem($index, replacementItem)">Replace</button>
      </span>
    </li>
  </ol>
  
  <input type="text" ng-model="newItem" placeholder="Add New List Element">
  <button type="button" ng-click="addItem(newItem)">Add List Element</button>
</div>