<div>
  <ol>
    <li ng-repeat="(name, values) in paramChanges">
      <a class="close" ng-click="deleteParamChange(name)">
        &times;
      </a>
      <span class="oppia-editable-name"
          ng-hide="editingParamChange == name"
          ng-click="startEditParamChange(name)">
        Change <b><[name]></b> to <b><[values]></b>
      </span>
    </li>
  </ol>

  <button type="button"
          ng-hide="editingParamChange !=null"
          ng-click="startAddParamChange()">
    Add Parameter Change
  </button>

  <br>

  <div ng-show="editingParamChange != null">
    <form novalidate class="oppia-form" name="newParameterForm" ng-submit="addParamChange()">
      Change
      <input ng-model="tmpParamName" type="text" ui-select2="paramSelector"
             placeholder="Parameter Name" required>
      to one of these values:
      <list items="tmpParamValues"></list>

      <br>
      <input type="submit" value="Save Changes"
             ng-disabled="newParameterForm.$invalid">
      <button type="button" ng-click="resetParamChangeInput()">Cancel</button>
    </form>
  </div>
</div>
