<style>
  thread-table .oppia-feedback-tab-row {
    cursor: pointer;
  }
  thread-table .oppia-feedback-tab-row:hover {
    background: #eee;
  }
</style>
<table class="table">
  <thead>
    <tr ng-if="$ctrl.getThreads().length > 0">
      <th>Status</th>
      <th>Subject</th>
      <th>Original author</th>
      <th>Last updated</th>
    </tr>
  </thead>
  <tr ng-repeat="thread in $ctrl.getThreads()|orderBy:'-lastUpdatedMsecs'" ng-click="$ctrl.onClickRow(thread.threadId)" class="oppia-feedback-tab-row protractor-test-oppia-feedback-tab-row">
    <td width="15%">
      <span ng-class="getLabelClass(thread.status)"><[getHumanReadableStatus(thread.status)]></span>
    </td>
    <td width="45%">
      <div class="protractor-test-exploration-feedback-subject"><[thread.subject | truncate:40]></div>
    </td>
    <td width="20%">
      <span ng-if="thread.originalAuthorName"><[thread.originalAuthorName]></span>
    </td>
    <td width="20%">
      <span><[getLocaleAbbreviatedDatetimeString(thread.lastUpdatedMsecs)]></span>
    </td>
  </tr>
</table>
