<!DOCTYPE html>
<html ng-app="oppia" itemscope itemtype="http://schema.org/Organization">
  <head>
    @load('base-components/header.template.html', {"title": "Oppia"})
    <style>
      @media(max-width: 500px) {
        .oppia-exploration-header {
          max-width: 180px;
        }
      }
      @media(max-width: 400px) {
        .oppia-exploration-header {
          max-width: 130px;
        }
      }
    </style>
    <!-- Prefetch files to enable the MathExpressionInput interaction to work
         even in offline mode. -->
    <link rel="prefetch" href="/third_party/static/MathJax-2.7.5/jax/output/HTML-CSS/jax.js?V=2.7.5">
    <link rel="prefetch" href="/third_party/static/MathJax-2.7.5/jax/output/HTML-CSS/fonts/TeX/fontdata.js?V=2.7.5">
    <link rel="prefetch" href="/third_party/static/MathJax-2.7.5/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff?V=2.7.5">
    <link rel="prefetch" href="/third_party/static/MathJax-2.7.5/fonts/HTML-CSS/TeX/woff/MathJax_Math-Italic.woff?V=2.7.5">
    <link rel="prefetch" href="/third_party/static/MathJax-2.7.5/fonts/HTML-CSS/TeX/woff/MathJax_Size1-Regular.woff?V=2.7.5">
  </head>
  <body>
    <oppia-root>
      <div ng-controller="Base">
        <base-content>
          <navbar-breadcrumb>
            <learner-view-info></learner-view-info>
          </navbar-breadcrumb>

          <nav-options>
            <learner-local-nav></learner-local-nav>
          </nav-options>

          <content>
            <exploration-player-page></exploration-player-page>
          </content>

          <page-footer>
            <exploration-footer></exploration-footer>
          </page-footer>
        </base-content>
      </div>
    </oppia-root>
    @load('pages/footer_js_libs.html')
    <script src="/third_party/static/MathJax-2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    @loadExtensions('interactions/dependency_html.html')
  </body>
</html>
