<div>
  <div *ngIf="isLoadingExploration" class="loader-container">
    <oppia-loading-message [message]="'Loading'"></oppia-loading-message>
  </div>
  <background-banner *ngIf="!isLoadingExploration"></background-banner>
  <div *ngIf="explorationIsUnpublished" class="oppia-unpublished-exploration-banner">
    <p>
      {{ 'I18N_PLAYER_UNPUBLISHED_EXPLORATION_BANNER' | translate }}
    </p>
  </div>
  <div class="embedded-body" *ngIf="pageIsIframed">
    <oppia-conversation-skin></oppia-conversation-skin>
  </div>
  <oppia-conversation-skin *ngIf="!pageIsIframed"></oppia-conversation-skin>
  <attribution-guide></attribution-guide>
  <oppia-on-screen-keyboard></oppia-on-screen-keyboard>
</div>

<style>
  .oppia-unpublished-exploration-banner {
    align-items: center;
    background-color: #015f9c ;
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 100vw;
}
</style>
