.oppia-interaction-card {
  border: 0;
  margin: 0 0;
  padding: 0 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.interaction-editor-form .boolean-checkbox {
  float: left;
  margin-right: 4px;
}

.customize-interaction-body-container .oppia-interaction-tile img {
  border: 1px solid #aaa;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.customize-interaction-body-container ul .active {
  background-color: #e0f2f1;
  border-bottom: 2px solid #00609c;
  color: #00609c;
}

.customize-interaction-body-container ul :hover:not(.active) {
  background-color: #e0f2f166;
  border-bottom: 2px solid #e0f2f166;
  border-color: #e0f2f166;
}
.customize-interaction-modal .modal-dialog {
  margin: 30px auto;
  max-width: none;
  width: 45vw;
}

.customize-interaction-modal .modal-header i {
  display: none;
}

.oppia-interaction-header-container .oppia-modal-header {
  border-bottom: 0;
  padding-bottom: 0;
}

.oppia-interaction-header-container .oppia-interaction-customization-label-container {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .modal-footer {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .customize-interaction-modal .modal-content {
    border: 0;
    border-radius: 0;
    margin: 0;
    min-height: 100vh;
  }

  .customize-interaction-modal .modal-dialog {
    margin: 0;
    max-width: none;
    min-height: 100vh;
    width: 100vw;
  }

  .customize-interaction-modal .modal-header-blue {
    background-color: #00609c;
  }

  .customize-interaction-modal .modal-header-blue i {
    color: #fff;
    display: block;
    font-size: 20px;
  }

  .customize-interaction-modal .modal-header-blue h3 {
    color: #fff;
  }
}

@media screen and (max-width: 500px) {
  .modal-footer .btn {
    height: 50px;
  }
  .oppia-customization-header {
    font-size: 18px;
  }
  .oppia-interaction-customization-label {
    font-size: 16px;
  }
}
