<div class="oppia-interaction-header-container">
  <div class="modal-header oppia-modal-header"
       [ngClass]="{'modal-header-blue': stateInteractionIdService.displayed && (customizationModalReopened || hasCustomizationArgs)}">
    <h3 tabindex="0" *ngIf="!stateInteractionIdService.displayed" [oppiaFocusOn]="chooseInteractionHeader">
      Choose Interaction
    </h3>

    <h3 class="oppia-customization-header"
        tabindex="0"
        #customizeInteractionHeader
        *ngIf="stateInteractionIdService.displayed && (customizationModalReopened || hasCustomizationArgs)">
      Customize Interaction ({{ getTitle(stateInteractionIdService.displayed) }})
    </h3>
    <i class="fa fa-times" aria-label="close" (click)="cancel()" (keydown.enter)="cancel()" tabindex="0"></i>
  </div>
</div>

<div class="customize-interaction-body-container modal-body">
  <div [hidden]="!isinteractionOpen">
    <nav ngbNav
         #nav="ngbNav"
         class="nav-tabs">
      <ng-container ngbNavItem
                    *ngFor="let category of allowedInteractionCategories">
        <a ngbNavLink
           class="e2e-test-interaction-tab-{{ getHyphenatedLowercaseCategoryName(category.name) }}">
          {{ category.name }}
        </a>
        <ng-template ngbNavContent>
          <div>
            <div *ngFor="let interactionId of category.interaction_ids"
                 (click)="onChangeInteractionId(interactionId)"
                 (keydown.enter)="onChangeInteractionId(interactionId)"
                 class="oppia-interaction-tile e2e-test-interaction-tile-{{ interactionId }}"
                 [ngbPopover]="getDescription(interactionId)"
                 placement="bottom"
                 tabindex="0"
                 triggers="mouseenter:mouseleave">
              <button class="oppia-interaction-card" tabindex="-1">
                <img [src]="getInteractionThumbnailImageUrl(interactionId)">
                <div class="oppia-interaction-tile-name fx-row fx-main-center fx-cross-center">
                  {{ getTitle(interactionId) }}
                </div>
              </button>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-4"></div>
  </div>

  <div *ngIf="!isinteractionOpen && stateInteractionIdService.displayed && hasCustomizationArgs"
       class="interaction-editor-form e2e-test-interaction-editor">
    <div class="e2e-test-multiple-options"
         *ngFor="let customizationArgSpec of customizationArgSpecs">
      <div *ngIf="customizationArgSpec.schema.type !== 'bool'"
           tabindex="0"
           class="oppia-interaction-customization-label">
        {{ customizationArgSpec.description }}
      </div>
      <schema-based-editor [ngClass]="{'boolean-checkbox': customizationArgSpec.schema.type === 'bool'}"
                           [schema]="customizationArgSpec.schema"
                           [(ngModel)]="stateCustomizationArgsService.displayed[customizationArgSpec.name].value">
      </schema-based-editor>
      <div *ngIf="customizationArgSpec.schema.type === 'bool'"
           tabindex="0"
           class="oppia-interaction-customization-label">
        {{ customizationArgSpec.description }}
      </div>
      <div class="oppia-interaction-customization-label-container"></div>
    </div>
    <div *ngIf="getCustomizationArgsWarningMessage()"
         tabindex="0"
         class="alert alert-danger oppia-units-input-error">
      {{ getCustomizationArgsWarningMessage() }}
    </div>
  </div>

  <div *ngIf="!isinteractionOpen && !hasCustomizationArgs && customizationModalReopened">
    This interaction cannot be modified. To delete it, close this popup and click the 'x' button in the top-right corner.
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary"
          (click)="cancel()"
          *ngIf="!hasCustomizationArgs">
    Cancel
  </button>
  <!-- Do not show this button if an interaction is already selected. -->
  <button class="btn btn-secondary float-left"
          (click)="returnToInteractionSelector()"
          *ngIf="!isinteractionOpen && !stateInteractionIdService.savedMemento && hasCustomizationArgs">
    Change Interaction
  </button>

  <button class="btn btn-secondary"
          (click)="cancelWithConfirm()"
          *ngIf="hasCustomizationArgs">
    Cancel
  </button>

  <div class="btn-group"
       *ngIf="hasCustomizationArgs"
       [ngbPopover]="isSaveInteractionButtonEnabled() ? '' : getSaveInteractionButtonTooltip()"
       placement="bottom"
       triggers="mouseenter:mouseleave">
    <button class="btn btn-success e2e-test-save-interaction"
            (click)="save()"
            [disabled]="!isSaveInteractionButtonEnabled()">
      Save Interaction
    </button>
  </div>

  <button class="btn btn-success e2e-test-close-no-customization-modal"
          (click)="confirm('okay')"
          *ngIf="!hasCustomizationArgs && customizationModalReopened">
    Okay
  </button>
</div>

<style>
  .oppia-interaction-card {
    border: 0;
    margin: 0 0;
    padding: 0 0;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }

  .interaction-editor-form .boolean-checkbox {
    float: left;
    margin-right: 4px;
  }

  .customize-interaction-body-container .oppia-interaction-tile img {
    border: 1px solid #aaa;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
  }

  .customize-interaction-body-container ul .active {
    background-color: #e0f2f1;
    border-bottom: 2px solid #00609c;
    color: #00609c;
  }

  .customize-interaction-body-container ul :hover:not(.active) {
    background-color: #e0f2f166;
    border-bottom: 2px solid #e0f2f166;
    border-color: #e0f2f166;
  }
   .customize-interaction-modal .modal-dialog {
     margin: 30px auto;
     max-width: none;
     width: 45vw;
  }

  .customize-interaction-modal .modal-header i {
    display: none;
  }

  .oppia-interaction-header-container .oppia-modal-header {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .oppia-interaction-header-container .oppia-interaction-customization-label-container {
    margin-bottom: 15px;
  }

  @media screen and (max-width: 768px) {
    .modal-footer {
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .customize-interaction-modal .modal-content {
      border: 0;
      border-radius: 0;
      margin: 0;
      min-height: 100vh;
    }

    .customize-interaction-modal .modal-dialog {
      margin: 0;
      max-width: none;
      min-height: 100vh;
      width: 100vw;
    }

    .customize-interaction-modal .modal-header-blue {
      background-color: #00609c;
    }

    .customize-interaction-modal .modal-header-blue i {
      color: #fff;
      display: block;
      font-size: 20px;
    }

    .customize-interaction-modal .modal-header-blue h3 {
      color: #fff;
    }
  }

  @media screen and (max-width: 500px) {
    .modal-footer .btn {
      height: 50px;
    }
    .oppia-customization-header {
      font-size: 18px;
    }
    .oppia-interaction-customization-label {
      font-size: 16px;
    }
  }
</style>
