<mat-card class="oppia-editor-card-with-avatar">
  <div class="card-content">
    <div>
      <h3>Update language/accent pairs available for learners and voice artists</h3>
    </div>
    <hr>
    <div>
      <p>Supported language/accent pairs</p>
    </div>
    <div>
      <button type="button" class="btn">+ Add new language accent support</button>
      <button class="btn oppia-update-button">Update</button>
    </div>
  </div>
</mat-card>

<style>
  .oppia-update-button {
    background-color: #00645c;
    border: solid 1px #00645c;
    color: #fff;
  }
  .btn-primary:hover {
    background-color: #00645c;
    border: solid 1px #00645c;
    color: #fff;
  }
  .card-content {
    padding: 20px
  }
  .oppia-editor-card-with-avatar {
    margin-bottom: 200px;
    margin-top: 200px;
  }
  @media screen and (max-width: 768px) {
    .oppia-editor-card-with-avatar {
      margin-top: 20px;
    }
  }
</style>
