/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/
.playbook .oppia-static-content ul {
  justify-content: center;
  padding: 0;
}
.playbook .participation h2:not(:first-child) {
  margin-top: 2.5em;
}
.playbook .oppia-teach-tab-content {
  padding-bottom: 7%;
}
.playbook .oppia-teach-button {
  display: block;
  margin: 0 auto 0 auto;
}
.playbook .oppia-publication-instructions-container {
  margin-left: 25px;
}
.playbook .oppia-about-buttons-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.playbook .btn.oppia-about-button {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 1.0);
  font-weight: 500;
  letter-spacing: 0.7px;
  margin: 0 auto 4%;
  max-width: 80%;
  min-width: 40%;
  padding: 10px 30px;
  text-transform: uppercase;
}
.playbook .btn.oppia-about-button:hover {
  background-color: #fff;
  color: #009688;
}
.playbook .oppia-about-extra-info {
  background-color: #009788;
  color: #fff;
  height: 160px;
  width: 100%;
}

.playbook .oppia-about-extra-container {
  position: relative;
  top: 50px;
  width: 100%;
}

.playbook .oppia-static-extra-content {
  margin: 0 auto;
}

.playbook .oppia-about-extra-container h3 {
  color: #fff;
  text-align: center;
}

@media(max-width: 1000px) {
  .playbook .oppia-about-buttons-container {
    flex-direction: column;
  }
  .playbook .btn.oppia-about-button {
    min-width: 80%;
  }
}

@media only screen and (min-width: 1400px) {
  .playbook .oppia-about-extra-info {
    height: 245px;
  }
}

@media(max-width: 700px) {
  .playbook .oppia-about-extra-container {
    margin-bottom: -10px;
  }
}
@media(max-width: 440px) {
  .playbook .oppia-about-extra-container {
    margin-bottom: 30px;
  }
}
