.create-new-story-header h3 {
    font-size: 28px;
  }
  .story-input {
    padding: 10px 10px 16px;
  }
  input {
    width: 70%;
  }
  .story-input-description input {
    width: 95%;
  }
  .story-input-header span {
    font-weight: bold;
  }
  .story-input-thumbnail {
    padding-top: 15px;
  }
  .ng-touched.ng-empty.required {
     outline: 1px solid #f00;
  }
