.oppia-close-button-position {
    font-size: 2.5rem;
    position: absolute;
    right: 20px;
    top: 12px;
  }
  .select-skill-modal .skill-summary-container {
    max-height: 50vh;
    overflow-y: auto;
  }
  .select-skill-modal .skill-description {
    display: block;
    font-size: 1em;
  }
  .loading-screen {
    align-items: center;
    display: flex;
    height: 432.79px;
    justify-content: center;
  }
  @media screen and (max-width: 500px) {
    .modal-header {
      border-bottom: 0;
      margin-bottom: -20px;
    }
    .oppia-modal-header {
      font-size: 22px;
    }
    .select-skill-modal .skill-description {
      font-size: 18px;
    }
  }
