<div class="oppia-concept-card-viewer" ng-if="!$ctrl.loadingMessage">
  <div class="concept-card-explanation">
    <b> Explanation </b>
    <div style="margin-bottom: 10px"> <[$ctrl.getSkillExplanation()]> </div>
  </div>
  <div class="concept-card-worked-examples">
    <b> Worked Examples </b>
    <div ng-repeat="workedExample in $ctrl.showWorkedExamples()">
      <div> <[workedExample]> </div>
    </div>
    <button class="btn btn-default show-more-worked-examples-button"
            ng-if="!$ctrl.isLastWorkedExample()"
            ng-click="$ctrl.showMoreWorkedExamples()">
      + Worked Examples
    </button>
  </div>
</div>

<div ng-if="$ctrl.loadingMessage">
  <div class="oppia-align-center">
    <span translate="<[$ctrl.loadingMessage]>"></span>
    <loading-dots></loading-dots>
  </div>
</div>

<style>
  .oppia-concept-card-viewer {
    background: #E1F2DD;
  }

  .oppia-concept-card-viewer .concept-card-explanation {
    padding: 15px;
  }

  .oppia-concept-card-viewer .concept-card-worked-examples {
    padding: 15px;
  }

  .oppia-concept-card-viewer .show-more-worked-examples-button {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    background-color: #0D48A1;
    color: #FFFFFF;
  }
</style>
