<div class="teach-page">

  <div class="oppia-teach-hero-section">
    <div class="oppia-teach-hero-box">
      <p class="oppia-teach-hero-title">
        {{ 'I18N_TEACH_PAGE_HEADING' | translate }}
      </p>
      <p class="oppia-teach-hero-subtext">
        {{ 'I18N_TEACH_PAGE_HERO_SUBTEXT' | translate }}
      </p>
    </div>
  </div>

  <div class="oppia-teach-tips-section">
    <p class="oppia-teach-title">
      {{ 'I18N_TEACH_PAGE_TIPS_TITLE' | translate }}
    </p>
    <div class="oppia-teach-tips-boxes-container">
      <div class="oppia-teach-tips-box oppia-teach-tips-guide-box">
        <p class="oppia-teach-subtitle">
          {{ 'I18N_TEACH_PAGE_TIPS_GUIDE_TITLE' | translate }}
        </p>
        <p class="oppia-teach-subtext">
          {{ 'I18N_TEACH_PAGE_TIPS_GUIDE_CONTENT' | translate }}
        </p>
        <oppia-primary-button
          [buttonHref]="parentsTeachersPdfGuideLink"
          [customClasses]="['oppia-teach-btn', 'e2e-test-teach-page-guide-button']"
          buttonText="{{ 'I18N_TEACH_PAGE_TIPS_GUIDE_BUTTON' | translate }}">
        </oppia-primary-button>
      </div>
      <div class="oppia-teach-tips-box oppia-teach-tips-blog-box">
        <p class="oppia-teach-subtitle">
          {{ 'I18N_TEACH_PAGE_TIPS_BLOG_TITLE' | translate }}
        </p>
        <p class="oppia-teach-subtext">
          {{ 'I18N_TEACH_PAGE_TIPS_BLOG_CONTENT' | translate }}
        </p>
        <oppia-primary-button
          [buttonHref]="teacherStoryTaggedBlogsLink"
          [customClasses]="['oppia-teach-btn','oppia-teach-secondary-btn', 'e2e-test-teach-page-blog-button']"
          buttonText="{{ 'I18N_TEACH_PAGE_TIPS_BLOG_BUTTON' | translate }}">
        </oppia-primary-button>
      </div>
    </div>
  </div>

  <div class="oppia-teach-creators-section">
    <p class="oppia-teach-subtitle">
      {{ 'I18N_TEACH_PAGE_CREATORS_SECTION_TITLE' | translate }}
    </p>
    <div #creatorsCarouselContainer class="oppia-teach-creators-carousel e2e-test-teach-page-creators-carousel">
      <div class="oppia-teach-creators-carousel-item" *ngFor="let index of activeCreatorsIndices">
        <div class="oppia-teach-creators-carousel-item-header">
          <p class="oppia-teach-subtext oppia-teach-text e2e-test-teach-page-lesson-creator-name">{{ creatorsData[index].name | translate  }}</p>
          <p class="oppia-teach-subtext">{{ creatorsData[index].country | translate  }}</p>
        </div>
        <div class="oppia-teach-creators-carousel-item-image">
          <picture>
            <source type="image/webp" [srcset]="getStaticImageUrl(creatorsData[index].imageWebpUrl)">
            <source type="image/png" [srcset]="getStaticImageUrl(creatorsData[index].imagePngUrl)">
            <img [src]="getStaticImageUrl(creatorsData[index].imagePngUrl)" alt="{{ creatorsData[index].name  | translate }}">
          </picture>
          <p class="oppia-teach-subtext">
            {{ creatorsData[index].role | translate  }}
          </p>
        </div>
        <oppia-primary-button
          [buttonHref]="creatorsData[index].linkedInUrl"
          [customClasses]="['oppia-teach-btn', 'oppia-teach-secondary-btn', index === 0 ? 'e2e-test-teach-page-linkedin-button' : '']"
          buttonText="{{ 'I18N_TEACH_PAGE_LINKEDIN_BUTTON' | translate }}">
        </oppia-primary-button>
      </div>
    </div>
    <div class="oppia-teach-creators-arrows-container">
      <button (click)="showPreviousCreators()"
              [disabled]="creatorsCarouselLeftArrowIsDisabled"
              class="e2e-test-teach-page-creators-carousel-prev-btn">
        <i class="fas"
           [ngClass]="{'oppia-disabled-icon': creatorsCarouselLeftArrowIsDisabled,
           'fa-chevron-left': !isLanguageRTL(), 'fa-chevron-right': isLanguageRTL()}">
        </i>
        <span class="sr-only">Previous</span>
      </button>
      <button (click)="showNextCreators()"
              [disabled]="creatorsCarouselRightArrowIsDisabled"
              class="e2e-test-teach-page-creators-carousel-next-btn">
        <i class="fas"
           [ngClass]="{'oppia-disabled-icon': creatorsCarouselRightArrowIsDisabled,
           'fa-chevron-right': !isLanguageRTL(), 'fa-chevron-left': isLanguageRTL()}">
        </i>
        <span class="sr-only">Next</span>
      </button>
    </div>
  </div>

  <div class="oppia-teach-lesson-section e2e-test-teach-page-lesson-creation-section">
    <div class="oppia-teach-lesson-top">
      <p class="oppia-teach-subtitle">
        {{ 'I18N_TEACH_PAGE_LESSON_CREATION_SECTION_TITLE' | translate }}
      </p>
      <p class="oppia-teach-heading">
        {{ 'I18N_TEACH_PAGE_LESSON_CREATION_SECTION_SUBTITLE' | translate }}
      </p>
      <p class="oppia-teach-subtext">
        {{ 'I18N_TEACH_PAGE_LESSON_CREATION_SECTION_SUBTEXT' | translate }}
      </p>
    </div>
    <div class="oppia-teach-lesson-bottom">
      <div class="oppia-teach-lesson-left">
        <p class="oppia-teach-heading">
          {{ 'I18N_TEACH_PAGE_LESSON_CREATION_SECTION_HEADING1' | translate }}
        </p>
        <div class="oppia-teach-accordion-container">
          <oppia-full-expand-accordion [accordionData]="lessonCreationData"
          [listContainerCustomClasses]="['oppia-teach-lesson-list']">
          </oppia-full-expand-accordion>
        </div>
      </div>
      <div class="oppia-teach-lesson-right">
        <p class="oppia-teach-heading oppia-teach-lesson-desktop-content">
          {{ 'I18N_TEACH_PAGE_LESSON_CREATION_SECTION_HEADING2_DESKTOP' | translate }}
        </p>
        <p class="oppia-teach-heading oppia-teach-lesson-mobile-content">
          {{ 'I18N_TEACH_PAGE_LESSON_CREATION_SECTION_HEADING2_MOBILE' | translate }}
        </p>
        <div class="oppia-teach-lesson-image">
          <picture>
            <source type="image/webp" [srcset]="getStaticImageUrl('/teach/oppia-math-classroom-page.webp')">
            <source type="image/png" [srcset]="getStaticImageUrl('/teach/oppia-math-classroom-page.png')">
            <img [src]="getStaticImageUrl('/teach/oppia-math-classroom-page.png')"
                 alt="Oppia Math classroom page">
          </picture>
          <oppia-primary-button
            buttonHref="/learn"
            [customClasses]="['oppia-teach-btn', 'oppia-teach-lesson-hover-button']"
            buttonText="{{ 'I18N_ACTION_VIEW_LESSONS' | translate }}">
          </oppia-primary-button>
        </div>
        <oppia-primary-button
          buttonHref="/learn"
          (onClickPrimaryButton)="onClickExploreLessonsButton()"
          [customClasses]="['oppia-teach-btn', 'oppia-teach-lesson-mobile-content', 'e2e-test-teach-page-explore-lessons-button-at-the-top']"
          buttonText="{{ 'I18N_ACTION_EXPLORE_LESSONS' | translate }}">
        </oppia-primary-button>
      </div>
    </div>
  </div>

  <div class="oppia-teach-outcomes-section">
    <div class="oppia-teach-outcomes-left">
      <p class="oppia-teach-title">
        {{ 'I18N_TEACH_PAGE_OUTCOMES_SECTION_TITLE' | translate }}
      </p>
      <p class="oppia-teach-subtext">
        {{ 'I18N_TEACH_PAGE_OUTCOMES_SECTION_CONTENT' | translate }}
      </p>
    </div>
    <div class="oppia-teach-outcomes-right">
      <p class="oppia-teach-subheading">
        {{ 'I18N_TEACH_PAGE_OUTCOMES_SECTION_RCT_HEADING' | translate }}
      </p>
      <p class="oppia-teach-subtext">
        {{ 'I18N_TEACH_PAGE_OUTCOMES_SECTION_FRACTIONS_CONTENT' | translate }}
      </p>
      <div class="oppia-teach-outcomes-rct-container">
        <p class="oppia-teach-outcomes-rct-heading">
          {{ 'I18N_TEACH_PAGE_OUTCOMES_SECTION_FRACTIONS_RCT_HEADING' | translate }}
        </p>
        <div class="oppia-teach-outcomes-chart">
          <div class="oppia-teach-outcomes-legend-container">
            <p class="oppia-teach-subheading">
              {{ 'I18N_TEACH_PAGE_OUTCOMES_SECTION_LEGEND' | translate }}
            </p>
            <div class="oppia-teach-outcomes-rct-legend">
              <div class="oppia-teach-outcomes-rct-label">
                <div class="oppia-teach-outcomes-rct-control-box"></div>
                <p>
                  {{ 'I18N_TEACH_PAGE_OUTCOMES_SECTION_CONTROL' | translate }}
                </p>
              </div>
              <div class="oppia-teach-outcomes-rct-label">
                <div class="oppia-teach-outcomes-rct-oppia-box"></div>
                <p>
                  {{ 'I18N_TEACH_PAGE_OUTCOMES_SECTION_OPPIA' | translate }}
                </p>
              </div>
            </div>
          </div>
          <div class="oppia-teach-outcomes-charts-container">
            <div class="oppia-teach-outcomes-pre-test-container">
              <picture>
                <source type="image/webp" [srcset]="getStaticImageUrl('/teach/outcomes-pre-test.webp')">
                <source type="image/png" [srcset]="getStaticImageUrl('/teach/outcomes-pre-test.png')">
                <img [src]="getStaticImageUrl('/teach/outcomes-pre-test.png')"
                     alt="Pre-test outcomes">
              </picture>
              <p>
                {{ 'I18N_TEACH_PAGE_OUTCOMES_SECTION_PRETEST' | translate }}
              </p>
            </div>
            <div class="oppia-teach-outcomes-post-test-container">
              <picture>
                <source type="image/webp" [srcset]="getStaticImageUrl('/teach/outcomes-post-test.webp')">
                <source type="image/png" [srcset]="getStaticImageUrl('/teach/outcomes-post-test.png')">
                <img [src]="getStaticImageUrl('/teach/outcomes-post-test.png')"
                     alt="Post-test outcomes">
              </picture>
              <p>
                {{ 'I18N_TEACH_PAGE_OUTCOMES_SECTION_POSTTEST' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <p class="oppia-teach-subtext">
        {{ 'I18N_TEACH_PAGE_OUTCOMES_SECTION_FRACTIONS_RCT_CONTENT' | translate }}
      </p>
    </div>
  </div>

  <div class="oppia-teach-testimonials-section">
    <p class="oppia-teach-subtitle">
      {{ 'I18N_TEACH_PAGE_TESTIMONIALS_SECTION_TITLE' | translate}}
    </p>
    <div class="oppia-teach-testimonials-container e2e-test-teach-page-testimonial-carousel">
      <button class="oppia-teach-testimonial-carousel-prev-btn e2e-test-teach-page-testimonial-carousel-prev-btn"
              (click)="moveTestimonialCarouselToPreviousSlide()">
        <i class="oppia-teach-testimonial-carousel-prev-icon fas"
            [ngClass]="{'fa-chevron-left': !isLanguageRTL(), 'fa-chevron-right': isLanguageRTL()}">
        </i>
        <span class="sr-only">Previous</span>
      </button>
      <ngb-carousel #testimonialsCarousel [interval]="0" [showNavigationArrows]="false" [animation]="false">
        <ng-template ngbSlide *ngFor="let testimonial of testimonials">
          <div class="oppia-teach-testimonial">
            <div class="oppia-teach-testimonial-top">
              <div class="oppia-teach-testimonial-left">
                <picture class="oppia-teach-testimonial-image">
                  <source type="image/webp" [srcset]="getStaticImageUrl(testimonial.imageUrlWebp)">
                  <source type="image/jpeg" [srcset]="getStaticImageUrl(testimonial.imageUrl)">
                  <img [src]="getStaticImageUrl(testimonial.imageUrl)"
                       [alt]="testimonial.altText">
                </picture>
              </div>
              <div class="oppia-teach-testimonial-right">
                <p class="oppia-teach-testimonial-name e2e-test-teach-page-testimonial-name">
                  {{ testimonial.personDetails | translate }}
                </p>
                <p class="oppia-teach-subtext oppia-teach-bolded-text">
                  {{ testimonial.role | translate }}
                </p>
                <p class="oppia-teach-subtext oppia-teach-testimonial-quote1">
                  {{ testimonial.quote | translate }}
                </p>
              </div>
            </div>
            <p class="oppia-teach-subtext oppia-teach-testimonial-quote2">
              {{ testimonial.quote | translate }}
            </p>
          </div>
        </ng-template>
      </ngb-carousel>
      <button class="oppia-teach-testimonial-carousel-next-btn e2e-test-teach-page-testimonial-carousel-next-btn"
              (click)="moveTestimonialCarouselToNextSlide()">
        <i class="oppia-teach-testimonial-carousel-next-icon fas"
           [ngClass]="{'fa-chevron-right': !isLanguageRTL(), 'fa-chevron-left': isLanguageRTL()}">
        </i>
        <span class="sr-only">Next</span>
      </button>
    </div>
  </div>

  <div class="oppia-teach-features-section">
    <div class="oppia-teach-features-left">
      <picture class="oppia-teach-matthew-image">
        <source type="image/webp" [srcset]="getStaticImageUrl('/teach/matthew-fractions.webp')">
        <source type="image/png" [srcset]="getStaticImageUrl('/teach/matthew-fractions.png')">
        <img [src]="getStaticImageUrl('/teach/matthew-fractions.png')"
             alt="Illustration of a young person in front of part of Oppia Fractions lesson">
      </picture>
    </div>
    <div class="oppia-teach-features-right">
      <p class="oppia-teach-subtitle">
        {{ 'I18N_TEACH_PAGE_FEATURES_SECTION_TITLE' | translate }}
      </p>
      <div class="oppia-teach-features">
        <div class="oppia-teach-feature">
          <img class="oppia-teach-feature-icon"
               [ngClass]="{'rtl-flip': isLanguageRTL()}"
               [src]="getStaticImageUrl('/teach/flower-bullet-1.webp')"
               alt="Illustration of first bullet point">
          <p class="oppia-teach-feature-text">
            {{ 'I18N_TEACH_BENEFITS_ONE' | translate }}
          </p>
        </div>
        <div class="oppia-teach-feature">
          <img class="oppia-teach-feature-icon"
               [ngClass]="{'rtl-flip': isLanguageRTL()}"
               [src]="getStaticImageUrl('/teach/flower-bullet-2.webp')"
               alt="Illustration of second bullet point">
          <p class="oppia-teach-feature-text">
            {{ 'I18N_TEACH_BENEFITS_TWO' | translate }}
          </p>
        </div>
        <div class="oppia-teach-feature">
          <img class="oppia-teach-feature-icon"
               [ngClass]="{'rtl-flip': isLanguageRTL()}"
               [src]="getStaticImageUrl('/teach/flower-bullet-3.webp')"
               alt="Illustration of third bullet point">
          <p class="oppia-teach-feature-text">
            {{ 'I18N_TEACH_BENEFITS_THREE' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="oppia-teach-cta-section">
    <p class="oppia-teach-subtitle">
      {{ 'I18N_TEACH_PAGE_ACTION_START_LEARNING' | translate }}
    </p>
    <div class="oppia-teach-cta-buttons-container">
      <oppia-primary-button
        buttonHref="/learn"
        (onClickPrimaryButton)="onClickExploreLessonsButton()"
        [customClasses]="['oppia-teach-btn', 'e2e-test-teach-page-explore-lessons-button-at-the-bottom']"
        buttonText="{{ 'I18N_ACTION_EXPLORE_LESSONS' | translate }}">
      </oppia-primary-button>
      <oppia-primary-button
        [buttonHref]="androidUrl"
        (onClickPrimaryButton)="onClickGetAndroidAppButton()"
        [customClasses]="['oppia-teach-btn', 'oppia-teach-secondary-btn', 'e2e-test-teach-page-download-android-app-button']"
        buttonText="{{ 'I18N_ACTION_GET_ANDRIOD_APP' | translate }}">
      </oppia-primary-button>
    </div>
  </div>

</div>
