# .coveragerc to control coverage.py
[run]
omit =
    */oppia_tools/*
    */third_party/*
    */usr/*
    *_test.py
    *core/tests/*
    *scripts/linters/test_files/*
    *__init__.py
    # TODO(#7419): Remove python_utils from the list once the codebase is
    # run under Python 3.
    python_utils.py
