core/templates/dev/head/expressions/ExpressionParserService.js
backend_prod_files/*
core/tests/protractor.conf.js
extensions/interactions/LogicProof/static/js/generatedDefaultData.js
extensions/interactions/LogicProof/static/js/generatedParser.js
integrations/*
integrations_dev/*
assets/scripts/*
third_party/*
build/*
*.min.js
