{
  "extends": [
    "eslint:recommended",
  ],
  "plugins": [
    "angular",
    "html"
  ],
  "rules": {
    "angular/di": [
      "error",
      "array",
      ],
    "angular/di-order": "error",
    "angular/di-unused": "error",
    "angular/no-inline-template": [
      "error",
      {
        "allowSimple": true
      }
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "brace-style":[
      "error",
      "1tbs"
    ],
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "curly": [
      "error",
      "all"
    ],
    "dot-notation": [
      "error",
      {
        "allowKeywords": false
      }
    ],
    "eol-last":[
      "error",
      "always"
    ],
    "eqeqeq": [
      "error",
      "always"
    ],
    "func-style": [
      "error",
      "expression"
    ],
    "indent": [
      "error",
      2,
      {
        "ArrayExpression": 1,
        "flatTernaryExpressions": true,
        "FunctionExpression": {
          "body": 1,
          "parameters": 2
        },
        "MemberExpression": 1,
        "SwitchCase": 1
      }
    ],
    "key-spacing": "error",
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "max-len": [
      "error",
      "code": 80,
      "ignoreUrls": true
    ],
    "no-compare-neg": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "error",
          "warn"
        ]
      }
    ],
    "no-constant-condition": [
      "off"
    ],
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ],
    "no-multi-spaces": [
      "error"
    ],
    "no-multi-str": [
      "error"
    ],
    "no-redeclare": [
      "off"
    ],
    "no-tabs": "error",
    "no-useless-escape": "off",
    "no-whitespace-before-property": "error",
    "no-trailing-spaces": [
      "error"
    ],
    "no-undef": [
      "off"
    ],
    "no-unused-vars": [
      "off"
    ],
    "one-var": [
      "off"
    ],
    "operator-linebreak": [
      "error",
      "after"
    ],
    "padded-blocks": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "quote-props": [
      "error",
      "as-needed",
      {
        "keywords": true
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "ignore",
        "asyncArrow": "ignore",
        "named": "never",
      }
    ],
    "spaced-comment": [
      "error",
      "always"
    ],
    "space-infix-ops": [
      "error"
    ],
    "space-unary-ops": [
      "error",
      {
        "words": true,
        "nonwords": false,
      }
    ],
    "wrap-iife": [
      "error",
      "any"
    ]
  }
}
