# Source files
# ============
*.pxd      text eol=crlf
*.py       text eol=crlf
*.py3      text eol=crlf
*.pyw      text eol=crlf
*.pyx      text eol=crlf
*.sh       text eol=crlf
*.js       text eol=crlf
*.txt      text eol=crlf
*.css      text eol=crlf
*.html     text eol=crlf
*.md       text eol=crlf
*.yml      text eol=crlf
*.yaml     text eol=crlf
*.md       text eol=crlf
*.json     text eol=crlf
*.html     text eol=crlf
*.txt      text eol=crlf
*.xml      text eol=crlf
*.pegjs    text eol=crlf

# Misc files
# ==========
.jscsrc      text eol=crlf
.gitignore   text eol=crlf
.pylintrc    text eol=crlf
AUTHORS      text eol=crlf
CHANGELOG    text eol=crlf
CONTRIBUTORS text eol=crlf
LICENSE      text eol=crlf

# Binary files
# ============
*.db      binary
*.p       binary
*.pkl     binary
*.pyc     binary
*.pyd     binary
*.pyo     binary
