*~
*.pyc
*.swp
*.swo
*.bak
gae_runtime/*
# We have added .git over here such that "git check-ignore" command should
# ignore the files and dirs inside the .git dir.
.git/*
third_party/*
assets/hashes.json
backend_prod_files/*
local_compiled_js/*
local_compiled_js_for_test/*
core/templates/prod/*
webpack_bundles/*
core/tests/.browserstack.env
node_modules/*
.coverage*
!.coveragerc
coverage.xml
.viminfo
.vscode/*
libpeerconnection.log
readme_test_dir/*
tsc_output_log.txt
dev_output.txt
tmpcompiledjs*
uploads/*
env/
venv/
*.db
.DS_Store
.idea
.vagrant/*
.lock
.local/*
yarn-error.log
.env

# Oppia uses cache slugs for various resources and we need separate resource
# directories for dev and prod. Resource directories for prod are generated
# via build.py and should not be committed to the repo.
build/*

# app.yaml is generated dynamically so needs to be ignored
app.yaml
