*~
*.pyc
*.swp
*.swo
gae_runtime/*
third_party/*
backend_prod_files/*
core/templates/prod/*
.coverage*
.viminfo
libpeerconnection.log
uploads/*
venv/
*.db
.DS_Store
.idea
.vagrant/*
.lock

# Oppia uses cache slugs for various resources and we need separate resource
# directories for dev and prod. Resource directories for prod are generated
# via build.py and should not be committed to the repo.
build/*

# The pre_commit_linter.py script uses _check_docs_utils.py placed
# in python-custom-checks directory under third_party directory.
# Therefore it is not ignored.
!third_party/python-custom-checks
