core/templates/expressions/parser.js
core/templates/google-analytics.initializer.ts
backend_prod_files/*
integrations/*
integrations_dev/*
assets/scripts/*
third_party/*
build/*
*.min.js
dump.rdb
.direnv/*
tmpcompiledjs*
dist/*
local_compiled_js/*
local_compiled_js_for_test/*
.mypy_cache/*
*.html
*.yml
*.yaml
*.css
*.json
# the following files are either parsed or used as-is in tests for comparison. Formatter is not suitable for them yet.
assets/constants.ts
core/templates/services/angular-services.index.ts
assets/rich_text_components_definitions.ts
core/tests/data/dummy_constants.js
extensions/rich_text_components/webdriverio.js
core/tests/wdio.conf.js
core/tests/data/dummy_ci_tests/dummy_webdriverio.conf.js
scripts/linters/test_files
core/tests/services_sources
