# To run this, install pylint and use the command:
#
#   pylint core --rcfile=.pylintrc -i y

[GENERAL]
init-hook='import sys; sys.path.append("../oppia_tools/google_appengine_1.8.8/google_appengine")'

[BASIC]

# Regular expression which should only match correct function names
function-rgx=^[_a-z][a-z0-9_]*$

# Regular expression which should only match correct method names
method-rgx=^([_a-z][a-z0-9_]*|__[a-z0-9]+__)$

# Good variable names which should always be accepted, separated by a comma
good-names=e,_,f,fs,id,setUp,tearDown,longMessage

[DESIGN]

# Minimum number of public methods for a class (see R0903).
min-public-methods=0

[FORMAT]

indent-string='    '

[MESSAGES CONTROL]

disable=E1002,E1101,W0232,W1201
