sudo: required
# In order to install Chrome stable we need trusty distribution.
dist: trusty
language: python

python:
- 2.7

addons:
  chrome: stable

branches:
  only:
  - master
  - develop

env:
  matrix:
    - RUN_LINT=true
    - RUN_FRONTEND_TESTS=true
    - RUN_BACKEND_TESTS=true REPORT_BACKEND_COVERAGE=false EXCLUDE_LOAD_TESTS=true
    # TODO(sll): Reinstate this when we can get it to run in reasonable time.
    # - RUN_BACKEND_TESTS=true REPORT_BACKEND_COVERAGE=true
    # TODO(sll): Reinstate this when the load tests are more reliable.
    # - RUN_BACKEND_TESTS=true REPORT_BACKEND_COVERAGE=true EXCLUDE_LOAD_TESTS=false
    - RUN_E2E_TESTS_ACCESSIBILITY=true
    - RUN_E2E_TESTS_COLLECTIONS=true
    - RUN_E2E_TESTS_EDITOR_AND_PLAYER=true
    - RUN_E2E_TESTS_STATE_EDITOR=true
    - RUN_E2E_TESTS_EDITOR_FEATURES=true
    - RUN_E2E_TESTS_EMBEDDING=true
    - RUN_E2E_TESTS_EXTENSIONS=true
    # TODO(sll): Reinstate this once the tests for the learner dashboard are fixed.
    # - RUN_E2E_TESTS_LEARNER_DASHBOARD=true
    - RUN_E2E_TESTS_LIBRARY=true
    - RUN_E2E_TESTS_USERS=true

matrix:
  allow_failures: []
  fast_finish: true

notifications:
  email:
    recipients:
    - sean@seanlip.org
    - henning.benmax@gmail.com
    - tzjiang1@gmail.com
    - apurvabajaj007@gmail.com
    on_success: change
    on_failure: change
  irc:
    channels:
    - chat.freenode.net#oppia
    on_success: never
    on_failure: always
  webhooks:
    urls:
    # This URL can be obtained by going to the Gitter chat room
    # and clicking Settings > Integrations.
    - https://webhooks.gitter.im/e/f8f782497ec1ffcea2e7
    on_success: always
    on_failure: always

before_install:
# For the rationale behind the next two lines, see:
#   https://github.com/travis-ci/travis-ci/issues/6928#issuecomment-264227708
- source /opt/jdk_switcher/jdk_switcher.sh
- jdk_switcher use oraclejdk8
- pip install codecov
- pip install pyyaml
- export CHROME_BIN=/usr/bin/google-chrome-stable
- export DISPLAY=:99.0
- bash -e /etc/init.d/xvfb start

install:
- pushd $TRAVIS_BUILD_DIR
- source scripts/setup.sh || exit 1
- source scripts/setup_gae.sh || exit 1

script:
- if [ $RUN_E2E_TESTS_EXTENSIONS == 'true' ]; then travis_retry bash scripts/run_e2e_tests.sh --suite="extensions" --prod_env; fi


after_success:
- if [ $RUN_BACKEND_TESTS == 'true' ] && [ $REPORT_BACKEND_COVERAGE == 'true' ]; then codecov; fi
- if [ $RUN_FRONTEND_TESTS == 'true' ]; then codecov --file ../karma_coverage_reports/coverage-final.json; fi

cache:
  # Cache Oppia's dependencies.
  directories:
    - ../node_modules/
    - ../oppia_tools/
    - third_party/

before_cache:
  # Delete python bytecode to prevent cache rebuild.
  - find third_party -name "*.pyc" -print -delete
