# NOTE TO DEVELOPERS: If you make changes to this file, please run
#
#    python -m scripts.install_python_dev_dependencies
#
# to update `requirements_dev.txt` and your current Python environment.
Pillow==10.0.1
PyGithub==1.59.1
certifi==2023.7.22
coverage==7.3.1
esprima==4.0.1
future==0.18.3
grpcio==1.58.0
isort==5.12.0
protobuf==4.24.3
psutil==5.9.5
pycodestyle==2.11.0
pylint==2.17.6
pylint-quotes==0.2.3
pyyaml==6.0
rcssmin==1.1.1
six==1.16.0
typing-extensions==4.8.0
webtest==3.0.0
xmltodict==0.13.0
