# NOTE TO DEVELOPERS: If you make changes to this file, please run
#
#    python -m scripts.install_python_dev_dependencies
#
# to update `requirements_dev.txt` and your current Python environment.
Pillow==10.1.0
certifi==2023.7.22
coverage==7.2.3
esprima==4.0.1
isort==5.12.0
mypy==0.812
psutil==5.9.5
pycodestyle==2.10.0
pylint==2.17.2
pylint-quotes==0.2.3
pyyaml==6.0
rcssmin==1.1.1
webtest==3.0.0
xmltodict==0.13.0
