/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/
.oppia-info-card-content .private-card-info {
  color: red;
}
.oppia-info-card-bottom-row em {
  font-size: 0.75rem;
}
.oppia-info-card-content .oppia-contributors-icon {
  cursor: default;
  margin-right: 0.3125rem;
}
.oppia-info-card-bottom-row {
  line-height: 1.5;
  margin-top: 20px
}
.fas.fa-tags.oppia-info-card-modal-tooltip {
  margin-left: 0.0625rem;
  margin-right: 0.1875rem;
}
.mat-padding {
  padding: 0;
}
.row.center {
  display: flex;
  flex-direction: row;
}
.space-between {
  justify-content: space-between;
}
.center {
  align-content: center;
  align-items: center;
}
.row-item {
  flex-grow: 1;
}
.card-metrics {
  box-sizing: border-box  ;
  max-width: 100%;
}
.exploration-tags {
  max-width: 90%;
}
.oppia-info-card-logo-thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  height: 300px;
  padding: 20px;
  position: relative;
}

.oppia-contributors-more-circle {
  background: #888;
  border-radius: 10%;
  color: #fff;
  height: 20px;
  min-width: 20px;
  width: auto;

}

.oppia-info-card-title {
  bottom: 0;
  color: white;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  margin: 12px 0 0 0;
  padding: 0;
  position: relative;
}

.oppia-info-card-bg-image {
  left: 50%;
  margin-right: -50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
}

.oppia-info-card-content p {
  display: block;
  font-size: 1.0em;
  line-height: 1.5;
  padding: 12px 0 24px 0;
  padding-bottom: 0.5rem;
  position: relative;
  word-spacing: 0;
}
.oppia-info-card-content .card-metrics li {
  font-size: 14px;
  list-style-type: none;
  text-align: center;
}

.oppia-info-card-bottom-row md-chips md-chip {
  cursor: default;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  padding: 0;
}
.oppia-info-card-tooltip-more {
  color: blue;
}
.oppia-info-card-content {
  padding: 10px 20px 10px 20px;
}

.oppia-info-card-content .card-metrics {
  margin-top: 10px;
  padding: 0;
}

.oppia-info-card-content .card-metrics li .far {
  font-size: 24px;
  margin-right: 5px;
  vertical-align: middle;
}
.oppia-info-card-bottom-row ul li a img {
  height: 20px;
  width: 20px;
}
.oppia-info-card-content .card-metrics ul img {
  height: 24px;
  margin-right: 2px;
  width: 24px;
}

.oppia-info-card-content .card-metrics ul li .oppia-contributors-circle {
  height: 20px;
  width: 20px;
}
/* This is necessary so that long usernames don't overflow the tooltip. */
.oppia-info-card-content .tooltip-inner {
  max-width: none;
}

.oppia-info-card-tag-icon {
  padding-top: 6px;
  width: 28px;
}

.oppia-info-card-exploration-contributors-profile {
  justify-content: flex-end;
  padding: 0;
}

.oppia-info-card-exploration-contributors-profile li a:focus .rounded-circle {
  outline: 1px dotted #212121;
  outline: auto 5px -webkit-focus-ring-color;
}

.oppia-info-card-community-editable-icon {
  color: #009688;
}

.learn-info-card-star {
  margin-right: 5px
}
