<mat-card class="oppia-lesson-info-card">
  <div [ngStyle]="infoCardBackgroundCss" class="oppia-info-card-logo-thumbnail">
    <img [src]="getStaticImageUrl(infoCardBackgroundImageUrl)"
         class="oppia-info-card-bg-image">
    <h2 class="oppia-info-card-title break-word" *ngIf="isHackyExpTitleTranslationDisplayed()">
      {{ expTitleTranslationKey | translate }}
    </h2>
    <h2 class="oppia-info-card-title break-word"
        *ngIf="!isHackyExpTitleTranslationDisplayed()">
      {{ expTitle }}
    </h2>
  </div>
  <div class="oppia-lesson-info-content">
    <div class="oppia-lesson-info-content-inner-container">
      <div class="oppia-lesson-exploration-progress-info">
        <h4 class="oppia-exploration-description"
            *ngIf="!isHackyExpDescTranslationDisplayed()">
          {{ expDesc | truncateAndCapitalize: 90 }}
        </h4>
        <h4 class="oppia-exploration-description"
            *ngIf="isHackyExpDescTranslationDisplayed()">
          {{ expDescTranslationKey | translate | truncateAndCapitalize: 90 }}
        </h4>
        <h4 [ngClass]="(checkpointCount === 1) ? 'd-none' : 'progress-bar-label-text'">
          Learning Progress
        </h4>
        <div class="progress-bar-container"
             [ngClass]="{'d-none': checkpointCount === 1, 'multiple-checkpoints-bar': checkpointCount > 1, 'reverse-checkpoint-order': isLanguageRTL()}">
          <div class="lesson-progress-bar"
               [ngClass]="{'reverse-checkpoint-order': isLanguageRTL()}">
            <div class="completed-progress-bar"
                 [style.width.%]="getCompletedProgressBarWidth()">
            </div>
          </div>
          <div *ngFor="let checkpointNode of checkpointStatusArray; index as idx"
               [ngClass]="{'completed-checkpoint-node': checkpointStatusArray[idx] === 'completed', 'in-progress-checkpoint-node': checkpointStatusArray[idx] === 'in-progress', 'incomplete-checkpoint-node': checkpointStatusArray[idx] === 'incomplete'}">
            {{ idx + 1 }}
          </div>
        </div>
        <p *ngIf="translatedCongratulatoryCheckpointMessage"
           class="checkpoint-message-text e2e-test-lesson-info-modal-checkpoint-message">
          {{ translatedCongratulatoryCheckpointMessage }}
        </p>
        <div class="save-progress-btn-container">
          <div class="save-progress-btn-box">
            <button type="button"
                    class="btn btn-secondary save-progress-btn"
                    *ngIf="(!userIsLoggedIn && checkpointCount>1)"
                    [ngClass]="{'disabled oppia-disabled-link': checkpointStatusArray[0] === 'in-progress'}"
                    (click)="saveLoggedOutProgress()">
              {{ 'I18N_SAVE_PROGRESS_TEXT' | translate }}
            </button>
          </div>
          <div *ngIf="checkpointStatusArray[0] === 'in-progress'"
               class="save-progress-btn-tooltip alert alert-danger">
            {{ 'I18N_SAVE_BUTTON_ALERT_TOOLTIP' | translate }}
          </div>
        </div>
        <p *ngIf="explorationIsPrivate"
           class="private-card-info">
           {{ 'I18N_PLAYER_IS_PRIVATE' | translate }}
        </p>

        <ul *ngIf="!explorationIsPrivate"
            class="card-metrics row space-between center">
          <li class="e2e-test-info-card-rating row-item">
            <span class="fas fa-star fa-lg learn-info-card-star"
                  [ngbTooltip]="'I18N_PLAYER_RATINGS_TOOLTIP' | translate"
                  placement="top">
              <span class="oppia-icon-accessibility-label">
                {{ 'I18N_PLAYER_RATINGS_TOOLTIP' | translate }}
              </span>
            </span>
            <span *ngIf="!averageRating">
              {{ 'I18N_PLAYER_UNRATED' | translate }}
            </span>
            <span *ngIf="averageRating">
              {{ averageRating | number:'1.1-1'}}
            </span>
          </li>
          <li class="row-item">
            <span class="far fa-eye"
                  [ngbTooltip]="'I18N_PLAYER_VIEWS_TOOLTIP' | translate"
                  placement="top">
              <span class="oppia-icon-accessibility-label">
                {{ 'I18N_PLAYER_VIEWS_TOOLTIP' | translate }}
              </span>
            </span>
            {{ numViews | summarizeNonnegativeNumber }}
          </li>
          <li class="row-item">
            <span class="far fa-clock"
                  [ngbTooltip]="'I18N_PLAYER_LAST_UPDATED_TOOLTIP' | translate"
                  placement="top">
              <span class="oppia-icon-accessibility-label">
                {{ 'I18N_PLAYER_LAST_UPDATED_TOOLTIP' | translate }}
              </span>
            </span>
            {{ lastUpdatedString }}
          </li>
          <ul class="oppia-info-card-exploration-contributors-profile row center row-item">
            <i class="material-icons oppia-contributors-icon"
               [ngbTooltip]="'I18N_PLAYER_CONTRIBUTORS_TOOLTIP' | translate"
               placement="top">
               &#xE7EF;
            </i>
            <span class="oppia-icon-accessibility-label">
              {{ 'I18N_PLAYER_CONTRIBUTORS_TOOLTIP' | translate }}
            </span>
            <div class="named-contributors-container">
              <li *ngFor="let name of (contributorNames | limitTo: 2); index as idx"
                  [ngbTooltip]="name"
                  placement="top"
                  class="contributor-{{idx}}">
                <profile-link-image [username]="name"></profile-link-image>
              </li>
            </div>
            <li *ngIf="contributorNames.length > 2"
                class="oppia-contributors-more-circle"
                [ngbTooltip]="contributorNames.slice(2).join(', ')"
                placement="top">
                +{{ contributorNames.length - 2 }}
            </li>
            <li *ngIf="contributorNames.length === 0"
                [ngbTooltip]="'I18N_PLAYER_COMMUNITY_EDITABLE_TOOLTIP' | translate"
                placement="top">
              <span class="far fa-globe fa-lg oppia-info-card-community-editable-icon"></span>
            </li>
          </ul>
        </ul>
        <div *ngIf="!explorationIsPrivate" class="oppia-info-card-bottom-row">
          <div class="fx-row">
            <div class="oppia-info-card-tag-icon">
              <span class="fas fa-tags oppia-info-card-modal-tooltip"
                    [ngbTooltip]="'I18N_PLAYER_TAGS_TOOLTIP' | translate"
                    placement="top">
                <span class="oppia-icon-accessibility-label">
                  {{ 'I18N_PLAYER_TAGS_TOOLTIP' | translate }}
                </span>
              </span>
            </div>

            <div class="exploration-tags">
              <span *ngIf="explorationTags.tagsInTooltip.length > 0"
                    class="oppia-info-card-tooltip-more"
                    [ngbTooltip]="explorationTags.tagsInTooltip.join(', ')"
                    placement="right">
                    {{ 'I18N_PLAYER_PLUS_TAGS' | translate:{ additionalTagNumber: explorationTags.tagsInTooltip.length } }}
              </span>
              <span *ngIf="explorationTags.tagsToShow.length > 0">
                {{ explorationTags.tagsToShow.join(", ") }}
              </span>
              <span *ngIf="explorationTags.tagsToShow.length === 0 && explorationTags.tagsInTooltip.length === 0">
                <span><em>{{ 'I18N_PLAYER_NO_TAGS' | translate }}</em></span>
              </span>
            </div>
          </div>
          <div flex="60" class="sharing-links-container">
            <sharing-links flex="45" layoutType="row wrap" layoutAlignType="end center"
                           twitterText="DEFAULT_TWITTER_SHARE_MESSAGE_PLAYER"
                           shareType="exploration"
                           [explorationId]="explorationId">
            </sharing-links>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<button type="button" class="oppia-close-popover-button e2e-test-close-lesson-info-modal-button" (click)="cancel()">
  <i class="material-icons md-18">&#xE5CD;</i>
  <span class="oppia-icon-accessibility-label">Close</span>
</button>
<div *ngIf="saveProgressMenuIsShown && !userIsLoggedIn"
     class="save-progress-menu-backdrop">
</div>
<div class="save-progress-menu"
     *ngIf="saveProgressMenuIsShown && !userIsLoggedIn">
  <h3>{{ 'I18N_SAVE_PROGRESS_TEXT' | translate }}</h3>
  <div class="sign-in-box">
    <p>{{ 'I18N_SAVE_EXPLORATION_PROGRESS_TEXT_1' | translate }}</p>
    <button type="button"
            class="btn btn-secondary create-account-btn"
            (click)="onLoginButtonClicked()">
          {{ 'I18N_CREATE_ACCOUNT' | translate }}
    </button>
    <p class="sign-in-text">{{ 'I18N_SAVE_EXPLORATION_PROGRESS_TEXT_2' | translate }}<a class="sign-in-link" (click)="onLoginButtonClicked()">{{ 'I18N_TOPNAV_SIGN_IN' | translate }}</a></p>
  </div>
  <div class="separator">
    <div class="bars"></div>
    <div class="mid">or</div>
    <div class="bars"></div>
  </div>
  <div class="uid-box">
    <p class="guide-text">{{ 'I18N_SAVE_EXPLORATION_PROGRESS_TEXT_3' | translate }}<br>{{ 'I18N_SAVE_EXPLORATION_PROGRESS_TEXT_4' | translate }}</p>
    <p class="copy-text">{{ 'I18N_SAVE_EXPLORATION_PROGRESS_TEXT_5' | translate }}</p>
    <div [ngStyle]="{ 'flex-direction': isLanguageRTL() ? 'row-reverse' : 'row' }"
         class="oppia-tooltip-container">
      <oppia-copy-url [urlToCopy]="loggedOutProgressUniqueUrl"></oppia-copy-url>
    </div>
  </div>
  <button type="button" class="save-progress-close-button" (click)="closeSaveProgressMenu()">
    <i class="material-icons md-24">&#xE5CD;</i>
    <span class="oppia-icon-accessibility-label">Close</span>
  </button>
</div>
