/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

.oppia-lesson-info {
  cursor: pointer;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;
}

.oppia-lesson-info-h1 {
  color: #fff;
  display: inline;
  font-size: 17px;
  font-weight: normal;
}

.oppia-lesson-info-card-authors .authors-title {
  border-top: 1px solid #707070;
  color: #00645c;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
  padding-bottom: 2px;
  padding-top: 8px;
  text-align: center;
}

.oppia-lesson-info-card-authors .authors-dropdown-menu {
  transition: all 1s ease-in-out;
  width: 100%;
}

.oppia-lesson-info-card .oppia-exploration-header {
  font-size: 17px;
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 0 20px 0;
}

.oppia-lesson-info-card .oppia-non-story-mode .oppia-exploration-header {
  margin: unset;
  padding: 20px 20px 0;
}

.oppia-lesson-info-card {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 0 6px 0;
  text-align: left;
}

/* Hide scrollbar for IE, Edge and Firefox */
.oppia-lesson-info-content-inner-container {
  max-height: 260px;
  -ms-overflow-style: none;  /* IE and Edge */
  overflow-y: auto;
  scrollbar-width: none;  /* Firefox */
}

.oppia-non-story-mode .oppia-lesson-info-content-inner-container {
  max-height: 220px;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.oppia-lesson-info-content-inner-container::-webkit-scrollbar {
  display: none;
}

.oppia-lesson-info-card .oppia-lesson-exploration-progress-info {
  padding: 0 20px 20px 20px;
}

.oppia-lesson-info-card .oppia-story-title {
  color: #3b3b3b;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 13px;
  margin-bottom: -10px;
  padding: 20px 20px 0;
  text-align: left;
}

.oppia-lesson-info-card .oppia-lesson-info-content {
  padding-bottom: 0;
}

.oppia-lesson-info-card hr {
  margin-left: 20px;
  margin-right: 20px;
}

.oppia-lesson-info-card .oppia-non-story-mode hr {
  margin-top: 8px;
}

.oppia-lesson-info-card .oppia-exploration-description {
  color: #333;
  font-size: 15px;
  font-weight: normal;
  padding-bottom: 10px;
}

.oppia-lesson-info-card .progress {
  background: #f0ffff;
  border: 1px solid #707070;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  height: 10px;
  position: relative;
  transition: none;
}

.oppia-lesson-info-card .progress-text {
  color: #000;
  font-size: 12px;
  margin-bottom: 2px;
  margin-left: 5px;
  text-align: left;
}

.oppia-close-popover-button {
  outline: none;
  padding: 0;
  right: 0;
  top: 0;
}

.oppia-lesson-info-card .oppia-lesson-info-card-buttons {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.oppia-lesson-info-card .restart-lesson-btn {
  background-color: #00645c;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.oppia-lesson-info-card .save-progress-btn {
  background-color: #00645c;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.oppia-lesson-info-card .lesson-progress-bar {
  left: 0;
  width: 0;
}

.oppia-lesson-info-card .completed-checkpoints-progress-bar {
  background-color: #2d4a9d;
  transition: none;
}

.oppia-lesson-info-card .started-checkpoint-progress-bar {
  background-color: #2d4a9d99;
  transition: none;
}

.oppia-lesson-info-card .progress-bar-separator {
  border: 1px solid #707070;
  height: 10px;
  z-index: 1;
}

.oppia-lesson-info-card .progress-bar-separator-container {
  display: flex;
  height: 10px;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.save-progress-menu {
  animation: slideUp 0.8s;
  background-color: #fff;
  border-radius: 10px;
  height: 480px;
  left: 50%;
  max-width: 450px;
  position: fixed;
  top: 8vh;
  transform: translateX(-50%);
  width: 100%;
}

.save-progress-menu h3 {
  font-family: capriola, sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 40px auto 20px 18px;
  text-align: left;
}

.save-progress-menu .sign-in-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: center;
  width: 100%;
}

.save-progress-menu .sign-in-box p {
  margin: 10px 20px;
}

.save-progress-menu .sign-in-box .sign-in-text a {
  color: #00645c;
  text-decoration: underline;
}

.save-progress-menu .sign-in-box .create-account-btn {
  background-color: #00645c;
  color: #fff;
  cursor: pointer;
  font-family: Capriola, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 38px;
  margin-top: 30px;
  width: 169px;
}

.save-progress-menu .separator {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 10%;
  justify-content: space-evenly;
  width: 100%;
}

.save-progress-menu .separator .bars {
  background-color: #b7b7b7;
  height: 2px;
  padding: auto;
  width: 30%;
}

.save-progress-menu .uid-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
}

.save-progress-menu .uid-box .guide-text {
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.save-progress-menu .uid-box .copy-text {
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 20px;
  text-align: left;
  width: 100%;
}

.save-progress-menu .uid-box .uid-copy {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.save-progress-menu .uid-box .uid-copy .unique-progress-id {
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-left: 20px;
  padding: 5px;
  width: 70%;
  word-break: break-word;
}

.save-progress-menu .uid-box .uid-copy .uid-copy-btn {
  box-shadow: 1px 1px 2px 0 rgba(0, 100, 92, 0.8);
  color: #00645c;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0 auto;
  width: 20%;
}

.save-progress-menu .save-progress-close-button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

@keyframes slideUp {
  0% {
    -webkit-transform: translate(-50%, 90vh);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
  }
}
