/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

.oppia-lesson-info-card {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 0 6px 0;
  text-align: left;
}

.oppia-lesson-info-card .oppia-lesson-exploration-progress-info {
  padding: 0 20px 20px 20px;
}

.oppia-lesson-info-card .oppia-lesson-info-content {
  padding-bottom: 0;
}

.oppia-lesson-info-card .oppia-exploration-description {
  color: #333;
  font-size: 15px;
  font-weight: normal;
  margin-top: 20px;
  padding-bottom: 10px;
}

.oppia-info-card-exploration-contributors-profile img {
  border: 3px solid #fff;
  height: 22px;
  margin-right: 2px;
  width: 22px;
}

.oppia-close-popover-button {
  outline: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.oppia-info-card-bottom-row {
  line-height: 1.5;
  margin-top: 20px
}

.fas.fa-tags.oppia-info-card-modal-tooltip {
  margin-left: 0.0625rem;
  margin-right: 0.1875rem;
}

.exploration-tags {
  align-self: center;
  max-width: 90%;
}

.oppia-info-card-logo-thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  height: 250px;
  padding: 20px;
  position: relative;
}

.oppia-contributors-more-circle {
  background: #888;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  height: 18px;
  width: 18px;
}

.oppia-info-card-title {
  bottom: 0;
  color: #fff;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  margin: 12px 0 0 0;
  padding: 0;
  position: relative;
}

.oppia-info-card-bg-image {
  left: 50%;
  margin-right: -50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
}

.oppia-info-card-tooltip-more {
  color: #00f;
}

.oppia-info-card-bottom-row .sharing-links-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* This is necessary so that long usernames don't overflow the tooltip. */
.oppia-lesson-exploration-progress-info .tooltip-inner {
  max-width: none;
}

.oppia-info-card-tag-icon {
  padding-top: 6px;
  width: 28px;
}

.oppia-info-card-exploration-contributors-profile {
  justify-content: flex-end;
  padding: 0;
}

.oppia-info-card-community-editable-icon {
  color: #009688;
}

.learn-info-card-star {
  margin: 5px
}

.oppia-lesson-exploration-progress-info .card-metrics li .far {
  font-size: 24px;
  margin: 5px;
  vertical-align: middle;
}

.oppia-info-card-bottom-row ul li a img {
  height: 20px;
  width: 20px;
}

.named-contributors-container .contributor-0 {
  list-style: none;
  position: absolute;
  z-index: 2;
}

.named-contributors-container .contributor-1 {
  list-style: none;
  margin-left: 14px;
  position: absolute;
}

.oppia-lesson-exploration-progress-info .card-metrics {
  box-sizing: border-box;
  font-size: 14px;
  list-style-type: none;
  margin-top: 15px;
  max-width: 100%;
  padding: 0;
  text-align: center;
}

.oppia-lesson-exploration-progress-info .private-card-info {
  color: red;
}

.oppia-info-card-bottom-row em {
  font-size: 0.75rem;
}

.oppia-lesson-exploration-progress-info .oppia-contributors-icon {
  cursor: default;
  margin-right: 0.3125rem;
}

.oppia-lesson-info-card .row.center {
  display: flex;
  flex-direction: row;
}

.oppia-lesson-info-card .space-between {
  justify-content: space-between;
}

.oppia-lesson-info-card .center {
  align-content: center;
  align-items: center;
}

.oppia-lesson-info-card .break-word {
  word-wrap: break-word;
}

.oppia-lesson-info-card .row-item {
  flex-grow: 1;
}

.oppia-lesson-info-card .named-contributors-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 36px;
}

.oppia-lesson-info-card .progress-bar-container {
  align-items: center;
  display: flex;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  position: relative;
  width: 100%;
}

.oppia-lesson-info-card .multiple-checkpoints-bar {
  justify-content: space-between;
  margin-bottom: 20px;
}

.oppia-lesson-info-card .reverse-checkpoint-order {
  flex-direction: row-reverse;
}

.lesson-progress-bar {
  background-color: #bbb;
  border-radius: 5px;
  display: flex;
  height: 5px;
  justify-content: flex-start;
  margin-left: 14px;
  position: absolute;
  width: 92%;
}

.completed-progress-bar {
  background-color: #00645c;
  border-radius: 5px;
  height: 100%;
  max-width: 100%;
}

.completed-checkpoint-node {
  background-color: #00645c;
  border-radius: 50%;
  color: #fff;
  display: flex;
  height: 25px;
  justify-content: center;
  text-align: center;
  width: 25px;
  z-index: 0;
}

.in-progress-checkpoint-node {
  align-items: flex-start;
  background-color: #fff;
  border: 3.5px solid #00645c;
  border-radius: 50%;
  color: #00645c;
  display: flex;
  font-size: 1.1em;
  height: 35px;
  justify-content: center;
  text-align: center;
  width: 35px;
  z-index: 0;
}

.incomplete-checkpoint-node {
  align-items: flex-end;
  background-color: #fff;
  border: 3.5px solid #bbb;
  border-radius: 50%;
  color: #bbb;
  display: flex;
  font-size: 0.9em;
  height: 25px;
  justify-content: center;
  text-align: center;
  width: 25px;
  z-index: 0;
}

.oppia-lesson-info-card .checkpoint-message-text {
  font-weight: 800;
  margin-top: 20px;
  text-align: center;
}

.oppia-lesson-info-card .save-progress-btn-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.oppia-lesson-info-card .save-progress-btn {
  background-color: #00645c;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  height: 40px;
  margin: 5px 0;
  width: 170px;
}

.progress-bar-label-text {
  color: #00645c;
  font-size: 0.9em;
  margin-bottom: 15px;
}

.save-progress-menu-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.save-progress-menu {
  animation: slideUp 0.8s;
  background-color: #fff;
  border-radius: 10px;
  height: auto;
  left: 50%;
  max-width: 450px;
  position: fixed;
  top: 8vh;
  transform: translateX(-50%);
  width: 100%;
  z-index: 4;
}

.save-progress-menu h3 {
  font-family: capriola, sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 40px auto 20px 18px;
  text-align: left;
}

.save-progress-menu .sign-in-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: center;
  width: 100%;
}

.save-progress-menu .sign-in-box p {
  margin: 10px 20px;
}

.save-progress-menu .sign-in-box .sign-in-text a {
  color: #00645c;
  text-decoration: underline;
}

.save-progress-menu .sign-in-box .create-account-btn {
  background-color: #00645c;
  color: #fff;
  cursor: pointer;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 38px;
  margin-top: 30px;
  width: 169px;
}

.save-progress-menu .separator {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 10%;
  justify-content: space-evenly;
  margin: 15px 0;
  width: 100%;
}

.save-progress-menu .separator .bars {
  background-color: #b7b7b7;
  height: 2px;
  padding: auto;
  width: 30%;
}

.save-progress-menu .uid-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
}

.save-progress-menu .uid-box .oppia-tooltip-container {
  margin-left: -25px;
}

.save-progress-menu .uid-box .guide-text {
  padding: 10px 20px;
  text-align: left;
  width: 100%;
}

.save-progress-menu .uid-box .copy-text {
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 20px;
  text-align: left;
  width: 100%;
}

.save-progress-menu .save-progress-close-button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

@keyframes slideUp {
  0% {
    -webkit-transform: translate(-50%, 90vh);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
  }
}
