<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Organization">
  <head>
    @load('base-components/header.template.html', {"title": "Get Started - Oppia"})
    <style>
      .oppia-get-started h2 {
        font-size: 1.17em;
        font-weight: bold;
        margin-top: 3em;
        text-align: left;
      }
      .oppia-links-container {
        margin-left: 40px;
      }
    </style>
  </head>
  <body>
    <oppia-get-started-page-root></oppia-get-started-page-root>
    @load('pages/footer_js_libs.html')
  </body>
</html>
