.oppia-customization-arg-form-container .oppia-customization-arg-editor {
    margin-bottom: 25px;
    z-index: 3001;
  }
  .oppia-customization-arg-form-container
    .oppia-customization-arg-editor-inner {
    margin-top: 15px;
  }
  .oppia-customization-arg-form-container .error-message {
    color: #f00;
    display: block;
    font-size: 0.8em;
  }
  .oppia-customization-arg-editor-modal {
    z-index: 1;
  }
  input.oppia-save-btn, input.oppia-cancel-btn {
    max-width: 100px;
  }
