<link *ngIf="!isLanguageRTL()" rel="preload" href="/templates/pages/teacher-dashboard-page/teacher-dashboard-page.component.css" as="style">
<link *ngIf="isLanguageRTL()" rel="preload" href="/templates/pages/teacher-dashboard-page/teacher-dashboard-page.component.rtl.css" as="style">

<background-banner></background-banner>
<div class="oppia-teacher-dashboard-container position-relative">
  <div class="oppia-teacher-dashboard-container-card">
    <div class="oppia-teacher-dashboard-title">
        <span translate="I18N_TOPNAV_TEACHER_DASHBOARD"></span>
    </div>
    <div class="oppia-learner-groups-section">
      <div class="oppia-learner-groups-section-title">
        <span translate="I18N_LEARNER_GROUPS_SECTION_TITLE"></span>
      </div>
      <div>
        <button class="oppia-create-new-learner-group-button oppia-autofocus">
          <span translate="I18N_CREATE_LEARNER_GROUP"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- TODO(#14625): Incorporate the CSS file inclusion in webpack. -->
<link *ngIf="!isLanguageRTL()" rel="stylesheet" type="text/css" media="screen" href="/templates/pages/teacher-dashboard-page/teacher-dashboard-page.component.css">
<link *ngIf="isLanguageRTL()" rel="stylesheet" type="text/css" media="screen" href="/templates/pages/teacher-dashboard-page/teacher-dashboard-page.component.rtl.css">
