.chapter-input-header span {
    font-weight: bold;
  }
  .chapter-input {
    padding-bottom: 15px;
  }
  .chapter-input-thumbnail {
    padding-bottom: 0;
    padding-top: 10px;
  }
  .new-chapter-error-msg {
    color: #f00;
    font-size: small;
  }
  .modal-close-button {
    display: none;
  }
  .oppia-new-chapter-title-field {
    font-size: 12px;
  }
  @media screen and (max-width: 768px) {
    .modal-dialog {
      border: 0;
      border-radius: 0;
      margin: 0;
      padding: 0;
      width: 100vw;
    }
    .modal-content {
      border: 0;
      border-radius: 0;
      height: 100vh;
    }
    .modal-header {
      align-items: center;
      background-color: #00609c;
      display: flex;
    }
    .modal-header h3 {
      color: #fff;
    }
    .chapter-input {
      margin: 30px 10px;
    }
    .create-new-chapter-input-field {
      margin: 25px 0;
    }
    .modal-close-button {
      color: #fff;
      display: block;
      font-size: 20px;
    }
  }
