.modal-header {
    font-size: 20px;
    font-weight: bold;
  }
  .modal-body-actions {
    display: flex;
    justify-content: space-between;
  }

  .oppia-reason-select {
    border: 1px solid black;
    padding: 5px;
    width: 35%;
  }

  .oppia-reason-select span {
    font-weight: bold;
    text-decoration: underline;
  }

  .oppia-reason-select .oppia-unpublishing-dropdown {
    left: 50%;
    transform: translate(-50%);
    width: 90%;
  }

  .oppia-reason-select .oppia-selected-reason-text {
    background-color: #dadada;
    margin-top: 5px;
    padding: 5px;
    white-space: normal;
    width: 100%;
    word-wrap: break-word;
  }

  .oppia-reason-select .oppia-unpublishing-dropdown-menu {
    width: 100%;
  }

  .oppia-reason-select .oppia-unpublishing-dropdown-item {
    cursor: pointer;
    white-space: normal;
  }

  .oppia-warning-and-confirmation {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .oppia-warning-container {
    border: 1px solid black;
    padding: 10px;
  }

  .oppia-warning-container span {
    font-weight: bold;
    text-decoration: underline;
  }

  .oppia-warning-container .oppia-warning-text {
    font-style: italic;
    line-height: 100%;
    margin-top: 5px;
  }

  .oppia-modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .oppia-modal-buttons .oppia-cancel-button {
    background-color: #fff;
    border: 1px solid black;
    font-size: 15px;
    width: 40%;
  }

  .oppia-modal-buttons .oppia-confirm-reason-button {
    background-color: #cf3300;
    color: #fff;
    font-size: 15px;
    width: 55%;
  }

  @media screen and (max-width: 410px) {
    .modal-body-actions {
      flex-direction: column;
      gap: 15px;
    }

    .modal-body-actions .oppia-reason-select,.oppia-warning-and-confirmation {
      width: 100%;
    }

    .oppia-modal-buttons {
      flex-direction: column;
      gap: 10px;
    }

    .oppia-modal-buttons .oppia-confirm-reason-button {
      width: 100%;
    }

    .oppia-modal-buttons .oppia-cancel-button {
      width: 100%;
    }
  }
