<span class="uid-btn-message-box" *ngIf="show">{{ 'I18N_SAVE_PROGRESS_COPY_TOOLTIP' | translate }}</span>
<div class="uid-btn-message-arrow" *ngIf="show"></div>

<style>
.uid-btn-message-box {
  background-color: #00645c;
  border-radius: 4px;
  color: #fff;
  cursor: default;
  font-size: 14px;
  font-style: Roboto, Arial, sans-serif;
  padding: 8px 10px;
  position: relative;
  top: -5px;
}

.uid-btn-message-arrow {
  background-color: #00645c;
  color: #fff;
  cursor: default;
  height: 10px;
  position: relative;
  right: -45px;
  top: -7px;
  transform: rotate(45deg);
  width: 10px;
}
</style>