<div class="uid-btn-message-box" *ngIf="showTooltip">{{ 'I18N_SAVE_PROGRESS_COPY_TOOLTIP' | translate }}</div>
<div class="uid-btn-message-arrow" *ngIf="showTooltip"></div>

<style>
.uid-btn-message-box {
  background-color: #00645c;
  border-radius: 4px;
  color: #fff;
  cursor: default;
  font-size: 14px;
  font-style: Roboto, Arial, sans-serif;
  padding: 8px 10px;
  position: absolute;
  right: 0;
  top: -45px;
}

.uid-btn-message-arrow {
  background-color: #00645c;
  color: #fff;
  cursor: default;
  height: 10px;
  position: absolute;
  right: 28px;
  top: -15px;
  transform: rotate(45deg);
  width: 10px;
}
</style>