<link rel="stylesheet" type="text/css" media="screen"
      href="https://fonts.googleapis.com/css?family=Capriola">
<link rel="stylesheet" type="text/css" media="screen"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen"
      href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" type="text/css" media="screen"
      href="https://fonts.googleapis.com/css?family=Rubik">

<link rel="stylesheet" type="text/css" media="screen"
      href="{{get_static_resource_url('/third_party/generated/css/third_party.css')}}">

<link rel="stylesheet" type="text/css" media="screen"
      href="{{get_static_resource_url('/css/oppia.css')}}">
