<link rel="stylesheet" type="text/css"
      href="/third_party/static/bootstrap-3.1.1/css/bootstrap.css" media="screen">
<link rel="stylesheet" type="text/css"
      href="/css/oppia.css" media="screen">
<link rel="stylesheet" type="text/css"
      href="/third_party/static/jwysiwyg-496497/jquery.wysiwyg.css" media="screen">
<link rel="stylesheet" type="text/css"
      href="/third_party/static/select2-3.5.1/select2.css" media="screen">
<link rel="stylesheet" type="text/css"
      href="/third_party/static/jqueryui-1.10.3/jquery-ui-themes-1.10.3/themes/smoothness/jquery-ui.min.css">
<link rel="stylesheet" type="text/css"
      href="/third_party/static/code-mirror-3.19.0/lib/codemirror.css">
<link rel="stylesheet" type="text/css"
      href="/third_party/static/code-mirror-3.19.0/addon/merge/merge.css">
