<a ng-href="<[getStoryLink()]>">
  <div class="oppia-story-image">
  </div>
  <div class="oppia-story-details">
    <div class="oppia-story-title">
      <[getStoryTitle()]>
    </div>
    <div class="oppia-story-description">
      <[getStoryDescription()]>
    </div>
  </div>
</a>
<style>
  .oppia-story-image {
    padding: 34px;
  }

  .oppia-story-details {
    padding: 10px;
  }

  .oppia-story-title {
    display: block;
    color: black;
    text-align: center;
    font-size: 1.3em;
    padding-bottom: 10px;
  }

  .oppia-story-description {
    display: block;
    color: black;
    text-align: center;
  }
</style>
