<learner-dashboard-icons ng-if="collectionSummaryTileCtrl.showLearnerDashboardIconsIfPossible() && collectionSummaryTileCtrl.userIsLoggedIn"
                         activity-type="collectionSummaryTileCtrl.ACTIVITY_TYPE_COLLECTION"
                         activity-id="collectionSummaryTileCtrl.getCollectionId()"
                         activity-title="collectionSummaryTileCtrl.getCollectionTitle()"
                         container-is-narrow="collectionSummaryTileCtrl.isContainerNarrow()"
                         activity-active="collectionSummaryTileCtrl.collectionIsCurrentlyHoveredOver"
                         add-to-playlist-icon-is-shown="!collectionSummaryTileCtrl.isOwnedByCurrentUser()">
</learner-dashboard-icons>
<md-card class="oppia-activity-summary-tile"
         ng-class="{'oppia-activity-playlist-tile': collectionSummaryTileCtrl.isPlaylistTile()}"
         style="position: relative; z-index: 5;">
  <a ng-href="<[collectionSummaryTileCtrl.getCollectionLink()]>" style="text-decoration: none;">
    <div class="title-section" style="background-color: <[collectionSummaryTileCtrl.getThumbnailBgColor()]>;">
      <img class="collection-corner-image" ng-src="<[collectionSummaryTileCtrl.getStaticImageUrl('/general/collection_corner.svg')]>" alt="">
      <img class="thumbnail-image" ng-src="<[collectionSummaryTileCtrl.getCompleteThumbnailIconUrl()]>" alt="<[collectionSummaryTileCtrl.getCategory()]>" ng-style="collectionSummaryTileCtrl.isPlaylistTile() && {'top': '6px', 'width': '60px'}">
      <h3 class="activity-title protractor-test-collection-summary-tile-title" ng-style="collectionSummaryTileCtrl.isPlaylistTile() && {'width': '93%', 'text-align': 'center'}"><[collectionSummaryTileCtrl.getCollectionTitle() || collectionSummaryTileCtrl.DEFAULT_EMPTY_TITLE]></h3>
    </div>

    <div ng-style="collectionSummaryTileCtrl.isPlaylistTile() && {'float': 'right', 'width': '67%', 'margin-top': '3%'}">
      <div class="objective">
        <[collectionSummaryTileCtrl.getObjective() | truncateAndCapitalize: 95]>
        <span ng-if="!collectionSummaryTileCtrl.getObjective()">No objective specified.</span>
      </div>
      <ul layout="row" class="metrics" layout-align="space-between center">
        <li>
          <span>
            COLLECTION (<[collectionSummaryTileCtrl.getNodeCount()]>)
          </span>
        </li>
        <li>
          <span>
            <span class="oppia-icon-accessibility-label">Last Updated</span>
            <[collectionSummaryTileCtrl.getLastUpdatedDatetime()]>
          </span>
        </li>
      </ul>
    </div>
    <div ng-if="!collectionSummaryTileCtrl.isPlaylistTile()" class="title-section-mask"
         ng-mouseenter="collectionSummaryTileCtrl.setHoverState(true)" ng-mouseleave="collectionSummaryTileCtrl.setHoverState(false)">
    </div>
  </a>
</md-card>

<style>
  .oppia-activity-summary-tile .thumbnail-image {
    top: 15.5%;
  }

  .oppia-activity-summary-tile .collection-corner-image {
    position: absolute;
    width: 36px;
  }
</style>
