<div class="modal-header">
  <h3>
    <span ng-if="isExplorationPrivate">Save Draft</span>
    <span ng-if="!isExplorationPrivate">Publish Changes</span>
  </h3>
</div>
<div class="modal-body oppia-long-text">
  <p>
    <span ng-if="isExplorationPrivate">(Optional)</span>
    Please enter a brief description of what you have changed:
    <textarea rows="3" cols="50" style="resize: vertical" ng-model="commitMessage" focus-on="saveChangesModalOpened" class="protractor-test-commit-message-input" autofocus></textarea>
  </p>
  <button class="btn btn-default" ng-click="onClickToggleDiffButton()">
    <span ng-if="!showDiff">Show Changes</span>
    <span ng-if="showDiff">Hide Changes</span>
  </button>

  <version-diff-visualization ng-if="showDiff" diff-data="diffData"
                              earlier-version-header="earlierVersionHeader"
                              later-version-header="laterVersionHeader">
  </version-diff-visualization>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn btn-success protractor-test-save-draft-button" ng-disabled="!isExplorationPrivate && !commitMessage" ng-click="save(commitMessage)">
    <span ng-if="isExplorationPrivate">Save Draft</span>
    <span ng-if="!isExplorationPrivate">Publish Changes</span>
  </button>
</div>
