.oppia-concept-card-viewer .concept-card-explanation {
  padding: 15px;
}

.oppia-concept-card-viewer .example-content {
  margin-top: 1vh;
}

.oppia-concept-card-viewer .oppia-concept-card-explanation-container {
  margin-bottom: 10px;
}
