<div class="modal-header">
  <h3> <[modalHeader]> </h3>
</div>

<div class="modal-body">
  <oppia-concept-card [skill-ids]="skillIds"
                      [index]="index">
  </oppia-concept-card>
</div>

<div class="modal-footer">
  <button class="btn btn-danger"
          ng-click="cancel()">
    Close
  </button>
  <button class="btn btn-success"
          ng-if="isInTestMode && !isLastConceptCard()"
          ng-click="goToNextConceptCard()">
    Next
  </button>
  <button class="btn btn-success"
          ng-if="isInTestMode && isLastConceptCard()"
          ng-click="retryTest()">
    Retry Test
  </button>
</div>
