<div class="navbar-helper">
  <div class="navbar-tabs">
    <div class="navbar-text">
      <[$ctrl.getNavbarText()]>
      <span class="e2e-test-autosave-indicator autosave-indicator" ng-if="$ctrl.autosaveIsInProgress">
        &emsp;Auto Saving ...
      </span>
    </div>
    <div class="navbar-icons">
      <li ng-class="{'navbar-tab-active': $ctrl.getActiveTabName() === 'main', 'uib-dropdown': $ctrl.countWarnings()}" ng-click="$ctrl.selectMainTab()"
          class="nav-item icon nav-list-item position-relative">
        <a href="#" class="nav-link navbar-tab e2e-test-main-tab" uib-tooltip="Editor" tooltip-placement="<[$ctrl.countWarnings() ? 'left' : 'bottom']>">
          <i class="fas fa-pen navbar-tab-icon" ng-class="{'navbar-tab-active-icon': $ctrl.getActiveTabName() === 'main'}"></i>
        </a>
        <div ng-show="$ctrl.countWarnings()" class="oppia-editor-warnings-indicator"
             ng-mouseover="$ctrl.warningsAreShown=true"
             ng-mouseleave="$ctrl.warningsAreShown=false"
             ng-class="{'oppia-editor-warnings-critical-color': hasCriticalWarnings(), 'oppia-editor-warnings-error-color': !hasCriticalWarnings()}">
          <span class="oppia-editor-warnings-count">
            <[$ctrl.countWarnings()]>
          </span>
          <ul uib-dropdown-menu class="uib-dropdown-menu oppia-editor-warnings-box dropdown-menu exploration-editor-warning-box" ng-if="$ctrl.warningsAreShown">
            <span class="oppia-editor-warnings-header">Warnings</span>
            <li class="oppia-editor-warnings-text" ng-repeat="warning in $ctrl.getWarnings() track by $index">
              <hr class="oppia-editor-warnings-separator">
              <span ng-if="warning.type === 'critical'">
                <strong><[warning.message]></strong>
              </span>
              <span ng-if="warning.type !== 'critical'">
                <[warning.message]>
              </span>
            </li>
          </ul>
        </div>
      </li>

      <li ng-class="{'navbar-tab-active': $ctrl.getActiveTabName() === 'translation', 'oppia-disabled-tab': !$ctrl.connectedToInternet || $ctrl.EditabilityService.isLockedByAdmin()}" id="tutorialTranslationTab" class="nav-item icon nav-list-item e2e-test-translation-tab"
          ng-click="!$ctrl.connectedToInternet || $ctrl.EditabilityService.isLockedByAdmin() || $ctrl.selectTranslationTab()" uib-tooltip="Translations does not work when offline." tooltip-placement="bottom"  tooltip-enable="!$ctrl.connectedToInternet">
        <a class="nav-link navbar-tab" uib-tooltip="Translations" tooltip-placement="bottom" tabindex="0" tooltip-enable="$ctrl.connectedToInternet">
          <i class="fas fa-microphone navbar-tab-icon" ng-class="{'navbar-tab-active-icon': $ctrl.getActiveTabName() === 'translation'}"></i>
        </a>
      </li>

      <li ng-class="{'navbar-tab-active': $ctrl.getActiveTabName() === 'preview', 'oppia-disabled-tab': !$ctrl.connectedToInternet}" id="tutorialPreviewTab" class="nav-item icon nav-list-item e2e-test-preview-tab"
          ng-click="!$ctrl.connectedToInternet || $ctrl.selectPreviewTab()" uib-tooltip="Preview does not work when offline." tooltip-placement="bottom"  tooltip-enable="!$ctrl.connectedToInternet">
        <a class="nav-link  navbar-tab" uib-tooltip="Preview" tooltip-placement="bottom" tabindex="0" tooltip-enable="$ctrl.connectedToInternet">
          <i class="fas fa-play navbar-tab-icon nav-bar-preview-icon" ng-class="{'navbar-tab-active-icon': $ctrl.getActiveTabName() === 'preview'}"></i>
        </a>
      </li>

      <li ng-class="{'navbar-tab-active': $ctrl.getActiveTabName() === 'settings', 'oppia-disabled-tab': !$ctrl.connectedToInternet}" class="nav-item icon nav-list-item e2e-test-settings-tab"
          ng-click="!$ctrl.connectedToInternet || $ctrl.selectSettingsTab()" uib-tooltip="Settings does not work when offline." tooltip-placement="bottom"  tooltip-enable="!$ctrl.connectedToInternet">
        <a class="nav-link  navbar-tab" uib-tooltip="Settings" tooltip-placement="bottom" tabindex="0" tooltip-enable="$ctrl.connectedToInternet">
          <i class="fas fa-cog navbar-tab-icon" ng-class="{'navbar-tab-active-icon': $ctrl.getActiveTabName() === 'settings'}"></i>
        </a>
      </li>

      <li ng-class="{'navbar-tab-active': $ctrl.getActiveTabName() === 'stats', 'oppia-disabled-tab': !$ctrl.connectedToInternet}" class="nav-item icon nav-list-item e2e-test-stats-tab"
          ng-click="!$ctrl.connectedToInternet || $ctrl.selectStatsTab()" uib-tooltip="Statistics does not work when offline." tooltip-placement="bottom"  tooltip-enable="!$ctrl.connectedToInternet">
        <a class="nav-link  navbar-tab" uib-tooltip="Statistics" tooltip-placement="bottom" tabindex="0" tooltip-enable="$ctrl.connectedToInternet">
          <i class="fas fa-poll navbar-tab-icon" ng-class="{'navbar-tab-active-icon': $ctrl.getActiveTabName() === 'stats'}"></i>
        </a>
      </li>

      <li ng-if="$ctrl.isImprovementsTabEnabled() && $ctrl.screenIsLarge" ng-class="{'navbar-tab-active': $ctrl.getActiveTabName() === 'improvements', 'oppia-disabled-tab': !$ctrl.connectedToInternet}" class="nav-item icon nav-list-item e2e-test-improvements-tab"
          ng-click="!$ctrl.connectedToInternet || $ctrl.selectImprovementsTab()"  uib-tooltip="Improvements does not work when offline." tooltip-placement="bottom"  tooltip-enable="!$ctrl.connectedToInternet">
        <a class="nav-link  navbar-tab" uib-tooltip="Improvements" tooltip-placement="bottom" tabindex="0" tooltip-enable="$ctrl.connectedToInternet">
          <i class="material-icons navbar-tab-icon" ng-class="{'navbar-tab-active-icon': $ctrl.getActiveTabName() === 'improvements'}">trending_up</i>
        </a>
      </li>

      <li ng-class="{'navbar-tab-active': $ctrl.getActiveTabName() === 'history', 'oppia-disabled-tab': !$ctrl.connectedToInternet}" class="nav-item icon nav-list-item e2e-test-history-tab"
          ng-click="!$ctrl.connectedToInternet || $ctrl.selectHistoryTab()"  uib-tooltip="History does not work when offline." tooltip-placement="bottom"  tooltip-enable="!$ctrl.connectedToInternet">
        <a class="nav-link  navbar-tab" uib-tooltip="History" tooltip-placement="bottom" tabindex="0" tooltip-enable="$ctrl.connectedToInternet">
          <i class="fas fa-clock navbar-tab-icon" ng-class="{'navbar-tab-active-icon': $ctrl.getActiveTabName() === 'history'}"></i>
        </a>
      </li>

      <li ng-class="{'navbar-tab-active': $ctrl.getActiveTabName() === 'feedback', 'oppia-disabled-tab': !$ctrl.connectedToInternet}" class="nav-item icon nav-list-item e2e-test-feedback-tab"
          ng-click="!$ctrl.connectedToInternet || $ctrl.selectFeedbackTab()" uib-tooltip="Feedback does not work when offline." tooltip-placement="bottom"  tooltip-enable="!$ctrl.connectedToInternet">
        <a class="nav-link  navbar-tab" uib-tooltip="Feedback" tooltip-placement="bottom" tabindex="0" tooltip-enable="$ctrl.connectedToInternet">
          <i class="fas fa-comment-alt navbar-tab-icon" ng-class="{'navbar-tab-active-icon': $ctrl.getActiveTabName() === 'feedback'}"></i>
        </a>
        <div ng-show="$ctrl.getOpenThreadsCount()" class="oppia-exploration-open-threads-indicator oppia-exploration-open-threads-color">
          <span class="oppia-exploration-open-threads-count">
              <[$ctrl.getOpenThreadsCount()]>
          </span>
        </div>
      </li>

      <li ng-class="{'oppia-disabled-tab': !$ctrl.connectedToInternet}" class="nav-item icon nav-list-item" ng-click="!$ctrl.connectedToInternet || $ctrl.showUserHelpModal()"
          uib-tooltip="Help does not work when offline." tooltip-placement="bottom"  tooltip-enable="!$ctrl.connectedToInternet">
        <a href="#"
           uib-tooltip="Help"
           tooltip-placement="bottom"
           tooltip-enable="$ctrl.connectedToInternet"
           class="nav-link oppia-editor-navbar-tab-anchor">
          <i class="fas fa-question-circle navbar-tab-icon"></i>
        </a>
      </li>
    </div>
  </div>
  <div ng-if="$ctrl.explorationEditorPageHasInitialized && $ctrl.EditabilityService.isLockedByAdmin()" class="exploration-locked-for-editing-banner">This exploration is currently locked to new edits. Please contact an admin for assistance.</div>
</div>
<div class="exploration-editor-content" ng-cloak>
  <div class="container-fluid oppia-editor-page-container">
    <div class="row" ng-if="$ctrl.ExplorationRightsService.isCloned()">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="oppia-align-center uib-alert alert-warning oppia-alert-warning">
          <strong>Note:</strong> This is a private, unpublishable copy of a
          <a ng-href="<[$ctrl.getExplorationUrl($ctrl.ExplorationRightsService.clonedFrom())]>" target="_blank" rel="noopener">public exploration</a>.
        </div>
      </div>
    </div>

    <oppia-exploration-editor-tab ng-show="$ctrl.getActiveTabName() === 'main'" [exploration-is-linked-to-story]="$ctrl.explorationIsLinkedToStory">
    </oppia-exploration-editor-tab>

    <translation-tab ng-if="$ctrl.getActiveTabName() === 'translation'">
    </translation-tab>
    <!-- This is an ng-if, so that the preview loads the latest version of the exploration each time the tab is accessed. -->
    <oppia-preview-tab ng-if="$ctrl.getActiveTabName() === 'preview'" class="e2e-test-preview-tab">
    </oppia-preview-tab>

    <oppia-statistics-tab ng-show="$ctrl.getActiveTabName() === 'stats'">
    </oppia-statistics-tab>

    <oppia-improvements-tab ng-if="$ctrl.isImprovementsTabEnabled()"
                            ng-show="$ctrl.getActiveTabName() === 'improvements'">
    </oppia-improvements-tab>

    <oppia-settings-tab ng-show="$ctrl.getActiveTabName() === 'settings'" [current-user-is-curriculum-admin]="$ctrl.currentUserIsCurriculumAdmin" [current-user-is-moderator]="$ctrl.currentUserIsModerator">
    </oppia-settings-tab>

    <oppia-history-tab ng-show="$ctrl.getActiveTabName() === 'history'">
    </oppia-history-tab>

    <oppia-feedback-tab ng-show="$ctrl.getActiveTabName() === 'feedback'">
    </oppia-feedback-tab>
  </div>
</div>

<oppia-on-screen-keyboard></oppia-on-screen-keyboard>

<!-- These definitions must be included exactly once on the page for the graph SVGs to work in Firefox. -->
<svg width="0" height="0">
  <defs>
    <marker id="arrowhead" viewBox="0 0 18 18" refX="10" refY="3"
            markerWidth="10" markerHeight="6" orient="auto">
      <path d="M 0 0 L 10 4 L 0 8 z" fill="grey"></path>
    </marker>
    <marker id="arrowhead-green" viewBox="0 0 18 18" refX="10" refY="3"
            markerWidth="10" markerHeight="6" orient="auto">
      <path d="M 0 0 L 10 4 L 0 8 z" fill="#1F7D1F"></path>
    </marker>
    <marker id="arrowhead-red" viewBox="0 0 18 18" refX="10" refY="3"
            markerWidth="10" markerHeight="6" orient="auto">
      <path d="M 0 0 L 10 4 L 0 8 z" fill="#B22222"></path>
    </marker>
    <linearGradient id="nodegradient" x1="0%" x2="100%" y1="0%" y2="0%">
      <stop offset="0%" class="oppia-stop"></stop>
      <stop offset="100%" class="oppia-stop"></stop>
    </linearGradient>
  </defs>
</svg>

<style>
  exploration-editor-page .autosave-indicator {
    font-size: 75%;
  }

  exploration-editor-page .exploration-editor-content {
    margin-top: 95px;
  }

  exploration-editor-page .exploration-locked-for-editing-banner {
    background-color: #6c757d;
    color: #fff;
    padding: 5px;
  }

  exploration-editor-page .navbar-helper {
    background-color: #00609c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 2px 4px rgba(0, 0, 0, 0.23);
    height: 70px;
    margin-bottom: 20px;
    position: fixed;
    text-align: center;
    top: 56px;
    width: 100%;
    z-index: 990;
  }
  exploration-editor-page .navbar-tabs {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    text-align: center;
  }
  exploration-editor-page .navbar-tab-icon {
    color: #fff;
    display: block;
    font-size: 26px;
    width: 100%;
  }
  exploration-editor-page .navbar-tab span {
    color: #fff;
    font-size: 12px;
  }
  exploration-editor-page .oppia-editor-warnings-box {
    cursor: default;
    max-width: none;
  }
  exploration-editor-page .navbar-tab-active {
    background-color: #e6e6e6;
    box-shadow: 0 3px 2px 0 #e6e6e6;
  }
  exploration-editor-page .navbar-tab-active-icon {
    color: #00609c;
  }
  exploration-editor-page .exploration-editor-warning-box {
    display: block;
  }

  exploration-editor-page .oppia-exploration-open-threads-indicator {
    border-radius: 50%;
    bottom: 5px;
    height: 15px;
    position: absolute;
    right: 3px;
    text-align: center;
  }
  exploration-editor-page .oppia-exploration-open-threads-color {
    background-color: #4078c0;
  }
  exploration-editor-page .oppia-exploration-open-threads-count {
    background-color: #4078c0;
    border: 1px solid;
    border-radius: 10px;
    bottom: 8px;
    color: white;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    position: relative;
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  }

  exploration-editor-page .nav-bar-preview-icon {
    font-size: 20px;
  }

  @media screen and (max-width: 768px) {
    .navbar-helper {
      display: none;
    }
  }
  exploration-editor-page .navbar-text {
    align-items: center;
    color: #fff;
    display: flex;
    font-family: Capriola, Roboto, Arial, sans-serif;
    font-size: 20px;
    margin-left: 3%;
  }
  exploration-editor-page .navbar-icons {
    display: flex;
    margin-right: 5%;
  }
  exploration-editor-page .nav-list-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 90px;
  }
  exploration-editor-page .navbar-icons .nav-list-item:hover {
    background-color: #4eb0c0;
  }
  exploration-editor-page .oppia-alert-warning {
    padding: 2px;
    width: 90%;
  }
  exploration-editor-page .oppia-stop {
    stop-color: #8fbc8f;
    stop-opacity: 1;
  }

  exploration-editor-page .oppia-disabled-tab {
    opacity: 0.5;
  }

  @media screen and (max-width: 1000px) {
    exploration-editor-page .navbar-text {
      display: none;
    }
    exploration-editor-page .navbar-icons {
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 800px) {
    exploration-editor-page .navbar-helper {
      position: inherit;
    }
    exploration-editor-page .navbar-tabs {
      justify-content: center;
    }
    exploration-editor-page .exploration-editor-content {
      margin-top: 0;
    }
  }
</style>
