.oppia-advice-bar-container {
  width: 140px;
  height: 100%;
  background: #fff;
}

.oppia-advice-bar-title {
  background: #05a69a;
  margin: auto;
  font-size: 28px;
  text-align: center;
  color: #fff;
}

.oppia-advice-resource {
  word-wrap: break-word;
  cursor: pointer;
  font-size: 13px;
  color: #05a69a;
  text-align: center;
  border-top: 1px solid #eee; 
  padding-top: 10px;
  height: 50px;
}

.oppia-advice-resource-image {
  display: none;/* TODO(anuzis): update per final UX. */
  background: url('../images/AdviceBarResourceIcon.png');
  background-repeat: no-repeat;
  width: 70px;
  height: 50px;
  margin: auto;
}
