.last-element {
    border-bottom: 1px solid #ccc;
  }

  .add-skill-misconception-button {
    background-color: #058ca6;
    color: #fff;
  }

  .helper-text {
    color: #595959;
  }

  .helper-text span {
    font-size: 13px;
  }

  .heading-text {
    font-size: 16px;
  }

  .oppia-misconception-card-header {
    display: flex;
    justify-content: space-between;
  }

  .oppia-misconception-card-header i {
    display: none;
  }

  .oppia-option-list-container {
    padding-bottom: 10px;
  }

  .oppia-misconception-list-item {
    margin-top: 0;
  }

  .oppia-skill-misconception-card-preview-list {
    display: block;
  }

  .oppia-skill-misconception-card-preview {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    vertical-align: top;
    width: 100%;
  }

  .oppia-skill-misconception-card-preview > li {
    display: block;
    position: relative;
  }

  @media screen and (max-width: 768px) {
    .oppia-misconception-card-header i {
      display: block;
    }
    .skill-misconception-content {
      padding: 0;
    }
  }
