<div class="oppia-create-activity-modal">
  <div class="modal-body oppia-long-text e2e-test-creation-modal">
    <div class="row">
      <div class="col-sm-12">
        <h1 [innerHTML]="'I18N_CREATE_ACTIVITY_TITLE' | translate"></h1>
        <p [innerHTML]="'I18N_CREATE_ACTIVITY_QUESTION' | translate"></p>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center">
        <img [src]="getStaticImageUrl('/activity/exploration.svg')" (click)="chooseExploration()">
        <button type="button" (click)="chooseExploration()"
                class="btn oppia-transition-200 e2e-test-create-exploration">
          <span [innerHTML]="'I18N_CREATE_EXPLORATION' | translate"></span>
        </button>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center" *ngIf="canCreateCollections">
        <img [src]="getStaticImageUrl('/activity/collection.svg')" (click)="chooseCollection()">
        <button type="button" (click)="chooseCollection()"
                class="btn oppia-transition-200 e2e-test-create-collection">
          <span [innerHTML]="'I18N_CREATE_COLLECTION' | translate"></span>
        </button>
      </div>
    </div>
  </div>
</div>
