.oppia-activity-summary-tile {
    position: relative;
    z-index: 5;
  }

  .oppia-activity-summary-tile .thumbnail {
    text-decoration: none;
  }

  .oppia-activity-summary-tile .thumbnail-image {
    top: 15.5%;
  }

  .oppia-activity-summary-tile .collection-corner-image {
    position: absolute;
    width: 36px;
  }
  .oppia-activity-summary-tile .layout-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }
  .mobile-activity-summary-card {
    box-shadow: slategrey 2px 4px 4px 0;
    padding: 0 0 0 0;
  }

  .mobile-collection-card-cascading-images-container {
    align-self: center;
    height: 63px;
    position: relative;
    width: 63px;
  }

  .mobile-collection-card-image-container {
    box-shadow: slategrey -1px 3px 4px 0;
    position: absolute;
    width: 55px;
  }

  .rear-image {
    opacity: 40%;
    right: 0;
    top: 0;
  }

  .middle-image {
    left: 4px;
    opacity: 70%;
    top: 4px;
  }

  .front-image {
    bottom: 0;
    left: 0;
  }
