/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are some additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/
oppia-exploration-summary-tile .oppia-exploration-dashboard-card {
  position: relative;
  text-align: left;
  width: 198px;
  z-index: 5;
}

oppia-exploration-summary-tile .oppia-play-exploration-button {
  display: block;
  margin: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: pan-y;
  -webkit-user-drag: none;
  user-select: none;
}

oppia-exploration-summary-tile .oppia-return-to-parent-button {
  margin-top: 12px;
}

/*
  The comment in the section below is an rtlcss value directive mentioned here:
  https://rtlcss.com/learn/usage-guide/value-directives/, which tells rtlcss
  to replace the value of the input style to whatever is specified in the
  comment.
*/
oppia-exploration-summary-tile .oppia-arrow-icon {
  font-size: 19px;
  padding-top: 1.5px;
  -moz-transform: scaleX(1) /*rtl:scaleX(-1)*/;
  -o-transform: scaleX(1) /*rtl:scaleX(-1)*/;
  -webkit-transform: scaleX(1) /*rtl:scaleX(-1)*/;
  transform: scaleX(1) /*rtl:scaleX(-1)*/;
}

oppia-exploration-summary-tile .oppia-learner-confirm-button {
  background: #0d48a1;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  padding: 6px 12px;
}

oppia-exploration-summary-tile .mobile-activity-summary-card {
  box-shadow: slategrey 2px 4px 4px 0;
  padding: 0 0 0 0;
  width: 340px;
}

oppia-exploration-summary-tile .mobile-exploration-card-image-container {
  align-self: center;
  width: 63px;
}

oppia-exploration-summary-tile .mobile-exploration-card-image {
  height: 100%;
  width: auto;
}

oppia-exploration-summary-tile .views-text {
  margin-left: 6px;
}

oppia-exploration-summary-tile .thumbnail-image {
  display: block;
}


oppia-exploration-summary-tile .exploration-progress-svg {
  transform: rotate(-90deg);
}

oppia-exploration-summary-tile .exploration-progress-circle {
  fill: none;
}

oppia-exploration-summary-tile .total-circle {
  stroke: #adadad;
  stroke-width: 3;
}

oppia-exploration-summary-tile .completed-circle {
  stroke: #00645c;
  stroke-width: 3;
}

oppia-exploration-summary-tile .exploration-progress {
  position: relative;
  top: 98px;
}
oppia-exploration-summary-tile .oppia-exploration-objective-title {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.85em;
  height: 70px;
  -webkit-line-clamp: 3;
  line-height: 1.26;
  max-height: 4.71em;
  overflow: hidden;
  padding: 12px;
  text-overflow: ellipsis;
  word-break: break-word;
  color: #333;
  /* display: flex;
  font-size: 11px;
  height: 40px; */
  letter-spacing: 0;
  margin: 0px 8px 0 8px;
  opacity: 1;
  text-align: left;
}
oppia-exploration-summary-tile .oppia-learner-dashboard-exploration-title {
  color: #00645C;
  display: flex;
  font-family: Capriola,Roboto,Arial,sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-left: 8px;
  text-align: left;
}
oppia-exploration-summary-tile .continue-button {
  background: white 0% 0% no-repeat padding-box;
  border: 1px solid #00645C;
  border-radius: 4px;
  /* box-shadow: 0 2px 2px #0000003d; */
  /* display: none; */
  height: 36px;
  left: 86px;
  position: absolute;
  top: 108px;
  width: 122px;
}
oppia-exploration-summary-tile .continue-button-text {
  color: #00645C;
  font-size: 14px;
  font-weight: 500;
  left: 1px;
  letter-spacing: 0;
  position: relative;
  text-align: center;
  /* text-transform: uppercase; */
  top: 10px;
}
oppia-exploration-summary-tile .oppia-story-completion {
  background: #000c 0% 0% no-repeat padding-box;
  border-radius: 2px;
  bottom: 23px;
  float: right;
  height: 19px;
  margin: 0 8px 0 8px;
  position: relative;
  right: 4px;
  text-align: left;
  width: 90px;
}
oppia-exploration-summary-tile .story-completion {
  bottom: 52px;
}
oppia-exploration-summary-tile .oppia-svg-star-image {
  bottom: 3px;
  filter: invert(95%) sepia(49%) saturate(2374%) hue-rotate(320deg) brightness(91%) contrast(89%);
  left: 3px;
  position: relative;
  width: 11px;
}
oppia-exploration-summary-tile .oppia-exploration-link {
  text-decoration: none;
}
oppia-exploration-summary-tile .exploration-card {
  height: 100%;
}
oppia-exploration-summary-tile .oppia-summary-section {
  position: absolute;
  width: 100%;
  margin-top: 8px;
}
oppia-exploration-summary-tile .oppia-library-title {
  color: #333;
  display: block;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  letter-spacing: 0.05px;
  margin: 4px 8px 0px 8px;
  padding-bottom: 12px;
  text-align: left;
  width: 188px;
}
oppia-exploration-summary-tile .oppia-story-completed-percent {
  color: #fff;
  font-size: 10px;
  letter-spacing: 0;
  margin: 2px;
  padding: 2px;
  position: absolute;
  width: 100%;
}
oppia-exploration-summary-tile .oppia-percent-story-completed {
  color: #fff;
  font-size: 10px;
  letter-spacing: 0;
  margin: 2px;
  padding: 2px;
  position: absolute;
  width: 100%;
}
oppia-exploration-summary-tile .oppia-exploration-learner-dashboard-card {
  border-radius: 4px;
  box-shadow: 0 3px 6px #00000029;
  display: inline-block;
  height: 286px;
  margin: 0 2px 30px 6px;
  padding: 0;
  position: relative;
  width: 216px;
  z-index: 5;
}
oppia-exploration-summary-tile .oppia-title-section {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 136px;
  width: 216px;
}
oppia-exploration-summary-tile .oppia-thumbnail-image {
  height: 108px;
  margin: 19px 43px 9px 44px;
  width: 129px;

}
oppia-exploration-summary-tile .oppia-exploration-learner-dashboard-card .continue-button:hover {
  /* display: block;
  float: left; */
  background-color: #35ada3;
}
oppia-exploration-summary-tile .oppia-exploration-summary-container {
  position: relative;
  bottom: 150px;
}