/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/
oppia-story-summary-tile .chapter-identifier {
  color: #00645c;
  font-weight: 500;
}

oppia-story-summary-tile .story-progress-bar {
  float: left;
}

oppia-story-summary-tile .story-progress-svg {
  transform: rotate(-90deg);
}

oppia-story-summary-tile .story-progress-circle {
  fill-opacity: 0;
  stroke-width: 3;
}

oppia-story-summary-tile .total-circle {
  stroke: #adadad;
}

oppia-story-summary-tile .completed-circle {
  stroke: #be563c;
}

oppia-story-summary-tile .oppia-story-title {
  display: inline-block;
  font-size: 1.4em;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-top: 7px;
}

oppia-story-summary-tile .completed-icon {
  color: #00645c;
  float: left;
  font-size: 20px;
  margin-right: 6px;
  width: 24px;
}

oppia-story-summary-tile .view-button {
  color: #00645c;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1.5vh;
  text-align: center;
  width: 100%;
}

oppia-story-summary-tile .view-button:focus {
  outline: 0;
}

oppia-story-summary-tile .chapter-title {
  display: block;
  font-size: 1.1em;
  margin-bottom: 0.7vh;
}

oppia-story-summary-tile .incomplete-chapter {
  margin-left: 30px;
}

oppia-story-summary-tile .complete-chapter {
  display: inline-block;
  width: 84%;
}

oppia-story-summary-tile .chapter-details {
  border: 1px solid #7b7b7b;
  border-radius: 0.25rem;
  display: inline-block;
  margin-left: 0.8vw;
  margin-right: 0.8vw;
  padding: 1.5vh 1.75vw 1vh 1vw;
  width: 65%;
}

oppia-story-summary-tile .story-details {
  display: flex;
}

oppia-story-summary-tile .story-summary-tile-desktop {
  margin-left: 3vw;
  padding-bottom: 7vh;
}

oppia-story-summary-tile .story-summary-tile-mobile {
  padding-bottom: 7vh;
}

oppia-story-summary-tile .title-text {
  border-right: 1px solid #7b7b7b;
  font-weight: 500;
  padding-right: 10px;
}

oppia-story-summary-tile .disabled-link,
oppia-story-summary-tile .disabled-link:hover,
oppia-story-summary-tile .disabled-link:active {
  color: #000;
  cursor: default;
}

oppia-story-summary-tile .img-thumbnail {
  border: none;
  max-height: 100%;
  max-width: 100%;
}

oppia-story-summary-tile .story-thumbnail {
  border-radius: 0.4em;
  display: table-cell;
  float: left;
  height: 150px;
  text-align: center;
  vertical-align: middle;
  width: 225px;
}

oppia-story-summary-tile a {
  color: #000;
  cursor: pointer;
}

oppia-story-summary-tile a:hover {
  text-decoration: none;
}

oppia-story-summary-tile .title-text a:hover,
oppia-story-summary-tile .pending-chapter a:hover,
oppia-story-summary-tile .incomplete-chapter a:hover,
oppia-story-summary-tile .complete-chapter a:hover {
  text-decoration: underline;
}

oppia-story-summary-tile .oppia-chapters-count {
  color: #404040;
  font-size: 0.75em;
  padding-left: 10px;
}

oppia-story-summary-tile .chapters-list {
  margin-bottom: 20px;
}

oppia-story-summary-tile .coming-soon-chapters {
  opacity: 0.4;
  pointer-events: none;
}

oppia-story-summary-tile .chapters-heading {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

oppia-story-summary-tile .heading-separator {
  background-color: #525252;
  height: 1px;
  margin-top: 0;
  width: 85%;
}

oppia-story-summary-tile .heading-label {
  font-size: 1.2em;
  font-weight: 1000;
}

oppia-story-summary-tile .chapters-count {
  color: #959595;
  font-size: 1.1em;
  font-weight: 1000;
}

oppia-story-summary-tile .tablet-view {
  padding: 0;
  width: 100%;
}

@media (max-width: 800px) {
  oppia-story-summary-tile .oppia-story-title {
    padding-top: 0;
    width: 75%;
  }

  oppia-story-summary-tile .title-text,
  oppia-story-summary-tile .pending-chapter,
  oppia-story-summary-tile .incomplete-chapter,
  oppia-story-summary-tile .complete-chapter {
    text-decoration: underline;
  }
}

oppia-story-summary-tile .stories-can-play {
  display: inline-block;
  font-size: 1.4em;
  font-weight: 500;
  padding-bottom: 15px;
}

@media (max-width: 768px) {
  oppia-story-summary-tile .story-details {
    border-radius: 0.4em;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    display: inherit;
    width: 100%;
  }

  oppia-story-summary-tile .story-progress-circle {
    fill-opacity: 0;
    stroke-width: 3;
  }

  oppia-story-summary-tile .completed-circle {
    stroke: #3cb8be;
  }

  oppia-story-summary-tile .total-circle {
    stroke: rgba(78, 77, 77, 0.62);
  }

  oppia-story-summary-tile .chapter-title {
    display: block;
    font-size: 1.1em;
    margin-bottom: 0;
  }

  oppia-story-summary-tile .view-button {
    color: #00645c;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.5vh;
    text-align: center;
    width: 100%;
  }

  oppia-story-summary-tile .oppia-story-title {
    display: inline-block;
    font-size: 1.4em;
    padding-bottom: 0;
    padding-left: 5px;
    padding-top: 5px;
    width: 70%;
  }

  oppia-story-summary-tile .title-text {
    border-right: 0;
    font-weight: 500;
    padding-right: 10px;
    text-decoration: none;
  }

  oppia-story-summary-tile .story-thumbnail {
    border: none;
    border-radius: 0.4em 0.4em 0 0;
    height: 160px;
    width: 100%;
  }

  oppia-story-summary-tile .chapter-details {
    border: none;
    margin-left: 0;
    padding: 2vh 3vw 2vh 4vw;
    width: 225px;
  }

  oppia-story-summary-tile .story-progress-bar {
    float: right;
    padding-right: 12px;
    padding-top: 5px;
  }

  oppia-story-summary-tile .chapter-container {
    background-color: rgba(230, 230, 230, 0.38);
  }

  oppia-story-summary-tile .story-details-box {
    border: none;
    display: inline-block;
    margin-left: 0;
    padding: 2vh 3vw 2vh 4vw;
    width: 100%;
  }

  oppia-story-summary-tile .bottom-edge-shadow {
    border-bottom: 0.8px solid rgb(255, 254, 254);
    border-radius: 0.4em;
    box-shadow: 0 6px 7px -4px #606060;
  }

  oppia-story-summary-tile .oppia-chapters-count-text {
    margin-bottom: 0;
    margin-top: 10px;
    width: 50%;
  }

  oppia-story-summary-tile .chapter-specific-box {
    background-color: white;
    border-radius: 0 0.4em 0.4em 0;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2vh;
    padding: 0;
  }

  oppia-story-summary-tile .chapter-icon {
    background-color: #4c9e8b;
    border-radius: 0 10px 0 0;
    float: left;
    margin-right: 10px;
    padding: 10px;
    width: fit-content;
  }

  oppia-story-summary-tile .chapter-icon-number {
    color: white;
    font-weight: bolder;
    padding: 2px;
  }

  oppia-story-summary-tile .chapters-container-box {
    border: none;
    display: inline-block;
    margin-left: 0;
    padding: 2vh 3vw 0 4vw;
    width: 100%;
  }

  oppia-story-summary-tile .chapter-text {
    float: left;
    margin-top: 10px;
  }

  oppia-story-summary-tile .story-status-element {
    font-size: 10px;
    margin-bottom: 0;
    margin-top: 3px;
  }
}

oppia-story-summary-tile .oppia-topic-viewer-container .background-banner-position {
  position: inherit;
}

oppia-story-summary-tile .down-caret-position {
  vertical-align: middle;
  width: 24px;
}

oppia-story-summary-tile .up-caret-position {
  width: 24px;
}

:lang(ar) .oppia-story-summary-tile .story-progress-svg {
  transform: rotate(270deg);
}
