<div class="story-summary-tile protractor-test-story-summary-title">
  <div class="story-progress-bar">
    <svg class="story-progress-svg" width="50" height="50" *ngIf="nodeCount">
      <circle class="story-progress-circle total-circle"
              cx="25"
              cy="25"
              r="20"
              [attr.stroke-dasharray]="strokeDashArrayValues"
              stroke-dashoffset="-2.5"
              stroke-linecap="round"/>
      <circle class="story-progress-circle completed-circle"
              cx="25"
              cy="25"
              r="20"
              [attr.stroke-dasharray]="completedStrokeDashArrayValues"
              stroke-dashoffset="-2.5"
              [attr.stroke-linecap]="completedStoriesCount ? 'round' : 'butt'"/>
      <text x="25"
            y="-20"
            text-anchor="middle"
            stroke="#000"
            stroke-width="0.5"
            font-size="0.9em"
            transform="rotate(90)">
        {{ storyProgress }}%
      </text>
    </svg>
  </div>
  <div class="oppia-story-title" dir="auto">
    <strong class="title-text">
      <a [href]="storyLink" [ngClass]="{'disabled-link': !classroomUrlFragment}">{{ storyTitle }} </a>
    </strong>
    <span dir="auto" class="oppia-chapters-count">
      <span [innerHTML]="'I18N_TOPIC_VIEWER_CHAPTERS' | translate:{count:nodeCount, messageFormat: true}"></span>
    </span>
  </div>
  <div class="story-details">
    <div class="story-thumbnail protractor-test-story-thumbnail"
         [ngStyle]="{background: thumbnailBgColor}">
      <a [href]="storyLink">
        <img *ngIf="thumbnailUrl !== null"
             [src]="thumbnailUrl"
             alt=""
             class="img-thumbnail"
             [ngStyle]="{background: thumbnailBgColor}">
      </a>
    </div>
    <div class="chapter-details">
      <div class="chapter-title"
           *ngFor="let title of nodeTitles;let idx = index">
        <div *ngIf="storySummary.isNodeCompleted(title)" class="material-icons completed-icon">
          done
        </div>
        <div [ngClass]="{'border-bottom': idx < chaptersDisplayed, 'pending-chapter': !storySummary.isNodeCompleted(title) && isPreviousChapterCompleted(idx), 'incomplete-chapter': !storySummary.isNodeCompleted(title), 'complete-chapter': storySummary.isNodeCompleted(title)}"
             *ngIf="idx < chaptersDisplayed">
          <a [href]="getChapterUrl(title)" rel="noopener" target="_blank">
            <span class="chapter-identifier" [innerHTML]="'I18N_TOPIC_VIEWER_CHAPTER' | translate">
            </span>&nbsp;
            <span class="chapter-identifier">{{ idx + 1 }}:</span>&nbsp;
            <span dir="auto">{{ title }}</span>
          </a>
        </div>
      </div>
      <div (click)="showAllChapters()"
           *ngIf="showButton && (chaptersDisplayed < nodeCount)"
           class="view-button">
        <span [innerHTML]="'I18N_TOPIC_VIEWER_VIEW_ALL' | translate"></span>
        <span class="material-icons"> arrow_drop_down </span>
      </div>
      <div (click)="hideExtraChapters()"
           *ngIf="showButton && (chaptersDisplayed === nodeCount)"
           class="view-button">
        <span [innerHTML]="'I18N_TOPIC_VIEWER_VIEW_LESS' | translate"></span>
        <span class="material-icons"> arrow_drop_up </span>
      </div>
    </div>
  </div>

</div>
<link *ngIf="!isLanguageRTL()" rel="stylesheet" type="text/css" media="screen" href="/templates/components/summary-tile/story-summary-tile.component.css">
<link *ngIf="isLanguageRTL()" rel="stylesheet" type="text/css" media="screen" href="/templates/components/summary-tile/story-summary-tile.component.rtl.css">
