<div class="story-summary-tile protractor-test-story-summary-title">
  <div class="story-progress-bar">
    <svg class="story-progress-svg" width="50" height="50" ng-if="$ctrl.nodeCount">
      <circle class="story-progress-circle total-circle"
              cx="25"
              cy="25"
              r="20"
              stroke-dasharray="<[$ctrl.getStrokeDashArrayValues()]>"
              stroke-dashoffset="-2.5"
              stroke-linecap="round"/>
      <circle class="story-progress-circle completed-circle"
              cx="25"
              cy="25"
              r="20"
              stroke-dasharray="<[$ctrl.getCompletedStrokeDashArrayValues()]>"
              stroke-dashoffset="-2.5"
              stroke-linecap="<[$ctrl.completedStoriesCount ? 'round' : 'butt']>"/>
      <text x="25"
            y="-20"
            text-anchor="middle"
            stroke="#000"
            stroke-width="0.5"
            font-size="0.9em"
            transform="rotate(90)">
        <[$ctrl.storyProgress]>%
      </text>
    </svg>
  </div>
  <div class="oppia-story-title">
    <strong class="title-text">
      <a ng-href="<[$ctrl.getStoryLink()]>" ng-class="{'disabled-link': !$ctrl.classroomUrlFragment}"><[$ctrl.storySummary.getTitle()]> </a>
    </strong>
    <span class="oppia-chapters-count">
       <[$ctrl.nodeCount]> <span translate="I18N_TOPIC_VIEWER_CHAPTER"></span><[($ctrl.nodeCount > 1) ? 's' : '']>
    </span>
  </div>
  <div class="story-details">
    <div class="story-thumbnail"
         ng-style="{background: $ctrl.storySummary.getThumbnailBgColor()}">
      <a ng-href="<[$ctrl.getStoryLink()]>">
        <img ng-src="<[$ctrl.thumbnailUrl]>"
             alt=""
             class="img-thumbnail"
             ng-style="{background: $ctrl.storySummary.getThumbnailBgColor()}">
      </a>
    </div>
    <div class="chapter-details">
      <div class="chapter-title"
           ng-repeat="title in $ctrl.storySummary.getNodeTitles()">
        <div ng-if="$ctrl.storySummary.isNodeCompleted(title)" class="material-icons completed-icon">
          done
        </div>
        <div ng-class="{'border-bottom': $index < $ctrl.chaptersDisplayed, 'pending-chapter': !$ctrl.storySummary.isNodeCompleted(title) && $ctrl.isPreviousChapterCompleted($index), 'incomplete-chapter': !$ctrl.storySummary.isNodeCompleted(title), 'complete-chapter': $ctrl.storySummary.isNodeCompleted(title)}"
             ng-if="$index < $ctrl.chaptersDisplayed">
          <a ng-href="<[$ctrl.getChapterUrl(title)]>" rel="noopener" target="_blank">
            <span translate="I18N_TOPIC_VIEWER_CHAPTER">
            </span> <[$index + 1]>: <[title]>
          </a>
        </div>
      </div>
      <div ng-click="$ctrl.showAllChapters()"
           ng-if="$ctrl.showButton && ($ctrl.chaptersDisplayed < $ctrl.nodeCount)"
           class="view-button">
        <span translate="I18N_TOPIC_VIEWER_VIEW_ALL"></span>
        <span class="material-icons"> arrow_drop_down </span>
      </div>
      <div ng-click="$ctrl.hideExtraChapters()"
           ng-if="$ctrl.showButton && ($ctrl.chaptersDisplayed === $ctrl.nodeCount)"
           class="view-button">
        <span translate="I18N_TOPIC_VIEWER_VIEW_LESS"></span>
        <span class="material-icons"> arrow_drop_up </span>
      </div>
    </div>
  </div>

</div>
<style>
  story-summary-tile .story-progress-bar {
    float: left;
  }

  story-summary-tile .story-progress-svg {
    transform: rotate(-90deg);
  }

  story-summary-tile .story-progress-circle {
    fill-opacity: 0;
    stroke-width: 3;
  }

  story-summary-tile .total-circle {
    stroke: #adadad;
  }

  story-summary-tile .completed-circle {
    stroke: #be563c;
  }

  story-summary-tile .oppia-story-title {
    display: inline-block;
    font-size: 1.4em;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-top: 7px;
  }

  story-summary-tile .completed-icon {
    color: #00645C;
    float: left;
    margin-right: 6px;
  }

  story-summary-tile .view-button {
    color: #00645C;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1.5vh;
    text-align: center;
    width: 100%;
  }

  story-summary-tile .view-button:focus {
    outline: 0;
  }

  story-summary-tile .chapter-title {
    display: block;
    font-size: 1.1em;
    margin-bottom: 0.7vh;
  }

  story-summary-tile .incomplete-chapter {
    margin-left: 30px;
  }

  story-summary-tile .complete-chapter {
    display: inline-block;
    width: 84%;
  }

  story-summary-tile .chapter-details {
    border: 1px solid #7B7B7B;
    border-radius: 0.25rem;
    display: inline-block;
    margin-left: 0.8vw;
    padding: 1.5vh 1.75vw 1vh 1vw;
    width: 65%;
  }

  story-summary-tile .story-details {
    display: flex;
  }

  story-summary-tile .story-summary-tile {
    margin-left: 3vw;
    padding-bottom: 7vh;
  }

  story-summary-tile .title-text {
    border-right: 1px solid #7B7B7B;
    font-weight: 500;
    padding-right: 10px;
  }

  story-summary-tile .disabled-link,
  story-summary-tile .disabled-link:hover,
  story-summary-tile .disabled-link:active {
    color: #000;
    cursor: default;
  }

  story-summary-tile .img-thumbnail {
    border: none;
    max-height: 100%;
    max-width: 100%;
  }

  story-summary-tile .story-thumbnail {
    border-radius: 0.4em;
    display: table-cell;
    float: left;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    width: 225px;
  }

  story-summary-tile a {
    color: #000000;
    cursor: pointer;
  }

  story-summary-tile a:hover {
    text-decoration: none;
  }

  story-summary-tile .oppia-chapters-count {
    color: #404040;
    font-size: 0.75em;
    padding-left: 10px;
  }

  @media (max-width: 800px) {
    story-summary-tile .oppia-story-title {
      padding-top: 0;
      width: 75%;
    }

    story-summary-tile .title-text,
    story-summary-tile .pending-chapter,
    story-summary-tile .complete-chapter {
      text-decoration: underline;
    }
  }

  @media (max-width: 640px) {
    story-summary-tile .story-details {
      border-radius: 0.4em;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
      display: inherit;
      width: 225px;
    }

    story-summary-tile .story-thumbnail {
      border: none;
      border-radius: 0.4em 0.4em 0 0;
    }

    story-summary-tile .chapter-details {
      border: none;
      margin-left: 0;
      padding: 2vh 3vw 2vh 4vw;
      width: 225px;
    }
  }

  @media (max-width: 360px) {
    story-summary-tile .story-details {
      border-radius: 0.4em;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
      display: inherit;
      width: 225px;
    }

    story-summary-tile .story-thumbnail {
      height: 150px;
      width: 225px;
    }
  }

  .oppia-topic-viewer-container .background-banner-position {
    position: inherit;
  }

  .oppia-page-card {
    border-radius: 0.25em;
    margin-top: 5vh;
    padding-bottom: 7.5vh;
    width: 704px;
  }

  @media(max-width: 1024px) {
    .oppia-page-card {
      margin-top: 5vh;
      width: 80vw;
    }
  }

  @media(max-width: 500px) {
    .oppia-page-card {
      padding: 15px 24px 64px 24px;
      width: 90vw;
    }
  }
</style>
