<div class="topic-card"
     ng-style="{background: $ctrl.getTopicSummary().getThumbnailBgColor(), 'pointer-events': !$ctrl.isPublished() ? 'none' : 'auto'}">
  <a ng-href="<[$ctrl.getTopicPageUrl()]>" class="protractor-test-topic-link">
    <div class="topic-thumbnail">
      <span class="topic-coming-soon" ng-if="!$ctrl.isPublished()" translate="I18N_CLASSROOM_PAGE_COMING_SOON"></span>
      <picture class="fx-row fx-main-center" ng-class="{'grayscale-effect': !$ctrl.isPublished(), 'margin-top-offset': !$ctrl.isPublished()}">
        <img ng-src="<[$ctrl.thumbnailUrl]>" alt="" class="img-thumbnail" ng-style="{background: $ctrl.getTopicSummary().getThumbnailBgColor()}">
      </picture>
    </div>
    <div class="topic-details" ng-style="{'background-color': $ctrl.getDarkerThumbnailBgColor()}" ng-class="{'mask-effect': !$ctrl.isPublished()}">
      <span class="topic-name"> <[$ctrl.getTopicSummary().getName()]> </span>
      <[$ctrl.getTopicSummary().getTotalPublishedNodeCount()]>
      <span ng-if="$ctrl.getTopicSummary().getTotalPublishedNodeCount() === 1">
        <span translate="I18N_TOPIC_VIEWER_LESSON"></span>
      </span>
      <span ng-if="$ctrl.getTopicSummary().getTotalPublishedNodeCount() !== 1">
        <span translate="I18N_TOPIC_VIEWER_LESSONS"></span>
      </span>
    </div>
  </a>
</div>
<style>
  .topic-card .margin-top-offset {
    margin-top: -1.5em;
  }

  .topic-card .grayscale-effect {
    backdrop-filter: brightness(0.5);
  }

  .topic-card .mask-effect {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  .topic-card {
    border-radius: 0.4em;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 100%;
  }

  .topic-card picture {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .topic-card .topic-coming-soon {
    background-image: linear-gradient(to right, #7659B6, #674172);
    border-radius: 0 0.2em 0 0.6em;
    color: #FFF;
    display: block;
    font-size: 1em;
    margin-left: 4em;
    position: relative;
    text-transform: uppercase;
    z-index: 100;
  }

  .topic-card a:hover {
    text-decoration: none;
  }

  .topic-card .topic-name {
    display: block;
    font-size: 1.25em;
    font-weight: 600;
  }

  .topic-card .mask-effect .topic-name,
  .topic-card .mask-effect .topic-story-count {
    filter: brightness(0.6);
  }

  .topic-card .topic-card:focus {
    outline: 0;
  }

  .topic-card .topic-thumbnail {
    height: 120px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }

  .topic-card .img-thumbnail {
    border: none;
    border-radius: 0.2em 0.2em 0 0;
    max-width: 100%;
  }

  .topic-card .grayscale-effect .img-thumbnail {
    filter: brightness(0.5);
  }

  .topic-card .topic-details {
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.8em;
    height: 100px;
    letter-spacing: 0.5px;
    padding: 4px 12px;
  }

  @media(max-width: 1150px) {
    .topic-card .topic-name {
      font-size: 1em;
    }

    .topic-card .topic-story-count {
      font-size: 0.8em;
    }

    .topic-card .topic-details {
      height: 85px;
      padding-left: 10px;
    }

    .topic-card .topic-coming-soon {
      margin-left: 25px;
    }
  }

  @media(max-width: 680px) {
    .topic-card .topic-nname {
      font-size: 0.8em;
      height: 85px;
    }

    .topic-card .mask-effect .topic-name,
    .topic-card .mask-effect .topic-story-count {
      filter: brightness(100%);
    }
  }

  @media(max-width: 500px) {
    .topic-card .topic-title {
      height: 75px;
    }

    .topic-card .topic-thumbnail {
      height: 100px;
    }

    .topic-card .mask-effect .topic-name,
    .topic-card .mask-effect .topic-story-count {
      filter: brightness(100%);
    }
  }
</style>
