<script type="text/ng-template" id="components/socialButtons">
<style type="text/css">
  
i.oppia-share-btn-fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 23px;
    padding-right: 4px;
    position: relative;
    text-rendering: auto;
    top: -10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
  
</style>

  <div class="oppia-footer-social">
    <div>
      <h4>
        <span translate="I18N_FOOTER_FOLLOW_US"></span>:
      </h4>
    </div>
    <a href="https://plus.google.com/109898456505810251700/about" target="_blank">
      <i class="oppia-share-btn-fa fa-google-plus-square"></i>
    </a>
    <a href="https://www.youtube.com/channel/UC5c1G7BNDCfv1rczcBp9FPw" target="_blank">
      <i class="oppia-share-btn-fa fa-youtube-play"></i>
    </a>
    <a href="https://www.facebook.com/oppiaorg" target="_blank">
      <i class="oppia-share-btn-fa fa-facebook"></i>
    </a>
    <a href="https://twitter.com/oppiaorg" target="_blank">
      <i class="oppia-share-btn-fa fa-twitter"></i>
    </a>
  </div>
</script>