.modal-header-title {
  border-bottom: solid 1px #e0e0e0;
}

.modal-header-title p {
  margin: 0;
}

.primary-color {
  color: #00645c;
}

.modal-header .btn-close {
  cursor: pointer;
  margin: 0.75rem 0 0.75rem auto;
  opacity: 0.5;
}

.modal-body .group-title,
.modal-body .group-description {
  margin-bottom: 15px;
}

.modal-footer {
  display: none;
}
