<div class="modal-header">
  <div class="modal-header-title">
    <p class="primary-color">
      <span translate="I18N_LEARNER_GROUP_DETAILS_TITLE"></span>
    </p>
    <div type="button" class="close" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="group-title">
    <b [innerHTML]="'I18N_LEARNER_GROUP_JOINING_MESSAGE' | translate:{groupName: learnerGroup.title, messageFormat: true}"></b>
  </div>
  <div class="group-description">
    <b>
      <span translate="I18N_LEARNER_GROUP_DESCRIPTION_LABEL"></span>
    </b>
    <div>{{ learnerGroup.description }}</div>
  </div>
  <div class="group-facilitator">
    <b [innerHTML]="'I18N_LEARNER_GROUP_FACILITATOR_LABEL_TEXT' | translate"></b>
    <div>
      <span *ngFor="let facilitator of learnerGroup.facilitatorUsernames; let last = last">
        <span *ngIf="last">{{ facilitator }}</span>
        <span *ngIf="!last">{{ facilitator }}, </span>
      </span>
    </div>
  </div>
  <div class="learner-groups-progress-sharing-info">
    <b [innerHTML]="'I18N_LEARNER_GROUP_PROGRESS_SHARING_INFO_TITLE' | translate"></b>
    <p [innerHTML]="'I18N_LEARNER_GROUP_PROGRESS_SHARING_INFO_TEXT' | translate"></p>
  </div>
  <div>
    <mat-radio-button class="oppia-skills-list-item e2e-test-skills-list-item" [value]="true" [checked]="progressSharingPermission" (change)="toggleProgressSharingPermission()" attr.aria-label="{{'I18N_LEARNER_GROUP_PROGRESS_SHARING_OPTION_TRUE' | translate}}">
      {{ 'I18N_LEARNER_GROUP_PROGRESS_SHARING_OPTION_TRUE' | translate }}
    </mat-radio-button>
    <mat-radio-button class="oppia-skills-list-item e2e-test-skills-list-item" [value]="false" [checked]="!progressSharingPermission" (change)="toggleProgressSharingPermission()" attr.aria-label="{{'I18N_LEARNER_GROUP_PROGRESS_SHARING_OPTION_FALSE' | translate}}">
      {{ 'I18N_LEARNER_GROUP_PROGRESS_SHARING_OPTION_FALSE' | translate }}
    </mat-radio-button>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="cancel()" [innerHTML]="'I18N_MODAL_CANCEL_BUTTON' | translate"></button>
  <button class="btn btn-primary" (click)="confirm()" [innerHTML]="'I18N_JOIN_LEARNER_GROUP_BUTTON' | translate"></button>
</div>

<style>
  .modal-header-title {
    border-bottom: solid 1px #e0e0e0;
  }

  .modal-header-title p {
    margin: 0;
  }

  .primary-color {
    color: #00645c;
  }

  .btn-primary {
    background-color: #00645c;
    border: solid 1px #00645c;
    margin-right: 20px;
    padding: 6px 16px;
  }

  .btn-secondary {
    border: solid 1px #00645c;
    color: #00645c;
    margin-right: 20px;
    padding: 6px 16px;
  }

  .btn-danger {
    background: #fff;
    border: solid 1px #a53417;
    color: #a53417;
    padding: 6px 16px;
  }

  .modal-header .close {
    cursor: pointer;
    font-size: 28px;
    margin: -1rem 0 -1rem auto;
    padding: 1rem 0;
  }

  .group-title,
  .group-description,
  .learner-groups-progress-sharing-info,
  .group-facilitator {
    margin-bottom: 15px;
  }
</style>
