.oppia-hide-card-height-warning-icon {
    color: #827127;
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
  }
  .oppia-hide-card-content-error-icon {
    color: #d1180a;
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
  }
  .oppia-card-height-limit-warning {
    background: #fff5c8;
    border: 0.0625rem solid #827127;
    border-radius: 0.25rem;
    color: #333;
    padding-left: 0.25rem;
  }
  .oppia-card-content-limit-error {
    background: #ea4a1757;
    border: 0.0625rem solid #827127;
    border-radius: 0.25rem;
    color: #333;
    padding-left: 0.25rem;
  }
  .oppia-shadow-preview-card {
    left: -30000px;
    max-width: 560px;
    position: fixed;
    top: -30000px;
  }
  .oppia-editor-edit-icon-position {
    border: 0;
    padding: 4px 4px;
    position: absolute;
    top: 9px;
  }
  .oppia-editor-edit-icon {
     display: block;
    }
  @media screen and (max-width: 700px) {
    .oppia-editor-edit-icon-position {
      right: -20px;
      top: 20px;
    }
  }
