<!--go back 3 - title should stay in place when scrolling for small screens -->
<div #carddisplay class="card-display_container d-flex flex-column overflow-hidden mb-4">
  <div class="d-flex justify-content-between">
     <!--go back 2 - i1qn-->
    <p class="subsection-heading"> {{ heading }} </p>
    <div class="d-flex" *ngIf="((numCards * 231 - 15) > carddisplay.offsetWidth) && (tabType === 'home')">
      <button [disabled]="shift === 0" class="align-items-center border-0 d-flex justify-content-center mr-2 px-0 section-nav-button" (click)="nextCard(shift - 1)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
        </svg>
      </button>
      <p> </p>
      <button [disabled]="shift === getMaxShifts(carddisplay.offsetWidth)" class="align-items-center border-0 d-flex justify-content-center px-0 section-nav-button" (click)="nextCard(shift + 1)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
      </button>
    </div>
  </div>
  <hr color="#00645c" class="mt-2 mb-4" size="2" width="100%">
  <div class="d-flex pb-2 subsection-container" #cards> 
    <ng-content></ng-content>
  </div>
  <button *ngIf="tabType !== 'home'" class="align-self-end">  View more </button>
</div>

<style>
  /*width: calc(100vw - 32px - 1.5em - 32px);*/
  .card-display_container {
    max-width: fit-content;
    width: 100%;
  } 

  .subsection-container {
    display: flex;
    max-width: 100%;
    overflow-x: hidden;
  }

  .subsection-heading {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
  }

  .section-nav-button {
    background-color: #00645c;
    border-radius: .25em;
    color: #fff;
    height: 24px;
    width: 24px;
  }

  .section-nav-button:disabled {
    background-color: #667085;
  }

  .oppia-learner-dash-section-subheading {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
  }

  div.subsection-container div.lesson-card-container {
    margin-right: 4px;
  }


</style>