.oppia-signin-page {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
.oppia-signin-content {
  text-align: center;
}
.oppia-signin-spinner {
  animation: spin 1s linear infinite;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
