@media screen and (max-width: 768px) {
    .assign-skill-to-topic-modal .modal-dialog {
      border: 0;
      border-radius: 0;
      margin: 0 auto;
      padding: 0;
    }
    .assign-skill-to-topic-modal .modal-header {
      background-color: #00609c;
      padding: 12px 10px;
    }
    .assign-skill-to-topic-modal .modal-header h3 {
      color: #fff;
    }
    .assign-skill-to-topic-modal .modal-content {
      border: 0;
      border-radius: 0;
    }
    .assign-skill-to-topic-modal .modal-body {
      padding: 0;
    }
    .assign-skill-to-topic-modal .modal-close-button {
      color: #fff;
      display: block;
      font-size: 20px;
    }
  }
