.version-diff-graph {
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    width: 100%;
  }

  .legend-graph .node rect {
    pointer-events: none;
  }

  .legend-graph {
    position: initial;
    right: -100px;
    top: 10px;
  }

  .exploration-graph-legend-heading {
    font-weight: normal;
    margin-top: 10px;
  }

  .diff-graph, .legend-graph {
    border: 1px solid #707070;
  }
