oppia-version-diff-visualization .version-diff-graph {
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  width: 100%;
}

oppia-version-diff-visualization .legend-graph .node rect {
  pointer-events: none;
}

oppia-version-diff-visualization .legend-graph {
  position: initial;
  right: -100px;
  top: 10px;
}

oppia-version-diff-visualization .exploration-graph-legend-heading {
  font-weight: normal;
  margin-top: 10px;
}

oppia-version-diff-visualization .diff-graph,
oppia-version-diff-visualization .legend-graph {
  border: 1px solid #707070;
}
