<md-card class="oppia-editor-card-with-avatar" id="tutorialStateInteraction">
  <div>
    <div class="oppia-exp-interaction-card-header-container oppia-mobile-collapsible-card-header" ng-click="toggleInteractionEditor()">
      <h3 class="oppia-exp-interaction-card-header">
        Interaction <span ng-if="getCurrentInteractionName()">(<[getCurrentInteractionName()]>)</span>
      </h3>
      <i class="fa fa-caret-down"
         ng-if="!interactionEditorIsShown"
         aria-hidden="true">
      </i>
      <i class="fa fa-caret-up"
         ng-if="interactionEditorIsShown"
         aria-hidden="true">
      </i>
    </div>
    <div class="oppia-add-interaction-button-container" ng-if="!interactionId">
      <button type="button" class="btn btn-secondary oppia-add-interaction-button protractor-test-open-add-interaction-modal" ng-click="openInteractionCustomizerModal()">
        + ADD INTERACTION
      </button>
    </div>
  </div>

  <div ng-if="interactionId && interactionEditorIsShown" class="oppia-exp-interaction-container">
    <div class="oppia-state-interaction-content oppia-mobile-collapsible-card">
      <div class="oppia-editor-card-body" title="<[getCurrentInteractionName()]>">
        <picture ng-if="!windowIsNarrow">
          <source type="image/webp" ng-srcset="<[getStaticImageUrl('/avatar/user_blue_72px.webp')]>">
          <source type="image/png" ng-srcset="<[getStaticImageUrl('/avatar/user_blue_72px.png')]>">
          <img ng-src="<[getStaticImageUrl('/avatar/user_blue_72px.png')]>" class="oppia-editor-card-avatar" alt="">
        </picture>
        <div class="oppia-editor-card-section-container">
          <div class="oppia-editor-card-section oppia-mobile-collapsible-card-content">
            <button type="button" class="protractor-test-delete-interaction oppia-delete-interaction-button oppia-transition-200" ng-click="deleteInteraction()" ng-if="EditabilityService.isEditable()">
              <i class="material-icons md-18">&#xE5CD;</i>
            </button>

            <div ng-if="hasLoaded" class="protractor-test-interaction" ng-class="{'oppia-editable-section': EditabilityService.isEditable() && !interactionIsDisabled}">
              <div class="oppia-interaction-preview oppia-transition-200"
                   ng-click="openInteractionCustomizerModal()"
                   ng-if="EditabilityService.isEditable()"
                   aria-label="edit interaction">
              </div>
              <div>
                <angular-html-bind html-data="interactionPreviewHtml" class="oppia-interaction-preview-container">
                </angular-html-bind>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</md-card>
<style>
  state-interaction-editor .oppia-exp-interaction-card-header {
    font-size: 18px;
    margin: 0;
    padding: 15px 30px 0;
  }
  state-interaction-editor .oppia-exp-interaction-card-header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  state-interaction-editor .oppia-add-interaction-button-container {
    padding: 20px 30px;
  }
  state-interaction-editor .oppia-exp-interaction-card-header-container i {
    margin: 1.5rem 2rem;
  }
  state-interaction-editor .oppia-exp-interaction-container {
    border: 1.5px solid #d3d1d1;
    border-radius: 4px;
    margin: 15px auto 30px;
    width: 87%;
  }
  state-interaction-editor .oppia-state-interaction-content {
    margin-top: 0;
  }
  state-interaction-editor .oppia-interaction-preview-container {
    padding: 5px;
    pointer-events: none;
  }
  @media screen and (max-width: 768px) {
    state-interaction-editor .oppia-exp-interaction-card-header {
      font-size: 16px;
      padding: 0;
    }
    state-interaction-editor .oppia-exp-interaction-card-header-container i {
      display: block;
    }
    state-interaction-editor .oppia-exp-interaction-card-header-container {
      background-color: #fff;
    }
  }
</style>
