.oppia-admin-page-card {
    max-width: 700px
  }
  .oppia-admin-page-card > button {
    max-width: 30%;
  }
  .oppia-admin-page-card.oppia-long-text p {
    margin: 0 0 1em 0;
  }
  .oppia-admin-page-card .oppia-query-form .mb-3 {
    margin-left: 0;
  }
  .oppia-admin-page-card .oppia-query-form label {
    font-weight: normal;
    width: 30%;
  }
  .oppia-topic-similarities-container > input,
  .oppia-topic-similarities-container > button {
    display: block;
    margin: 5px 0 5px 0;
  }
  .oppia-long-text-card {
    max-width: 700px;
  }

  .oppia-page-card.mat-card {
    margin-top: 40px;
    padding: 30px 55px 30px 45px;
  }
  .oppia-azure-controls-text-container {
    display: flex;
    justify-content: space-between;
  }
  .row > * {
    max-width: none;
    width: auto;
  }
