.oppia-advanced-features-card .oppia-on-off-switch-label,
.oppia-feedback-card .oppia-on-off-switch-label {
  height: 24px;
  width: auto;
}
.oppia-advanced-features-card .oppia-feature-separator {
  margin: 20px 0 20px 0;
}
.oppia-advanced-features-card .form-horizontal > label,
.oppia-feedback-card .form-horizontal > label {
  float: left;
  height: auto;
  padding-right: 0;
  width: 610px;
}
settings-tab .oppia-settings-container {
  margin: 0 auto;
  width: 45%;
}
.oppia-settings-card-container h3 {
  margin-top: 0;
}
settings-tab .oppia-settings-card-container {
  border: 1px solid #707070;
  box-shadow: none;
  padding: 30px 55px;
}
settings-tab .oppia-settings-input-group {
  padding: 12px 0;
}
settings-tab .oppia-features-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
settings-tab .oppia-roles-container {
  position: relative;
}
settings-tab .oppia-edit-roles-btn-container {
  position: absolute;
  right: 0;
  text-align: right;
}
settings-tab .oppia-edit-roles-btn {
  color: #009c8a;
  cursor: pointer;
  font-weight: bold;
}
settings-tab .oppia-permissions-card {
  color: #666;
}
settings-tab .oppia-delete-button {
  background-color: #c55f45;
  color: #fff;
}
settings-tab .secondary-info-text {
  font-size: smaller;
}
settings-tab .oppia-basic-settings-header i {
  display: none;
}
settings-tab .oppia-role-select {
  width: 250px;
}
settings-tab .oppia-info-icon {
  padding-left: 4px;
  vertical-align: text-top;
}
.oppia-settings-container .form-group > label {
  padding-left: 0;
  padding-right: 0;
}
.oppia-settings-container .form-text {
  color: #737373;
  display: inline-block;
  margin-top: 5px;
}
/* Styles for exploration settings */
.oppia-settings-container .has-error .form-text {
  color: #a94442;
}

.oppia-settings-container .col-sm-10 {
  max-width: 100%;
  padding-right: 0;
}
.oppia-settings-container .col-sm-10  > select {
  width: 85%;
}
@media screen and (max-width: 1200px) {
  settings-tab .oppia-settings-container {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  settings-tab .oppia-settings-container {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  settings-tab .oppia-settings-container {
    width: 100%;
  }
  settings-tab .oppia-basic-settings-header i {
    display: block;
  }
  settings-tab .oppia-settings-card-container {
    border: 0;
    padding: 0;
  }
  settings-tab .oppia-basic-settings-header {
    display: flex;
    justify-content: space-between;
  }
  settings-tab .oppia-settings-card-container h3 {
    margin-bottom: 0;
  }
}
.oppia-user-list-item {
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  width: 50%;
}
.oppia-user-list-item:hover {
  background-color: rgba(189, 189, 189, 0.678);
}
.oppia-no-voice-artist-message {
  float: left;
}
