workflows:
  version: 2
  circleci_tests:
    jobs:
      - setup
      - lint_tests:
          requires:
            - setup
      - typescript_tests:
          requires:
            - setup
      - frontend_tests:
          requires:
            - setup
      - backend_tests:
          requires:
            - setup
      - e2e_file_upload_features:
          requires:
            - setup
      - e2e_topic_and_story_editor:
          requires:
            - setup

var_for_docker_image: &docker_image circleci/python:2.7.17-browsers

anchor_for_job_defaults: &job_defaults
  working_directory: /home/circleci/oppia
  # Its okay to hardcode the CC_TEST_REPORTER_ID as the only risk in doing so is
  # when someone uses this test coverage ID to post incorrect coverage data.
  # This generally does not occur and if it happens, it would be replaced with
  # data from subsequent coverage payloads. See this comment for more
  # information: https://github.com/oppia/oppia/pull/7067#issuecomment-508822501
  environment:
    CC_TEST_REPORTER_ID: 561968e2f03d3bb4f1aed69dc94174c2e3b9dc82cf1f8ad31fc799f8c67afc6e
  docker:
    - image: *docker_image

anchor_for_installing_dependencies: &install_dependencies
  name: Install dependencies
  command: |
    python -m scripts.install_third_party_libs

anchor_for_installing_cc_test_reporter: &install_cc
  name: Install codeclimate test reporter
  command: |
    curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
    chmod +x ./cc-test-reporter
    ./cc-test-reporter before-build


version: 2
jobs:
  setup:
    <<: *job_defaults
    steps:
      - checkout
      - run:
          <<: *install_dependencies
      - persist_to_workspace:
          root: /home/circleci/
          paths:
            - oppia/node_modules/
            - oppia/third_party/
            - oppia_tools/

  lint_tests:
    <<: *job_defaults
    steps:
      - checkout
      - attach_workspace:
          at: /home/circleci/
      - run:
          <<: *install_dependencies
      - run:
          name: Run lint tests
          # All the python scripts should behave as modules. Files like the
          # pre_commit_linter and third_party_size_check need to import other
          # Python files and that is only possible if we treat it as a module.
          command: |
            python -m scripts.third_party_size_check
            python -m scripts.pre_commit_linter --path=. --verbose

  typescript_tests:
    <<: *job_defaults
    steps:
      - checkout
      - attach_workspace:
          at: /home/circleci/
      - run:
          <<: *install_dependencies
      - run:
          name: Run typescript tests
          command: |
            python -m scripts.typescript_checks

  frontend_tests:
    <<: *job_defaults
    steps:
      - checkout
      - attach_workspace:
          at: /home/circleci/
      - run:
          <<: *install_dependencies
      - run:
          name: Run frontend tests
          command: |
            python -m scripts.run_frontend_tests --run_minified_tests --skip_install
      - run:
          name: Generate frontend coverage report
          command: |
            sudo pip install codecov
            codecov --file ../karma_coverage_reports/lcov.info -F frontend
          when: on_success

  backend_tests:
    <<: *job_defaults
    steps:
      - checkout
      - attach_workspace:
          at: /home/circleci/
      - run:
          <<: *install_dependencies
      - run: sudo pip install webtest
      - run: sudo pip install coverage
      - run:
          name: Run backend tests
          command: |
            python -m scripts.run_backend_tests --generate_coverage_report --exclude_load_tests
      - run:
          <<: *install_cc
      - run:
          name: Generate backend coverage report
          command: |
            sudo pip install codecov
            codecov -F backend
            ./cc-test-reporter format-coverage -t coverage.py coverage.xml
            ./cc-test-reporter sum-coverage coverage/codeclimate.json
            ./cc-test-reporter upload-coverage
          when: on_success

  e2e_file_upload_features:
    <<: *job_defaults
    steps:
      - checkout
      - attach_workspace:
          at: /home/circleci/
      - run:
          <<: *install_dependencies
      - run:
          name: Run e2e file upload features test
          command: |
            bash scripts/run_e2e_tests.sh --suite="fileUploadFeatures"
  
  e2e_topic_and_story_editor:
    <<: *job_defaults
    steps:
      - checkout
      - attach_workspace:
          at: /home/circleci/
      - run:
          <<: *install_dependencies
      - run:
          name: Run e2e topic and story editor test
          command: |
            bash scripts/run_e2e_tests.sh --suite="topicAndStoryEditor"
notify:
  webhooks:
    # A list of hook hashes, containing the url field
    # gitter hook
    - url: https://webhooks.gitter.im/e/71ac71505d1d45161035
