version: 2.1

workflows:
  circleci_tests:
    # Note: all end-to-end tests have now been moved off CircleCI.

    jobs:
      - e2e_coverage_and_typescript_tests:
          filters:
            branches:
              only:
                - develop

var_for_docker_image: &docker_image circleci/python:3.7.10-browsers

anchor_for_job_defaults: &job_defaults
  working_directory: /home/circleci/oppia
  docker:
    - image: *docker_image

commands:
  merge_target_branch:
    description: "Merge to target branch"
    steps:
      - run:
          name: Merge to target branch
          command: |
            if [[ -n ${CIRCLE_PULL_REQUEST} ]]
            then

              git config --global user.email "$( git log --format='%ae' $CIRCLE_SHA1^! )"
              git config --global user.name "$( git log --format='%an' $CIRCLE_SHA1^! )"

              regexp="[[:digit:]]\+$"
              PR_NUMBER=`echo $CIRCLE_PULL_REQUEST | grep -o $regexp`

              curl -L "https://github.com/stedolan/jq/releases/download/jq-1.5/jq-linux64" -o jq
              chmod +x jq

              url="https://api.github.com/repos/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/pulls/$PR_NUMBER?access_token=$GITHUB_TOKEN"

              target_branch=$(
                curl "$url" | ./jq '.base.ref' | tr -d '"'
              )

              rm jq
              if [[ "$target_branch" == null ]]
              then
                git pull git@github.com:oppia/oppia.git develop --no-edit
              else
                git pull origin $target_branch --no-edit
              fi
            fi

jobs:
  e2e_coverage_and_typescript_tests:
    <<: *job_defaults
    steps:
      - checkout
      - merge_target_branch
      - run:
          name: Setup python by installing wheel
          command: pip install wheel==0.35.0
      - run:
          name: Install dependencies
          command: python -m scripts.install_third_party_libs
      - run:
          name: Check that all e2e test files are captured in protractor.conf.js
          command: python -m scripts.check_e2e_tests_are_captured_in_ci
      - run:
          name: Run typescript tests
          command: |
            python -m scripts.typescript_checks
      - run:
          name: Run typescript tests in strict mode
          command: |
            python -m scripts.typescript_checks --strict_checks

notify:
  webhooks:
    # A list of hook hashes, containing the url field
    # gitter hook
    - url: https://webhooks.gitter.im/e/71ac71505d1d45161035
