<div class="oppia-editor-card-body">
  <div class="oppia-editor-card-section skill-description-container">
    <strong class="heading-text">Skill Description</strong>
    <div class="oppia-input-box-subtitle">
      <i>This is the name of the skill as visible to learners and other creators.</i>
    </div>
    <br>

    <div class="skill-description-wrapper" [ngClass]="{'has-error': !(tmpSkillDescription.length > 0)}">
      <label class="oppia-input-box-subtitle">
        <i>Skill description should be at most {{ MAX_CHARS_IN_SKILL_DESCRIPTION }} characters.</i>
      </label>

      <input
        *ngIf="canEditSkillDescription()"
        type="text"
        aria-label="Skill Description"
        class="form-control e2e-test-skill-description-field"
        [(ngModel)]="tmpSkillDescription"
        (change)="resetErrorMsg()"
        (blur)="saveSkillDescription(tmpSkillDescription)"
        [attr.maxlength]="MAX_CHARS_IN_SKILL_DESCRIPTION"
        ng-trim="false"
      />

      <span *ngIf="errorMsg" class="skill-description-error-message">
        <i>{{ errorMsg }}</i>
      </span>

      <span *ngIf="!canEditSkillDescription()">{{ tmpSkillDescription }}</span>
    </div>
  </div>
</div>

<style>
  .skill-description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 12px;
  }

  span.skill-description-error-message {
    color: #f00;
    display: block;
    font-size: 0.8em;
  }

  @media screen and (max-width: 768px) {
    skill-description-editor .skill-description-container {
      padding: 0;
    }
  }
</style>
