<div role="form">
  <div ng-repeat="property in propertySchemas()">
    <div class="form-group">
      <label for="<[fieldIds[property.name]]>"><[getHumanReadablePropertyDescription(property)]></label>
      <!-- TODO(sll): This is in the wrong place. It should be on the input field. -->
      <div id="<[fieldIds[property.name]]>">
        <schema-based-editor schema="property.schema" is-disabled="isDisabled()"
                             local-value="localValue[property.name]"
                             label-for-focus-target="$index === 0 ? labelForFocusTarget() : ''">
        </schema-based-editor>
      </div>
    </div>
  </div>
</div>
