<style>
  .schema-based-list-editor .oppia-delete-list-entry-button {
    background: none;
    border: 0;
    color: #000;
    cursor: pointer;
    height: 30px;
    margin-top: 6px;
    opacity: 0.5;
    width: 30px;
  }
  .schema-based-list-editor .oppia-delete-list-entry-button:hover {
    opacity: 1;
  }
  .schema-based-list-editor .oppia-new-tab-button-container {
    height: 30px;
    margin-top: 4px;
  }
</style>
<div class="schema-based-list-editor">
  <form #listEditorForm="ngForm">
    <table class="w-100">
      <tr *ngFor="let item of localValue; let idx = index" id="e2e-test-schema-based-list-editor-table-row">
        <td class="e2e-test-schema-based-list-editor-table-data">
          <schema-based-editor [schema]="itemSchema"
                               [disabled]="disabled"
                               [ngModel]="localValue[idx]"
                               [ngModelOptions]="{standalone: true}"
                               (localValueChange)="setValue($event, idx)"
                               [name]="idx"
                               [labelForFocusTarget]="getFocusLabel(idx)"
                               (inputBlur)="(idx === localValue.length - 1 ? lastElementOnBlur() : showAddItemButton())"
                               (inputFocus)="(idx === localValue.length - 1 ? hideAddItemButton() : showAddItemButton())">
          </schema-based-editor>
        </td>
        <div *ngIf="!len && (!minListLength || localValue.length > minListLength) && localValue.length > 0" class="align-top">
          <button class="oppia-delete-list-entry-button oppia-transition-200 e2e-test-delete-list-entry" type="button"
                  (click)="deleteElement(idx)"
                  [disabled]="disabled">
            <i class="fas fa-times"></i>
            <span class="oppia-icon-accessibility-label">Delete this list entry</span>
          </button>
        </div>
      </tr>
    </table>

    <div *ngIf="localValue && showDuplicatesWarning && hasDuplicates()" class="oppia-form-error" aria-live="assertive">
      Please ensure that the list has no duplicates.
    </div>

    <!-- The margin-left is added here to left-align the button with the previous list items. -->
    <div class="oppia-new-tab-button-container">
      <button [style.opacity]="(!isOneLineInput || isAddItemButtonPresent || (localValue && localValue.length && localValue[localValue.length - 1].length)) ? 1 : 0"
              *ngIf="!len && (maxListLength === null || localValue && localValue.length < maxListLength)"
              type="button" class="btn btn-secondary btn-sm ml-0 e2e-test-add-list-entry" (click)="addElement()"
              [disabled]="disabled">
        {{ addElementText | translate }}
      </button>
    </div>
  </form>
</div>
