<span ng-model="$ctrl.localValue" ui-validate="'$ctrl.validate($value, $ctrl.uiConfig())'">
  <span ng-form="$ctrl.floatForm">
    <span ng-if="!expressionMode">
      <input type="text" step="any" autocomplete="off" ng-model="$ctrl.localStringValue" ng-change="$ctrl.parseInput()" class="form-control display-inline oppia-float-form-input protractor-test-float-form-input"
             name="floatValue" ng-attr-placeholder="<['I18N_FORMS_TYPE_NUMBER' | translate]>"
             focus-on="<[$ctrl.labelForFocusTarget()]>" ng-keypress="$ctrl.onKeypress($event)"
             apply-validation validators="$ctrl.validators()" min="<[$ctrl.minValue]>"
             ng-blur="$ctrl.onBlur()" ng-focus="$ctrl.onFocus()"
             >

      <span class="oppia-form-error oppia-numeric-input-error" ng-if="$ctrl.errorString">
        <[$ctrl.errorString]>
      </span>
      <span ng-if="$ctrl.hasLoaded && !$ctrl.isUserCurrentlyTyping && $ctrl.hasFocusedAtLeastOnce"
            class="position-absolute oppia-form-container"
            tabindex="-1" focus-on="<[$ctrl.labelForErrorFocusTarget]>">
        <span ng-if="$ctrl.floatForm.floatValue.$error.isFloat && $ctrl.floatForm.floatValue.$viewValue" class="oppia-form-error" aria-live="assertive" translate="I18N_FORMS_TYPE_NUMBER_INVALID_DECIMAL"></span>
        <span ng-if="!$ctrl.floatForm.floatValue.$error.isFloat && $ctrl.floatForm.floatValue.$error.isAtLeast"
              class="oppia-form-error" aria-live="assertive" translate="I18N_FORMS_TYPE_NUMBER_AT_LEAST" translate-values="{minValue: minValue}">
        </span>
        <span ng-if="!$ctrl.floatForm.floatValue.$error.isFloat && $ctrl.floatForm.floatValue.$error.isAtMost"
              class="oppia-form-error" aria-live="assertive" translate="I18N_FORMS_TYPE_NUMBER_AT_MOST" translate-values="{maxValue: maxValue}">
        </span>
      </span>
    </span>
  </span>
</span>

<style>
  schema-based-float-editor .oppia-numeric-input-error {
    margin-top: 10px;
  }
  schema-based-float-editor input.oppia-float-form-input {
    -moz-appearance: textfield;
  }
  schema-based-float-editor input.oppia-float-form-input::-webkit-outer-spin-button,
  schema-based-float-editor input.oppia-float-form-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  schema-based-float-editor .oppia-form-container {
    font-size: 0.85em;
  }
</style>
