oppia-admin-dev-mode-activities-tab .admin-dev-mode-activities-tab .oppia-admin-page-card .row {
  margin-left: 0;
}
oppia-admin-dev-mode-activities-tab .admin-dev-mode-activities-tab .oppia-reload-collection-row,
oppia-admin-dev-mode-activities-tab .oppia-reload-exploration-row {
  margin-bottom: 5px;
}
oppia-admin-dev-mode-activities-tab .admin-dev-mode-activities-tab .oppia-long-text-card {
  max-width: 700px;
}
oppia-admin-dev-mode-activities-tab .admin-dev-mode-activities-tab .oppia-form-inline {
  margin-bottom: 5px;
}
oppia-admin-dev-mode-activities-tab .admin-dev-mode-activities-tab .oppia-publish-exploration-text {
  font-size: smaller;
}
oppia-admin-dev-mode-activities-tab .admin-dev-mode-activities-tab .oppia-generate-exploration-text {
  margin-top: 20px;
}
oppia-admin-dev-mode-activities-tab .admin-dev-mode-activities-tab .instruction {
  color: #555;
  font-size: smaller;
  font-style: italic;
  margin-top: 5px;
}
