.admin-dev-mode-activities-tab .oppia-admin-page-card .row {
    margin-left: 0;
  }
  .admin-dev-mode-activities-tab .oppia-reload-collection-row, .oppia-reload-exploration-row {
    margin-bottom: 5px;
  }
  .admin-dev-mode-activities-tab .oppia-long-text-card {
    max-width: 700px;
  }
  .admin-dev-mode-activities-tab .oppia-form-inline {
    margin-bottom: 5px;
  }
  .admin-dev-mode-activities-tab .oppia-publish-exploration-text {
    font-size: smaller;
  }
  .admin-dev-mode-activities-tab .oppia-generate-exploration-text {
    margin-top: 20px;
  }
  .admin-dev-mode-activities-tab .instruction {
    color: #555;
    font-size: smaller;
    font-style: italic;
    margin-top: 5px;
  }
