<div class="float-left navbar-header protractor-test-navbar-header">
  <a ng-if="$ctrl.windowIsNarrow" ng-click="$ctrl.toggleSidebar()"
     class="navbar-brand oppia-navbar-menu oppia-transition-200 protractor-mobile-test-navbar-button"
     tabindex="0">
    <i class="material-icons oppia-navbar-menu-icon" ng-if="!$ctrl.isSidebarShown()" >&#xE5D2;</i>
    <i class="material-icons oppia-navbar-close-icon" ng-if="$ctrl.isSidebarShown()" >&#10005;</i>
  </a>

  <a class="oppia-navbar-brand-name oppia-transition-200 protractor-test-oppia-main-logo d-none d-sm-block" href="/"
     focus-on="<[::$ctrl.LABEL_FOR_CLEARING_FOCUS]>"
     ng-class="$ctrl.windowIsNarrow ? 'oppia-logo-small' : 'oppia-logo-wide'">
    <picture>
      <source type="image/webp" ng-srcset="<[$ctrl.getStaticImageUrl('/logo/288x128_logo_white.webp')]>">
      <source type="image/png" ng-srcset="<[$ctrl.getStaticImageUrl('/logo/288x128_logo_white.png')]>">
      <img ng-src="<[$ctrl.getStaticImageUrl('/logo/288x128_logo_white.png')]>" class="oppia-logo"
           alt="Oppia Home" ng-style="!$ctrl.windowIsNarrow && {'width': '90px'}">
    </picture>
  </a>
</div>

<div ng-cloak class="float-right navbar-header" ng-if="$ctrl.userMenuIsShown" role="menu">
  <ul class="nav oppia-navbar-nav" ng-if="$ctrl.standardNavIsShown">
    <li>
      <ul ng-if="$ctrl.windowIsNarrow" class="nav oppia-navbar-tabs-narrow">
        <li><create-activity-button></create-activity-button></li>
      </ul>
    </li>
    <li>
      <ul ng-if="!$ctrl.windowIsNarrow" class="nav oppia-navbar-tabs">
        <li ng-show="$ctrl.navElementsVisibilityStatus.I18N_TOPNAV_LIBRARY" class="nav-item oppia-clickable-navbar-element">
          <a ng-mouseover="$ctrl.blurNavigationLinks($event)"
             class="nav-link oppia-navbar-tab oppia-navbar-tab-content"
             href="/community-library"
             translate="I18N_TOPNAV_LIBRARY">
          </a>
        </li>
        <li ng-class="{'open' : $ctrl.activeMenuName === 'aboutMenu'}" uib-dropdown ng-show="$ctrl.navElementsVisibilityStatus.I18N_TOPNAV_ABOUT" class="nav-item  oppia-navbar-clickable-dropdown protractor-test-about-oppia-list-item">
          <a ng-keydown="$ctrl.onMenuKeypress($event, 'aboutMenu', {shiftTab: $ctrl.ACTION_CLOSE, enter: $ctrl.ACTION_OPEN})" class="nav-link oppia-navbar-tab dropdown-toggle"
             role="menuitem"
             aria-haspopup="true"
             aria-expanded="false"
             tabindex="0"
             ng-mouseover="$ctrl.openSubmenu($event, 'aboutMenu')"
             ng-mouseleave="$ctrl.closeSubmenuIfNotMobile($event)">
            <span class="oppia-navbar-tab-content" translate="I18N_TOPNAV_ABOUT"></span>
          </a>
          <ul uib-dropdown-menu class="uib-dropdown-menu oppia-navbar-dropdown"
              ng-mouseover="$ctrl.openSubmenu($event, 'aboutMenu')"
              ng-mouseleave="$ctrl.closeSubmenuIfNotMobile($event)"
              role="menu">
            <li class="nav-item">
              <a ng-keydown="$ctrl.onMenuKeypress($event, 'aboutMenu', {shiftTab: $ctrl.ACTION_CLOSE})"
                 class="dropdown-item nav-link oppia-navbar-tab-content protractor-test-about-link"
                 href="/about"
                 translate="I18N_TOPNAV_ABOUT_OPPIA">
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item nav-link oppia-navbar-tab-content protractor-test-get-started-link "
                 href="/get-started"
                 translate="I18N_TOPNAV_GET_STARTED">
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item nav-link oppia-navbar-tab-content protractor-test-playbook-link "
                 href="/teach#participation"
                 translate="I18N_TOPNAV_PARTICIPATION_PLAYBOOK">
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item nav-link oppia-navbar-tab-content"
                 href="https://medium.com/oppia-org"
                 target="_blank"
                 rel="noopener"
                 translate="I18N_TOPNAV_BLOG">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item nav-link oppia-navbar-tab-content"
                 href="/contact"
                 translate="I18N_TOPNAV_CONTACT_US">
              </a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item nav-link oppia-navbar-tab-content"
                 href="http://oppiafoundation.org"
                 target="_blank"
                 rel="noopener"
                 translate="I18N_TOPNAV_OPPIA_FOUNDATION">
              </a>
            </li>
            <li class="nav-item">
              <a ng-keydown="$ctrl.onMenuKeypress($event, 'aboutMenu', {tab: $ctrl.ACTION_CLOSE})"
                 class="dropdown-item nav-link oppia-navbar-tab-content"
                 href="https://oppiafoundation.org/volunteer"
                 target="_blank"
                 rel="noopener"
                 translate="I18N_TOPNAV_GET_INVOLVED">
              </a>
            </li>
          </ul>
        </li>
        <li ng-if="$ctrl.CLASSROOM_PAGE_IS_SHOWN"
            ng-class="{'open' : $ctrl.activeMenuName === 'classroomMenu'}"
            uib-dropdown
            ng-show="$ctrl.navElementsVisibilityStatus.I18N_TOPNAV_CLASSROOM"
            aria-hidden="false"
            class="nav-item  oppia-navbar-clickable-dropdown protractor-test-classroom-oppia-list-item">
          <a ng-keydown="$ctrl.onMenuKeypress($event, 'classroomMenu', {shiftTab: $ctrl.ACTION_CLOSE, enter: $ctrl.ACTION_OPEN})"
             class="nav-link oppia-navbar-tab dropdown-toggle"
             role="menuitem"
             aria-haspopup="true"
             aria-expanded="false"
             aria-hidden="false"
             tabindex="0"
             ng-mouseover="$ctrl.openSubmenu($event, 'classroomMenu')"
             ng-mouseleave="$ctrl.closeSubmenuIfNotMobile($event)">
            <span class="oppia-navbar-tab-content" translate="I18N_TOPNAV_CLASSROOM"></span>
          </a>
          <ul uib-dropdown-menu class="uib-dropdown-menu oppia-navbar-dropdown"
              ng-mouseover="$ctrl.openSubmenu($event, 'classroomMenu')"
              ng-mouseleave="$ctrl.closeSubmenuIfNotMobile($event)"
              role="menu">
            <li class="nav-item">
              <a ng-keydown="$ctrl.onMenuKeypress($event, 'classroomMenu', {shiftTab: $ctrl.ACTION_CLOSE})"
                 class="dropdown-item nav-link oppia-navbar-tab-content protractor-test-classroom-link"
                 href="/math" translate="I18N_TOPNAV_CLASSROOM_BASIC_MATHS">
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" ng-mouseover="$ctrl.blurNavigationLinks($event)" ng-show="$ctrl.navElementsVisibilityStatus.I18N_TOPNAV_DONATE">
          <div class="oppia-navbar-button-container">
            <a href="/donate"
               class="btn oppia-navbar-button nav-link oppia-navbar-hide-on-small-width oppia-transition-200">
              <span class="oppia-navbar-tab-content" translate="I18N_TOPNAV_DONATE"></span>
            </a>
          </div>
        </li>
        <li>
          <create-activity-button ng-mouseover="$ctrl.blurNavigationLinks($event)" ng-show="$ctrl.navElementsVisibilityStatus.I18N_CREATE_EXPLORATION_CREATE"></create-activity-button>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="nav oppia-navbar-nav oppia-navbar-profile">
    <li ng-class="{'open' : $ctrl.activeMenuName === 'profileMenu'}" uib-dropdown ng-if="$ctrl.userIsLoggedIn" class="nav-item protractor-test-profile-dropdown oppia-navbar-clickable-dropdown">
      <a ng-keydown="$ctrl.onMenuKeypress($event, 'profileMenu', {shiftTab: $ctrl.ACTION_CLOSE, enter: $ctrl.ACTION_OPEN})"
         class="nav-link oppia-navbar-dropdown-toggle"
         role="menuitem"
         aria-haspopup="true"
         aria-expanded="false"
         aria-label="User Menu"
         tabindex="0"
         ng-mouseover="$ctrl.openSubmenu($event, 'profileMenu')"
         ng-mouseleave="$ctrl.closeSubmenuIfNotMobile($event)">
        <div class="oppia-navbar-profile-picture-container dropdown-toggle">
          <span ng-if="$ctrl.profilePictureDataUrl">
            <img ng-src="<[$ctrl.profilePictureDataUrl]>" class="oppia-navbar-profile-picture rounded-circle" alt="User Avatar">
          </span>
          <span ng-if="!$ctrl.profilePictureDataUrl">
            <i class="material-icons md-40" style="margin-top: -1px;">&#xE853;</i>
            <span class="oppia-icon-accessibility-label">User Avatar</span>
          </span>

          <div class="oppia-navbar-dashboard-indicator ng-cloak" ng-if="$ctrl.numUnseenNotifications > 0">
            <span class="oppia-navbar-dashboard-indicator-text">
              <[$ctrl.numUnseenNotifications]>
            </span>
          </div>

          <div class="oppia-navbar-role-indicator" ng-if="$ctrl.isAdmin || $ctrl.isModerator">
            <!--
             "right: 4px;" is necessary here but not in moderator to prevent 'A'
             from appearing off-center because 'A' is slightly thinner than 'M' in
             this font.
            -->
            <span ng-if="$ctrl.isAdmin" class="oppia-navbar-role-text protractor-test-admin-text" style="right: 4px;">A</span>
            <span ng-if="$ctrl.isModerator && !$ctrl.isAdmin" class="oppia-navbar-role-text protract-test-moderator-text">M</span>
          </div>
        </div>
      </a>

      <ul uib-dropdown-menu class="ng-cloak oppia-navbar-dropdown uib-dropdown-menu" role="menu"
          ng-mouseover="$ctrl.openSubmenu($event, 'profileMenu')"
          ng-mouseleave="$ctrl.closeSubmenuIfNotMobile($event)">
        <li class="nav-item">
          <a ng-click="$ctrl.closeSubmenuIfNotMobile($event)" ng-href="<[$ctrl.profilePageUrl]>"
             class="dropdown-item nav-link protractor-test-profile-link"
             ng-keydown="$ctrl.onMenuKeypress($event, 'profileMenu', {shiftTab: $ctrl.ACTION_CLOSE})">
            <strong><[$ctrl.username]></strong>
          </a>
        </li>
        <hr class="oppia-top-right-menu-item-separator">
        <li class="nav-item">
          <a ng-click="$ctrl.closeSubmenuIfNotMobile($event)" href="/creator-dashboard"
             class="dropdown-item nav-link protractor-test-creator-dashboard-link">
            <span translate="I18N_TOPNAV_CREATOR_DASHBOARD"></span>
          </a>
        </li>
        <li class="nav-item">
          <a ng-click="$ctrl.closeSubmenuIfNotMobile($event)" href="/learner-dashboard"
             class="dropdown-item nav-link protractor-test-learner-dashboard-link">
            <span translate="I18N_TOPNAV_LEARNER_DASHBOARD"></span>
          </a>
        </li>
        <li class="nav-item">
          <a ng-if="($ctrl.isAdmin || $ctrl.isTopicManager)" ng-click="$ctrl.closeSubmenuIfNotMobile($event)"
             href="/topics-and-skills-dashboard" class="dropdown-item nav-link protractor-test-topics-and-skills-dashboard-link">
            <span translate="I18N_TOPNAV_TOPICS_AND_SKILLS_DASHBOARD"></span>
          </a>
        </li>
        <li class="nav-item">
          <a ng-click="$ctrl.closeSubmenuIfNotMobile($event)" href="/notifications"
             class="dropdown-item nav-link protractor-test-notifications-link">
            <span translate="I18N_TOPNAV_NOTIFICATIONS"></span>
            <span ng-if="$ctrl.numUnseenNotifications > 0">
              (<[$ctrl.numUnseenNotifications]>)
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a ng-click="$ctrl.closeSubmenuIfNotMobile($event)" href="/preferences"
             class="dropdown-item nav-link protractor-test-preferences-link">
            <span translate="I18N_TOPNAV_PREFERENCES"></span>
          </a>
        </li>
        <li class="nav-item" ng-if="$ctrl.isModerator">
          <a class="dropdown-item nav-link" ng-click="$ctrl.closeSubmenuIfNotMobile($event)" href="/moderator" target="_blank" rel="noopener">
            <span translate="I18N_TOPNAV_MODERATOR_PAGE"></span>
          </a>
        </li>
        <li class="nav-item" ng-if="$ctrl.isSuperAdmin">
          <a class="dropdown-item nav-link protractor-test-admin-link" ng-click="$ctrl.closeSubmenuIfNotMobile($event)"
             href="/admin" target="_blank" rel="noopener">
            <span translate="I18N_TOPNAV_ADMIN_PAGE"></span>
          </a>
        </li>
        <hr class="oppia-top-right-menu-item-separator">
        <li class="nav-item">
          <a ng-click="$ctrl.closeSubmenuIfNotMobile($event);$ctrl.onLogoutButtonClicked()" ng-href="<[$ctrl.logoutUrl]>"
             class="dropdown-item nav-link"
             ng-keydown="$ctrl.onMenuKeypress($event, 'profileMenu', {tab: $ctrl.ACTION_CLOSE})">
            <span translate="I18N_TOPNAV_LOGOUT"></span>
          </a>
        </li>
      </ul>
    </li>

    <li uib-dropdown ng-if="!$ctrl.userIsLoggedIn && $ctrl.username !== ''" class="nav-item
     oppia-navbar-clickable-dropdown">
      <div class="oppia-navbar-button-container" style="margin-right: 10px;">
        <button class="btn dropdown-toggle oppia-navbar-button protractor-mobile-test-login"
                ng-click="$ctrl.onLoginButtonClicked()">
          <span translate="I18N_TOPNAV_SIGN_IN"></span>
        </button>
      </div>
      <ul uib-dropdown-menu class="uib-dropdown-menu oppia-navbar-dropdown" role="menu"
          style="margin-right: 15px; padding: 0;">
        <li class="nav-item">
          <a href="" style="padding: 0; width: 190px;" ng-click="$ctrl.onLoginButtonClicked()"
             class="nav-link">
            <div class="oppia-signin-google">
              <div class="oppia-signin-g-icon">
                <img ng-src="<[$ctrl.googleSignInIconUrl]>">
              </div>
              <span class="oppia-signin-text" translate="I18N_TOPNAV_SIGN_IN_WITH_GOOGLE"></span>
            </div>
          </a>
        </li>
      </ul>
    </li>

    <li uib-dropdown ng-if="$ctrl.username === ''" class="oppia-navbar-clickable-dropdown">
      <div class="oppia-navbar-button-container" style="margin-right: 10px;">
      </div>
    </li>
  </ul>
</div>
<style>
  .oppia-navbar-brand-name:focus {
    outline: 1px dotted #fff;
    outline: auto 5px -webkit-focus-ring-color;
  }
  top-navigation-bar .oppia-signin-google {
    background-color: #FFFFFF;
    border-radius: 5px;
    border-width: 0;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
    color: #737373;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: middle;
    white-space: nowrap;
  }
  top-navigation-bar .oppia-signin-google:focus,
  top-navigation-bar .oppia-signin-google:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  top-navigation-bar .oppia-signin-google:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
  top-navigation-bar .oppia-signin-g-icon {
    float: left;
    padding: 10px 24px 10px 0;
  }
  top-navigation-bar .oppia-navbar-menu-icon {
    color: #fff;
    margin-top: -5px;
  }
  top-navigation-bar .oppia-navbar-dashboard-indicator-text {
    bottom: 0;
    color: white;
    font-size: 1.12rem;
    font-weight: bold;
    position: absolute;
    right: 4px;
  }
  top-navigation-bar .oppia-navbar-clickable-dropdown:hover ul.uib-dropdown-menu {
    display: block;
  }
  top-navigation-bar .oppia-navbar-role-text {
    bottom: 0;
    color: white;
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    right: 3px;
  }
  top-navigation-bar .oppia-navbar-dashboard-indicator {
    background-color: #f7a541;
    border-radius: 20px;
    height: 15px;
    position: absolute;
    right: 25px;
    top: 8px;
    width: 15px;
  }
  top-navigation-bar .oppia-navbar-menu {
    margin-left: 10px;
    opacity: 0.9;
    outline-color: transparent;
    padding-top: 20px;
  }
  top-navigation-bar .oppia-navbar-menu:hover {
    opacity: 1;
  }
  top-navigation-bar .oppia-navbar-menu:focus {
    outline: 1px dotted #212121;
    outline: auto 5px -webkit-focus-ring-color;
  }
  top-navigation-bar .oppia-navbar-profile {
    float: right;
  }
  top-navigation-bar .oppia-navbar-role-indicator {
    background-color: #f7a541;
    border-radius: 20px;
    bottom: 10px;
    height: 15px;
    position: absolute;
    right: 25px;
    width: 15px;
  }
  top-navigation-bar .oppia-navbar-close-icon {
    color: #fff;
    margin-right: 4px;
    margin-top: -10px;
  }
  top-navigation-bar .oppia-signin-text {
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .21px;
    line-height: 38px;
  }
  .oppia-navbar-profile > li:hover {
    background-color: #fff;
   }
</style>
