.dropdn {
    position: absolute;
    z-index: 500;
  }
  /*
    Added this because Bootstrap was behaving unexpectedly by
    adding CSS which was breaking the dropdown position while
    in the embedded player.
  */
  .oppia-embedded-navbar-dropdown {
    left: auto !important;
    position: absolute;
    top: auto !important;
    transform: translate(0, 0) !important;
    will-change: auto !important;
  }
  @media only screen and (max-width: 335px) {
    :lang(ar) .sinin {
      font-size: 0.5rem;
      padding: 0;
      position: relative;
      top: 2rem;
    }
  }

  @media only screen and (max-width: 355px) {
    .langbtn {
      margin-left: 0;
      margin-right: 0;
      margin-top: 4px;
      padding: 0;
    }
    .langi {
      margin-left: 0;
      margin-right: 0;
      margin-top: 4px;
      padding-left: 2px;
    }
    .langcd {
      margin-left: 0;
      margin-right: 0;
      margin-top: 4px;
      padding: 0;
    }
    .langbtnContainer {
      margin-left: 0;
      margin-right: 0;
      margin-top: 4px;
    }
    .sinin {
      margin-left: 0;
      margin-right: 0;
      margin-top: 3px;
      padding: 3px;
    }
    :lang(ar) .langbtn {
      height: 28px;
      margin-top: 6px;
      padding: 0;
      position: relative;
      top: 6.2rem;
      width: 80px;
    }
    :lang(ar) .langi {
      font-size: 1.2rem;
      margin-left: 1rem;
      margin-right: 0;
      margin-top: 4px;
      padding-left: 0;
    }
    :lang(ar) .langbtnContainer {
      margin-left: 1rem;
      margin-right: 0;
      margin-top: 4px;
    }
    :lang(ar) .sinin {
    font-size: 1.2rem;
    padding: 0;
    position: relative;
    top: 3.4rem;
    }
    :lang(ar) .pfl {
      position: relative;
      top: 6rem;
    }
    .oppia-language-dropdown-button-embedded {
      margin-top: 8px;
      padding: 0 1px 2px 2px;
    }
  }

  @media only screen and (max-width: 308px) {
    :lang(ar) .langbtn {
      margin-top: 6px;
      padding: 0;
      position: relative;
    }
  }
