/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/
.oppia-top-navigation-bar .oppia-navbar-tab:focus {
  background-color: #fff;
  color: #00645c;
}

.oppia-top-navigation-bar .arrow-forward {
  color: #00645c;
  font-size: 14px;
  margin-left: 4px;
}
.oppia-top-navigation-bar .launch {
  font-size: 12px;
  margin-left: 90px;
}

.oppia-top-navigation-bar .underline:hover,
.oppia-top-navigation-bar .underline:focus {
  border-bottom: 2px solid #333;
  transition: 50ms;
}
.oppia-top-navigation-bar .get-involved-dropdown a {
  text-decoration: none;
}
.oppia-top-navigation-bar .heading a {
  color: #212121;
}
.oppia-top-navigation-bar .nav-item-links a {
  color: #212121;
  text-decoration: none;
}
.oppia-top-navigation-bar .learn-dropdown-menu a,
.oppia-top-navigation-bar .about-dropdown-menu a,
.oppia-top-navigation-bar .get-involved-dropdown a {
  text-decoration: none;
}
.oppia-top-navigation-bar .learn-dropdown-menu .nav-item-top-link a {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}
.oppia-top-navigation-bar .dropdown-menu .innvolved-item:hover a {
  border-bottom: #333 solid 2px;
  transition: 50ms;
}

.oppia-top-navigation-bar .get-involved-dropdown {
  min-width: 574px;
  padding: 0;
}
.oppia-top-navigation-bar .get-involved-dropdown .nav-item {
  width: 100%;
}
.oppia-top-navigation-bar .get-involved-dropdown .heading {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  padding: 0;
}
.oppia-top-navigation-bar .get-involved-dropdown .language {
  color: #f2994a;
  font-size: 18px;
}
.oppia-top-navigation-bar .get-involved-dropdown .volunteer {
  color: #2d9cdb;
  font-size: 18px;
}
.oppia-top-navigation-bar .get-involved-dropdown .contact {
  color: #b4bbc3;
  font-size: 18px;
}
.oppia-top-navigation-bar .get-involved-dropdown .fav {
  color: #eb5757;
  font-size: 18px;
}
.oppia-top-navigation-bar .get-involved-dropdown .des {
  color: #767676;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  padding-left: 36px;
  text-overflow: clip;
}
.oppia-top-navigation-bar .item-border {
  border-right: 1px solid rgba(33, 33, 33, 0.102);
}

.oppia-top-navigation-bar .top-section {
  border-bottom: 1px solid rgba(33, 33, 33, 0.102);
}

.oppia-top-navigation-bar .top-section .heading {
  align-items: center;
  display: flex;
}

.oppia-top-navigation-bar .bottom-section .heading {
  align-items: center;
  display: flex;
}

.oppia-top-navigation-bar .top-section .heading-text {
  display: inline-block;
  margin-left: 7px;
}

.oppia-top-navigation-bar .bottom-section .heading-text {
  margin-left: 9px;
}

.oppia-top-navigation-bar .item {
  padding: 32px;
  width: 287px;
}
.oppia-top-navigation-bar .item:hover,
.oppia-top-navigation-bar .item:focus {
  background-color: rgba(33, 33, 33, 0.027);
}
.oppia-top-navigation-bar .dropdown-menu .signin-dropdown {
  border-radius: 1px;
  height: 41px;
  width: 200px;
}
.oppia-top-navigation-bar .top-section .item {
  padding-bottom: 27px;
}
.oppia-top-navigation-bar .bottom-section .item {
  padding-top: 27px;
}

.oppia-top-navigation-bar.navbar-header {
  float: left;
}

.oppia-top-navigation-bar .oppia-logo-wide {
  margin-left: 25px;
}

.oppia-top-navigation-bar .dropdown-toggle::after {
  margin-left: 0.255em;
  margin-right: 0.255em;
}

.oppia-top-navigation-bar .learn-dropdown-menu {
  border-radius: 3px;
  padding: 0;
}
.oppia-top-navigation-bar .classroom-enabled {
  min-width: 688px;
}
.oppia-top-navigation-bar .classroom-disabled {
  min-width: 300px;
}
.oppia-top-navigation-bar .language-dropdown {
  max-height: 60vh;
  overflow-y: auto;
  width: 300px;
}
.oppia-top-navigation-bar .learn {
  height: 66.5px;
}
.oppia-top-navigation-bar .learn-dropdown-menu .nav-item-top-link {
  padding: 0;
  padding-bottom: 8px;
}
.oppia-top-navigation-bar .learn-dropdown-menu .nav-item-right-head {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 14.06px;
  padding: 0;
  padding-bottom: 8px;
  text-transform: uppercase;
}
.oppia-top-navigation-bar .learn-dropdown-menu .nav-item-links {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  padding: 0;
  padding-top: 16px;
  text-transform: capitalize;
}

.oppia-top-navigation-bar .learn-dropdown-menu .nav-item-left {
  border-right: 1px solid rgba(0, 0, 0, 0.051);
  padding: 32px;
  width: 388px;
}

.oppia-top-navigation-bar .learn-dropdown-menu .nav-item-right {
  min-width: 300px;
  padding: 32px;
}

.oppia-top-navigation-bar .learn-dropdown-menu .nav-item-left:hover,
.oppia-top-navigation-bar .learn-dropdown-menu .nav-item-right:hover,
.oppia-top-navigation-bar .learn-dropdown-menu .nav-item-left:focus,
.oppia-top-navigation-bar .learn-dropdown-menu .nav-item-right:focus {
  background-color: rgba(33, 33, 33, 0.027);
}
.oppia-top-navigation-bar .about-dropdown-menu .nav-item a:hover,
.oppia-top-navigation-bar .about-dropdown-menu .nav-item a:focus {
  background-color: rgba(33, 33, 33, 0.027);
}
.oppia-top-navigation-bar .about-dropdown-menu .about-link:hover,
.oppia-top-navigation-bar .about-dropdown-menu .about-link:focus {
  color: #009688 !important;
}
.oppia-top-navigation-bar .nav-item-left-head {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}
.oppia-top-navigation-bar .learn-dropdown-menu .nav-content {
  color: #767676;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 224px;
}
.oppia-top-navigation-bar .learn-dropdown-menu .nav-item-bottom-link {
  color: #00645c;
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  padding: 0;
  padding-top: 16px;
}
.oppia-top-navigation-bar .learn-dropdown-menu .nav-item-bottom-link-logged {
  color: #00645c;
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  padding: 0;
}
.oppia-top-navigation-bar .oppia-navbar-nav .dropdown-menu {
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  left: auto;
  right: 0;
  text-align: left;
}

.oppia-top-navigation-bar .language-icon {
  font-size: 20px;
  vertical-align: text-bottom;
}

.oppia-top-navigation-bar .language-padding-left {
  padding-left: 26px;
}
.oppia-top-navigation-bar .oppia-nav-right-dropdown {
  background-color: #fff;
  border-radius: 5px;
  border-width: 0;
  box-shadow: 1px 1px 0 1px rgba(0,0,0,0.05);
  color: #737373;
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
  white-space: nowrap;
}

.oppia-top-navigation-bar .oppia-navbar-brand-name:focus {
  outline: 1px dotted #fff;
  outline: auto 5px -webkit-focus-ring-color;
}
.oppia-top-navigation-bar .language-element {
  border-radius: 0;
  box-shadow: 0 0;
  color: #34665c;
  padding: 10px 0;
}
.oppia-top-navigation-bar .language-element:hover {
  background-color: rgb(52, 102, 92, 0.1);
}
.oppia-top-navigation-bar .language-element-selected {
  background-color: rgb(52, 102, 92, 0.1);
}
.oppia-top-navigation-bar .oppia-nav-right-dropdown:focus,
.oppia-top-navigation-bar .oppia-nav-right-dropdown:hover {
  box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
}
.oppia-top-navigation-bar .oppia-nav-right-dropdown:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}
.oppia-top-navigation-bar .oppia-navbar-button-container.dropdown.oppia-navbar-button-container-extra-info {
  margin-left: 10px;
}
.oppia-top-navigation-bar .oppia-navbar-button-container .btn.oppia-navbar-button {
  margin-left: 5px;
  margin-right: 0;
}

.oppia-top-navigation-bar .oppia-signin-g-icon {
  float: left;
  padding: 10px 15px 10px 0;
}
.oppia-top-navigation-bar .oppia-navbar-dashboard-indicator-text {
  bottom: 0;
  color: white;
  font-size: 1.12rem;
  font-weight: bold;
  position: absolute;
  right: 4px;
}
.oppia-top-navigation-bar .oppia-navbar-role-text {
  bottom: 0;
  color: white;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  right: 3px;
}
.oppia-top-navigation-bar .oppia-navbar-dashboard-indicator {
  background-color: #f7a541;
  border-radius: 20px;
  height: 15px;
  position: absolute;
  right: 25px;
  top: 8px;
  width: 15px;
}
.oppia-top-navigation-bar .oppia-navbar-menu {
  margin-left: 10px;
  opacity: 0.9;
  outline-color: transparent;
  padding-top: 20px;
}
.oppia-top-navigation-bar .oppia-navbar-profile {
  float: right;
}
.oppia-top-navigation-bar .oppia-navbar-role-indicator {
  background-color: #f7a541;
  border-radius: 20px;
  bottom: 10px;
  height: 15px;
  position: absolute;
  right: 25px;
  width: 15px;
}
.oppia-top-navigation-bar .oppia-navbar-close-icon {
  color: #fff;
  font-size: 22px;
  margin-right: 4px;
  margin-top: -5px;
}
.oppia-top-navigation-bar .oppia-launch-icon {
  color: #009688;
  font-size: 22px;
}
.oppia-top-navigation-bar .oppia-user-avatar-icon {
  font-size: 36px;
}
.oppia-top-navigation-bar .oppia-admin-text {
  right: 4px;
}
.oppia-top-navigation-bar .oppia-navbar-button-container-extra-info {
  margin-right: 10px;
}
.oppia-top-navigation-bar .oppia-navbar-dropdown-menu {
  margin-right: 15px;
  padding: 0;
}
.oppia-top-navigation-bar .oppia-navbar-dropdown {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}

.oppia-top-navigation-bar .oppia-navbar-profile-picture-container .caret {
  margin: 4px;
  margin-left: 10px;
}
.oppia-top-navigation-bar .oppia-navbar-profile-picture-container {
  margin-left: 10px;
  text-align: right;
}

.oppia-top-navigation-bar .oppia-navbar-dropdown .nav-link {
  color: #009688;
}
.oppia-top-navigation-bar .oppia-navbar-dropdown .nav-link:hover {
  color: #888;
}

.oppia-top-navigation-bar .oppia-signin-text {
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .21px;
  line-height: 41px;
}
.oppia-top-navigation-bar .oppia-navbar-menu-icon {
  color: #fff;
  font-size: 22px;
  margin-top: -5px;
}
.oppia-top-navigation-bar .oppia-navbar-clickable-dropdown:hover ul.dropdown-menu {
  display: block;
}
.oppia-top-navigation-bar .oppia-navbar-menu:hover {
  opacity: 1;
}
.oppia-top-navigation-bar .oppia-navbar-menu:focus {
  outline: 1px dotted #212121;
  outline: 5px -webkit-focus-ring-color;
}
.oppia-top-navigation-bar .oppia-nav-link {
  padding: 0;
  width: 190px;
}
.oppia-top-navigation-bar .oppia-navbar-dropdown-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 30px;
}
.oppia-top-navigation-bar .oppia-navbar-tab-content-heading {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
}

.oppia-top-navigation-bar .oppia-navbar-tab-content-heading:after {
  border-style: solid;
  border-width: 0 0 1.59px;
  bottom: 1px;
  content: '';
  left: 28px;
  position: absolute;
  width: 50.5px;
}

.oppia-top-navigation-bar .oppia-navbar-dropdown-heart-icon {
  color: #eb5757;
  font-size: 22px;
  padding-right: 6px;
}
.oppia-top-navigation-bar .oppia-navbar-tab-content-desc {
  color: #767676;
  line-height: 20px;
  margin-left: 28px;
  opacity: 0.9;
}
.oppia-top-navigation-bar .oppia-navbar-dropdown-right {
  left: 0;
  min-width: 285px;
  padding: 0;
  right: auto;
}

.oppia-top-navigation-bar .oppia-navbar-nav.oppia-navbar-profile .profile-dropdown:hover {
  background-color: #fff;
}
.oppia-top-navigation-bar .oppia-navbar-arrow-right {
  font-size: 14px;
  padding-left: 8px;
  padding-top: 1.5px;
}
.oppia-top-navigation-bar .oppia-tick-mark {
  font-size: 15px;
  margin-right: 5px;
  padding-left: 5px;
}
.oppia-top-navigation-bar .oppia-unread-feedback-indicator {
  background-color: #f7a541;
  border-radius: 20px;
  bottom: 36px;
  display: flex;
  height: 15px;
  justify-content: center;
  position: absolute;
  right: 25px;
  width: 15px;
}
.oppia-top-navigation-bar .oppia-unread-feedback-number {
  bottom: 0;
  color: white;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
}
@media screen and (max-width: 880px) {
  .oppia-top-navigation-bar .oppia-logo-wide {
    margin-left: 0;
  }
}

@media screen and (max-width: 840px) {
  .oppia-top-navigation-bar .desktop-view-language-code {
    display: none;
  }
}

@media screen and (max-width: 355px) {
  oppia-top-navigation-bar .oppia-navbar-profile {
    float: right;
    margin-top: -58px;
  }
}

@media screen and (min-width: 768px) {
  .oppia-top-navigation-bar .nav-mobile-header-editor {
    display: none;
  }
  .oppia-top-navigation-bar .nav-mobile-header-text {
    display: none;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .oppia-top-navigation-bar .nav-mobile-header-text-container {
    display: inline-block;
    font-size: 1px;
    margin-top: 2px;
    max-height: 56px;
    text-overflow: ellipsis;
    width: 50%;
  }
  .oppia-top-navigation-bar .nav-mobile-header-editor {
    color: #fff;
    display: block;
    font-family: Roboto, arial, sans-serif;
    font-size: 19px;
  }
  .oppia-top-navigation-bar .nav-mobile-header-text {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    max-width: 205px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  @media screen and (max-width: 600px) {
    .oppia-top-navigation-bar .oppia-logo {
      left: 0;
    }
  }
}
