.oppia-delete-response {
    margin: 20px 10px 0;
  }

  .option-list-default {
    border: solid 1px #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .oppia-sortable-rule-block {
    border: solid 1px #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  .oppia-sortable-rule-block:focus,
  .oppia-rule-tab:focus {
    outline: 1px solid #000;
  }

  .oppia-rule-sort-handle {
    padding-right: 2px;
    position: absolute;
    top: 9px;
  }

  .oppia-option-list {
    display: block;
    max-width: 100%;
    min-height: 60px;
    overflow: hidden;
    width: 500px;
  }

  .oppia-option-list.cdk-drop-list-dragging .oppia-sortable-rule-block:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  state-responses .state-responses-header-container {
    padding: 15px 20px 15px 30px
  }

  .state-responses-header {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px;
  }

  .oppia-exp-answer-card-header {
    font-size: 18px;
  }

  .solicit-answer-checkbox label {
    margin: 0 0 0 5px;
  }

  .nav-pills > div {
    box-shadow: 1px 2px 5px #939393;
    margin: 8px 0;
  }

  .nav-pills > div > a.oppia-rule-tab {
    background: #e0f2f1 !important;
  }

  .state-response-container {
    padding: 15px 30px;
  }

  .oppia-add-response-button-container {
    margin: 22px 0;
  }

  .solicit-answer-checkbox {
    padding-bottom: 20px;
  }

  .misconception-parent-card {
    border-top: 1px solid #707070;
    padding: 20px;
  }

  .misconception-parent-card h3 {
    font-size: 1.75rem;
  }

  .misconception-list-item {
    background-color: #fff5c8;
    border: 2px solid #827127;
    border-radius: 4px;
    margin: 10px;
    padding: 15px;
  }

  .optional-misconception-list-item {
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
    word-break: break-word;
  }

  .optional-misconception-options-button {
    cursor: pointer;
    display: grid;
    place-content: center;
  }

  .optional-misconception-edit-options {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.3rem;
    position: absolute;
    right: -15%;
    text-align: center;
    top: calc(100% - 0.75em);
    width: 15em;
    z-index: 1;
  }

  .optional-misconception-list-no-action {
    background-color: #fff;
    border: 2px solid #999;
  }

  @media screen and (max-width: 768px) {
    state-responses .state-response-container {
      padding: 15px 10px;
    }

    .oppia-editor-card-section {
      padding: 10px;
    }

    state-responses .solicit-answer-checkbox {
      width: 100%;
    }

    .state-responses-header-container {
      padding: 0;
    }

    .state-responses-header i {
      display: block;
    }

    .state-responses-header {
      padding: 16px;
    }

    .oppia-editor-card-with-avatar {
      margin-top: 20px;
    }
  }
