oppia-state-editor .state-content-header-container {
  display: none;
  padding: 0 30px;
}

oppia-state-editor .state-content-header {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px 0 15px;
}

oppia-state-editor .state-content-header i {
  display: none;
}

oppia-state-editor .oppia-exp-content-card-header {
  font-size: 18px;
  margin: 0;
}

oppia-state-editor .state-solution-content-container {
  padding: 15px 30px;
}

oppia-state-editor .oppia-add-hint-button-container {
  margin: 5px 0 15px;
}

oppia-state-editor .state-content-editor-parent-container {
  padding-bottom: 36px;
  padding-top: 36px;
}

@media screen and (max-width: 768px) {
  oppia-state-editor .state-content-editor-parent-container {
    padding: 0;
  }
  oppia-state-editor .oppia-editor-card-with-avatar {
    padding: 0;
  }
  oppia-state-editor .state-content-header-container {
    display: block;
    padding: 0;
  }

  oppia-state-editor .state-content-header {
    padding: 16px;
  }

  oppia-state-editor .state-content-header i {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  oppia-state-editor .oppia-mobile-collapsible-card-content {
    padding-left: 10px;
  }
}
