.oppia-delete-account h2 {
    font-size: 1.17em;
    font-weight: bold;
    text-align: left;
  }

  .oppia-delete-button-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }

  .oppia-delete-account ul {
    margin-left: 40px;
  }

  .oppia-delete-account .list {
    margin-bottom: 24px;
  }
