#sidebar {
  float: left;
  padding-top: 40px;
  min-width: 180px;
  margin: 0 auto;
}

#sidebar a:hover {
  text-decoration: none
}

#sidebar li {
  list-style: none;
  line-height: 20px
}

#sidebar>.primary {
  margin: 0;
  padding: 0
}

#sidebar>.primary .selected a:link,
#sidebar>.primary .selected a:visited {
  font-weight: 600;
  color: #222222;
}

#sidebar>.primary>li {
  margin: 11px 0 0px 0
}

#sidebar>.primary>li>a {
  height: 16px
}
