#sidebar {
  float: left;
  padding-top: 40px;
  padding-left: 5%;
  margin: 0 auto;
}

#sidebar a:hover {
  text-decoration: none
}

#sidebar li {
  list-style: none;
  line-height: 20px
}

#sidebar>.primary {
  margin: 0;
  padding: 0
}

#sidebar>.primary .selected a:link,
#sidebar>.primary .selected a:visited,
#sidebar>.primary .sub-nav .selected a:link,
#sidebar>.primary .sub-nav .selected a:visited {
  font-weight: 600;
  color: #222222;
}

#sidebar>.primary>li {
  margin: 11px 0 0px 0
}

#sidebar>.primary>li>a {
  height: 16px
}

#sidebar>.primary .sub-nav {
  list-style: none;
  margin-left: 28px;
  margin-bottom: -2px
}

#sidebar>.primary .sub-nav li {
  line-height: 22px;
  margin-top: 8px
}

#sidebar>.primary .sub-nav li a:link,
#sidebar>.primary .sub-nav li a:visited {
  font-weight: normal;
  font-size: 13px;
  display: block
}

#sidebar>.primary .sub-nav .selected a:link,
#sidebar>.primary .sub-nav .selected a:visited {
  margin-left: -10px;
  padding-left: 10px
}
