<!DOCTYPE html>
<html ng-app="oppia" itemscope itemtype="http://schema.org/Organization">

  <head>
    @load('base-components/header.template.html', {"title": "Donate - Oppia"})
  </head>

  <body>
    <service-bootstrap></service-bootstrap>
    <div ng-controller="Base">
      <base-content>
        <navbar-breadcrumb>
          <ul class="nav navbar-nav oppia-navbar-breadcrumb">
            <li>
              <span class="oppia-navbar-breadcrumb-separator"></span>
              Donate
            </li>
          </ul>
        </navbar-breadcrumb>

        <content>
          <donate-page></donate-page>
        </content>
      </base-content>
    </div>
    @load('pages/footer_js_libs.html')
  </body>
</html>
