<div class="modal-header">
  <h3>Transfer Ownership to the Community</h3>
</div>

<div class="modal-body">
  <p>
    You are about to transfer ownership of this exploration to the
    community! This will allow anyone to freely edit and improve
    the exploration. Your previous contributions will still be visible
    in the version history logs, and you will still be able to view and
    edit the exploration.
  </p>

  <p>
    Please note that after the ownership of an exploration is transferred
    to the community, it will no longer have an explicit list of managers,
    so this action is <strong>not reversible</strong>.
  </p>

  <p>
    Would you like to transfer ownership of this exploration to the
    community?
  </p>
</div>

<div class="modal-footer">
  <button class="btn btn-success" (click)="confirm()">Transfer Ownership</button>
  <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
</div>
