.oppia-technical-feedback-dashboard-page {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 80vw;
  min-height: 70vh;
  padding: 24px 32px;
  position: relative;
  top: 25px;
  z-index: 1;
}

.oppia-technical-feedback-dashboard-page-header {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 8px;
}

.oppia-feedback-table {
  display: flex;
  flex: 1;
  max-height: 55vh;
}
