.oppia-technical-feedback-dashboard-page {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 80vw;
  min-height: 70vh;
  padding: 24px 32px;
  position: relative;
  top: 25px;
  z-index: 1;
}

.oppia-technical-feedback-dashboard-page-header {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 8px;
}

.oppia-feedback-table {
  display: flex;
  max-height: 55vh;
  flex: 1;
}

.oppia-technical-feedback-dashboard-page .oppia-feedback-detail-card {
  border: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  max-height: 80vh;
  max-width: none;
  padding: 0;
  flex: 1;
  width: 100%;
}
