/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/
oppia-library-page .oppia-classroom-div {
  background-color: whitesmoke;
  border: 4px solid #04857c;
  border-radius: 10px;
  height: 400px;
  margin: 0 45px;
  overflow: hidden;
  padding: 30px 45px 45px 45px;
}
oppia-library-page .oppia-classroom-text {
  float: left;
  width: 62%;
}
oppia-library-page .oppia-classroom-h1 {
  color: #033e39;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
}
oppia-library-page .oppia-classroom-h2 {
  color: #033e39;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
}
oppia-library-page .oppia-classroom-p {
  color: #383838;
  font-family: "Rubik, regular", "Roboto", Arial, sans-serif;
  line-height: 1.5;
  margin-top: 25px;
}
oppia-library-page .oppia-classroom-div > img {
  bottom: 0;
  height: 100%;
  position: absolute;
  transform: translateY(50px);
}
oppia-library-page .oppia-classroom-text > a {
  width: 180px;
}
oppia-library-page .classroom-promo-image {
  display: flex;
  padding-top: 40px;
}
oppia-library-page .oppia-group-page-header {
  color: #2c4841;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 2em;
}
.oppia-library-h1 {
  color: #033e39;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
}
.oppia-library-h2 {
  color: #047c74;
  font-family: "Rubik, regular", "Roboto", Arial, sans-serif;
  padding-bottom: 1em;
}
.oppia-library-group {
  display: block;
  height: 350px;
  margin-top: 36px;
  width: 100vw;
}
.oppia-library-group-header-container {
  margin: 0 -15px 0 0;
  max-width: 928px;
  min-width: 315px;
  text-align: left;
  width: calc(100% - 120px);
  width: -moz-calc(100% - 120px);
  width: -o-calc(100% - 120px);
  width: -webkit-calc(100% - 120px);
}
@media(max-width: 720px) {
  .oppia-library-group-header-container {
    width: 80%;
  }
  oppia-library-page .classroom-promo-image {
    padding-top: 0;
  }
}
@media(max-width: 480px) {
  .oppia-library-group-header-container {
    width: 100%;
  }
}
.oppia-library-group-header {
  display: inline-block;
  font-size: 2em;
  margin-bottom: 24px;
  margin-left: 44px;
  min-width: 126px;
}
.oppia-library-group-header.active {
  color: #04857c;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
}
@media(max-width: 720px) {
  .oppia-library-group-header {
    width: -webkit-calc(80% - 120px);
    width: -moz-calc(80% - 120px);
    width: -o-calc(80% - 120px);
    width: calc(80% - 120px);
  }
}
@media(max-width: 390px) {
  .oppia-library-group-header {
    margin-left: 11.25%;
  }
}
oppia-library-page .oppia-library-group-header a,
.oppia-library-group-header span {
  color: inherit;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
}
.oppia-library-group-header a:hover,
.oppia-library-group-header a:focus {
  color: #04857c;
  text-decoration: none;
}
.oppia-carousel-box {
  align-items: center;
  display: flex;
}
.oppia-library-carousel-scroller {
  color: #2c4841;
  cursor: default;
  float: left;
  height: 60px;
  margin-top: 100px;
  max-width: 40px;
  padding: 0;
  position: relative;
  width: 10vw;
}
.mat-button.oppia-library-carousel-scroller {
  cursor: pointer;
}
.oppia-library-carousel-scroller i {
  font-size: 36px;
  margin: 0;
  padding: 0;
  top: 50%;
}
.oppia-library-carousel-tiles {
  /*The height is adjusted to hide the scrollbars*/
  height: 290px;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  top: 0;
  white-space: nowrap;
}
oppia-library-page .oppia-mobile-activity-cards-container {
  overflow-y: hidden;
}
oppia-library-page .limit-cards-shown {
  max-height: 293px;
}
oppia-library-page .card-container-height-toggle-btn {
  background: #04857c;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  padding: 6px 20px 3px 20px;
}
oppia-library-page .height-toggle-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
oppia-library-page .button-alignment-div {
  width: 350px;
}
.oppia-library-carousel {
  float: left;
  height: 282px;
  max-width: 848px;
  overflow: hidden;
  position: relative;
}
.oppia-library-container {
  background-color: #afd2eb;
  min-height: 100vh;
}
.oppia-library-container-inner {
  position: relative;
  z-index: 3;
}
oppia-library-page .oppia-exp-summary-tiles-container-extra-info {
  margin-bottom: 20px;
}
.oppia-library-no-explorations-text-container {
  font-size: 1.2em;
  padding-bottom: 40px;
  padding-top: 40px;
}
oppia-library-page .oppia-exploration-summary-header {
  margin-left: auto;
  margin-right: auto;
  max-width: 856px;
}
oppia-library-page .oppia-search-bar-container {
  display: flex;
  justify-content: center;
  margin: 0 auto 6vh auto;
  padding-bottom: 60px;
  width: 100%;
}
.oppia-library-no-exploration-groups {
  margin: 150px auto;
}
@media (min-width: 630px) {
  .oppia-library-h1 {
    font-size: 2.5em;
  }
  .oppia-library-h2 {
    font-size: 1.75em;
  }
  oppia-library-page .oppia-classroom-h1 {
    font-size: 2.5em;
  }
  oppia-library-page .oppia-classroom-h2 {
    font-size: 1.75em;
  }
  oppia-library-page .oppia-classroom-p {
    font-size: 1.05em;
  }
}
@media (max-width: 1126px) {
  oppia-library-page .oppia-classroom-div {
    margin-top: 100px;
  }
}
@media (max-width: 900px) {
  oppia-library-page .oppia-classroom-h1 {
    font-size: 1.45em;
  }
  oppia-library-page .oppia-classroom-h2 {
    font-size: 0.9em;
  }
  oppia-library-page .oppia-classroom-p {
    font-size: 0.95em;
    margin-top: 20px;
  }
  oppia-library-page .oppia-classroom-div > img {
    height: 80%;
    transform: translateY(35px);
  }
}
@media (max-width: 727px) {
  oppia-library-page .oppia-classroom-div {
    height: 400px;
    padding: 20px;
  }
  oppia-library-page .oppia-classroom-text {
    float: none;
    width: 100%;
  }
  oppia-library-page .oppia-classroom-text > a {
    float: left;
    margin-top: 50px;
    width: 140px;
  }
  oppia-library-page .oppia-classroom-div > img {
    height: 60%;
    right: 10px;
    transform: translateY(45px);
  }
}
@media (max-width: 536px) {
  .oppia-library-group-header {
    font-size: 1.2em;
    margin-left: 7%;
    width: 80%;
  }
  oppia-library-page .oppia-search-bar-container {
    margin-bottom: 90px;
  }
  .oppia-library-group {
    border-top: 3px solid white;
    height: auto;
    width: 100%;
  }
  .oppia-library-mobile-tile {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  oppia-library-page .oppia-classroom-text > a {
    font-size: 0.75em;
    margin-top: 40px;
    width: fit-content;
  }
  oppia-library-page .oppia-classroom-div > img {
    height: 45%;
    transform: translateY(25px);
  }
  oppia-library-page .oppia-classroom-h1 {
    font-size: 1.3em;
  }
  oppia-library-page .oppia-classroom-h2 {
    font-size: 0.75em;
  }
  oppia-library-page .oppia-classroom-p {
    font-size: 0.85em;
  }
}
@media (max-width: 344px) {
  oppia-library-page .oppia-classroom-div > img {
    height: 35%;
    transform: translateY(25px);
  }
  oppia-library-page .oppia-classroom-text > a {
    margin-top: 40px;
  }
}
oppia-library-page .oppia-exp-summary-tiles-container {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 928px;
  min-height: 300px;
  padding-bottom: 24px;
  padding-top: 24px;
  width: 100vw;
}

/* Ensure that the summary tiles tiles remain centered. Note that these values
  would need to be updated if the summary tiles are changed. */
@media (max-width: 844px) {
  oppia-library-page .oppia-exp-summary-tiles-container {
    margin-left: 5vw;
    margin-right: 5vw;
    max-width: 89vw;
    width: initial;
  }
}
@media (max-width: 632px) {
  oppia-library-page .oppia-exp-summary-tiles-container {
    margin-left: 2vw;
    margin-right: 2vw;
    max-width: 96vw;
  }
}
