/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/
oppia-library-page .oppia-classroom-text {
  float: left;
  width: 62%;
}
oppia-library-page .oppia-classroom-h1 {
  color: #033e39;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
}
oppia-library-page .oppia-classroom-h2 {
  color: #033e39;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
}
oppia-library-page .oppia-classroom-p {
  color: #383838;
  font-family: "Rubik, regular", "Roboto", Arial, sans-serif;
  line-height: 1.5;
  margin-top: 25px;
}
oppia-library-page .oppia-classroom-text > a {
  width: 180px;
}
oppia-library-page .classroom-promo-image {
  display: flex;
  padding-top: 40px;
}
oppia-library-page .oppia-group-page-header {
  color: #2c4841;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 2em;
}
.oppia-library-h1 {
  color: #033e39;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
}
.oppia-library-h2 {
  color: #047c74;
  font-family: "Rubik, regular", "Roboto", Arial, sans-serif;
  padding-bottom: 1em;
}
.oppia-library-group {
  display: block;
  height: 350px;
  margin-top: 36px;
  width: 100vw;
}

.oppia-library-group-header-container {
  margin: 0 -15px 0 0;
  max-width: 928px;
  min-width: 315px;
  text-align: left;
  width: calc(100% - 120px);
  width: -moz-calc(100% - 120px);
  width: -o-calc(100% - 120px);
  width: -webkit-calc(100% - 120px);
}

.navigation-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 195px;
}

.navigation-dots span,
.mobile-navigation-dots span {
  background-color: #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
  height: 8px;
  margin: 0 3px;
  width: 8px;
}

.navigation-dots span.active,
.mobile-navigation-dots span.active {
  background-color: #005240;
}

.mobile-buttons {
  display: none;
}

@media(max-width: 720px) {
  .oppia-library-group-header-container {
    width: 80%;
  }
  oppia-library-page .classroom-promo-image {
    padding-top: 0;
  }
}
@media(max-width: 480px) {
  .oppia-library-group-header-container {
    width: 100%;
  }
}
.oppia-library-group-header {
  display: inline-block;
  font-size: 2em;
  margin-bottom: 24px;
  margin-left: 44px;
  min-width: 126px;
}
.oppia-library-group-header.active {
  color: #04857c;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
}
@media(max-width: 720px) {
  .oppia-library-group-header {
    width: -webkit-calc(80% - 120px);
    width: -moz-calc(80% - 120px);
    width: -o-calc(80% - 120px);
    width: calc(80% - 120px);
  }
}
@media(max-width: 390px) {
  .oppia-library-group-header {
    margin-left: 11.25%;
  }
}
oppia-library-page .oppia-library-group-header a,
.oppia-library-group-header span {
  color: inherit;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
}

oppia-library-page .community-library-breadcrumbs-container a,
oppia-library-page .community-library-breadcrumbs-container span {
  color: #00423d;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.oppia-library-carousel-scroller i {
  font-size: 36px;
  margin: 0;
  padding: 0;
  top: 50%;
}

oppia-library-page .community-library-breadcrumbs-container i {
  transform: scale(0.75);
}

.oppia-library-group-header a:hover,
.oppia-library-group-header a:focus {
  color: #04857c;
  text-decoration: none;
}
.oppia-carousel-box {
  align-items: center;
  display: flex;
}
.oppia-library-carousel-scroller {
  color: #2c4841;
  cursor: default;
  float: left;
  height: 60px;
  margin-top: 100px;
  max-width: 40px;
  padding: 0;
  position: relative;
  width: 10vw;
}
.mat-button.oppia-library-carousel-scroller {
  cursor: pointer;
}
.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.oppia-library-carousel-tiles {
  /*The height is adjusted to hide the scrollbars*/
  height: 290px;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  top: 0;
  white-space: nowrap;
}
oppia-library-page .oppia-mobile-activity-cards-container {
  overflow-y: hidden;
}
oppia-library-page .limit-cards-shown {
  max-height: 293px;
}
oppia-library-page .card-container-height-toggle-btn {
  background: #04857c;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  padding: 6px 20px 3px 20px;
}
oppia-library-page .height-toggle-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
oppia-library-page .button-alignment-div {
  width: 350px;
}
.oppia-library-carousel {
  float: left;
  height: 282px;
  max-width: 848px;
  overflow: hidden;
  position: relative;
}
.oppia-library-container {
  background-color: #afd2eb;
  min-height: 100vh;
}
.oppia-library-container-inner {
  position: relative;
  z-index: 3;
}

.left-carousel-btn {
  position: relative;
  right: 4px;
}

.right-carousel-btn {
  left: 2px;
  position: relative;
}

oppia-library-page .oppia-exp-summary-tiles-container-extra-info {
  margin-bottom: 20px;
}
.oppia-library-no-explorations-text-container {
  font-size: 1.2em;
  padding-bottom: 40px;
  padding-top: 40px;
}
oppia-library-page .oppia-exploration-summary-header {
  margin-left: auto;
  margin-right: auto;
  max-width: 856px;
}
oppia-library-page .oppia-search-bar-container {
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
  width: 100%;
}

oppia-library-page .classroom-cards-wrapper {
  align-items: center;
  background-color: #eef5fb;
  display: flex;
  height: 344px;
  justify-content: center;
}

oppia-library-page .classroom-cards-wrapper .classroom-cards-inner-container {
  align-items: start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.classroom-width-1 {
  width: 762px;
}

.classroom-width-2 {
  padding-left: 44px;
  width: fit-content;
}

.classroom-width-more {
  padding-left: 70px;
  width: fit-content;
}

oppia-library-page .classroom-cards-wrapper .classroom-cards-inner-container .classroom-cards-text-container {
  color: #003c34;
  display: flex;
  flex-direction: column;
  font-family: 'Capriola', 'Roboto', Arial, sans-serif;
  font-style: normal;
  height: 184px;
  justify-content: space-between;
  padding-bottom: 24px;
  width: 260px;
}

oppia-library-page .classroom-cards-text-container h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

oppia-library-page .classroom-cards-text-container p {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

oppia-library-page .classrooms-carousel {
  position: relative;
}

oppia-library-page .classroom-cards-wrapper .classroom-cards-inner-container .classrooms-carousel {
  align-items: center;
  display: flex;
  gap: 4px;
  height: 184px;
  justify-content: center;
  position: relative;
  width: 565px;
}

oppia-library-page .individual-classroom-cards {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 22px;
  margin-left: 38px;
}

oppia-library-page .classrooms-carousel .classrooms-carousel-change-slide-btn {
  align-items: center;
  background: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 48px;
  justify-content: center;
  width: 20px;
}

oppia-library-page .desktop-carousel-btn {
  display: flex;
}

oppia-library-page .classrooms-carousel .classrooms-carousel-change-slide-btn i {
  color: #04857c;
  font-size: 20px;
}

oppia-library-page .classrooms-card-container {
  display: flex;
  gap: 10px;
  height: 188px;
  transition: transform 0.5s ease-in-out;
  width: 512px;
}

oppia-library-page .classrooms-carousel .carousel-indicators li {
  background-color: gray;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

oppia-library-page .classrooms-carousel .carousel-indicators li.active {
  background-color: #005240;
}

oppia-library-page .classrooms-carousel .carousel-indicators {
  bottom: -40px;
  gap: 0;
}

.oppia-library-no-exploration-groups {
  margin: 150px auto;
}

oppia-library-page .mobile-carousel-controls {
  display: none;
}

oppia-library-page .classrooms-carousel .mobile-carousel-btn {
  display: none;
}

oppia-library-page .show-change-classroom-chunk-btn {
  display: flex;
}

oppia-library-page .hide-change-classroom-chunk-btn {
  visibility: hidden;
}

oppia-library-page .community-library-mobile-breadcrumbs-container {
  display: none;
}

oppia-library-page .community-library-breadcrumbs-container {
  align-items: center;
  display: flex;
  gap: 4px;
  left: 86px;
  margin-left: 88px;
  position: sticky;
}

@media (min-width: 630px) {
  .oppia-library-h1 {
    font-size: 2.5em;
  }
  .oppia-library-h2 {
    font-size: 1.75em;
  }
  oppia-library-page .oppia-classroom-h1 {
    font-size: 2.5em;
  }
  oppia-library-page .oppia-classroom-h2 {
    font-size: 1.75em;
  }
  oppia-library-page .oppia-classroom-p {
    font-size: 1.05em;
  }
}
@media (max-width: 900px) {
  .classroom-width-2 {
    padding-left: 0;
  }

  .classroom-width-more {
    padding-left: 0;
  }

  .mobile-buttons {
    display: flex;
    gap: 6px;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
    top: 10px;
  }

  .desktop-carousel-btn {
    display: none;
  }

  .navigation-dots {
    display: none;
  }

  .mobile-navigation-dots {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  oppia-library-page .classroom-cards-wrapper .classroom-cards-inner-container .classrooms-carousel {
    flex-direction: column;
    height: 194px;
    width: 444px;
  }

  oppia-library-page .desktop-carousel-btn {
    display: none;
  }

  oppia-library-page .community-library-breadcrumbs-container {
    margin-left: 75px;
  }

  oppia-library-page .oppia-classroom-h1 {
    font-size: 1.45em;
  }
  oppia-library-page .oppia-classroom-h2 {
    font-size: 0.9em;
  }
  oppia-library-page .oppia-classroom-p {
    font-size: 0.95em;
    margin-top: 20px;
  }

  oppia-library-page .classroom-cards-wrapper .classroom-cards-inner-container {
    align-items: center;
    flex-direction: column;
  }

  oppia-library-page .classroom-cards-wrapper {
    height: 454px;
  }

  oppia-library-page .classroom-cards-wrapper .classroom-cards-inner-container .classroom-cards-text-container {
    width: 348px;
  }

  oppia-library-page .classroom-cards-text-container h1,
  oppia-library-page .classroom-cards-text-container p {
    text-align: center;
  }

  oppia-library-page .individual-classroom-cards {
    gap: 8px;
    margin-left: 0;
  }

  oppia-library-page .classrooms-carousel .desktop-carousel-btn {
    display: none;
  }

  oppia-library-page .classrooms-card-container {
    height: 152px;
    width: 442px;
  }

  oppia-library-page .classrooms-carousel .carousel-indicators {
    bottom: -14px;
    display: flex;
    justify-content: center;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    width: fit-content;
  }

  oppia-library-page .classrooms-carousel .mobile-carousel-btn {
    background: transparent;
    border: none;
    bottom: -20px;
    color: #04857c;
    display: block;
    font-size: 24px;
    height: auto;
    padding: 0;
    width: auto;
    z-index: 1;
  }

  oppia-library-page .classrooms-carousel .mobile-prev-btn {
    left: calc(50% - 50px);
  }

  oppia-library-page .classrooms-carousel .mobile-next-btn {
    right: calc(50% - 50px);
  }

  oppia-library-page .classrooms-carousel .carousel-indicators li {
    margin: 0 4px;
  }
}
@media (max-width: 727px) {
  oppia-library-page .community-library-breadcrumbs-container {
    margin-left: 56px;
  }

  oppia-library-page .oppia-classroom-div {
    height: 400px;
    padding: 20px;
  }
  oppia-library-page .oppia-classroom-text {
    float: none;
    width: 100%;
  }
  oppia-library-page .oppia-classroom-text > a {
    float: left;
    margin-top: 50px;
    width: 140px;
  }
  oppia-library-page .oppia-classroom-div > img {
    height: 60%;
    right: 10px;
    transform: translateY(45px);
  }
  .desktop-carousel-btn {
    display: none;
  }
  .oppia-classroom-card {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
@media (max-width: 536px) {
  .navigation-dots {
    top: 138px;
  }

  .mobile-buttons {
    position: absolute;
    top: 132px;
  }

  oppia-library-page .classroom-cards-wrapper .classroom-cards-inner-container .classrooms-carousel {
    width: 324px;
  }

  oppia-library-page .community-library-breadcrumbs-container {
    display: none;
  }

  oppia-library-page .community-library-mobile-breadcrumbs-container {
    align-items: center;
    display: flex;
    gap: 2px;
    margin-left: 8px;
    position: sticky;
  }

  oppia-library-page .community-library-mobile-breadcrumbs-container a {
    color: #00423d;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }

  .oppia-library-group-header {
    font-size: 1.2em;
    margin-left: 7%;
    width: 80%;
  }
  oppia-library-page .oppia-search-bar-container {
    margin-bottom: 90px;
  }
  .oppia-library-group {
    border-top: 3px solid white;
    height: auto;
    width: 100%;
  }
  .oppia-library-mobile-tile {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  oppia-library-page .oppia-classroom-text > a {
    font-size: 0.75em;
    margin-top: 40px;
    width: fit-content;
  }
  oppia-library-page .oppia-classroom-h1 {
    font-size: 1.3em;
  }
  oppia-library-page .oppia-classroom-h2 {
    font-size: 0.75em;
  }
  oppia-library-page .oppia-classroom-p {
    font-size: 0.85em;
  }
}
@media (max-width: 344px) {
  oppia-library-page .oppia-classroom-text > a {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 416px) {
  .mobile-buttons {
    top: 122px;
  }

  oppia-library-page .classroom-cards-wrapper {
    height: 358px;
    padding-top: 2px;
  }

  oppia-library-page .oppia-library-h1 {
    margin-left: 8px;
    text-align: left;
  }

  oppia-library-page .classroom-cards-text-container {
    gap: 8px;
    justify-content: start;
    padding-top: 26px;
  }

  oppia-library-page .classroom-cards-text-container h1 {
    font-size: 29px;
    margin: auto;
  }

  oppia-library-page .classroom-cards-text-container p {
    font-size: 16px;
    margin: auto;
    width: 280px;
  }

  oppia-library-page .classrooms-card-container {
    width: 324px;
  }

  oppia-library-page .classrooms-carousel .carousel-indicators {
    bottom: 34px;
  }

  oppia-library-page .classrooms-carousel .mobile-carousel-btn {
    bottom: 28px;
  }
}

oppia-library-page .oppia-exp-summary-tiles-container {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 928px;
  min-height: 300px;
  padding-bottom: 24px;
  padding-top: 24px;
  width: 100vw;
}

/* Ensure that the summary tiles tiles remain centered. Note that these values
  would need to be updated if the summary tiles are changed. */
@media (max-width: 844px) {
  oppia-library-page .oppia-exp-summary-tiles-container {
    margin-left: 5vw;
    margin-right: 5vw;
    max-width: 89vw;
    width: initial;
  }
}
@media (max-width: 632px) {
  oppia-library-page .oppia-exp-summary-tiles-container {
    margin-left: 2vw;
    margin-right: 2vw;
    max-width: 96vw;
  }
}
