<!DOCTYPE html>
<html ng-app="oppia" itemscope itemtype="http://schema.org/Organization">
  <head>
    @load('base-components/header.template.html', {"title": "Oppia"})
    <base href="/search/">
    <style>
      html, body {
        background-color: #afd2eb;
      }
    </style>
  </head>
  <body>
    <oppia-root>
      <div ng-controller="Base" dir="<[direction]>">
        <oppia-base-content>
          <content>
            <library-page></library-page>
          </content>

          <page-footer>
            <library-footer></library-footer>
          </page-footer>
        </oppia-base-content>
      </div>

    </oppia-root>
    @load('pages/footer_js_libs.html')
  </body>
</html>
