mat-icon.pin-icon {
  color: #a29a9a;
}
mat-icon.unpin-icon {
  transform: rotate(45deg);
}
.oppia-lazy-loading-container {
  height: 120px;
  margin-bottom: -20px;
  margin-top: 12px;
  width: 100%;
}
.oppia-subheading-large {
  display: block;
}
.oppia-subheading-small {
  display: none;
}
.oppia-button-list-item {
  text-align: left;
  width: 100%;
}
.bg-light-green {
  background-color: rgb(172, 197, 172);
}
.oppia-opportunities-button {
  background-color: #fff;
  border: 2px solid #00645c;
  border-radius: 5px;
  color: #00645c;
  font-size: 18px;
  font-weight: bold;
  min-width: 64%;
  text-align: center;
}
.oppia-opportunities-button-wrapper {
  display: inline-block
}
.oppia-opportunities-disabled-button {
  background-color: #fff;
  border: 2px solid #8a8b8b;
  border-radius: 5px;
  color: #8a8b8b;
  font-size: 18px;
  font-weight: bold;
  min-width: 64%;
  text-align: center;
}
.oppia-opportunities-button:hover, .oppia-opportunities-button:focus {
  background-color: #6f817f;
  color: #fff;
  -webkit-transition: background-color 200ms ease-out;
  -ms-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}
.oppia-opportunities-progress-bar {
  border-radius: 10px;
  height: 20px;
  width: 60%;
}
.oppia-opportunities-progress-bar .progress {
  height: 12px;
}
.oppia-opportunities-progress-label {
  font-size: 12px;
  margin-left: 5px;
  margin-top: -6px;
}
.oppia-opportunities-subheading {
  color: #00645c;
  font-size: 14px;
  height: 40%;
}
.oppia-opportunities-heading {
  color: #4a4a4a;
  font-size: 20px;
  font-weight: bold;
  height: 50%;
  margin: auto 0;
}
.oppia-opportunities-button-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 1% 0;
  width: 20%;
}
.oppia-desktop-list-item .oppia-opportunities-button-container {
  margin-left: 20px;
}
.oppia-opportunities-label-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1% 0;
  width: 25%;
}
.oppia-opportunities-label {
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  font-size: 18px;
  height: 60px;
  justify-content: center;
  opacity: 0.8;
  text-align: center;
  width: 92px;
}
.oppia-opportunities-progress {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1% 10px;
  min-width: 100px;
  width: 25%;
}
.oppia-opportunities-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 1.8% 0;
  width: 60%;
}
.oppia-opportunities-list-item {
  align-items: center;
  background-color: #fff;
  border: 1px solid #e8e7e2;
  display: flex;
  height: fit-content;
  justify-content: space-between;
  margin-top: 24px;
  min-height: 90px;
  padding: 0% 3%;
}
.oppia-translation-length-label {
  align-items: center;
  background-color: #eee;
  border-radius: 10px;
  color: #1b1b1b;
  display: flex;
  font-size: 16px;
  height: 60px;
  justify-content: center;
  margin: 18px;
  padding: 3px;
  text-align: center;
  width: 95px;
}
.oppia-animate-fadein {
  -webkit-animation: fadein 0.5s linear 1 normal forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s linear 1 normal forwards; /* Firefox < 16 */
  -ms-animation: fadein 0.5s linear 1 normal forwards; /* Internet Explorer */
  -o-animation: fadein 0.5s linear 1 normal forwards; /* Opera < 12.1 */
  animation: fadein 0.5s linear 1 normal forwards;
}
/* This breakpoint must be the same value as the one specified in */
/* constants.OPPORTUNITIES_LIST_ITEM_MOBILE_BREAKPOINT. */
@media only screen and (max-width: 700px) {
  .oppia-opportunities-button {
    font-size: 18px;
  }
  .oppia-opportunities-list-item {
    margin: auto 0;
    margin-top: 12px;
    width: 100%;
  }
  .oppia-opportunities-progress-bar {
    width: 100%;
  }
  .oppia-opportunities-progress {
    flex-direction: column;
    margin-left: 0;
    min-width: 50px;
    width: 15%;
  }
  .oppia-opportunities-details {
    margin-left: 10px;
    margin-right: 20px;
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .oppia-opportunities-label {
    font-size: 16px;
    height: 56px;
  }
  .oppia-opportunities-heading {
    font-size: 18px;
  }
  .oppia-opportunities-button-container,
  .oppia-opportunities-button,
  .oppia-opportunities-disabled-button {
    font-size: 16px;
    min-width: none;
  }
  .oppia-subheading-large {
    display: none;
  }
  .oppia-subheading-small {
    display: block;
  }
}
