<script type="text/ng-template" id="components/attributionGuide">
  <div class="oppia-cc-icon oppia-transition-200">
    <div style="height: 1px; width: 1px;" class="protractor-test-neutral-element"></div>

    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
      <img alt="Creative Commons Licence" style="border-width: 0; height: 24px;" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png">
    </a><br>
    <a href="/about#license" target="_blank" style="color: white; font-size: 9px;">Attribution Guide</a>
  </div>
</script>
