skill-mastery-viewer .oppia-skill-mastery-viewer .oppia-mastery-percentage-increment {
  color: green;
}
skill-mastery-viewer .oppia-skill-mastery-viewer .oppia-mastery-percentage-decrement {
  color: red;
}
skill-mastery-viewer .oppia-skill-mastery-viewer .oppia-mastery-percentage-container {
  margin-bottom: 10px;
}
