<div class="d-flex flex-column h-100 mb-4 w-100" [ngStyle]="{'max-width': displayMaxWidth}">
  <div class="d-flex justify-content-between">
    <p class="card-display-heading"> {{ headingI18n | translate }} </p>
    <div class="card-display-arrow-button-container" *ngIf="arrowButtonVisibility">
      <button [attr.aria-label]="'Shift cards to the ' + (isLanguageRTL ? 'right' : 'left')" [disabled]="currentShift === 0" class="px-0 card-display-arrow-button" (click)="moveCard(currentShift - 1)">
        <span aria-hidden="true" [ngClass]="'fas fa-chevron-' + (isLanguageRTL ? 'right' : 'left')"></span>
      </button>
      <button [attr.aria-label]="'Shift cards to the ' + (isLanguageRTL ? 'left' : 'right')" [disabled]="currentShift === getMaxShifts(cards.offsetWidth)" class="px-0 card-display-arrow-button" (click)="moveCard(currentShift + 1)">
        <span aria-hidden="true" [ngClass]="'fas fa-chevron-' + (isLanguageRTL ? 'left' : 'right')"></span>
      </button>
    </div>
  </div>
  <hr color="#00645c" class="mt-2 mb-4" size="2" width="100%">
  <div class="d-flex card-display-content-container pb-1 mb-n1" [ngClass]="getVisibility()" #cards>
    <ng-content></ng-content>
  </div>
  <!--TODO(#18384): Delete I18N_LEARNER_DASHBOARD_CARD_DISPLAY_BUTTON key-->
  <oppia-content-toggle-button [ngClass]="mt-4" *ngIf="toggleButtonVisibility" (contentToggleEmitter)="handleToggleState($event)"> </oppia-content-toggle-button>
</div>

<style>
  :host {
    max-width: fit-content;
    overflow: hidden;
  }

  .card-display-arrow-button {
    align-items: center;
    background-color: #00645c;
    border: none;
    border-radius: .25em;
    color: #fff;
    display: flex;
    height: 24px;
    justify-content: center;
    transition: all 300ms ease-out;
    width: 24px;
  }

  .card-display-arrow-button:disabled {
    background-color: #667085;
  }

  .card-display-arrow-button:not(:disabled):hover {
    background-color: #429488;
  }

  .card-display-content-container {
    display: flex;
    gap: 0 16px;
    max-width: 100%;
    overflow-x: hidden;
    padding: .5px;
  }

  .card-display-content-hidden {
    flex-wrap: wrap;
    gap: 16px 16px;
    height: 289px;
    overflow-y: hidden;
  }

  .card-display-content-shown {
    flex-wrap: wrap;
    gap: 16px 16px;
    height: 100%;
  }

  .card-display-heading {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
  }

  .card-display-arrow-button-container {
    display: flex;
    gap: 0 5px;
  }
</style>
