<div class="oppia-blog-home-page d-flex justify-content-center">
  <mat-card class="oppia-blog-home-page-card oppia-page-card py-5">
    <div class="d-flex" [ngClass]="{'flex-column-reverse': isSmallScreenViewActive()}">
      <div *ngIf="!noResultsFound && !showBlogPostCardsLoadingScreen"
           class="oppia-blog-post-card-container"
           [ngClass]="{'col-8': !isSmallScreenViewActive()}">
        <div *ngIf="!searchPageIsActive">
          <div class="d-flex align-items-baseline">
            <h3 class="my-0 pl-3 blog-home-page-posts-number-display"
                [innerHTML]="'I18N_BLOG_HOME_PAGE_POSTS_NUMBER_DISPLAY' | translate: { startingNumber: firstPostOnPageNum, endingNumber: lastPostOnPageNum, totalNumber: totalBlogPosts}">
            </h3>
            <ngb-pagination [collectionSize]="totalBlogPosts"
                            [(page)]="page"
                            [maxSize]="2"
                            [pageSize]="MAX_NUM_CARDS_TO_DISPLAY_ON_BLOG_HOMEPAGE"
                            [rotate]="true"
                            (pageChange)="onPageChange()"
                            class="ml-auto">
              <ng-template ngbPaginationPrevious >
                <i class="fa fa-angle-left text-center w-100" aria-hidden="true" (click)="onPageChange()"></i>
              </ng-template>
              <ng-template ngbPaginationNumber let-p>
                <button disabled class="pagination-button">{{ p }}</button>
              </ng-template>
              <ng-template ngbPaginationNext>
                <i class="fa fa-angle-right text-center w-100" aria-hidden="true" (click)="onPageChange()"></i>
              </ng-template>
            </ngb-pagination>
          </div>
          <div class="pl-3 posts-display-heading">
            {{ 'I18N_BLOG_HOME_PAGE_POSTS_HEADING' | translate }}
          </div>
        </div>
        <div *ngIf="searchPageIsActive">
          <div class="d-flex align-items-baseline">
            <h3 class="my-0 pl-3 blog-home-page-posts-number-display"
                *ngIf="searchOffset"
                [innerHTML]="'I18N_BLOG_HOME_SEARCH_PAGE_POSTS_NUMBER_DISPLAY' | translate: { startingNumber: firstPostOnPageNum, endingNumber: lastPostOnPageNum}">
            </h3>
            <h3 class="my-0 pl-3 blog-home-page-posts-number-display"
                *ngIf="!searchOffset"
                [innerHTML]="'I18N_BLOG_HOME_SEARCH_PAGE_POSTS_NUMBER_OUT_OF_TOTAL_DISPLAY' | translate: { startingNumber: firstPostOnPageNum, endingNumber: lastPostOnPageNum, totalNumber: totalBlogPosts}">
            </h3>
            <ngb-pagination [collectionSize]="totalBlogPosts"
                            [(page)]="page"
                            [maxSize]="2"
                            [pageSize]="MAX_NUM_CARDS_TO_DISPLAY_ON_BLOG_HOMEPAGE_SEARCH"
                            (pageChange)="onPageChange()"
                            class="ml-auto text-center">
              <ng-template ngbPaginationPrevious>
                <i class="fa fa-angle-left" aria-hidden="true" (click)="onPageChange()" (disabled)="false"></i>
              </ng-template>
              <ng-template ngbPaginationNext>
                <i class="fa fa-angle-right" aria-hidden="true" (click)="onPageChange()" (disabled)="false"></i>
              </ng-template>
            </ngb-pagination>
          </div>
          <div class="pl-3 posts-display-heading">
            {{ 'I18N_BLOG_HOME_SEARCH_PAGE_POSTS_HEADING' | translate }}
          </div>
        </div>
        <div *ngFor="let blogPostSummary of blogPostSummariesToShow" class="blog-post-card">
          <oppia-blog-card [blogPostSummary]="blogPostSummary"
                           [authorProfilePicDataUrl]="blogPostSummary.authorProfilePicUrl"
                           [shownOnblogPostPage]="false">
          </oppia-blog-card>
        </div>
      </div>
      <div *ngIf="noResultsFound && !showBlogPostCardsLoadingScreen" class="col-8 posts-display-heading text-center">
        <picture>
          <source type="image/webp" [srcset]="getStaticImageUrl('/images/general/no_explorations_found.webp')">
          <source type="image/png" [srcset]="getStaticImageUrl('/images/general/no_explorations_found.png')">
          <img [src]="getStaticImageUrl('/general/no_explorations_found.png')">
        </picture>
        {{ 'I18N_BLOG_HOME_PAGE_NO_RESULTS_FOUND' | translate }}
      </div>
      <div *ngIf="showBlogPostCardsLoadingScreen" class="col-8 my-auto">
        <mat-spinner class="mx-auto"></mat-spinner>
      </div>
      <div [ngClass]="{'col-4': !isSmallScreenViewActive()}">
        <div class="blog-home-page-search-column pt-4 mt-2 d-inline-block"
             [ngClass]="{'pl-5': !isSmallScreenViewActive(), 'mobile-view-columns-separator': isSmallScreenViewActive()}">
          <span [ngClass]="{'d-inline-flex': isSmallScreenViewActive()}">
            <img [src]="oppiaAvatarImgUrl" alt="image of Oppia Avatar"
                 class="mr-auto ml-auto oppia-blog-home-page-card-avatar d-flex flex-grow-1">
            <h1 class="d-flex flex-grow-1 blog-home-page-welcome"
                [ngClass]="{'mx-auto my-2': !isSmallScreenViewActive(), 'ml-5 my-auto': isSmallScreenViewActive()}">
              {{ 'I18N_BLOG_HOME_PAGE_WELCOME_HEADING' | translate }}
            </h1>
          </span>
          <h2 class="d-flex flex-grow-1 blog-home-page-oppia-description mx-auto">
            {{ 'I18N_BLOG_HOME_PAGE_OPPIA_DESCRIPTION' | translate }}
          </h2>
          <h4 class="d-flex flex-grow-1 search-heading">
            {{ 'I18N_BLOG_HOME_PAGE_QUERY_SEARCH_HEADING' | translate }}
          </h4>
          <form class="navbar-form oppia-search-bar-form pl-0" role="search">
            <div class="form-group d-flex"
                 [ngClass]="{'flex-row-reverse': isSmallScreenViewActive()}">
              <input type="text"
                     class="form-control oppia-search-bar-input oppia-search-bar-text-input"
                     [(ngModel)]="searchQuery"
                     (ngModelChange)="searchButtonIsActive ? null : onSearchQueryChangeExec()"
                     [ngModelOptions]="{ updateOn: 'blur', standalone:'true' }"
                     aria-label="Search bar"
                     (keydown.enter)="$event.target.blur()"
                     (input)="searchToBeExec($event)">
              <div class="input-group oppia-input-group">
                <div class="input-group-addon oppia-search-bar-icon"
                     [ngClass]="{'d-block': isSmallScreenViewActive()}">
                  <i class="fas fa-search material-icons oppia-translate-icon-down md-18"
                     *ngIf="!isSearchInProgress()">
                  </i>
                  <span *ngIf="isSearchInProgress()">
                    <i class="fas fa-sync material-icons md-18 oppia-animate-spin"></i>
                  </span>
                </div>
              </div>
            </div>
          </form>
          <h4 class="d-flex flex-grow-1 search-heading">
            {{ 'I18N_BLOG_HOME_PAGE_TAGS_SEARCH_HEADING' | translate }}
          </h4>
          <oppia-tag-filter *ngIf="listOfDefaultTags.length > 0"
                            [(listOfDefaultTags)]="listOfDefaultTags"
                            [(selectedTags)]="selectedTags"
                            [smallScreenViewIsActive]="isSmallScreenViewActive()"
                            (selectionsChange)="onSearchQueryChangeExec()">
          </oppia-tag-filter>
        </div>
      </div>
    </div>
    <div *ngIf="!noResultsFound && !showBlogPostCardsLoadingScreen" class="d-flex">
      <ngb-pagination *ngIf="!searchPageIsActive"
                      [collectionSize]="totalBlogPosts"
                      [(page)]="page"
                      [maxSize]="2"
                      [pageSize]="MAX_NUM_CARDS_TO_DISPLAY_ON_BLOG_HOMEPAGE"
                      [rotate]="true"
                      (pageChange)="onPageChange()"
                      class="ml-auto mr-auto">
        <ng-template ngbPaginationPrevious >
          <i class="fa fa-angle-left text-center w-100" aria-hidden="true" (click)="onPageChange()"></i>
        </ng-template>
        <ng-template ngbPaginationNumber let-p>
          <button disabled class="pagination-button">{{ p }}</button>
        </ng-template>
        <ng-template ngbPaginationNext>
          <i class="fa fa-angle-right text-center w-100" aria-hidden="true" (click)="onPageChange()"></i>
        </ng-template>
      </ngb-pagination>
      <ngb-pagination *ngIf="searchPageIsActive"
                      [collectionSize]="totalBlogPosts"
                      [(page)]="page"
                      [maxSize]="2"
                      [pageSize]="MAX_NUM_CARDS_TO_DISPLAY_ON_BLOG_HOMEPAGE_SEARCH"
                      (pageChange)="onPageChange()"
                      class="ml-auto mr-auto text-center">
        <ng-template ngbPaginationPrevious>
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </ng-template>
        <ng-template ngbPaginationNext>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </ng-template>
      </ngb-pagination>
    </div>
  </mat-card>
</div>
