/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/
@media (max-width: 1024px) {
  oppia-blog-home-page .oppia-search-bar-form .oppia-search-bar-input {
    border-radius: 0 4px 4px 0;
    border-width: 1px 1px 1px 0;
  }

  oppia-blog-home-page .input-group .oppia-search-bar-icon {
    border-radius: 4px 0 0 4px;
    border-width: 1px 0 1px 1px;
  }
}

@media (max-width: 550px) {
  oppia-blog-home-page .blog-home-page-search-column {
    width: 335px
  }


  @media (max-width: 440px) {
    oppia-blog-home-page mat-card.oppia-blog-home-page-card {
      width: 350px;
    }

    .mat-card.oppia-page-card {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

oppia-blog-home-page .posts-display-heading {
  color: #555;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-align: left;
  text-transform: capitalize;
}

oppia-blog-home-page .blog-home-page-posts-number-display {
  color: #333;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  text-align: left;
}

oppia-blog-home-page .oppia-blog-home-page-card {
  background: #fff;
  border-radius: 8px 8px 0 0;
  margin-bottom: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 52px;
  max-width: 1400px;
  padding-left: 3rem;
  padding-right: 3rem;
}

oppia-blog-home-page .oppia-blog-home-page-card-avatar {
  height: 96px;
  width: 96px;
}

oppia-blog-home-page .blog-home-page-search-column {
  border-left: 2px solid #999;
  flex-flow: column;
  min-width: 200px;
}

oppia-blog-home-page .mobile-view-columns-separator {
  border-bottom: 2px solid #999;
  border-left: unset;
  margin-bottom: 10px;
}

oppia-blog-home-page .blog-home-page-welcome {
  color: #00645c;
  font-family: 'Capriola', Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  text-align: left;
}

oppia-blog-home-page .blog-home-page-oppia-description {
  color: #333;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: left;
}

oppia-blog-home-page .search-heading {
  color: #333;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  text-align: left;
}

.oppia-search-bar-input {
  border-color: #333;
  border-left-width: 1px;
  border-radius: 4px 0 0 4px;
  border-right-width: 0;
  color: #333;

}

.input-group-addon.oppia-search-bar-icon {
  border-color: #333;
  border-left-width: 0;
  border-radius: 0 4px 4px 0;
  border-right-width: 1px;
  color: #333;
}

.input-group {
  width: unset
}

ngb-pagination .page-link {
  border: unset;
  border-radius: 100%;
  color: #333;
  font-size: 22px;
  font-weight: bold;
  height: 3rem;
  padding: 0;
  width: 3rem;
}

ngb-pagination .page-link:hover {
  background-color: none;
  border-color: none;
}

ngb-pagination .page-item.active .page-link {
  background: rgba(65, 152, 137, 0.2);
  color: #333;
}

ngb-pagination .page-item .pagination-button {
  background: none;
  border: none;
  border-radius: 100%;
  color: #333;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  letter-spacing: 0;
  line-height: 25px;
  padding: 0;
  width: 100%;
}

.tag-filter mat-form-field .mat-form-field-flex {
  background: #fff;
  border: 1px solid #707070;
  border-radius: 4px;
}

mat-chip-list .mat-standard-chip {
  background: #fff;
  border: 1px solid #333;
  border-radius: 2px;
  color: #555;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
}

mat-chip-list .mat-standard-chip .mat-chip-remove {
  color: #555;
  display: contents;
}

oppia-blog-home-page .blog-post-card {
  margin-top: 30px;
}

.blog-homepage .oppia-navbar-breadcrumb-separator:after {
  border-left-style: ridge;
  border-width: 2px;
  content: "";
  font-size: 30px;
}

.blog-homepage .oppia-navbar-breadcrumb {
  display: -webkit-inline-box;
  flex-flow: column;
  margin-left: -10px;
  overflow-wrap: break-word;
  padding-top: 3px;
}

@media(max-width:500px) {
  .mobile-navbar-blog-homepage {
    font-size: 14px;
    line-height: 0px;
    vertical-align: text-top;
  }

  .oppia-navbar-breadcrumb.main-blog-homepage-mobile-breadcrumb {
    line-height: 12px;
    padding-top: 15px;
  }
}
