.oppia-interactive-continue-interaction .oppia-arrow-icon {
    font-size: 19px;
    padding-top: 1.5px;
  }
  .oppia-interactive-continue-interaction .oppia-learner-confirm-button {
    background-color: #0d48a1;
  }
