<!DOCTYPE html>
<html ng-app="oppia" itemscope itemtype="http://schema.org/Organization">
  <head>
    @load('base-components/header.template.html', {"title": "Oppia"})
  </head>
  <body>
    <oppia-root>
      <div ng-controller="Base" dir="<[direction]>">
        <oppia-base-content>
          <navbar-pre-logo-action>
            <subtopic-viewer-navbar-pre-logo-action>
            </subtopic-viewer-navbar-pre-logo-action>
          </navbar-pre-logo-action>

          <navbar-breadcrumb>
            <subtopic-viewer-navbar-breadcrumb>
            </subtopic-viewer-navbar-breadcrumb>
          </navbar-breadcrumb>

          <content>
            <oppia-subtopic-viewer-page></oppia-subtopic-viewer-page>
          </content>

          <page-footer></page-footer>
        </oppia-base-content>
      </div>

    </oppia-root>
    @load('pages/footer_js_libs.html')
    <script src="/third_party/static/MathJax-2.7.5/MathJax.js?config=default"></script>
  </body>
</html>
