<oppia-angular-root>
  <oppia-base-content>
    <navbar-pre-logo-action>
      <subtopic-viewer-navbar-pre-logo-action>
      </subtopic-viewer-navbar-pre-logo-action>
    </navbar-pre-logo-action>

    <navbar-breadcrumb>
      <subtopic-viewer-navbar-breadcrumb>
      </subtopic-viewer-navbar-breadcrumb>
    </navbar-breadcrumb>

    <content>
      <oppia-subtopic-viewer-page></oppia-subtopic-viewer-page>
    </content>

    <page-footer></page-footer>
  </oppia-base-content>
</oppia-angular-root>
