.skill-editor-nav-mobile {
    display: none;
  }
  .oppia-publish-button-container {
    margin-right: 5px;
    margin-top: 8px;
  }
  .oppia-changes-count-text {
    margin-left: 2px;
    opacity: 0.5;
  }
  .oppia-dropdown-toggle-icon {
    height: 34px;
  }
  .oppia-discard-draft-button-container {
    left: auto;
    min-width: 125px;
    right: 0;
  }
  .oppia-save-publish-changes-button {
    float: left;
    width: 180px;
  }

  @media screen and (max-width: 768px) {
    #skill-editor-navbar-desktop {
      display: none;
    }
    .skill-editor-nav-mobile {
      display: block;
    }
    .skill-editor-navbar-mobile-tabs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 10px 0;
    }
    .discard-changes-btn-container {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
    }
    .discard-changes-btn {
      background-color: #008098;
      color: #fff;
      font-weight: bold;
      width: 100%;
    }
    .publish-skill-btn {
      background-color: #fff;
      border: 2px solid #008098;
      color: #008098;
      font-weight: bold;
    }
    .skill-navbar-mobile-tabs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 10px 0;
    }
    .skill-nav-dropdown-container {
      position: relative;
      text-align: left;
      width: 45%;
    }
     .skill-nav-skill-nav-dropdown-options {
      background-color: #fff;
      border: 1px solid #000;
      bottom: 100%;
      position: absolute;
      width: 100%;
    }
     .skill-nav-dropdown-content {
      background-color: #fff;
      border: 1.5px solid #6d6969;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .skill-editor-nav-mobile .navbar-tab-icon {
      padding: 5px;
    }
     .right-container {
      background-color: #419889;
      color: #fff;
    }

     .skill-nav-dropdown-option {
      padding: 5px 0;
    }
     .skill-nav-dropdown-icon {
      align-items: center;
      background-color: #e6e6e6;
      border-left: 1.5px solid #6d6969;
      color: #000;
      display: flex;
      justify-content: center;
      text-align: center;
      width: 20%;
    }
     .skill-nav-dropdown-text {
      display: flex;
      flex-direction: column;
      padding: 5px 10px;
    }
     .save-options-dropdown {
      width: 52%;
    }
  }
