.oppia-story-viewer-nav-breadcrumb {
    align-items: center;
    height: 56px;
    padding-top: 0;
  }

  .oppia-story-navbar-title {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    margin: 0;
  }

  .oppia-story-navbar-topic {
    color: white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
  }

  .oppia-story-navbar-topic span {
    color: white;
  }

  .oppia-story-viewer-nav-separator {
    background-color: white;
    height: 80%;
    margin-left: 12px;
    margin-right: 12px;
    width: 1px;
  }

  .oppia-story-viewer-nav-labels-container {
    display: flex;
    flex-direction: column;
  }
