<div dir="auto" *ngIf="storyTitle && !isLanguageRTL()" class="nav navbar-nav oppia-navbar-breadcrumb oppia-story-viewer-nav-breadcrumb">
  <div class="oppia-story-viewer-nav-separator"></div>
  <div class="oppia-story-viewer-nav-labels-container">
    <p class="oppia-story-navbar-title">
      <span *ngIf="!isHackyStoryTitleTranslationDisplayed()">{{ storyTitle }}</span>
      <span *ngIf="isHackyStoryTitleTranslationDisplayed()">{{ storyTitleTranslationKey | translate }}</span>
    </p>
    <a class="oppia-story-navbar-topic" [href]="getTopicUrl()">
      <span *ngIf="!isHackyTopicNameTranslationDisplayed()">{{ topicName }}</span>
      <span *ngIf="isHackyTopicNameTranslationDisplayed()">{{ topicNameTranslationKey | translate }}</span>
    </a>
  </div>
</div>

<div dir="auto" *ngIf="storyTitle && isLanguageRTL()" class="nav navbar-nav oppia-navbar-breadcrumb oppia-story-viewer-nav-breadcrumb">
  <div class="oppia-story-viewer-nav-labels-container">
    <p class="oppia-story-navbar-title">
      <span *ngIf="!isHackyStoryTitleTranslationDisplayed()">{{ storyTitle }}</span>
      <span *ngIf="isHackyStoryTitleTranslationDisplayed()">{{ storyTitleTranslationKey | translate }}</span>
    </p>
    <a class="oppia-story-navbar-topic" [href]="getTopicUrl()">
      <span *ngIf="!isHackyTopicNameTranslationDisplayed()">{{ topicName }}</span>
      <span *ngIf="isHackyTopicNameTranslationDisplayed()">{{ topicNameTranslationKey | translate }}</span>
    </a>
  </div>
  <div class="oppia-story-viewer-nav-separator"></div>
</div>
