<form (ngSubmit)="submitAnswer()">
  <div class="drag-and-drop-sort-container conversation-skin-interaction-container">
    <!-- Drag and drop, when we allow multiple items in same position of list -->
    <div *ngIf="allowMultipleItemsInSamePosition" cdkDropList (cdkDropListDropped)="dropList($event)">
      <ng-container cdkDropListGroup>
        <div *ngFor="let items of multipleItemsInSamePositionArray; let idx = index" 
             class="child-dnd child-dnd-{{idx}}">
          <div cdkDrag
               cdkDropList
               [cdkDropListData]="items"
               (cdkDropListExited)="logEvent($event)"
               [ngClass]="{
                 'child-dnd-border': idx%2===1 && idx !== noShow,
                 'child-dnd-borderless': (idx%2!==1 || idx === noShow) || hide.indexOf(idx) >= 0,
                 'zero-height': hide.indexOf(idx) >= 0
               }"
               [class]="idx%2===1 && idx !== noShow ? 'child-dnd-border' : 'child-dnd-borderless'"
               (cdkDropListDropped)="dropItemInAnyList($event)">
            <div class="root-dnd-placeholder" [ngStyle]="{ 'height': (rootHeight-30) + 'px' }" *cdkDragPlaceholder></div>
            <div *ngIf="idx%2===1 && idx !== noShow && items.length > 1"
                 class="example-handle" 
                 cdkDragHandle
                 (mouseover)="addHighlight(idx)"
                 (mouseout)="removeHighlight()"
                 (mousedown)="setRootPlaceHolderHeight(idx)">
            </div>
            <div *ngFor="let item of items" class="child-dnd-item-box" [ngClass]="{'highlight-group': idx === highlightedGroup}" cdkDrag>
              <div class="child-dnd-placeholder" *cdkDragPlaceholder></div>
              <angular-html-bind-wrapper [htmlData]="item"></angular-html-bind-wrapper>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <!-- Drag and drop, when we allow only single item in same position of list -->
    <div *ngIf="!allowMultipleItemsInSamePosition" cdkDropList class="child-dnd-single-item" (cdkDropListDropped)="dropItemInSameList($event)">
      <div class="child-dnd-item-box" *ngFor="let item of singleItemInSamePositionArray" cdkDrag>
        <div class="child-dnd-single-item-placeholder" *cdkDragPlaceholder></div>
        <angular-html-bind-wrapper [htmlData]="item"></angular-html-bind-wrapper>
      </div>
    </div>    
  </div>
</form>

<style>
  .conversation-skin-interaction-container {
    /* This CSS class is essential for auto-scrolling in the Drag and Drop Sort
       interaction to work correctly. The class is intentionally defined here so
       that it does not affect any other interaction.

       If this class is removed, the auto-scrolling in Drag and drop interaction
       will break, as this container will not be scrollable when there are a lot
       of draggable items (see issue #5280). So, it has to be set as
       overflow: scroll with a definite max-height.

       'touch-action: manipulation' is used for fixing the error thrown by drag
       and drop interactions on mobile (see issue #5607), while also maintaining
       vertical touch movements and zoom touch actions.
    */
    height: 540px;
    overflow-y:auto;
    padding: 10px 10px 25px 80px;
    margin: 16px;
    touch-action: manipulation;
  }

  .drag-and-drop-sort-container {
    border: 1px solid #000;
  }

  .cdk-drag-placeholder {
    opacity: 0.5;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drag-preview {
    opacity: 0.5;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .child-dnd {
    width: 300px;
    max-width: 100%;
    margin: -10px 0 0 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  .child-dnd-single-item {
    width: 300px;
    max-width: 100%;
    margin: 80px 0 0 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  .child-dnd .zero-height {
    min-height: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }

  .child-dnd.cdk-drop-list-dragging .child-dnd-item-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .child-dnd-border {
    border-top: solid 1px #ccc;
    background: #fff0;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    margin-top: 20px;
    padding-bottom: 25px;
  }

  .child-dnd-border .child-dnd-placeholder {
    background: #cccccc00;
    border: dotted 3px #3db0d6;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .child-dnd-borderless {
    margin: 2.5px 0 2.5px 0;
    border: solid 0px #ccc;
    min-height: 15px;
    background: transparent;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }

  .child-dnd-borderless .child-dnd-placeholder {
    margin: 20px 0 0 0;
    background: #cccccc00;
    border: dotted 3px #3db0d6;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .child-dnd-item-box {
    padding: 20px 10px;
    border-bottom: solid 1px #000;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background-color: #add8e6;
    font-size: 14px;
  }

  .child-dnd-item-box:last-child {
    border-bottom: solid 1px #000;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .child-dnd-item-box:first-child {
    border-top: solid 1px #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .highlight-group.child-dnd-item-box:first-child {
    border-top: solid 1px black;
  }

  .highlight-group.child-dnd-item-box:last-child {
    border-bottom: solid 1px black;
  }

  .example-handle {
    border-radius: 4px 4px 0 0;
    background-color: #adacac;
    cursor: move;
    width: calc(100% - 4px);
    margin: 0px 2px 0 2px;
    height: 10px;
    position: absolute;
    z-index: 1;
  }

  .root-dnd-placeholder {
    background: #ccc;
    border: dotted 3px black;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .highlight-group {
    border-left: solid 1px black;
    border-right: solid 1px black;
  }

  .child-dnd-single-item-placeholder {
    background: #ccc;
    border: dotted 3px black;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

</style>
