/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

.oppia-learner-group-preferences {
  margin: 40px auto 0;
  margin-bottom: 40px;
  text-align: left;
  width: 80%;
}

.oppia-learner-group-preferences .preferences-tab-title-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.oppia-learner-group-preferences .preferences-tab-title {
  color: #00645c;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.oppia-learner-group-preferences .delete-group-button {
  background: transparent;
  border: solid 1.5px #a53417;
  border-radius: 4px;
  color: #a53417;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 26px;
  text-align: center;
}

.oppia-learner-group-preferences .preferences-tab-sections {
  background: #fff;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.oppia-learner-group-preferences .preferences-tab-sections-header {
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-around;
}

.oppia-learner-group-preferences .preferences-tab-sections-header-title {
  cursor: pointer;
  font-weight: 500;
  padding-bottom: 10px;
}

.oppia-learner-group-preferences .preferences-tab-sections-header-title.active {
  border-bottom: 3px solid #33978f;
  color: #015952;
}

.oppia-learner-group-preferences .preferences-tab-sections .btn-primary {
  background: #00609c;
  font-size: 18px;
  font-weight: 500;
  justify-self: right;
  margin-top: 40px;
  padding: 7px 36px;
}

.oppia-learner-group-preferences .preferences-tab-sections .group-details-save-button {
  background: #27635c;
}

.oppia-learner-group-preferences .edit-learner-group-details-section,
.oppia-learner-group-preferences .edit-learner-group-students-section {
  display: grid;
  margin-top: 40px;
}

.oppia-learner-group-preferences .edit-learner-group-students-section .btn-primary {
  margin-top: unset;
}

.invite-students-modal .modal-body {
  padding: 30px;
}

.invite-students-modal .modal-footer {
  border-top: unset;
  padding: 0 30px 30px;
}

.invite-students-modal .modal-dialog {
  margin: 200px auto;
}

.oppia-learner-group-preferences .group-students-title {
  color: #00609c;
  font-size: 14px;
  font-weight: 500;
}

.oppia-learner-group-preferences .current-group-students {
  margin-bottom: 20px;
}

.oppia-learner-group-preferences .group-students-card {
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-shadow: 3px 3px 6px rgb(0 0 0 / 5%);
  display: flex;
  font-weight: 500;
  gap: 10px;
  justify-content: space-between;
  margin-top: 8px;
  padding: 10px 30px;
}

.oppia-learner-group-preferences .group-students-card .group-students-card-avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.oppia-learner-group-preferences .group-students-card-info {
  align-items: center;
  display: flex;
  font-size: 14px;
  gap: 10px;
}

.oppia-learner-group-preferences .group-students-card-buttons {
  display: flex;
  font-size: 14px;
  gap: 20px;
}

.oppia-learner-group-preferences .group-students-card-button {
  align-items: center;
  color: #00609c;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  gap: 5px;
}

.oppia-learner-group-preferences .current-group-students .group-students-card {
  background: #e5eef4;
  border-color: #e5eef4;
}

.oppia-learner-group-preferences .no-students-text {
  color: #9e9e9e;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.remove-student-modal .modal-dialog,
.withdraw-student-invitation-modal .modal-dialog {
  margin: 200px auto;
}

.remove-student-modal .modal-header,
.withdraw-student-invitation-modal .modal-header {
  border-bottom: unset;
  padding-left: 40px
}

.remove-student-modal .modal-body,
.withdraw-student-invitation-modal .modal-body {
  padding: 0 40px 30px;
}

.remove-student-modal .modal-footer,
.withdraw-student-invitation-modal .modal-footer {
  border-top: unset;
  padding-bottom: 40px;
  padding-right: 40px;
}
