<!-- This outer div is needed, otherwise the textarea will overlap the footer of the page. -->
<div class="text-input-container">
  <!-- This ng-form is needed for submitting answer on hitting enter. -->
  <form (ngSubmit)="submitAnswer(answer)" role="form" class="form-horizontal">
    <schema-based-editor [schema]="getSchema()"
                         [localValue]="answer"
                         (localValueChange)="updateAnswer($event)"
                         [labelForFocusTarget]="getLabelForFocusTarget()">
    </schema-based-editor>
  </form>
  <div *ngIf="errorMessageI18nKey" class="oppia-form-error-container">
    {{errorMessageI18nKey | translate}}
  </div>
</div>
