/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/


.collapse-container {
  height: 100%;
  width: 100%;
}

.collapse-container p {
  margin: 0;
}

.title-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.panel-title {
  font-weight: 700;
}
