/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are some additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

.lesson-player-page-container {
  display: flex;
  flex-direction: column;
}

.oppia-new-player-content::before {
  background-image: url('/assets/images/background/lessonPlayer.png');
  background-repeat: repeat;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 0;
}

.oppia-new-player-content {
  background-color: #aed2e9;
  display: flex;
  min-height: calc(100vh - 104px);
}

.oppia-new-player-main-content {
  width: 100%;
}
