<background-banner></background-banner>
<div [ngStyle]="{'min-height': windowIsNarrow ? '85.5vh': 'auto'}"
     class="oppia-feedback-updates-container position-relative">
  <div class="feedback-updates-content-row"
       [ngStyle]="windowIsNarrow ? {'display': 'block'} : {'display': 'flex'}"
       [ngClass]="{'oppia-feedback-updates-mobile-mode': windowIsNarrow}">


    <div class="oppia-feedback-updates-main-content"
         [ngClass]="{'oppia-feedback-updates-mobile-mode': windowIsNarrow}">
      <div>
        <span class="sort-explorations-select oppia-feedback-updates-sort oppia-sort-options"
              *ngIf="threadSummaries.length !== 0 && !feedbackThreadActive"
              [ngClass]="{'oppia-feedback-updates-sort-mobile': windowIsNarrow}">
          <p class="sort-by-text mt-0">Sort By</p>
          <select [(ngModel)]="currentFeedbackThreadsSortType"
                  class="sort-options oppia-sort-options"
                  (change)="setFeedbackSortingOptions(currentFeedbackThreadsSortType)">
            <option *ngFor="let thread of FEEDBACK_THREADS_SORT_BY_KEYS_AND_I18N_IDS | keyvalue"
                    [value]="thread.value['key']">
              {{ thread.value['i18nId'] | translate }}
            </option>
          </select>
          <span class="sort-order fas"
                (click)="setFeedbackSortingOptions(currentFeedbackThreadsSortType)"
                [ngClass]="isCurrentFeedbackSortDescending ? 'fa-long-arrow-alt-down':'fa-long-arrow-alt-up'">
          </span>
        </span>
      </div>

      <div class="oppia-feedback-updates-main-content-container d-flex"
      [ngClass]="{'justify-content-center': windowIsNarrow}">


        <div class="oppia-feedback-updates-page-feedback-section oppia-feedback-section-top-margin w-100"
             [ngStyle]="threadSummaries.length !== 0 && {'cursor': 'pointer'}">
          <mat-card class="oppia-feedback-updates-page-no-activity-card layout-row"
                    *ngIf="threadSummaries.length === 0">
            <div>
              <span class="oppia-feedback-updates-main-content-title">
                <span [innerHTML]="'I18N_FEEDBACK_UPDATES_NO_ACTIVITY_CARD_HEADING' | translate">
                </span>
              </span>
              <p [innerHTML]="'I18N_EMPTY_FEEDBACK_UPDATES_THREADS' | translate" class="empty-feedback-threads"></p>

              <a class="btn oppia-dashboard-intro-button oppia-transition-200 oppia-feedback-updates-intro-button-link"
                 [innerHTML]="'I18N_ACTION_BROWSE_LESSONS' | translate"
                 href="/learn/{{DEFAULT_CLASSROOM_URL_FRAGMENT}}"
                 smartRouterLink="/learn/{{DEFAULT_CLASSROOM_URL_FRAGMENT}}">
              </a>
            </div>
          </mat-card>

          <table class="table" *ngIf="!feedbackThreadActive">
            <tr *ngFor="let thread of threadSummaries | sortBy: isCurrentFeedbackSortDescending: getValueOfFeedbackThreadSortKey()"
                (click)="onClickThread(thread.status, thread.explorationId, thread.threadId, thread.explorationTitle)"
                class="oppia-feedback-tab-row e2e-test-feedback-thread">
              <td width="10%">
                <span [ngClass]="getLabelClass(thread.status)">{{ getHumanReadableStatus(thread.status) }}</span>
              </td>
              <td width="20%">
                <span *ngIf="thread.totalMessageCount > 1">
                  <span *ngIf="thread.authorSecondLastMessage">
                    <span *ngIf="thread.secondLastMessageIsRead">{{ thread.authorSecondLastMessage | truncate:7 }}, </span>
                    <span *ngIf="!thread.secondLastMessageIsRead">
                      <strong>{{ thread.authorSecondLastMessage | truncate:7 }}, </strong>
                    </span>
                  </span>
                  <span *ngIf="!thread.authorSecondLastMessage">
                    <span *ngIf="thread.totalMessageCount > 1">
                      <span [innerHTML]="'I18N_FEEDBACK_MESSAGE_ANONYMOUS_AUTHOR' | translate"></span>,
                    </span>
                  </span>
                </span>
                <span *ngIf="thread.authorLastMessage">
                  <span *ngIf="thread.lastMessageIsRead">{{ thread.authorLastMessage | truncate:7 }}</span>
                  <span *ngIf="!thread.lastMessageIsRead">
                    <strong>{{ thread.authorLastMessage | truncate:7 }}</strong>
                  </span>
                </span>
                <span *ngIf="!thread.authorLastMessage">
                  <span [innerHTML]="'I18N_FEEDBACK_MESSAGE_ANONYMOUS_AUTHOR' | translate"></span>
                </span>
                <span class="feedback-thread-message-count">({{ thread.totalMessageCount }})</span>
              </td>
              <td width="50%">
                <span *ngIf="thread.totalMessageCount > 1 && thread.secondLastMessageIsRead && thread.lastMessageIsRead">{{ thread.explorationTitle }} -</span>
                <span class="e2e-test-feedback-exploration" *ngIf="thread.totalMessageCount === 1 && thread.lastMessageIsRead">{{ thread.explorationTitle }} -</span>
                <span *ngIf="thread.totalMessageCount === 1 && !thread.lastMessageIsRead">
                  <strong>{{ thread.explorationTitle }} -</strong>
                </span>
                <span *ngIf="thread.totalMessageCount > 1 && (!thread.lastMessageIsRead || !thread.secondLastMessageIsRead)">
                  <strong>{{ thread.explorationTitle }} -</strong>
                </span>
                <span *ngIf="thread.lastMessageText">{{ thread.lastMessageText | truncate:50 }}</span>
                <span *ngIf="!thread.lastMessageText && thread.totalMessageCount !== 1">
                  <i [innerHTML]="'I18N_FEEDBACK_UPDATES_THREAD_STATUS_CHANGE_MESSAGE' | translate: {threadStatus: getHumanReadableStatus(thread.status)}">
                  </i>
                </span>
                <span *ngIf="!thread.lastMessageText && thread.totalMessageCount === 1">
                  <i [innerHTML]="'I18N_FEEDBACK_UPDATES_SUGGESTION_TEXT' | translate"></i>
                </span>
              </td>
              <td width="20%">
                <span>{{ getLocaleAbbreviatedDatetimeString(thread.lastUpdatedMsecs) }}</span>
              </td>
            </tr>
          </table>

          <table class="table" *ngIf="feedbackThreadActive">
            <tr>
              <td>
                <button (click)="showAllThreads()"
                        class="btn btn-secondary oppia-btn-secondary oppia-box-size">
                  <i class="fas fa-chevron-left"
                     title="{{ 'I18N_FEEDBACK_UPDATES_RETURN_TO_FEEDBACK_THREADS_MESSAGE' | translate }}">
                  </i>
                </button>
                <span class="oppia-exploration-title">{{ explorationTitle }}</span>
              </td>
            </tr>
            <tr *ngIf="loadingFeedbacks">
              <td class="text-center">
                <span>
                  Loading
                  <loading-dots></loading-dots>
                </span>
              </td>
            </tr>
            <ng-container *ngIf="!loadingFeedbacks">
              <tr *ngFor="let message of messageSummaries"
                  class="oppia-message-summaries">
                <td>
                  <div class="row">
                    <div class="col-sm-9">
                      <span class="feedback-message-header">
                        <span *ngIf="message.authorUsername"
                              class="d-inline-block">
                          <picture>
                            <source type="image/webp"
                                    [srcset]="getauthorPictureWebpDataUrl(message.authorUsername)">
                            <source type="image/png"
                                    [srcset]="getauthorPicturePngDataUrl(message.authorUsername)">
                            <img class="oppia-navbar-profile-picture rounded-circle oppia-profile-picture"
                                 [src]="getauthorPicturePngDataUrl(message.authorUsername)"
                                 alt="User Avatar">
                          </picture>
                        </span>

                        <span *ngIf="!message.authorUsername"
                              class="d-inline-block">
                          <i class="oppia-profile-alignment fas fa-user-circle fa-2x"></i>
                        </span>
                      </span>

                      <span *ngIf="message.authorUsername"
                            class="feedback-message-author-name">
                        <strong>{{ message.authorUsername }}</strong>
                      </span>
                      <span *ngIf="!message.authorUsername"
                            class="feedback-message-author-name">
                        <strong [innerHTML]="'I18N_FEEDBACK_MESSAGE_ANONYMOUS_AUTHOR' | translate"></strong>
                      </span>
                      <span class="oppia-updated-status"
                            *ngIf="message.messageId !== 0 && message.updatedStatus">
                        <em [innerHTML]="'I18N_FEEDBACK_UPDATES_THREAD_STATUS_CHANGE_MESSAGE' | translate: {threadStatus: getHumanReadableStatus(message.updatedStatus)}">
                        </em>
                      </span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <span>{{ getLocaleAbbreviatedDatetimeString(message.createdOnMsecs) }}</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-2 feedback-message-spacing oppia-feedback-message-spacing"></div>
                    <div class="col-sm-10 feedback-thread-message-body">
                      <div>
                        <span class="e2e-test-feedback-message" *ngIf="message.text">{{ message.text }}</span>
                        <button *ngIf="message.currentContentHtml"
                                class="btn btn-primary oppia-dashboard-view-suggestion-button"
                                (click)="showSuggestionModal(message.suggestionHtml, message.currentContentHtml, message.description)"
                                [innerHTML]="'I18N_FEEDBACK_UPDATES_VIEW_SUGGESTION' | translate">
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
            <tr>
              <td>
                <div class="row">
                  <div class="col-sm-1 feedback-message-author-picture oppia-feedback-message-spacing p-0">
                    <span class="feedback-message-header">
                      <span class="d-inline-block">
                        <picture>
                          <source type="image/webp" [srcset]="profilePictureWebpDataUrl">
                          <source type="image/png" [srcset]="profilePicturePngDataUrl">
                          <img [src]="profilePicturePngDataUrl"
                               class="oppia-navbar-profile-picture rounded-circle feedback-thread-learner-profile-pic"
                               alt="User Avatar">
                        </picture>
                      </span>
                    </span>
                  </div>

                  <div class="col-sm-11">
                    <div class="feedback-thread-new-message">
                      <textarea class="form-control feedback-thread-reply-box"
                                placeholder="{{ 'I18N_FEEDBACK_UPDATES_THREAD_DEFAULT_MESSAGE' | translate }}" [(ngModel)]="newMessage.text">
                      </textarea>
                    </div>
                    <div class="feedback-thread-warning"
                         *ngIf="feedbackThreadActive">
                      <i class="fas fa-exclamation-circle"></i>
                      <span [innerHTML]="'I18N_FEEDBACK_UPDATES_FEEDBACK_THREAD_WARNING' | translate"></span>
                    </div>
                    <div>
                      <button class="btn btn-success feedback-thread-new-message-send"
                              (click)="addNewMessage(threadId, newMessage.text)"
                              ng-disabled="messageSendingInProgress || !newMessage.text">
                        <span *ngIf="messageSendingInProgress"
                              [innerHTML]="'I18N_FEEDBACK_UPDATES_SEND_FEEDBACK_THREAD_MESSAGE_IN_PROGRESS' | translate">
                        </span>
                        <span class="e2e-test-feedback-send-message"
                              *ngIf="!messageSendingInProgress"
                              [innerHTML]="'I18N_FEEDBACK_UPDATES_SEND_FEEDBACK_THREAD_MESSAGE' | translate">
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <div class="oppia-feedback-updates-page-pagination-container" *ngIf="paginatedThreadsList.length > 0">
            <button class="oppia-pagination-button" type="button" (click)="fetchFeedbackUpdates()">
              <span *ngIf="!loadingIndicatorIsShown">Show more</span>
              <span *ngIf="loadingIndicatorIsShown">
                <mat-progress-spinner [diameter]="25"
                                      [mode]="indeterminate"
                                      class="oppia-diagram-spinning-button">
                </mat-progress-spinner>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<style>
  .oppia-profile-alignment {
    vertical-align: middle;
  }
  .oppia-box-size {
    padding: 2px 10px;
  }
  .feedback-updates-content-row {
    display: flex;
    justify-content: center;
  }
</style>
