<div class="modal-header e2e-test-create-new-classroom-modal">
  <h3>
    Add new classroom
  </h3>
</div>
<div class="modal-body">
  <div class="row new-classroom-input-data">
    <span class="col-lg-3 col-md-3 col-sm-3 classroom-name-label">Name</span>
    <div class="new-classroom-name-input">
      <input [(ngModel)]="tempClassroom._name"
             rows="1"
             class="e2e-test-new-classroom-name form-control required"
             (ngModelChange)="validateClassroom(tempClassroom, classroom)">
      <p *ngIf="nameValidationError.length > 0" class="oppia-warning-text">
        {{ nameValidationError }}
      </p>
    </div>
  </div>

  <div class="row new-classroom-input-data">
    <span class="col-lg-3 col-md-3 col-sm-3 classroom-url-fragment-label">URL Fragment</span>
    <div class="new-classroom-name-input">
      <input [(ngModel)]="tempClassroom._urlFragment"
             rows="1"
             class="e2e-test-new-classroom-url-fragment form-control required"
             (ngModelChange)="validateClassroom(tempClassroom, classroom)">
      <p *ngIf="urlValidationError.length > 0" class="oppia-warning-text">
        {{ urlValidationError }}
      </p>
    </div>
  </div>

  <div class="row new-classroom-input-data">
    <span class="col-lg-3 col-md-3 col-sm-3 classroom-url-fragment-label">Feedback Recipient Email</span>
    <div class="new-classroom-name-input">
      <input [(ngModel)]="tempClassroom._feedbackRecipientEmail"
             rows="1"
             type="email"
             class="e2e-test-new-classroom-feedback-recipient form-control required"
             (ngModelChange)="validateClassroom(tempClassroom, classroom)">
      <p *ngIf="feedbackRecipientEmailValidationError.length > 0" class="oppia-warning-text">
        {{ feedbackRecipientEmailValidationError }}
      </p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary"
          (click)="cancel()"
          [disabled]="newClassroomCreationInProgress">
    Cancel
  </button>
  <button class="btn btn-success e2e-test-create-new-classroom"
          (click)="createClassroom()"
          [disabled]="!tempClassroom.isClassroomDataValid()">
    <span *ngIf="!newClassroomCreationInProgress">Create</span>
    <mat-spinner *ngIf="newClassroomCreationInProgress"
                 class="oppia-create-classroom-spinning-button"
                 [diameter]="22">
    </mat-spinner>
  </button>
</div>
