.oppia-graph-viz path.link {
  fill: none;
  stroke: rgb(179, 179, 179);
  stroke-width: 3px;
}
.oppia-graph-viz text {
  font: 12px sans-serif;
  pointer-events: none;
}
.oppia-graph-viz text.shadow {
  stroke: #fff;
  stroke-opacity: .8;
  stroke-width: 3px;
}
.oppia-graph-viz .node rect {
  fill: #fff;
  pointer-events: all;
  stroke: rgb(0, 0, 0);
  -moz-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.oppia-graph-viz .oppia-box-fill {
  fill: #e0f2f1;
}
.modal-dialog {
  border: none;
  margin: 0;
  width: 100vw;
}
.modal-content {
  border: 0;
  border-radius: 0;
  height: 100vh;
}
