.update-classroom-order-modal {
  padding: 20px;

  h3 {
    margin-bottom: 10px;
  }

  .hint {
    color: #666;
    margin-bottom: 20px;
  }

  .classroom-tile {
    background-color: #e0f2f1;
    color: black;
    cursor: move;
    margin-bottom: 10px;
    padding: 10px;
    transition: transform 0.2s ease;
  }

  .cdk-drag-placeholder {
    transform: scale(1.1);
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    button {
      margin-left: 10px;
    }
  }
}
