/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

.oppia-learner-view-card-content .oppia-learner-confirm-button {
  margin-bottom: 10px;
  margin-left: 10px;
}

.oppia-learner-view-card-top-section {
  padding: 0 20px;
  position: relative;
}

.oppia-learner-view-card {
  background: #fff;
  border-radius: 2px;
  max-width: 100vw;
  padding-bottom: 18px;
  padding-left: 0;
  padding-top: 20px;
  text-align: left;
}

.oppia-learner-view-card-top-content {
  background-color: rgba(224,242,241,1);
  border-top-left-radius: 0;
  margin-bottom: 12px;
  padding: 12px;
  width: 100%;
}

.oppia-learner-view-card-content {
  word-wrap: break-word;
}

.conversation-skin-instruction-disabled {
  color: gray;
}

.oppia-learner-view-card-top-section .conversation-skin-oppia-avatar {
  height: 100px;
  left: -87px;
  top: -20px;
  width: 100px;
}

.conversation-skin-tutor-card-middle-section .conversation-skin-user-avatar,
.conversation-skin-tutor-card-middle-section .conversation-skin-oppia-avatar {
  display: none;
}

.oppia-learner-view-card .instructions-button {
  background: inherit;
  border: none;
  white-space: normal;
}

.oppia-learner-view-card.animate-card-width {
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.oppia-learner-view-card-top-content p:not(:last-child) {
  line-height: 1.5;
  margin-bottom: 18px;
}

/* This should match the value defined in AUDIO_HIGHLIGHT_CSS_CLASS. */
.conversation-skin-audio-highlight {
  border: 3px solid #f3d140;
}

.conversation-skin-future-tutor-card {
  background: #fff;
  border-radius: 2px;
  margin-left: 87px;
  padding-top: 20px;
  text-align: left;
}

.conversation-skin-tutor-card-middle-section .conversation-skin-learner-answer-content {
  background-color: rgba(236,239,241,0.4);
}

.conversation-skin-tutor-card-middle-section .conversation-skin-oppia-feedback-content {
  background-color: rgba(224,242,241,0.4);
}

.conversation-skin-tutor-card-middle-section .conversation-skin-oppia-feedback-content::before,
.conversation-skin-tutor-card-middle-section .conversation-skin-learner-answer-content::before {
  display: none;
}

.oppia-learner-view-card.ng-hide {
  opacity: 0;
  transform: translateX(-1000px);
}

.check-mark-hidden {
  display: none;
}

.check-mark-skipped {
  opacity: 0;
}

.end-chapter-check-mark {
  transition-duration: 0.5s;
  transition-property: opacity;
}

.learner-view-card-transition-class {
  transition-duration: 1s;
  transition-property: transform, opacity;
}

.card-content-hidden {
  opacity: 0;
  position: fixed;
  transform: translate(0, 7px);
}

.conversation-skin-responses-dropdown-container {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  line-height: 0.1em;
  margin: 8px 20px 20px 20px;
  text-align: center;
}

.conversation-skin-responses-dropdown-text {
  background-color: #fff;
  color: #888;
  font-size: 0.8em;
  padding: 0 10px;
}

.conversation-skin-responses-dropdown-icon {
  font-size: 20px;
  margin-bottom: -2px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.conversation-skin-responses-dropdown-icon-rotated {
  margin-bottom: -2px;
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}

.conversation-skin-inline-interaction {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 8px 20px 25px;
  position: relative;
}

.conversation-skin-inline-interaction .conversation-skin-user-avatar {
  left: -20px;
  top: 14px;
}

.conversation-skin-milestone-message {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0 20px;
}

.conversation-skin-milestone-message .milestone-message-star-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 72px;
  justify-content: center;
  margin-right: 10px;
  width: 72px;
}

.conversation-skin-milestone-message .milestone-message-star-container .star-icon {
  position: absolute;
  transform: scale(1.5);
}

.conversation-skin-milestone-message .completed-chapter-count {
  font-weight: 500;
  margin-top: 9px;
  position: relative;
}

.conversation-skin-milestone-message .milestone-message-text {
  font-size: 1.1em;
  font-weight: 800;
  margin-top: 9px;
  text-align: center;
}

.oppia-conversation-skin-inline-interaction {
  opacity: 0.8;
}

.oppia-conversation-skin-instruction-container {
  padding: 6px 12px;
}
.oppia-no-interaction-text {
  color: #f00;
}
.conversation-skin-oppia-completed-state-card {
  margin: 60px 0 40px;
  padding: 0 20px;
  position: relative;
}
.conversation-skin-oppia-completed-state-card .conversation-skin-oppia-feedback-content {
  color: #888;
  font-style: italic;
}

/* When the size of the browser is reduced, and the answer submitted is
    correct, the continue button (in the tutor card) hides under the
    Correctness footer and the page cannot be scrolled down further.
    So this padding allows to scroll down the tutor card. */
@media(max-width: 770px) {
  .oppia-learner-view-card {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 959px) {
  .oppia-learner-view-card .instructions-button {
    background-color: #0d48a1;
    color: #fff;
    padding: 6px 12px;
    white-space: normal;
  }

  .oppia-learner-view-card button.md-button.md-default-theme.instructions-button:focus,
  .oppia-learner-view-card button.md-button.md-default-theme.instructions-button:hover {
    background-color: #115fd4;
  }

  .oppia-learner-view-card {
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .oppia-learner-view-card {
    margin-top: 30px;
  }
}
