<div class="oppia-learner-hint-and-solution-modal-title">
  <span [innerHTML]="'I18N_HINT_TITLE' | translate"></span>
</div>
<div class="voiceover-button-container">
  <button *ngIf="hasVoiceover && isAudioBarExpanded()"
          class="oppia-learner-hint-solution-voiceover-button"
          (click)="playVoiceover()">
    <i class="fas" [ngClass]="{'fa-play-circle': !isPlaying, 'fa-stop-circle': isPlaying}"></i>
  </button>
</div>

<div class="modal-body">
  <span>
    <oppia-rte-output-display class="oppia-learner-hint-and-solution-modal-body"
                              [rteString]="hint.html">
    </oppia-rte-output-display>
  </span>
</div>

<div class="oppia-learner-solution-container">
  <button mat-button class="oppia-learner-got-it-button e2e-test-learner-got-it-button"
          (click)="closeModal()">
    <span [innerHTML]="'I18N_GOT_IT' | translate"></span>
  </button>
</div>
<span class="clearfix"></span>

<style>
  .oppia-learner-hint-and-solution-modal-title {
    color: #00786d;
    font-family: 'Capriola', 'Roboto', 'Arial', sans-serif;
    font-size: 1.75em;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
  }

  .oppia-learner-hint-and-solution-modal-body {
    word-wrap: break-word;
  }

  .modal-body {
    max-height: calc(85vh - 125px);
    overflow-y: auto;
    padding: 0 20px;
  }

  .oppia-learner-solution-container {
    display: flex;
    justify-content: flex-end;
    padding: 16px 20px;
  }

  .mat-button.oppia-learner-got-it-button {
    align-items: center;
    background-color: #00786d;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    height: 35px;
    min-width: 0;
    outline: none !important;
    padding: 6px 12px;
    text-transform: uppercase;
  }

  .mat-button.oppia-learner-got-it-button:hover {
    background-color: #00655a;
  }

  .clearfix {
    clear: both;
  }

  .oppia-learner-hint-solution-voiceover-button {
    background: none;
    border: none;
    box-shadow: none;
    color: #00786d;
    cursor: pointer;
    float: right;
    font-size: 1.8em;
    margin-right: 0;
    outline: none;
    padding: 5px;
  }

  .oppia-learner-hint-solution-voiceover-button:focus {
    box-shadow: none;
    outline: none;
  }

  .voiceover-button-container {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .fa-play-circle:before,
  .fa-stop-circle:before {
    font-size: 1.2em;
  }
</style>
