:lang(ar) .oppia-search-bar-dropdown-toggle-button:after {
     margin-right: 30px;
  }
  :lang(ar) .oppia-search-bar-dropdown-toggle:after {
    margin-right: 2px;
  }
  @media (max-width: 445px) {

.classroom-page-input-group.inptcls {
      font-size: 15.7px;
      width: 14em;
 }

/* stylelint-disable order/properties-alphabetical-order */
.search-bar-float-start .oppia-search-bar-dropdown-toggle.catbtn {
  font-size: 13px;
  position: relative;
  left: 5rem;
  width: 11em;
}
.oppia-search-bar-language-selector .langbtn {
  font-size: 13px;
  position: relative;
  left: 3rem;
  width: 11em;
}
  /* stylelint-enable order/properties-alphabetical-order */
  :lang(ar) .classroom-page-input-group.inptcls {
    font-size: 12px;
    width: 14em;
  }
  :lang(ar) .search-bar-float-start .oppia-search-bar-dropdown-toggle.catbtn {
 font-size: 13px;
 position: relative;
 right: 9rem;
 width: 10em;
  }
  :lang(ar) .oppia-search-bar-language-selector .langbtn {
 font-size: 13px;
 padding-left: 3rem;
 position: relative;
 right: 8rem;
 width: 10em;
  }
}
@media (max-width : 340px) {

 :lang(ar) .oppia-search-bar-language-selector .langbtn {
 font-size: 13px;
 padding-left: 3rem;
 position: relative;
 right: 8rem;
 width: 10em;
  }
}
@media (max-width : 285px) {
  .classroom-page-input-group.inptcls {
    font-size: 13.4px;
    width: 13.4em;
  }
  .search-bar-float-start .oppia-search-bar-dropdown-toggle.catbtn {
  font-size: 10px;
 left: 10rem;
 width: 12em;
  }
  .oppia-search-bar-language-selector .langbtn {
    font-size: 10px;
    left: 4.8rem;
    width: 12em;
  }
}
