<div class="oppia-same-row-container">
  <form class="search-bar-float-left oppia-search-bar-form" role="search">
    <div class="form-group">
      <div class="input-group oppia-input-group inptcls" [ngClass]="{'classroom-page-input-group': isSearchButtonActive()}">
        <div class="input-group-addon oppia-search-bar-icon">
          <i class="fas fa-search oppia-translate-icon-down md-18" *ngIf="!isSearchInProgress()"></i>
          <span *ngIf="isSearchInProgress()">
            <i class="fas fa-sync oppia-animate-spin"></i>
          </span>
        </div>
        <input type="text"
               class="form-control oppia-search-bar-input oppia-search-bar-text-input e2e-test-search-input"
               [placeholder]="searchBarPlaceholder"
               [(ngModel)]="searchQuery"
               (ngModelChange)="searchButtonIsActive ? null : onSearchQueryChangeExec()"
               [ngModelOptions]="{ updateOn: 'blur', standalone:'true' }"
               aria-label="Search bar"
               (keydown.enter)="$event.target.blur(); onSearchQueryChangeExec()"
               (input)="searchToBeExec($event)">
      </div>
    </div>
  </form>
</div>

<div class="oppia-same-row-container">
  <div [ngClass]="{'open' : activeMenuName === 'category', 'dropup' : enableDropup}"
       ngbDropdown
       autoClose="outside"
       class="search-bar-float-left oppia-navbar-button-container oppia-search-bar-category-selector e2e-test-search-bar-category-selector dropdown">
    <button ngbDropdownToggle
            type="button"
            class="btn e2e-test-search-bar-dropdown-toggle oppia-search-bar-dropdown-toggle oppia-search-bar-input oppia-search-bar-category-input dropdown-toggle catbtn"
            title="{{ selectionDetails.categories.description | translate }}">
      <i *ngIf="isMobileViewActive()" class="fas fa-shapes category-selector-icon"></i>
      <span class="btn-text spnel">
        {{ categoryButtonText | truncate:14 }}
      </span>
    </button>
    <ul ngbDropdownMenu
        class="e2e-test-search-bar-dropdown-menu oppia-search-bar-dropdown-menu oppia-search-bar-dropdown-menu-section dropdown-menu"
        role="menu">
      <ng-container *ngFor="let item of selectionDetails.categories.masterList">
        <li ngbDropdownItem *ngIf="selectionDetails.categories.selections[item.id]">
          <a (click)="toggleSelection('categories', item.id)"
             (keydown.enter)="toggleSelection('categories', item.id)"
             [attr.aria-label]="( item.text | translate ) +  ' selected'"
             tabindex="0"
             *ngIf="!first && !last"
             class="dropdown-item">
            <span class="e2e-test-selected">
              {{ item.text | translate }}
            </span>
            <i *ngIf="selectionDetails.categories.selections[item.id]"
               class="fas fa-check float-right oppia-search-bar-category-selection-symbol">
            </i>
          </a>
          <a (click)="toggleSelection('categories', item.id)"
             (keydown.enter)="toggleSelection('categories', item.id)"
             [attr.aria-label]="( item.text | translate ) +  ' selected'"
             tabindex="0"
             *ngIf="first"
             (keydown)="onMenuKeypress($event, 'category', {shiftTab: ACTION_CLOSE})"
             class="dropdown-item">
            <span class="e2e-test-selected">{{ item.text | translate }}</span>
            <i *ngIf="selectionDetails.categories.selections[item.id]" class="fas fa-check float-right oppia-search-bar-category-selection-symbol"></i>
          </a>
          <a (click)="toggleSelection('categories', item.id)"
             (keydown.enter)="toggleSelection('categories', item.id)"
             [attr.aria-label]="( item.text | translate ) +  ' selected'"
             *ngIf="last"
             tabindex="0"
             (keydown)="onMenuKeypress($event, 'category', {tab: ACTION_CLOSE})"
             class="dropdown-item">
            <span class="e2e-test-selected">{{ item.text | translate }}</span>
            <i *ngIf="selectionDetails.categories.selections[item.id]" class="fas fa-check float-right oppia-search-bar-category-selection-symbol"></i>
          </a>
        </li>
      </ng-container>
      <li ngbDropdownItem *ngIf="selectionDetails.categories.numSelections > 1">
        <a tabindex="0"
           (keydown.enter)="deselectAll('categories')"
           (click)="deselectAll('categories')"
           class="dropdown-item">
          <i>Deselect All</i>
        </a>
      </li>
      <hr *ngIf="selectionDetails.categories.numSelections > 0" class="oppia-search-bar-hr">
      <ng-container *ngFor="let item of selectionDetails.categories.masterList">
        <li ngbDropdownItem
            *ngIf="!selectionDetails.categories.selections[item.id]">
          <a tabindex="0"
             (keydown.enter)="toggleSelection('categories', item.id)"
             (click)="toggleSelection('categories', item.id)"
             *ngIf="!first && !last"
             class="dropdown-item">
            <span class="e2e-test-deselected">
              {{ item.text | translate }}
            </span>
            <i *ngIf="selectionDetails.categories.selections[item.id]"
               class="fas fa-check float-right oppia-search-bar-category-selection-symbol">
            </i>
          </a>
          <a tabindex="0" (keydown.enter)="toggleSelection('categories', item.id)" (click)="toggleSelection('categories', item.id)" *ngIf="first" (keydown)="onMenuKeypress($event, 'category', {shiftTab: ACTION_CLOSE})" class="dropdown-item">
            <span class="e2e-test-deselected">{{ item.text | translate }}</span>
            <i *ngIf="selectionDetails.categories.selections[item.id]"
               class="fas fa-check float-right oppia-search-bar-category-selection-symbol">
            </i>
          </a>
          <a tabindex="0"
             (keydown.enter)="toggleSelection('categories', item.id)"
             (click)="toggleSelection('categories', item.id)"
             *ngIf="last"
             (keydown)="onMenuKeypress($event, 'category', {tab: ACTION_CLOSE})"
             class="dropdown-item">
            <span class="e2e-test-deselected">{{ item.text | translate }}</span>
            <i *ngIf="selectionDetails.categories.selections[item.id]" class="fas fa-check float-right oppia-search-bar-category-selection-symbol"></i>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

<div class="oppia-same-row-container">
  <div ngbDropdown
       autoClose="outside"
       [ngClass]="{'open' : activeMenuName === 'language', 'dropup' : enableDropup}"
       class="search-bar-float-left oppia-navbar-button-container oppia-search-bar-language-selector e2e-test-search-bar-language-selector dropdown">
    <button ngbDropdownToggle
            type="button"
            class="btn e2e-test-search-bar-dropdown-toggle oppia-search-bar-input oppia-search-bar-language-input dropdown-toggle language-dropdown-toggle oppia-search-bar-dropdown-toggle-button langbtn"
            title="{{selectionDetails.languageCodes.description | translate}}">
      <i *ngIf="isMobileViewActive()" class="fas fa-globe language-selector-icon"></i>
      <span class="btn-text spnel">
        {{ languageButtonText | truncate:14 }}
      </span>
    </button>
    <ul ngbDropdownMenu class="e2e-test-search-bar-dropdown-menu oppia-search-bar-dropdown-menu-section dropdown-menu"
        role="menu">
      <ng-container *ngFor="let item of selectionDetails.languageCodes.masterList">
        <li ngbDropdownItem
            *ngIf="selectionDetails.languageCodes.selections[item.id]">
          <a tabindex="0"
             [attr.aria-label]="item.ariaLabelInEnglish + ' selected'"
             (keydown.enter)="toggleSelection('languageCodes', item.id)"
             (click)="toggleSelection('languageCodes', item.id)"
             *ngIf="!first && !last"
             class="dropdown-item">
            <span class="e2e-test-selected">{{ item.text | translate }}</span>
            <i *ngIf="selectionDetails.languageCodes.selections[item.id]"
               class="fas fa-check float-right oppia-search-bar-category-selection-symbol">
            </i>
          </a>
          <a tabindex="0"
             [attr.aria-label]="item.ariaLabelInEnglish + ' selected'"
             (keydown.enter)="toggleSelection('languageCodes', item.id)"
             (click)="toggleSelection('languageCodes', item.id)"
             *ngIf="first"
             (keydown)="onMenuKeypress($event, 'language', {shiftTab: ACTION_CLOSE})"
             class="dropdown-item">
            <span class="e2e-test-selected">{{ item.text | translate }}</span>
            <i *ngIf="selectionDetails.languageCodes.selections[item.id]"
               class="fas fa-check float-right oppia-search-bar-category-selection-symbol">
            </i>
          </a>
          <a tabindex="0"
             [attr.aria-label]="item.ariaLabelInEnglish + ' selected'"
             (keydown.enter)="toggleSelection('languageCodes', item.id)"
             (click)="toggleSelection('languageCodes', item.id)"
             *ngIf="last"
             (keydown)="onMenuKeypress($event, 'language', {tab: ACTION_CLOSE})"
             class="dropdown-item">
            <span class="e2e-test-selected">{{ item.text | translate }}</span>
            <i *ngIf="selectionDetails.languageCodes.selections[item.id]" class="fas fa-check float-right oppia-search-bar-category-selection-symbol"></i>
          </a>
        </li>
      </ng-container>
      <li ngbDropdownItem
          *ngIf="selectionDetails.languageCodes.numSelections > 1">
        <a tabindex="0" (keydown.enter)="deselectAll('languageCodes')"
           (click)="deselectAll('languageCodes')"
           class="dropdown-item">
          <i>Deselect All</i>
        </a>
      </li>
      <hr *ngIf="selectionDetails.languageCodes.numSelections > 0" class="oppia-search-bar-hr">
      <ng-container *ngFor="let item of selectionDetails.languageCodes.masterList">
        <li ngbDropdownItem
            *ngIf="!selectionDetails.languageCodes.selections[item.id]">
          <a (click)="toggleSelection('languageCodes', item.id)"
             [attr.aria-label]="item.ariaLabelInEnglish"
             (keydown.enter)="toggleSelection('languageCodes', item.id)"
             tabindex="0"
             *ngIf="!first && !last"
             class="dropdown-item">
            <span class="e2e-test-deselected">
              {{ item.text | translate }}
            </span>
            <i *ngIf="selectionDetails.languageCodes.selections[item.id]"
               class="fas fa-check float-right oppia-search-bar-category-selection-symbol">
            </i>
          </a>
          <a tabindex="0"
             (keydown.enter)="toggleSelection('languageCodes', item.id)"
             (click)="toggleSelection('languageCodes', item.id)"
             [attr.aria-label]="item.ariaLabelInEnglish"
             *ngIf="first"
             (keydown)="onMenuKeypress($event, 'language', {shiftTab: ACTION_CLOSE})"
             class="dropdown-item">
            <span class="e2e-test-deselected">
              {{ item.text | translate }}
            </span>
            <i *ngIf="selectionDetails.languageCodes.selections[item.id]"
               class="fas fa-check float-right oppia-search-bar-category-selection-symbol">
            </i>
          </a>
          <a tabindex="0"
             (keydown.enter)="toggleSelection('languageCodes', item.id)"
             [attr.aria-label]="item.ariaLabelInEnglish"
             (click)="toggleSelection('languageCodes', item.id)"
             *ngIf="last"
             (keydown)="onMenuKeypress($event, 'language', {tab: ACTION_CLOSE})"
             class="dropdown-item">
            <span class="e2e-test-deselected">{{ item.text | translate }}</span>
            <i *ngIf="selectionDetails.languageCodes.selections[item.id]" class="fas fa-check float-right oppia-search-bar-category-selection-symbol"></i>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="oppia-same-row-container">
    <div class="search-bar-float-left oppia-navbar-button-container">
      <div *ngIf="searchButtonIsActive"
           class="oppia-search-button e2e-test-search-button"
           (click)="onSearchQueryChangeExec()"
           tabindex="0"
           (keydown.enter)="onSearchQueryChangeExec()"
           title="Click here to search">
        <i class="fas fa-search search-button-icon"></i>
      </div>
    </div>
  </div>
</div>
<style>
  :lang(ar) .oppia-search-bar-dropdown-toggle-button:after {
     margin-right: 30px;
  }
  :lang(ar) .oppia-search-bar-dropdown-toggle:after {
    margin-right: 2px;
  }
  @media (max-width: 445px) {

.classroom-page-input-group.inptcls {
      font-size: 15.7px;
      width: 14em;
 }

/* stylelint-disable order/properties-alphabetical-order */
.search-bar-float-left .oppia-search-bar-dropdown-toggle.catbtn {
  font-size: 13px;
  position: relative;
  left: 5rem;
  width: 11em;
}
.oppia-search-bar-language-selector .langbtn {
  font-size: 13px;
  position: relative;
  left: 3rem;
  width: 11em;
}
  /* stylelint-enable order/properties-alphabetical-order */
  :lang(ar) .classroom-page-input-group.inptcls {
    font-size: 12px;
    width: 14em;
  }
  :lang(ar) .search-bar-float-left .oppia-search-bar-dropdown-toggle.catbtn {
 font-size: 13px;
 position: relative;
 right: 9rem;
 width: 10em;
  }
  :lang(ar) .oppia-search-bar-language-selector .langbtn {
 font-size: 13px;
 padding-left: 3rem;
 position: relative;
 right: 8rem;
 width: 10em;
  }
}
@media (max-width : 340px) {

 :lang(ar) .oppia-search-bar-language-selector .langbtn {
 font-size: 13px;
 padding-left: 3rem;
 position: relative;
 right: 8rem;
 width: 10em;
  }
}
@media (max-width : 285px) {
  .classroom-page-input-group.inptcls {
    font-size: 13.4px;
    width: 13.4em;
  }
  .search-bar-float-left .oppia-search-bar-dropdown-toggle.catbtn {
  font-size: 10px;
 left: 10rem;
 width: 12em;
  }
  .oppia-search-bar-language-selector .langbtn {
    font-size: 10px;
    left: 4.8rem;
    width: 12em;
  }
}
</style>
