.example-box {
    background: rgba(13, 72, 161, 0.05);
    border: 2px solid #0d48a1;
    border-radius: 4px;
    border-top: 8px solid #0d48a1;
    margin-bottom: 6px;
    padding: 10px;
  }

  .example-title {
    color: #0d48a1;
    display: inline-block;
    margin-bottom: 10px;
  }

  .solution-box {
    border: 1px solid #c55f45;
    border-radius: 4px;
    margin-bottom: 18px;
    padding: 10px;
  }

  .solution-title {
    align-items: center;
    color: #c55f45;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .solution-title.collapsed-title {
    margin-bottom: 0;
  }

  .icon-expand-workedexample, .icon-collapse-workedexample {
    cursor: pointer;
    margin-left: auto;
  }
