.topic-language-selector-modal .modal-title {
  color: #3b3b3b;
  font-size: 22px;
  font-weight: 500;
}

.topic-language-selector-modal .modal-body p {
  color: #4a4a4a;
  font-size: 14px;
  margin-bottom: 12px;
}
