<schema-based-primitive-viewer ng-if="(schemaBasedViewerCtrl.schema().type === 'bool' || schemaBasedViewerCtrl.schema().type === 'int' || schemaBasedViewerCtrl.schema().type == 'float')" local-value="$parent.localValue">
</schema-based-primitive-viewer>

<schema-based-custom-viewer ng-if="schemaBasedViewerCtrl.schema().type === 'custom'" obj-type="schemaBasedViewerCtrl.schema().obj_type"
                            local-value="$parent.localValue">
</schema-based-custom-viewer>

<schema-based-dict-viewer ng-if="schemaBasedViewerCtrl.schema().type === 'dict'" property-schemas="schemaBasedViewerCtrl.schema().properties"
                          local-value="$parent.localValue">
</schema-based-dict-viewer>

<schema-based-html-viewer ng-if="schemaBasedViewerCtrl.schema().type === 'html'" local-value="$parent.localValue">
</schema-based-html-viewer>

<schema-based-list-viewer ng-if="schemaBasedViewerCtrl.schema().type === 'list'" item-schema="schemaBasedViewerCtrl.schema().items"
                          local-value="$parent.localValue">
</schema-based-list-viewer>

<schema-based-unicode-viewer ng-if="schemaBasedViewerCtrl.schema().type === 'unicode'" local-value="$parent.localValue">
</schema-based-unicode-viewer>
