{ 
  "extends": "stylelint-config-recommended",
  "rules": {
    "indentation": 2,
    "no-descending-specificity": true,
    "no-duplicate-selectors": true,
    "selector-type-no-unknown": [
      true,
      {
        ignore: ["custom-elements"]
      }
    ],
  }
}
