/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

attribution-guide .oppia-cc-icon {
  right: 25px;
}

attribution-guide .oppia-cc-icon a.oppia-attribution-image-link {
  text-decoration: none;
}

attribution-guide .oppia-cc-icon a.oppia-attribution-image-link:focus > img {
  outline: 1px dotted #212121;
  outline: auto 5px -webkit-focus-ring-color;
}

attribution-guide .oppia-cc-icon a.oppia-attribution-link:hover,
attribution-guide .oppia-cc-icon a.oppia-attribution-link:focus {
  text-decoration: underline;
}

.oppia-attribution-guide .oppia-cc-icon {
  bottom: 50px;
  position: fixed;
}

.oppia-attribution-guide .oppia-cc-icon:hover {
  text-decoration: none;
}

.oppia-attribution-guide .oppia-neutral-element {
  height: 3px;
  width: 3px;
}

.oppia-attribution-guide .oppia-creative-commons-image {
  border-width: 0;
  height: 31px;
}

.oppia-attribution-guide .oppia-attribution-guide-text {
  color: #094142;
  font-size: 10px;
  text-decoration: underline;
}

.oppia-attribution-guide .attribution-modal {
  background-color: #fff;
  -moz-box-shadow: 0 3px 5px 1px #ccc;
  -webkit-box-shadow: 0 3px 5px 1px #ccc;
  box-shadow: 0 3px 5px 1px #ccc;
  margin: 0 10px 120px 10px;
  max-height: 600px;
  overflow: auto;
  position: relative;
  top: 68px;
  z-index: 1200;
}

.oppia-attribution-guide .oppia-attribution-guide-link,
.oppia-attribution-guide .oppia-attribution-licence-link {
  color: #000;
  font-size: 0.8rem;
  text-decoration: underline;
}

.oppia-attribution-guide .oppia-attribution-guide-description {
  font-size: 0.8rem;
}

.oppia-attribution-guide .oppia-open-new-tab-icon {
  color: #000;
  font-size: 0.85rem;
}

.oppia-attribution-guide .attribution-mask {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
}

.oppia-attribution-guide .attribution-modal-container {
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 320px);
  height: 100%;
  overflow: auto;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.oppia-attribution-guide .attribution-html-section {
  padding-top: 1rem;
}

.oppia-attribution-guide .attribution-print-section {
  padding-top: 2.7rem;
}

.oppia-attribution-guide .attribute-instructions {
  font-size: 0.8rem;
  padding-inline-start: 1rem;
}

.oppia-attribution-guide .attribution-copy-button {
  background: #0d48a1;
  border: none;
  border-radius: 3px;
  color: #fff;
  min-width: 55px;
}

.oppia-attribution-guide .attribution-copy-button:hover {
  background-color: #115fd4;
}

.oppia-attribution-guide .sharing-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1rem;
  padding-top: 2rem;
  width: 100%;
}
