<ul class="oppia-sharing-links" layout="<[$ctrl.layoutType]>" layout-align="<[$ctrl.layoutAlignType]>">
  <li>
    <a title="Facebook" ng-href="https://www.facebook.com/sharer/sharer.php?sdk=joey&u=<[$ctrl.serverName]>/<[$ctrl.activityType]>/<[$ctrl.activityId]>&display=popup&ref=plugin&src=share_button" onclick="return !window.open(this.href, '', 'height=336, width=640')" ng-click="$ctrl.registerShareEvent('facebook')" target="_window">
      <i class="oppia-share-icons fab fa-facebook-square"></i>
      <span class="oppia-icon-accessibility-label">Facebook</span>
    </a>
  </li>

  <li>
    <a title="Twitter" ng-href="https://twitter.com/share?text=<[$ctrl.escapedTwitterText]>&url=<[$ctrl.serverName]>/<[$ctrl.activityType]>/<[$ctrl.activityId]>" onclick="return !window.open(this.href, '', 'height=460, width=640')" ng-click="$ctrl.registerShareEvent('twitter')" target="_window">
      <i class="oppia-share-icons fab fa-twitter-square"></i>
      <span class="oppia-icon-accessibility-label">Twitter</span>
    </a>
  </li>

  <li>
    <a title="Google Classroom" ng-href="https://classroom.google.com/share?url=<[$ctrl.serverName]>/<[$ctrl.activityType]>/<[$ctrl.activityId]>" onclick="return !window.open(this.href, '', 'height=460, width=640')" ng-click="$ctrl.registerShareEvent('classroom')" target="_window">
      <picture>
        <source type="image/webp" ng-srcset="<[$ctrl.getStaticImageUrl('/general/classroom.webp')]>">
        <source type="image/png" ng-srcset="<[$ctrl.getStaticImageUrl('/general/classroom.png')]>">
        <img class="share-option-img" ng-src="<[$ctrl.getStaticImageUrl('/general/classroom.png')]>" alt="Classroom">
      </picture>
    </a>
  </li>

  <li ng-if="$ctrl.shareType === 'exploration'">
    <a title="Embed this Exploration" href="" ng-click="$ctrl.showEmbedExplorationModal($ctrl.explorationId)" tabindex="0">
      <i class="material-icons md-48 embed-link">&#xE86F;</i>
      <span class="oppia-icon-accessibility-label">Embed this Exploration</span>
    </a>
  </li>
</ul>

<style>
  .oppia-sharing-links .embed-link {
    color: white;
    background: #009688;
    border-radius: 6px;
    height: 34px;
    margin: 3px;
    padding-top: -webkit-calc(50% - 15px);
    padding-top: -moz-calc(50% - 15px);
    padding-top: -o-calc(50% - 15px);
    padding-top: calc(50% - 15px);
    text-align: center;
    width: 34px;
}

  .oppia-sharing-links .share-option-img {
    border-radius: 5px;
    height: 34px;
    margin: 2.5px 3px 0 3px;
    width: 34px;
    max-width: 34px;
}

  .oppia-sharing-links a:focus .share-option-img,
  .oppia-sharing-links a:focus .embed-link {
    outline: 1px dotted #212121;
    outline: auto 5px -webkit-focus-ring-color;
  }

  ul.oppia-sharing-links {
    list-style: none;
    padding-top: 9px;
    padding-left: 0;
  }

  ul.oppia-sharing-links i.oppia-share-icons {
    font-size: 40px;
    padding: 0 5px;
  }

  i.oppia-share-icons.fab.fa-facebook-square {
    color: #3b5998;
  }

  i.oppia-share-icons.fab.fa-twitter-square {
    color: #1da1f2;
  }

  i.oppia-share-icons.fab.fa-chalkboard-teacher {
    color: #50a15f;
  }

</style>
