.blog-author-bio {
    white-space: pre-wrap;
  }

  .blog-dashboard-card {
    max-width: 835px;
    padding-bottom: 100px;
  }

  .oppia-editor-edit-icon {
    border: unset;
    font-size: 16px;
    position: relative;
    right: unset;
    top: unset;
  }

  .blog-author-bio-container {
    color: #333;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 18px;
    text-align: left;
  }

  .oppia-editor-edit-icon:hover {
    opacity: 1;
  }

  .blog-dashboard-tiles-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding-top: 0.5vw;
  }

  .blog-dashboard-card .mat-card-avatar {
    height: 12vw;
    max-height: 140px;
    max-width: 140px;
    min-height: 44px;
    min-width: 44px;
    width: 12vw;
  }

  .blog-dashboard-card-title {
    color: #333;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 2.8rem;
    font-weight: 300;
    text-align: left;
  }

  .blog-dashboard-intro-card-message {
    color: #333;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 5px;
  }

  .blog-dashboard-intro-card {
    border: 1px solid #ccc;
    border-radius: 11px;
    box-shadow: 5px 5px 5px #00000029;
    display: flex;
    flex-direction: column;
    padding: 5vw;
  }

  .blog-dashboard-intro-card:before {
    background: #fff;
    border-bottom-right-radius: 80px 50px;
    border-right: 1px solid #ccc;
    bottom: -1.88em;
    box-shadow: 5px 5px 5px #00000029;
    content: "";
    display: block;
    height: 27px;
    position: absolute;
    width: 50px;
    z-index: 10;
  }

  .blog-dashboard-intro-card:after {
    background: #fff;
    border-bottom-right-radius: 40px 50px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    bottom: -1.88em;
    box-shadow: inset -5px 5px 5px #00000029;
    content: "";
    display: block;
    height: 27px;
    position: absolute;
    width: 20px;
    z-index: 10;
  }

  .new-post-button {
    background-color: #00609c;
    border-radius: 4px;
    color: #fff;
    display: flex;
    font-size: 1.4rem;
    height: 36px;
    justify-content: center;
    width: 114px;
  }

  .create-new-blog-post-button {
    background-color: #00609c;
    border-radius: 4px;
    color: #fff;
    display: flex;
    font-size: 1.4rem;
    height: 36px;
    justify-content: center;
  }

  .new-post-icon {
    align-items: center;
    display: flex;
    margin-left: -8px;
  }

  .view-active {
    color: #00645c;
  }

  .blog-tiles-list {
    cursor: pointer;
  }

  .blog-dashboard-grid-list-icon {
    font-size: 20px;
  }

  :host /deep/ .mat-tab-label {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.6rem;
  }

  :host /deep/ .mat-tab-labels {
    flex-grow: 1;
    justify-content: space-evenly;
  }

  :host /deep/ .mat-tab-label:focus {
    color: #00645c;
  }

  :host /deep/ .mat-tab-body-content {
    overflow: hidden;
  }

  :host /deep/ mat-card-header .mat-card-header-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  mat-card-header.blog-dashboard-header {
    margin: 3.75vw 3.438vw;
  }

@media(max-width: 870px) {
  .blog-dashboard-card {
    margin: 20px;
    width: unset;
  }

  .new-post-button {
    margin-bottom: unset;
  }

  :host /deep/ .mat-tab-label {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.1rem;
  }
}

@media(max-width: 620px) {
  .blog-dashboard-card-title {
    color: #333;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
  }

  .new-post-button {
    font-size: 14px;
    margin-bottom: unset;
    padding-left: 0;
    padding-right: 0;
    width: 96px;
  }

  .blog-author-bio-container {
    font-size: 14px;
    line-height: 16px;
  }

  :host /deep/ .mat-card-header-text {
    margin-right: 0;
  }
}

@media(max-width: 880px) {
  .mat-card.oppia-page-card {
    padding-left: 10px;
    padding-right: 10px;
  }
}
