<div *ngIf="isUnlocked && contributionType === 'question'" class="question-badge-container e2e-test-badge">
  <img class="question-badge"
       src="/assets/images/contributor_dashboard/question-{{contributionSubType}}-badge.component.svg">
  <div class="question-badge-value e2e-test-badge-value">
      {{contributionCount}}
  </div>
  <div class="question-badge-caption e2e-test-badge-caption">
      {{contributionSubTypeText}}
  </div>
</div>
<div *ngIf="isUnlocked && contributionType === 'translation'"
     class="translation-badge-container e2e-test-badge">
  <img class="translation-badge"
       src="/assets/images/contributor_dashboard/translation-{{contributionSubType}}-badge.component.svg">
  <div class="translation-badge-value e2e-test-badge-value">
    {{contributionCount}}
  </div>
  <div class="translation-badge-caption e2e-test-badge-caption">
    {{contributionSubTypeText}}
  </div>
  <div class="translation-badge-language e2e-test-badge-language"
       [ngStyle]="{'font-size': fontSize, 'line-height': lineHeight}">
    {{language}}
  </div>
</div>
<div *ngIf="!isUnlocked"
     ngbPopover="{{contributionCount}} more {{contributionSubTypeText.toLowerCase()}} to achieve this badge"
     class="locked-badge-container"
     container="body"
     placement="bottom">
  <img class="locked-badge"
       src="/assets/images/contributor_dashboard/locked-badge.svg">
</div>
