.oppia-collection-editor-navbar {
  margin-left: 20px;
}
.oppia-collection-editor-navbar > li > button {
  background: transparent;
  border: 0;
  padding: 13px 15px 10px;
}
.oppia-button-container {
  margin-right: 10px;
  margin-top: 8px;
}
.oppia-change-count {
  margin-left: 2px;
  opacity: 0.5;
}
.oppia-editor-warnings-box {
  background: #fcf8e3;
  overflow: hidden;
}
.btn.oppia-save-draft-button {
  margin-right: 5px;
}
