/* stylelint-disable-next-line no-descending-specificity */
.oppia-active-opportunities-tab a {
  color: #00645d;
  text-decoration: none;
}
/* stylelint-disable-next-line no-descending-specificity */
.oppia-active-opportunities-tab a:hover {
  color: #00645d;
}

.oppia-tabs-container {
  padding-top: 5px;
  text-align: center;
}
.oppia-tabs-container a:focus-visible {
  border: 3px dotted black;
}
.oppia-language-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.oppia-opportunities {
  margin: 20px 10px 0 10px;
}
.oppia-user-and-rights {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  padding-left: 20px;
  width: 100%;
}
.oppia-explanation-container {
  width: 100%;
}
.oppia-outer-container {
  display: flex;
  margin-top: 20px;
  width: 100%;
}
.oppia-mascot-container {
  align-items: center;
  display: flex;
}
.oppia-dropdown-container {
  display: flex;
  margin-bottom: 20px;
  width: 50%;
}
button.oppia-autofocus:focus {
  outline: 0;
}
.oppia-dashboard-language-container-label, .oppia-dashboard-topic-container-label {
  align-items: center;
  color: #4a4a4a;
  display: flex;
  font-size: 18px;
}
.oppia-dashboard-language-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  width: 100%;
}
.oppia-opportunity-language-selector {
  background: white;
  border: 1px solid #e8e7e3;
  height: 35px;
}
.oppia-opportunities-tabs-explanation {
  position: relative;
}
.oppia-opportunities-tabs-explanation h1,
.oppia-contributor-username-and-review-rights-container h1 {
  color: #009688;
  font-size: 26px;
}
.oppia-opportunities-tabs-explanation h2 {
  font-size: 16px;
  font-weight: 300;
}
.oppia-opportunities-tabs-explanation-before {
  color: #009688;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 24px;
  z-index: 100;
}
.oppia-short-contributor-username-container,
.oppia-long-contributor-username-container {
  color: #009688;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 24px;
  height: 30%;
  min-width: 0;
  padding-top: 10px;
}
.oppia-short-contributor-username-container {
  min-width: 100px;
}
.oppia-short-contributor-username-container h1,
.oppia-long-contributor-username-container h1 {
  overflow-wrap: anywhere;
  word-break: break-word;
}
.oppia-review-right-details-container {
  font-size: 18px;
  margin-left: 20px;
  max-width: 400px;
  position: relative;
  width: 100%;
}
.oppia-short-contributor-username-container::before,
.oppia-long-contributor-username-container::before {
  color: #4a4a4a;
  content: attr(data-tab-name);
  display: block;
  font-size: 16px;
  line-height: 1.2;
}
.oppia-mascot-avatar-container,
.oppia-profile-details-container {
  margin-right: 5px;
  padding: 2% 1%;
  width: 100px;
}
.oppia-profile-details-container {
  margin: auto;
  margin-right: 10px;
}
.oppia-profile-picture-icon {
  color: #009688;
  font-size: 120px;
}
.oppia-opportunities-tabs {
  background-color: #fff;
  padding-top: 5px;
  position: relative;
  z-index: 5;
}
.oppia-opportunities-tabs-list {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1500px;
  padding-left: 0;
  text-align: center;
  width: 80%;
}
.oppia-opportunities-tab-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.oppia-opportunities-tab-header {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  margin: auto;
  max-width: 1200px;
  width: 80%;
}
.oppia-contributor-username-and-review-rights-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: start;
  padding-left: 25px;
  width: 100%;
}
.oppia-opportunities-tab-customization-container {
  align-items: center;
  background-color: white;
  display: flex;
  height: auto;
  margin-bottom: 10px;
  width: 100%;
}
.oppia-opportunities-tabs-list li {
  display: flex;
  max-width: 250px;
  width: -webkit-calc(100% / 3);
  width: -moz-calc(100% / 3);
  width: -o-calc(100% / 3);
  width: calc(100% / 3);
}
.oppia-opportunities-tabs-text {
  color: #4a4a4a;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 200ms ease-out;
  -ms-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
  width: 100%;
}
.oppia-active-tab-highlighter {
  height: 0;
  margin-top: 5px;
  transform: scale(0);
  -webkit-transition: transform 200ms ease-out;
  -ms-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
  width: 100%;
}
.oppia-active-opportunities-tab .oppia-active-tab-highlighter {
  background-color: #00645d;
  border: 2px solid #00645d;
  text-decoration: none;
  transform: scale(1);
}
.oppia-opportunities-tabs-text:hover {
  color: #00645d;
  text-decoration: none;
}
.oppia-review-item-detail-container {
  background-color: #00645d;
  border-radius: 10%;
  color: #fff;
  height: 29px;
  margin: 1px 2px;
  padding: 1px 5px;
  width: fit-content;
}
.oppia-contributor-home {
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
  z-index: 3;
}
.oppia-topic-selector {
  width: 100%;
}
.oppia-language-selector {
  padding-bottom: 10px;
  width: 100%;
}
.oppia-dashboard-topic-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}
@media (max-width:700px) {
  .oppia-opportunities-tabs-explanation h1,
  .oppia-contributor-username-and-review-rights-container h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .oppia-contributor-username-container {
    font-size: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .oppia-opportunities-tabs-explanation {
    font-size: 18px;
  }
  .oppia-opportunities-tabs-explanation-before {
    font-size: 20px;
  }
  .oppia-opportunities-tabs {
    padding-bottom: 10px;
  }
  .oppia-user-and-rights {
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .oppia-opportunities-tab-header {
    justify-content: center;
    margin: 0;
    width: 100vw;
  }
  .oppia-outer-container {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }
  .oppia-mascot-container {
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
    padding-bottom: 10px;
    width: 100%;
  }
  .oppia-mascot-avatar-container {
    margin-left: 20px;
  }
  .oppia-explanation-container {
    margin-left: 20px;
    width: 60%;
  }
  .oppia-dropdown-container {
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 0 20px;
    width: 100%;
  }
  .oppia-dashboard-language-container, .oppia-dashboard-topic-container {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-top: 10px;
    width: 100%;
  }
  .oppia-dashboard-language-container-label, .oppia-dashboard-topic-container-label {
    font-size: 18px;
    margin-right: 0;
    width: 175px;
  }
  .oppia-opportunities-tabs-list {
    padding: 5px;
    width: 100%;
  }
  .oppia-opportunities-tabs-text {
    font-size: 18px;
    text-align: center;
  }
  .oppia-contributor-username-and-review-rights-container {
    align-items: initial;
    flex-direction: column;
    flex-grow: 0;
    font-size: 3.5vw;
    margin-left: 20px;
  }
  .oppia-profile-details-container {
    max-width: none;
    width: 100px;
  }
  .oppia-contributor-username-container {
    margin-bottom: 10px;
    width: 100%;
  }
  .oppia-review-right-details-container {
    margin-left: 0;
    width: 100%;
  }
  .oppia-opportunities-tab-customization-container {
    margin-bottom: 0;
    padding-top: 1%;
  }

  .oppia-short-contributor-username-container,
  .oppia-long-contributor-username-container,
  .oppia-profile-details-container {
    display: none;
  }

}
@media only screen and (max-width: 510px) {
  .oppia-mascot-avatar-container {
    margin-left: 10px;
  }
  .oppia-opportunities-tabs-text {
    font-size: 15px;
    padding: 10px 5px;
    text-align: center;
  }
}
@media only screen and (max-width: 420px) {
  .oppia-mascot-avatar-container {
    margin-left: 5px;
  }
  .oppia-topic-selector {
    width: 90%;
  }
  .oppia-dashboard-language-container-label, .oppia-dashboard-topic-container-label {
    font-size: 16px;
    margin-right: 2vw;
    width: 90px;
  }
  .oppia-dashboard-topic-container-label {
    margin-right: 0;
  }
  .oppia-mascot-container {
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
    margin: auto;
    padding-bottom: 10px;
    width: 100%;
  }
  .oppia-explanation-container {
    margin-left: 10px;
    width: 100%;
  }
  .oppia-dropdown-container {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .oppia-opportunities-tab-item {
    justify-content: center;
  }
}
