<table class="dashboard-table e2e-test-story-list-table">
  <colgroup>
    <col class="oppia-colgroup-col-1">
    <col class="oppia-colgroup-col-2">
    <col class="oppia-colgroup-col-3">
  </colgroup>
  <tr>
    <th ng-repeat="key in STORY_TABLE_COLUMN_HEADINGS"
        class="dashboard-table-headings">
      <p ng-if="key === 'title'" class="text-left">Title</p>
      <p ng-if="key === 'node_count'" class="text-center">Chapters</p>
      <p ng-if="key === 'publication_status'" class="text-center">Published?</p>
    </th>
  </tr>
  <tr ng-repeat="summary in $ctrl.storySummaries track by $index"
      dnd-list="storySummaries"
      dnd-dragstart="onMoveStoryStart($index)"
      dnd-drop="onMoveStoryFinish($index)"
      dnd-draggable="summary"
      class="list-item e2e-test-story-list-item">
    <td>
      <a ng-click="openStoryEditor(summary.getId())" class="list-summary text-left">
        <span class="e2e-test-story-title"> <[summary.getTitle()]> </span>
      </a>
    </td>
    <td>
      <a ng-click="openStoryEditor(summary.getId())" class="list-summary text-center">
        <span> <[summary.getNodeTitles().length]> </span>
      </a>
    </td>
    <td>
      <a ng-click="openStoryEditor(summary.getId())" class="list-summary text-center">
        <span class="e2e-test-story-publication-status"> <[summary.isStoryPublished() ? "Yes" : "No"]> </span>
      </a>
    </td>
    <td>
      <a ng-click="deleteCanonicalStory(summary.getId())" class="list-summary text-center">
        <span class="fas fa-trash-alt"></span>
      </a>
    </td>
  </tr>
</table>

<style>
  topic-editor-stories-list .list-view-item {
    background: #fff;
    margin: 20px 7.5px 0 12.5%;
    padding: 10px 20px;
    width: 75%;
  }

  topic-editor-stories-list .dashboard-table {
    font-size: 15px;
    margin-top: 2vh;
    width: 100%;
  }

  topic-editor-stories-list .dashboard-table .dashboard-table-headings {
    border-bottom: 2px solid #000;
    margin: 25px 0;
  }

  topic-editor-stories-list .dashboard-table .dashboard-table-headings tr {
    font-size: 16px;
    font-weight: bold;
  }

  topic-editor-stories-list .list-summary,
  topic-editor-stories-list .list-summary:active,
  topic-editor-stories-list .list-summary:visited {
    color: inherit;
    display: block;
    height: 2em;
    margin: 20px 0;
    text-decoration: none;
  }

  topic-editor-stories-list .list-item:not(:last-child) {
    border-bottom: 1px solid #bbb;
  }

  topic-editor-stories-list .list-item:hover {
    background-color: #ededed;
  }

  topic-editor-stories-list .list-summary span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }

  topic-editor-stories-list .oppia-colgroup-col-1 {
    width: 40%;
  }

  topic-editor-stories-list .oppia-colgroup-col-2
  topic-editor-stories-list .oppia-colgroup-col-3 {
    width: 30%;
  }
</style>
