.topic-editor thumbnail-uploader {
    margin-bottom: 15px;
  }

  .topic-editor textarea {
    resize: vertical;
  }

  .topic-editor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
  }

  .topic-editor .topic-content-container {
    margin-right: 3%;
    width: 50%;
  }

  .topic-editor .topic-info-container {
    width: 35%;
  }

  .topic-editor .topic-item-card {
    margin: 0;
  }

  .topic-editor .add-entity-text {
    color: #808080;
    margin-top: 20px;
  }

  .topic-dashboard-link {
    font-size: 15px;
    margin-bottom: 35px;
    margin-left: 4%;
  }

  .topic-dashboard-link a {
    color: #015f9c;
    text-decoration: none;
  }

  .topic-editor .topic-preview-container {
    text-align: center;
  }

  .topic-editor .topic-preview-container button {
    margin: 15px 0;
  }

  .topic-editor .entity-count {
    align-items: center;
    background-color: #fff;
    border: 1px solid #aaaac1;
    border-radius: 6px;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    height: 110px;
    justify-content: center;
    margin: 30px auto 0;
    width: 97%;
  }

  .topic-editor .subtopic-count,
  .topic-editor .skill-count,
  .topic-editor .story-count {
    border-right: 2px solid #aaaac1;
    display: inline-block;
    text-align: center;
    width: 33%;
  }

  .topic-editor .story-count {
    border-right: none;
  }
  .topic-editor .topic-card-header {
    margin-bottom: 30px;
    margin-left: -20px;
  }

  .topic-editor .skills-list-item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .topic-editor .skills-list-item a {
    color: inherit;
    text-decoration: none;
    width: 75%;
  }

  .topic-editor .edit-options-container {
    margin-right: 14px;
  }

  .topic-editor .edit-options-container span {
    margin-right: 38px;
  }

  .topic-editor .number-skills-header {
    margin-right: 30px;
  }

  .topic-editor .subtopic-count-value,
  .topic-editor .skill-count-value,
  .topic-editor .story-count-value {
    display: block;
    font-size: 26px;
    height: 40px;
  }

  .topic-editor .topic-editor-main-container {
    font-family: Roboto, Arial, sans-serif;
    padding: 30px 55px 30px 45px;
  }

  .topic-editor .show-topic-preview-button {
    border-top: 1px solid #c1c1c1;
    color: #33776c;
    font-size: 15px;
    padding: 10px 0;
    width: 100%;
  }

  .topic-editor .form-heading {
    font-size: 15px;
  }

  .topic-editor .topic-name,
  .topic-editor .topic-url-fragment,
  .topic-editor .topic-meta-tag-content,
  .topic-editor .topic-page-title {
    margin-bottom: 25px;
    margin-top: 32px;
  }

  .topic-editor .canonical-stories {
    margin-top: 20px;
  }

  .topic-editor .topic-description textarea,
  .topic-editor .topic-meta-tag-content textarea {
    height: 10vh;
  }

  .topic-editor .add-subtopic-btn,
  .topic-editor .add-skill-btn,
  .topic-editor .add-story-btn {
    background-color: #008098;
    color: #fff;
    font-weight: bold;
    text-align: left;
  }

  .topic-editor .add-subtopic-btn {
    width: 140px;
  }

  .topic-editor .add-skill-btn {
    margin-left: 3%;
    width: 108px;
  }

  .topic-editor .add-story-btn {
    width: 120px;
  }

  .topic-editor .item-list-card {
    font-family: Roboto, Arial, sans-serif;
    padding: 20px 20px 20px 25px;
  }

  .topic-editor .list-header {
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
  }

  .topic-editor .list-header span {
    font-weight: bold;
  }

  .topic-editor .subtopics-list-item {
    margin: 7px 0;
  }

  .topic-editor .subtopics-list-item .draggable-icon-indicator {
    padding-right: 5px;
  }

  .topic-editor .subtopic-name-header {
    align-items: center;
    background-color: #e3e3e3;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .topic-editor .skill-option-box {
    background-color: #e1dcdc;
    border: 1px solid #000;
    padding: 0;
    position: absolute;
    right: -6px;
    width: 210px;
    z-index: 1;
  }

  .topic-editor .uncategorized-skill-option-box {
    background-color: #e1dcdc;
    border: 1px solid #000;
    padding: 0;
    position: absolute;
    right: 7px;
    width: 210px;
    z-index: 1;
  }

  .topic-editor .skill-edit-option {
    border-bottom: 1px solid #000;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
  }

  .topic-editor .uncategorized-skill-edit-option {
    border-bottom: 1px solid #000;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
  }

  .topic-editor .edit-option-assign {
    border-bottom: none;
  }

  .topic-editor .remove-from-topic-option {
    border-bottom: none;
  }

  .topic-editor .reassign-button {
    background: none;
    border: none;
    color: #0b6c63;
  }

  .topic-editor .subtopic-reassign-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .topic-editor .subtopic-edit-options-container {
    position: relative;
  }

  .topic-editor .subtopic-edit-options {
    background-color: #e1dcdc;
    border: 1px solid #2e2626;
    padding: 2px;
    position: absolute;
    right: -7px;
    top: 0;
    width: 120px;
  }

  .topic-editor .skill-description-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .topic-editor .skills-invalid {
    background-color: #c55f4533;
    border: 2px solid #c55f45;
  }

  .topic-editor .clickable-item:hover {
    cursor: pointer;
    font-weight: bold;
  }

  .topic-editor .subtopic-skill {
    border-bottom: 1px solid #e3e3e3;
    padding: 8px 10px 8px 32px;
  }

  .topic-editor .item-list-card-header i {
    display: none;
  }

  .topic-editor .subtopic-skill-card-container {
    margin-top: 64px;
  }

  .topic-editor .diagnostic-test-card-container {
    margin-bottom: 64px;
    margin-top: 64px;
  }

  .topic-editor .practice-tab-info-circle {
    background: #000;
    border-radius: 10px;
    color: #fff;
    margin-left: 3px;
    padding: 1px;
  }

  .topic-editor .practice-tab-checkbox {
    box-shadow: rgb(102, 102, 102) 0 0 0 2px inset;
  }

  .topic-editor .practice-tab-text {
    font-weight: normal;
    padding-left: 5px;
  }

  .oppia-add-diagnostic-test-skills-button {
    color: #00695e;
    margin-left: 0;
    padding-left: 0;
    width: fit-content;
  }

  .oppia-flex {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
  }

  .oppia-button-text {
    margin-bottom: 0;
    padding: 10px;
  }

  .oppia-diagnostic-test-dropdown {
    width: 50%;
  }

  .oppia-remove-diagnostic-test-skill-button {
    border-radius: 25px;
    color: #00695e;
    position: relative;
  }

  .oppia-diagnostic-test-skill-description {
    width: 85%;
  }

  .oppia-diagnostic-test-skill-list-header {
    margin-top: 20px;
  }

  .oppia-diagnostic-test-card-note {
    display: block;
  }

  mat-list-item.oppia-diagnostic-test-skill_items-container {
    background-color: #e3e3e3;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .oppia-diagnostic-test-skill-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
  }

  .topic-classroom-container {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .topic-classroom-container label {
    margin-bottom: 0;
  }

  @media screen and (max-width: 1200px) {
    .topic-editor .topic-content-container {
      width: 50%;
    }

    .topic-editor .topic-info-container {
      margin-top: 34px;
      width: 40%;
    }
  }

  @media screen and (max-width: 1000px) {
    .topic-editor .topic-content-container {
      width: 55%;
    }

    .topic-editor .topic-info-container {
      margin-top: 34px;
      width: 45%;
    }
  }

  @media screen and (max-width: 768px) {
    .topic-editor {
      margin-bottom: 15px;
      width: 100%;
    }

    .topic-dashboard-link {
      display: none;
    }

    .topic-editor .topic-bottom-card {
      margin-top: 40px;
    }

    .topic-editor .item-list-card {
      padding: 0;
    }

    .topic-editor .entity-count {
      padding-right: 5px;
    }

    .topic-editor .subtopic-skill-card-container {
      margin-top: inherit;
    }

    .topic-editor .item-list-card-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .topic-editor .topic-editor-main-container {
      padding: 0;
    }

    .topic-editor .skills-list-item a {
      color: inherit;
      text-decoration: none;
      width: 65%;
    }

    .topic-editor .topic-card-header,
    .topic-editor .subtopic-reassign-header,
    .topic-editor .item-list-card-header h3 {
      font-size: 19px;
      margin: 0;
    }

    .topic-editor .subtopic-skill {
      border-bottom: 1px solid #e3e3e3;
      padding: 8px 10px 8px 20px;
    }

    .topic-editor .item-list-card-header i {
      display: inline-block;
      font-size: 18px;
    }

    .topic-editor .topic-content-container {
      margin-right: 0;
      margin-top: 30px;
      width: 100%;
    }

    .topic-editor .subtopic-reassign-header {
      width: 100%;
    }

    .topic-editor .reassign-button {
      display: none;
    }

    .topic-editor .topic-info-container {
      margin-top: 0;
      padding-bottom: 50px;
      width: 100%;
    }

    .topic-editor .add-subtopic-btn {
      width: 44%;
    }

    .topic-editor .add-skill-btn {
      margin-left: 3%;
    }

    .topic-editor .skill-option-box {
      right: 40px;
    }

    .topic-editor .subtopic-edit-options {
      right: 13px;
    }

    .topic-editor .uncategorized-skill-option-box {
      right: 43px;
    }
  }

  @media screen and (max-width: 375px) {
    .stories-list-container {
      padding: 20px 15px 15px;
    }
  }
