<table *ngIf="!isSerialChapterLaunchFeatureEnabled()"
       class="dashboard-table e2e-test-story-list-table">
  <colgroup>
    <col class="oppia-colgroup-col-1">
    <col class="oppia-colgroup-col-2">
    <col class="oppia-colgroup-col-3">
  </colgroup>
  <tr>
    <th *ngFor="let key of STORY_TABLE_COLUMN_HEADINGS"
        class="dashboard-table-headings">
      <p *ngIf="key === 'title'" class="text-left">Title</p>
      <p *ngIf="key === 'node_count'" class="text-center">Chapters</p>
      <p *ngIf="key === 'publication_status'" class="text-center">Published?</p>
    </th>
  </tr>
  <tbody cdkDropList
         (cdkDropListDropped)="drop($event)">
    <tr *ngFor="let summary of storySummaries; index as idx"
        class="list-item e2e-test-list-view-item-item e2e-test-story-list-item"
        cdkDrag>
      <td>
        <a (click)="topicRights.canEditTopic() && openStoryEditor(summary.getId())" tabindex="0"  (keydown.enter)="topicRights.canEditTopic() && openStoryEditor(summary.getId())" [attr.aria-label]="'Story title: ' + summary.getTitle()" class="list-summary text-left">
          <span class="e2e-test-story-title"> {{ summary.getTitle() }} </span>
        </a>
      </td>
      <td>
        <a (click)="topicRights.canEditTopic() && openStoryEditor(summary.getId())" tabindex="0" (keydown.enter)="topicRights.canEditTopic() && openStoryEditor(summary.getId())" [attr.aria-label]="'Number of chapters: ' + summary.getNodeTitles().length" class="list-summary text-center">
          <span> {{ summary.getNodeTitles().length }} </span>
        </a>
      </td>
      <td>
        <a (click)="topicRights.canEditTopic() && openStoryEditor(summary.getId())" tabindex="0" (keydown.enter)="topicRights.canEditTopic() && openStoryEditor(summary.getId())" [attr.aria-label]="summary.isStoryPublished() ? 'Story is published' : 'Story is not published'" class="list-summary text-center">
          <span class="e2e-test-story-publication-status"> {{ summary.isStoryPublished() ? "Yes" : "No" }} </span>
        </a>
      </td>
      <td>
        <a (click)="deleteCanonicalStory(summary.getId())" tabindex="0" (keydown.enter)="deleteCanonicalStory(summary.getId())" aria-label="Delete story" class="list-summary text-center">
          <span class="fas fa-trash-alt e2e-test-delete-story-button" *ngIf="topicRights.canEditTopic()"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<table *ngIf="isSerialChapterLaunchFeatureEnabled()"
       class="dashboard-table story-dashboard-table e2e-test-story-list-table">
  <colgroup>
    <col class="oppia-colgroup-column-1">
    <col class="oppia-colgroup-column-2">
    <col class="oppia-colgroup-column-3">
    <col class="oppia-colgroup-column-4">
  </colgroup>
  <tr>
    <th *ngFor="let key of STORY_TABLE_COLUMN_HEADINGS"
        class="story-dashboard-table-headings">
      <p *ngIf="key === 'title'" class="text-center">Title</p>
      <p *ngIf="key === 'publication_status'" class="text-center">Status</p>
      <p *ngIf="key === 'node_count'" class="text-center">Chapters</p>
      <p *ngIf="key === 'notifications'" class="text-center">Chapter Publication Notifications  </p>
    </th>
  </tr>
  <tbody cdkDropList
         (cdkDropListDropped)="drop($event)">
    <tr *ngFor="let summary of storySummaries; index as idx"
        class="story-list-item e2e-test-list-view-item-item e2e-test-story-list-item"
        cdkDrag>
      <td>
        <a (click)="topicRights.canEditTopic() && openStoryEditor(summary.getId())" class="story-list-summary text-left">
          <span class="e2e-test-story-title"> {{ summary.getTitle() }} </span>
        </a>
      </td>
      <td>
        <a (click)="topicRights.canEditTopic() && openStoryEditor(summary.getId())" class="story-list-summary text-center">
          <span *ngIf="summary.getPublishedChaptersCount() != 0 && areChaptersAwaitingPublication(summary)">
            Partially Published
          </span>
          <span *ngIf="summary.getPublishedChaptersCount() == 0">
            Not Published
          </span>
          <span *ngIf="summary.getPublishedChaptersCount() != 0 && !areChaptersAwaitingPublication(summary)">
            Fully Published
          </span>
        </a>
      </td>
      <td>
        <a (click)="topicRights.canEditTopic() && openStoryEditor(summary.getId())" class="story-list-summary chapter-count text-center">
          <span> {{ summary.getPublishedChaptersCount() }} Published</span>
          <span *ngIf="areChaptersAwaitingPublication(summary)"> {{ summary.getTotalChaptersCount() - summary.getPublishedChaptersCount() }} Awaiting Publication</span>
        </a>
      </td>
      <td>
        <a (click)="topicRights.canEditTopic() && openStoryEditor(summary.getId())" class="story-list-summary text-left">
          <span *ngIf="summary.getUpcomingChaptersCount() == 1">
            {{ summary.getUpcomingChaptersCount() }} upcoming launch (next {{ summary.getUpcomingChaptersExpectedDays()[0] }}
            <span *ngIf="summary.getUpcomingChaptersExpectedDays()[0] > 1"> days</span>
            <span *ngIf="summary.getUpcomingChaptersExpectedDays()[0] == 1"> day</span>
            )
          </span>
          <span *ngIf="summary.getUpcomingChaptersCount() > 1">
            {{ summary.getUpcomingChaptersCount() }} upcoming launches (next
            <span *ngFor="let day of summary.getUpcomingChaptersExpectedDays(); index as id">
              {{ day }}
              <span *ngIf="id != summary.getUpcomingChaptersExpectedDays().length - 1">,</span>
            </span>
            days)
          </span>
          <span *ngIf="summary.getOverdueChaptersCount() == 1"> {{ summary.getOverdueChaptersCount() }} launch behind schedule</span>
          <span *ngIf="summary.getOverdueChaptersCount() > 1"> {{ summary.getOverdueChaptersCount() }} launches behind schedule</span>
          <span *ngIf="isChapterNotificationsEmpty(summary)">-</span>
        </a>
      </td>
      <td class="delete-story-icon">
        <a (click)="deleteCanonicalStory(summary.getId())" class="story-list-summary text-center">
          <span class="fas fa-trash-alt" *ngIf="topicRights.canEditTopic()"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<style>
  .list-item {
    background: #fff;
    margin: 20px 7.5px 0 12.5%;
    padding: 10px 20px;
    width: 75%;
  }

  .story-list-item {
    background: #fff;
    font-size: 14px;
    margin: 20px 7.5px 0 12.5%;
    padding: 10px 20px;
    width: 75%;
  }

  .story-list-item td {
    padding: 2%;
  }

  .dashboard-table {
    font-size: 15px;
    margin-top: 2vh;
    width: 100%;
  }

  .dashboard-table .dashboard-table-headings, .story-dashboard-table-headings {
    border-bottom: 2px solid #000;
    margin: 25px 0;
  }

  .story-dashboard-table-headings p {
    font-size: 13px;
    word-spacing: 100vw;
  }

  .story-dashboard-table td {
    border: 0.5px solid #dbdbdb;
  }

  .story-dashboard-table .delete-story-icon {
    border: none;
  }

  .list-summary,
  .list-summary:active,
  .list-summary:visited {
    color: inherit;
    display: block;
    height: 2em;
    margin: 20px 0;
    text-decoration: none;
  }

  .story-list-summary,
  .story-list-summary:active,
  .story-list-summary:visited {
    color: inherit;
    display: block;
    margin: 5px 0;
    text-decoration: none;
  }

  .list-item:not(:last-child) {
    border-bottom: 1px solid #bbb;
  }

  .list-item:hover, .story-list-item:hover {
    background-color: #ededed;
  }

  .list-summary span, .story-list-summary > span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    word-break: break-word;
  }

  .chapter-count span:last-child {
    margin-top: 10px;
  }

  .oppia-colgroup-col-1 {
    width: 40%;
  }

  .oppia-colgroup-col-2
  .oppia-colgroup-col-3 {
    width: 30%;
  }

  .oppia-colgroup-column-4 {
    width: 40%;
  }

  .oppia-colgroup-column-1,
  .oppia-colgroup-column-2,
  .oppia-colgroup-column-3 {
    width: 20%;
  }

  .cdk-drag-preview {
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .list-item:last-child {
    border: none;
  }

  .story-list.cdk-drop-list-dragging .list-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
</style>
