<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Organization">
  <head>
    @load('base-components/header.template.html', {"title": "Loading | Oppia"})
  </head>
  <body>
    <oppia-root></oppia-root>

    @load('pages/footer_js_libs.html')
    <script>
      // Load script only for exploration editor.
      if (window.location.pathname.startsWith('/create/')) {
        var script = document.createElement('script');
        script.src = '/third_party/generated/js/third_party.js';
        document.body.appendChild(script);
      }
    </script>
  </body>
</html>
