<div class="modal-header e2e-test-question-suggestion-review-modal-header">
  <div class="e2e-test-modal-header">
    <h1 class="oppia-question-header" tabindex="0">
      {{questionHeader}}
    </h1>
    <h3 class="oppia-mobile-question-header" title="{{questionHeader}}">
      {{questionHeader.substring(0, 25)}}{{questionHeader.length > 25 ? "...": ""}}
    </h3>
    <h4 class="author-header"
        *ngIf="reviewable">
      Submitted by {{authorName}}
    </h4>
  </div>
  <button type="button"
          class="btn-close oppia-close-button-position e2e-test-close-modal-button"
          (click)="cancel()"
          aria-label="Close">
  </button>
</div>

<div class="modal-body">
  <div class="oppia-question-details" tabindex="0">
    <strong class="oppia-difficulty-title">
      Selected Difficulty: {{skillDifficultyLabel}}
    </strong>
    <div *ngIf="skillRubricExplanations.length > 0">
      <strong class="oppia-skill-rubrics"
              title="Use these notes to make sure your question is at the right difficulty.">
        Notes from Skill Rubric
      </strong>
      <ul>
        <li *ngFor="let explanation of skillRubricExplanations">
          <span class="oppia-skill-explanation" [innerHtml]="explanation"></span>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="showQuestion">
    <oppia-question-editor [questionId]="questionId"
                           [misconceptionsBySkill]="misconceptionsBySkill"
                           [questionStateData]="questionStateData"
                           [question]="question"
                           [userCanEditQuestion]="canEditQuestion"
                           (questionChange)="questionChanged()"
                           tabindex="0">
    </oppia-question-editor>
  </div>
  <section [hidden]="!reviewable"
           class="oppia-reviewer-actions">
    <div class="oppia-suggestion-review-message">
      <label for="question-review-message">Review message (required if rejecting):</label>
      <textarea class="e2e-test-suggestion-review-message w-100"
                id="question-review-message"
                rows="3"
                [(ngModel)]="reviewMessage">
      </textarea>
    </div>
  </section>
  <div [hidden]="reviewable"
       class="oppia-suggestion-review-message">
    <strong>Reviewer: </strong>
    {{reviewer}}
    <br>
    <strong>Review message: </strong>
    <div class="oppia-review-message">
      {{reviewMessage}}
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="oppia-review-buttons">
    <div ngbTooltip="Enter review message before rejecting" placement="bottom" [disableTooltip]="!(reviewMessage.length == 0)">
      <button type="button" class="btn btn-danger e2e-test-question-suggestion-review-reject-button"
              *ngIf="reviewable"
              [disabled]="reviewMessage.length == 0"
              (click)="reject()">Reject
      </button>
    </div>
    <div tooltip-placement="bottom">
      <button class="btn btn-secondary oppia-review-button e2e-test-question-suggestion-review-edit-button"
              *ngIf="reviewable"
              (click)="edit()">
        Edit
      </button>
    </div>
    <div tooltip-placement="bottom">
      <button class="btn btn-success oppia-review-button e2e-test-question-suggestion-review-accept-button"
              *ngIf="reviewable"
              (click)="accept()">
        Accept
      </button>
    </div>
  </div>
  <div class="oppia-pagination-container">
    <button type="button"
            class="oppia-pagination-button"
            (click)="goToPreviousItem()"
            [disabled]="isFirstItem">
      <i class="fas fa-angle-left"></i>Previous
    </button>
    <button type="button"
            class="oppia-pagination-button"
            (click)="goToNextItem()"
            [disabled]="isLastItem">
      Next<i class="fas fa-angle-right"></i>
    </button>
  </div>
</div>
