<div class="oppia-translate-text-header-container e2e-test-translate-text-header-container">
  <div class="oppia-translate-text-header">
    <div class="oppia-opportunities-details">
      <div class="oppia-opportunities-subheading">
        {{ subheading }}
      </div>
      <div class="oppia-mobile-opportunities-subheading">
        {{ wrapTextWithEllipsis(subheading, 35) }}
      </div>
      <div class="oppia-opportunities-heading">
        {{ heading }}
      </div>
      <div class="oppia-mobile-opportunities-heading">
        {{ wrapTextWithEllipsis(heading, 25) }}
      </div>
    </div>
    <button type="button"
            class="btn-close oppia-close-button-position e2e-test-close-modal-button"
            (click)="close()"
            aria-label="Close">
    </button>
  </div>
</div>
<div class="modal-body">
  <div class="oppia-loading-text" *ngIf="loadingData || uploadingTranslation">
    <div class="oppia-loading-text1 oppia-animate-fadein">
      <lazy-loading></lazy-loading>
    </div>
    <div class="oppia-loading-text2 oppia-animate-fadein">
      <lazy-loading></lazy-loading>
    </div>
  </div>
  <div *ngIf="!textToTranslate && !loadingData">
    <strong *ngIf="hasDataFormatListContent && !isActiveLanguageReviewer">
      There are no more cards available for translation. The remaining cards require reviewer privileges to translate,
      as they involve answer matching rules that could affect a learner's progress if translated incorrectly. Please
      contact an admin if you'd like to obtain reviewer privileges.
    </strong>
    <strong *ngIf="!hasDataFormatListContent || isActiveLanguageReviewer">
      Sorry! All available translations are in review currently.
    </strong>
  </div>
  <div *ngIf="textToTranslate">
    <div class="oppia-translatable-text-section">
      <strong>Please translate the given {{ activeContentType }} in {{ languageDescription }}:</strong>
      <a class="oppia-skip-button e2e-test-skip-translation-button" *ngIf="moreAvailable"
         (click)="skipActiveTranslation()">Skip
      </a>
    </div>
    <div *ngIf="!loadingData && !uploadingTranslation" class="oppia-text-to-translate-container"
         [class.oppia-container-expanded]="isContentExpanded" [class.oppia-container-contracted]="!isContentExpanded" #contentContainer>
      <!-- textToTranslate contains the html content of an exploration state -->
      <oppia-rte-output-display *ngIf="activeDataFormat === 'html' || activeDataFormat === 'unicode'"
                                [class.oppia-rte-editor-focused]="isCopyModeActive()" (click)="onContentClick($event)"
                                [rteString]="textToTranslateAsString" class="oppia-rte-editor" #contentPanel>
      </oppia-rte-output-display>
      <div *ngIf="isSetOfStringDataFormat()">
        <strong>{{ activeRuleDescription }}</strong>
        <ul class="oppia-option-list oppia-translate-rule-list" role="tablist">
          <li *ngFor="let ruleContent of textToTranslate">
            {{ ruleContent }}
          </li>
        </ul>
      </div>
    </div>
    <div class="oppia-collapse-content"
         *ngIf="isContentOverflowing"
         (click)="toggleExpansionState(expansionTabType.CONTENT)">
      {{ isContentExpanded ? textWhenExpanded : textWhenContracted }}
    </div>
    <div *ngIf="!isSubmitted()" class="oppia-translation-editor-section">
      <div class="e2e-test-state-translation-editor">
        <ck-editor-copy-toolbar *ngIf="activeDataFormat === 'html'"></ck-editor-copy-toolbar>
        <div class="oppia-editor-container"
             [class.oppia-container-expanded]="isTranslationExpanded" [class.oppia-container-contracted]="!isTranslationExpanded"
             #translationContainer>
          <p class="oppia-keybaord-accessibility-text" tabindex="0">Alt+0 for keyboard accessibility</p>
          <schema-based-editor *ngIf="editorIsShown && activeDataFormat === 'html'" [schema]="HTML_SCHEMA"
            [localValue]="activeWrittenTranslation" (localValueChange)="updateHtml($event)" #oppiaRTE>
          </schema-based-editor>
          <schema-based-editor *ngIf="editorIsShown && activeDataFormat === 'unicode'" [schema]="UNICODE_SCHEMA"
            [localValue]="activeWrittenTranslation" (localValueChange)="updateHtml($event)" #oppiaRTE>
          </schema-based-editor>
          <div *ngIf="editorIsShown && isSetOfStringDataFormat()" class="oppia-rules-to-translate-container">
            <strong>Please add a translation per answer choice.</strong>
            <p class="oppia-rules-translation-tip">
              Because these answer choices will be matched against a learner's input, we want to be extra careful with
              the translations so as to not block a learner's progress in a lesson.
            </p>
            <schema-based-editor [schema]="SET_OF_STRINGS_SCHEMA" [localValue]="activeWrittenTranslation"
              (localValueChange)="updateHtml($event)">
            </schema-based-editor>
          </div>
        </div>
        <div class="oppia-collapse-content" (click)="toggleExpansionState(expansionTabType.TRANSLATION)"
          *ngIf="isTranslationOverflowing">
          {{ isTranslationExpanded ? textWhenExpanded : textWhenContracted }}
        </div>
      </div>
    </div>
    <div class="oppia-translation-error-section">
      <div *ngIf="isFormulaAsText(activeWrittenTranslation)" class="alert alert-warning e2e-test-formula-as-text-warning d-flex justify-content-between"
           [ngClass]="mathWarningIsMinimized ? 'align-items-center' : 'align-items-start'">
        <div *ngIf="!mathWarningIsMinimized">
          <i class="fas fa-exclamation-triangle mr-1"></i>
          <span [innerHTML]="'I18N_WARNING_TRANSLATOR_PLAIN_TEXT_MATH_EXPRESSION' | translate"></span>
        </div>
        <div *ngIf="mathWarningIsMinimized">
          <i class="fas fa-exclamation-triangle mr-2" title="Plain-text math expressions detected."></i>
          <span [innerHTML]="'I18N_WARNING_MATH_EXPRESSION_MINIMIZED' | translate"></span>
        </div>
        <i class="fas"
           [ngClass]="mathWarningIsMinimized ? 'fa-angle-down' : 'fa-angle-up'"
           (click)="toggleMathWarning()"
           [title]="mathWarningIsMinimized ? 'Expand warning' : 'Minimize warning'">
        </i>
      </div>
      <p *ngIf="hasImgCopyError">
        All images should be copied.
      </p>
      <p *ngIf="hasImgTextError">
        Image caption and/or description should be translated if they exist.
      </p>
      <p *ngIf="hadCopyParagraphError">
        Paragraphs are not allowed to be copied. Please make sure to translate the text.
      </p>
      <p *ngIf="hasIncompleteTranslationError">
        Translation is incomplete. Please use the Copy Tool to include any images or concept cards in the translated
        content.
      </p>
      <p *ngIf="hasLengthValidationError">
        {{ lengthValidationErrorMessage }}
      </p>
    </div>
    <strong *ngIf="isSubmitted()">Submitted translation:</strong>
    <div *ngIf="isSubmitted()" class="oppia-text-to-translate-container">
      <oppia-rte-output-display [rteString]="activeWrittenTranslationAsString" class="oppia-rte-editor">
      </oppia-rte-output-display>
    </div>
    <div *ngIf="TRANSLATION_TIPS[activeLanguageCode]" class="oppia-translation-tips-container">
      <ul>
        <li *ngFor="let tip of TRANSLATION_TIPS[activeLanguageCode]">{{tip}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="opportunity && !modifyTranslationOpportunity" class="oppia-translate-modal-footer modal-footer">
  <button class="btn btn-secondary" (click)="close()">
    Cancel
  </button>
  <button class="btn btn-success oppia-go-back-button"
          [disabled]="!hasPreviousTranslations()"
          (click)="returnToPreviousTranslation()">
    Go back
  </button>
  <button class="btn btn-success oppia-upload-translated-text-button e2e-test-save-button"
          [disabled]="loadingData || uploadingTranslation || activeWrittenTranslation === '' || isSubmitted() || hasSubmitValidationErrors()"
          (click)="suggestTranslatedText()">
    <i [hidden]="!uploadingTranslation" class="fa fa-spinner"></i>
    <span [hidden]="uploadingTranslation || moreAvailable">
      Save and close
    </span>
    <span [hidden]="uploadingTranslation || !moreAvailable">
      Save and translate another
    </span>
  </button>
</div>
<div *ngIf="modifyTranslationOpportunity && !opportunity" class="oppia-translate-modal-footer modal-footer">
  <button class="btn btn-secondary" (click)="close()">
    Cancel
  </button>
  <button class="btn btn-success oppia-upload-translated-text-button e2e-test-save-button"
          [disabled]="loadingData || uploadingTranslation || activeWrittenTranslation === '' || isSubmitted() || hasSubmitValidationErrors()"
          (click)="updateTranslatedText()">
    <i [hidden]="!uploadingTranslation" class="fa fa-spinner"></i>
    <span [hidden]="uploadingTranslation">
      Save
    </span>
  </button>
</div>
