.oppia-signup-page-container .oppia-long-text > label {
    font-weight: normal;
  }
  .oppia-username-input {
    width: 260px;
  }
  .oppia-username-explanation-text {
    font-size: 0.8em;
  }
  .oppia-warning-text-container {
    height: 18px;
    width: 550px;
  }
  .oppia-warning-text {
    color: #f00;
    font-size: 0.8em;
  }
  .oppia-form-text-size {
    font-size: smaller
  }
  .oppia-signup-site-description-text {
    font-size: 1em;
  }
  .oppia-checkbox-margin {
    margin-right: 6px;
  }

  .radio label {
    display: flex;
    gap: 4px;
  }
