.modal-container {
  padding: 10px;
}

.practice-session-btn-continue {
  background-color: #00645c;
  border-color: #00645c;
  color: #fff;
  font-weight: bold;
}

.practice-session-btn-cancel {
  background-color: #fff;
  border-color: #00645c;
  color: #00645c;
  font-weight: bold;
}
