.oppia-unpublished-exploration-banner {
    align-items: center;
    background-color: #015f9c ;
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 100vw;
  }
  .navbar-container {
    background-color: #00645c;
    padding: 0 10px;
  }
