.training-data-editor .training-data-answer {
  border: black solid 1px;
  border-radius: 5px;
  margin-top: 1%;
  padding: 1%;
}

.training-data-editor .training-data-answer-html {
  display: inline-block;
  width: 93%;
}

.training-data-editor .oppia-delete-response-button {
  float: right;
}

.training-data-editor .add-new-answer {
  max-height: 210px;
  overflow: auto;
  padding-bottom: 2%;
}

.training-data-editor .training-data-answers-list {
  border-top: solid lightgray 2px;
  max-height: 210px;
  overflow: auto;
  padding-top: 2%;
}

.training-data-editor .training-data-answer-label {
  font-size: 1.3em;
}

.training-data-editor .training-data-answer:hover {
  background-color: #d3d3d32e;
}
