<schema-based-primitive-viewer ng-if="(schema().type === 'bool' || schema().type === 'int' || schema().type == 'float')" local-value="$parent.localValue">
</schema-based-primitive-viewer>

<schema-based-custom-viewer ng-if="schema().type === 'custom'" obj-type="schema().obj_type"
                            local-value="$parent.localValue">
</schema-based-custom-viewer>

<schema-based-dict-viewer ng-if="schema().type === 'dict'" property-schemas="schema().properties"
                          local-value="$parent.localValue">
</schema-based-dict-viewer>

<schema-based-html-viewer ng-if="schema().type === 'html'" local-value="$parent.localValue">
</schema-based-html-viewer>

<schema-based-list-viewer ng-if="schema().type === 'list'" item-schema="schema().items"
                          local-value="$parent.localValue">
</schema-based-list-viewer>

<schema-based-unicode-viewer ng-if="schema().type === 'unicode'" local-value="$parent.localValue">
</schema-based-unicode-viewer>
