<div class="intro-card-container">
  <div class="intro-card">
    <h1 class="certificate-title">{{ certificateTitle | titlecase }}</h1>

    <p class="instructions-heading">
      {{ instructionsHeadingI18nKey | translate }}
    </p>

    <ul class="instructions-list">
      <li>
        {{ timeLimitInstructionI18nKey | translate: { minutes: assessmentDurationMinutes } }}
      </li>
      <li *ngFor="let instructionKey of staticInstructionI18nKeys">
        {{ instructionKey | translate }}
      </li>
    </ul>

    <div class="cta-row">
      <button type="button" class="continue-button"
              (click)="onStartAssessment()">
        {{ startAssessmentButtonI18nKey | translate }}
      </button>
    </div>
  </div>
</div>
