@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700';

body {
  padding-top: 50px;
}

.oppia-content {
  margin: 0 auto;
  padding-left: 30px;
  width: 80%;
}

.oppia-class-category {
  border: 3px solid #CCC; 
  border-radius: 20px;
  margin: 10px; 
  width: 100%;
}

.oppia-class-category hr {
  border-top: 3px double #CCC;
  margin: 0;
}

.oppia-form-search {
  padding-right: 20px;
}

.oppia-navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.oppia-exploration {
  border: 1px solid black;
  margin: 10px auto;
  padding: 10px;
  width: 98%;
}

.oppia-exploration-header {
  margin: 10px auto;
  padding: 6px 0;
  text-align: center;
  width: 80%;
}

.oppia-exploration-header a {
  font-size: 200%;
  text-decoration: none;
}

.oppia-wide-panel {
  border: 5px solid black;
  border-radius: 3px;
  font-size: large;
  min-height: 400px;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
}

.oppia-btn-container {
  padding: 10px;
}
