oppia-rubrics-editor .dropdown-option {
  padding: 10px;
}

oppia-rubrics-editor .rubric-error-message {
  color: #f00;
  display: block;
  font-size: 0.8em;
}

oppia-rubrics-editor .oppia-card-content-limit-error {
  background: #fff5c8;
  border: 0.0625rem solid #827127;
  border-radius: 0.25rem;
  color: #333;
  padding-left: 0.25rem;
}

oppia-rubrics-editor .helper-text {
  color: #595959;
  font-size: 13px;
}

oppia-rubrics-editor .dropdown {
  display: inline-block;
}

oppia-rubrics-editor .rubric-options {
  width: 200px;
}

oppia-rubrics-editor .add-explanation-button {
  background-color: #058ca6;
  color: #fff;
  margin-top: 1vh;
}

oppia-rubrics-editor .rubric-editor {
  margin-right: 15px;
  margin-top: 2vh;
}

oppia-rubrics-editor .oppia-rule-save-cancel-buttons {
  text-align: right;
}
oppia-rubrics-editor .oppia-rule-save-cancel-buttons .rubric-cancel-button {
  border: 1px solid #999;
  margin: 0 4px;
}
