mat-card.oppia-autofocus:focus {
    outline: #000;
    outline-width: 4px;
  }
  .oppia-editor-publish-button {
    margin-top: 2%;
  }
  .question-data-container {
    margin: 0;
    max-height: 68vh;
    min-height: 68vh;
    overflow-y: scroll;
    padding: 0;
    width: 60%;
  }
  .question-editor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px auto 0;
    width: 70%;
  }
  .question-edit-cancel-button {
    margin-left: 8%;
  }
  .question-edit-save-button {
    margin-right: 8%;
    text-align: center;
    width: 90px;
  }
  .question-list-container,
  .save-question-container {
    padding: 0 20px 20px;
  }
  .create-question-container {
    width: 35%;
  }
  .list-header {
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
  }
  .question-list-item {
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 12px;
  }
  .question-data {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: space-between;
  }
  .create-question-header {
    border-bottom: none;
    margin: 0;
  }
  .question-text {
    flex: 1;
    max-width: 90%;
  }
  .page-navigation-arrows {
    float: right;
    margin-top: 5px;
  }
  .page-navigation-arrows > i {
    cursor: pointer;
  }
  .add-question-btn {
    background-color: #008098;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  .add-question-btn .btn.disabled, .btn:disabled {
    cursor: not-allowed;
  }
  .question-editor-parent {
    width: 60%;
  }
  .question-editor-open-container {
    margin-right: -29px;
    padding-bottom: 10px;
    position: sticky;
    top: 27%;
    width: 38%;
  }
  .checklist-item {
    display: flex;
  }
  .checklist-item-number {
    align-items: center;
    background-color: #fff;
    border: 1.5px solid #419889;
    border-radius: 50%;
    color: #419889;
    display: flex;
    font-size: 12px;
    height: 22px;
    justify-content: center;
    text-align: center;
    width: 22px;
  }
  .checklist-item-number-active {
    background-color: #419889;
    color: #fff;
  }
  .checklist-item-separator {
    background-color: #419889;
    height: 20px;
    margin: 2px 10px;
    width: 2px;
  }
  .difficulty-selection-container {
    display: flex;
    flex-direction: column;
  }
  .new-question-header {
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
  }
  .question-skill-id {
    background-color: #efefef;
    margin-left: 0;
  }
  .question-skill-id:hover {
    background-color: #e0e0e0;
  }
  .skill-description-card {
    padding-left: 10px;
    padding-top: 10px;
  }
  .checklist-item-text {
    margin-left: 5px;
  }
  .btn-success[disabled] {
    background-color: #008098;
  }
  .btn-success {
    color: #000;
  }
  .save-question-button-container {
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-top: 20px;
  }
  .oppia-cross-icon {
    color: #f00;
  }
  .linked-skills-container {
    margin-top: 40px;
  }
  .difficulty-card-header {
    display: flex;
    justify-content: space-between;
  }
  .difficulty-card-header i {
    display: none;
  }
  .question-interaction-id {
    color: #707070;
  }
  .list-group {
    gap: 10px;
  }
  .oppia-question-editor-page-card {
    margin-bottom: 0;
    margin-top: 0;
  }
  .info-icon {
    cursor: help;
    height: 1em;
    width: 1em;
  }
  .single-option {
    display: block;
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    .question-editor-container {
      margin-top: 30px;
      width: 100%;
    }
    .question-data-container {
      margin-left: 0;
      margin-right: 0;
      margin-top: 30px;
      max-height: none;
      order: 10;
      padding: 0;
      padding-bottom: 90px;
      width: 100%;
    }
    .create-question-container {
      width: 100%;
    }
    .question-editor-parent {
      width: 100%;
    }

    .create-question-header h3 {
      margin: 0;
    }
    .create-question-container mat-card {
      padding: 25px;
    }
    .create-question-header {
      padding-bottom: 25px;
    }
    .questions {
      margin-bottom: 70px;
    }
    .difficulty-card-header i {
      display: block;
    }
    .difficulty-card-header h3 {
      margin: 0;
    }
    .question-editor-open-container {
      position: inherit;
    }
  }
