oppia-questions-list mat-card.oppia-autofocus:focus {
  outline: #000;
  outline-width: 4px;
}
oppia-questions-list .oppia-editor-publish-button {
  margin-top: 2%;
}
oppia-questions-list .question-data-container {
  margin: 0;
  max-height: 68vh;
  min-height: 68vh;
  overflow-y: scroll;
  padding: 0;
  width: 60%;
}
oppia-questions-list .question-editor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto 0;
  width: 70%;
}
oppia-questions-list .question-edit-cancel-button {
  margin-left: 8%;
}
oppia-questions-list .question-edit-save-button {
  margin-right: 8%;
  text-align: center;
  width: 90px;
}
oppia-questions-list .question-list-container,
oppia-questions-list .save-question-container {
  padding: 0 20px 20px;
}
oppia-questions-list .create-question-container {
  width: 35%;
}
oppia-questions-list .list-header {
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}
oppia-questions-list .question-list-item {
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 12px;
}
oppia-questions-list .question-data {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: space-between;
}
oppia-questions-list .create-question-header {
  border-bottom: none;
  margin: 0;
}
oppia-questions-list .question-text {
  flex: 1;
  max-width: 90%;
}
oppia-questions-list .page-navigation-arrows {
  float: right;
  margin-top: 5px;
}
oppia-questions-list .page-navigation-arrows > i {
  cursor: pointer;
}
oppia-questions-list .add-question-btn {
  background-color: #008098;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
oppia-questions-list .add-question-btn .btn.disabled,
oppia-questions-list .btn:disabled {
  cursor: not-allowed;
}
oppia-questions-list .question-editor-parent {
  width: 60%;
}
oppia-questions-list .question-editor-open-container {
  margin-right: -29px;
  padding-bottom: 10px;
  position: sticky;
  top: 27%;
  width: 38%;
}
oppia-questions-list .checklist-item {
  display: flex;
}
oppia-questions-list .checklist-item-number {
  align-items: center;
  background-color: #fff;
  border: 1.5px solid #419889;
  border-radius: 50%;
  color: #419889;
  display: flex;
  font-size: 12px;
  height: 22px;
  justify-content: center;
  text-align: center;
  width: 22px;
}
oppia-questions-list .checklist-item-number-active {
  background-color: #419889;
  color: #fff;
}
oppia-questions-list .checklist-item-separator {
  background-color: #419889;
  height: 20px;
  margin: 2px 10px;
  width: 2px;
}
oppia-questions-list .difficulty-selection-container {
  display: flex;
  flex-direction: column;
}
oppia-questions-list .new-question-header {
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}
oppia-questions-list .question-skill-id {
  background-color: #efefef;
  margin-left: 0;
}
oppia-questions-list .question-skill-id:hover {
  background-color: #e0e0e0;
}
oppia-questions-list .skill-description-card {
  padding-left: 10px;
  padding-top: 10px;
}
oppia-questions-list .checklist-item-text {
  margin-left: 5px;
}
oppia-questions-list .btn-success[disabled] {
  background-color: #008098;
}
oppia-questions-list .btn-success {
  color: #000;
}
oppia-questions-list .save-question-button-container {
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-top: 20px;
}
oppia-questions-list .oppia-cross-icon {
  color: #f00;
}
oppia-questions-list .linked-skills-container {
  margin-top: 40px;
}
oppia-questions-list .difficulty-card-header {
  display: flex;
  justify-content: space-between;
}
oppia-questions-list .difficulty-card-header i {
  display: none;
}
oppia-questions-list .question-interaction-id {
  color: #707070;
}
oppia-questions-list .list-group {
  gap: 10px;
}
oppia-questions-list .oppia-question-editor-page-card {
  margin-bottom: 0;
  margin-top: 0;
}
oppia-questions-list .info-icon {
  cursor: help;
  height: 1em;
  width: 1em;
}
oppia-questions-list .single-option {
  display: block;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  oppia-questions-list .question-editor-container {
    margin-top: 30px;
    width: 100%;
  }
  oppia-questions-list .question-data-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    max-height: none;
    order: 10;
    padding: 0;
    padding-bottom: 90px;
    width: 100%;
  }
  oppia-questions-list .create-question-container {
    width: 100%;
  }
  oppia-questions-list .question-editor-parent {
    width: 100%;
  }

  oppia-questions-list .create-question-header h3 {
    margin: 0;
  }
  oppia-questions-list .create-question-container mat-card {
    padding: 25px;
  }
  oppia-questions-list .create-question-header {
    padding-bottom: 25px;
  }
  oppia-questions-list .questions {
    margin-bottom: 70px;
  }
  oppia-questions-list .difficulty-card-header i {
    display: block;
  }
  oppia-questions-list .difficulty-card-header h3 {
    margin: 0;
  }
  oppia-questions-list .question-editor-open-container {
    position: inherit;
  }
}
