/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

.oppia-facilitator-dashboard {
  margin: 0 auto 0 auto;
  max-width: 1160px;
  padding-bottom: 60px;
  text-align: left;
  width: 90%;
}

.oppia-facilitator-dashboard .oppia-empty-learner-groups-container {
  margin-top: 120px;
  text-align: center;
}

.oppia-facilitator-dashboard .oppia-empty-learner-groups-message {
  color: #707070;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 5px;
}

.oppia-facilitator-dashboard .oppia-facilitator-dashboard-title {
  color: #00645c;
  font-family: 'Capriola', 'Roboto', Arial, sans-serif;
  font-size: 36px;
  padding-top: 80px;
}

.oppia-facilitator-dashboard .oppia-learner-groups-section {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px #0000001a;
  margin-top: 100px;
  min-height: 460px;
  padding: 32px 30px 30px 40px;
}

.oppia-facilitator-dashboard .oppia-learner-groups-section-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.oppia-facilitator-dashboard .oppia-learner-groups-section-title {
  color: #00609c;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.oppia-facilitator-dashboard .oppia-create-new-learner-group-button {
  background: #00645c;
  border: solid 1px #00645c;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  padding: 8px 24px;
  text-align: center;
}

.oppia-facilitator-dashboard .oppia-create-new-learner-group-button:hover {
  background: #fff;
  border-radius: 4px;
  color: #00645c;
}

.oppia-facilitator-dashboard .oppia-learner-group-summary-cards-container {
  display: grid;
  grid-gap: 20px;
  margin-top: 40px;
}

.oppia-facilitator-dashboard .oppia-learner-group-summary-card {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
}

.oppia-facilitator-dashboard .oppia-learner-group-summary-card .oppia-learner-group-summary-card-info {
  color: #000;
  position: relative;
}

.oppia-facilitator-dashboard .oppia-learner-group-summary-card .oppia-learner-group-summary-card-info:hover {
  text-decoration: none;
}

.oppia-facilitator-dashboard .oppia-learner-group-summary-card-title {
  font-size: 20px;
}

.oppia-facilitator-dashboard .oppia-learner-group-summary-card-learners {
  color: #555;
  font-size: 14px;
}

.oppia-facilitator-dashboard .oppia-learner-group-summary-card .fa-chevron-right {
  position: absolute;
  right: 0;
  top: 40%;
  -moz-transform: scaleX(1) /*rtl:scaleX(-1)*/;
  -o-transform: scaleX(1) /*rtl:scaleX(-1)*/;
  -webkit-transform: scaleX(1) /*rtl:scaleX(-1)*/;
  transform: scaleX(1) /*rtl:scaleX(-1)*/;
}

@media screen and (max-width: 575px) {
  .oppia-facilitator-dashboard .oppia-learner-groups-section-title-container {
    flex-direction: column;
    gap: 20px;
  }

  .oppia-facilitator-dashboard .oppia-learner-group-summary-card-title {
    font-size: 16px;
  }

  .oppia-facilitator-dashboard .oppia-learner-group-summary-card-learners {
    font-size: 12px;
  }
}
