 .gauge {
  background: url('../images/gauge.png') center no-repeat;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 74px;
  margin: 0 auto;
  position: relative;
  width: 378px;
 }

.fill {
  height: 7px;
  left: 15px;
  position: relative;
  top: 33px;
  width: 345px;
}

.title {
  color: #000;
  position: absolute;
  text-align: center;
  width: 100%;
}
