.oppia-learner-refresher-exploration-confirmation-body {
    word-wrap: break-word;
  }

  .oppia-learner-refresher-exploration-confirmation-title {
    color: #00786d;
    font-family: 'Capriola', Roboto, arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
  }
