{ 
  "extends": "stylelint-config-recommended",
  "rules": {
    "block-closing-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always-multi-line",
    "block-closing-brace-space-before": "always-single-line",
    "block-opening-brace-newline-after": "always-multi-line",
    "block-opening-brace-space-after": "always-single-line",
    "block-opening-brace-space-before": "always",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "indentation": 2,
    "no-descending-specificity": true,
    "no-duplicate-selectors": true,
    "selector-type-no-unknown": [
      true,
      {
        ignore: ["custom-elements"]
      }
    ],
  }
}
