.story-node-breadcrumb {
    margin-left: 2%;
  }
  .story-chapter-name {
    font-size: 15px;
    margin-bottom: 35px;
    margin-left: 4%;
  }
  .story-name {
    color: #666;
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    .story-chapter-name {
      display: none;
    }
  }
