<div class="guppy-div-learner protractor-test-guppy-div" ng-click="$ctrl.showOSK()"></div>

<div ng-show="!$ctrl.isCurrentAnswerValid()" class="alert alert-danger mt-2">
  <[$ctrl.warningText]>
</div>
<!--
  Guppy enforces the 'white-space', 'height' and 'width' styles through their
  predefined styles causing the non-responsive behaviour. This is being
  supposedly done in the default Guppy CSS file that Guppy uses.
  The changes done to the main Guppy template overwrites the default CSS that
  Guppy provides. The customized styles are necessary to override what Guppy
  assigns to the classes with the help of !important. Testing shows that
  application of styles without !important doesn't work as the Guppy assigned
  styles seem to override those. Only the application of !important to the
  new styles defined in the main Guppy document seems to work here. It only
  makes sense to go against the design principles for this change as there 
  does not seem to be another more intuitive way of doing this.
-->
<style>
  .guppy-div-learner {
    min-height: 100px;
    width: 100%;
  }

</style>
