.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .oppia-rule-block {
    width: 100%;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-preview {
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
  }

  .oppia-add-hint-button-container {
    margin: 10px 0;
  }

  .oppia-editor-card-section {
    padding: 10px;
  }

  .oppia-exp-hints-card-header {
    font-size: 18px;
  }

  .oppia-hint-sort-handle {
    padding-right: 4px;
    position: absolute;
    top: 9px;
  }

  .oppia-sortable-hint {
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    padding: 10px 8px;
    position: relative;
  }

  .oppia-option-list-hint {
    width: 100%;
  }

  .oppia-option-list-hint.cdk-drop-list-dragging .oppia-sortable-hint:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .state-hints-header-container {
    padding: 0 20px 0 30px;
  }

  .state-hints-header {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px;
  }

  .state-hints-content-container {
    padding: 15px 30px;
  }

  @media screen and (max-width: 768px) {
    .state-hints-content-container {
      margin-top: 10px;
      padding-left: 5px;
      padding-right: 5px;
    }

    .state-hints-header-container {
      padding: 0;
    }

    .state-hints-header {
      padding: 0;
    }

    .state-hints-header i {
      display: block;
    }

    .oppia-editor-card-with-avatar, .oppia-mobile-collapsible-card {
      margin-top: 20px;
    }
  }
