oppia-on-screen-keyboard .oppia-osk-container {
  background: #fff;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: sticky;
  right: 0;
  z-index: 10000;
}

oppia-on-screen-keyboard .oppia-osk-container button {
  outline: none;
  padding: 11.2px 0;
}

oppia-on-screen-keyboard .oppia-osk-container i {
  opacity: 60%;
}

oppia-on-screen-keyboard .oppia-osk-navbar {
  background-color: #fff;
  border-bottom: #d3d3d3 4px solid;
  border-top: #808080 3px solid;
  min-height: 56px;
}

oppia-on-screen-keyboard .oppia-osk-main-tab {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 5em);
}

oppia-on-screen-keyboard .oppia-osk-custom-letters-div {
  align-items: center;
  background-color: #ebffe4;
  border-bottom: #d3d3d3 4px solid;
  display: flex;
  overflow-x: auto;
}

oppia-on-screen-keyboard .oppia-osk-custom-letters-div button {
  flex: 0 0 auto;
}

oppia-on-screen-keyboard .oppia-osk-letters-tab {
  padding: 10px 0;
  text-align: center;
}

oppia-on-screen-keyboard .oppia-osk-functions-tab {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 5em);
}

oppia-on-screen-keyboard .oppia-osk-main-tab img,
oppia-on-screen-keyboard .oppia-osk-functions-tab img {
  min-height: 64px;
  width: -webkit-fill-available;
}

oppia-on-screen-keyboard .oppia-osk-custom-letters-div button:active,
oppia-on-screen-keyboard .oppia-osk-main-tab button:active,
oppia-on-screen-keyboard .oppia-osk-functions-tab button:active,
oppia-on-screen-keyboard .oppia-osk-container img:active {
  background-color: #019b8b;
  border: none;
}

oppia-on-screen-keyboard .oppia-osk-btn-tab-active {
  background-color: transparent;
  border: none;
  border-bottom: 3px #015c53 solid;
  color: #015c53;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 19px;
  margin: 0 10px;
}

oppia-on-screen-keyboard .oppia-osk-btn-tab-inactive {
  background-color: transparent;
  border: none;
  color: #000;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 19px;
  margin: 0 10px;
}

oppia-on-screen-keyboard .oppia-osk-btn-hide {
  background-color: transparent;
  border: none;
  color: #015c53;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 19px;
  position: absolute;
  right: 16px;
  vertical-align: middle;
}

oppia-on-screen-keyboard .oppia-osk-btn-hide i {
  margin: 3.2px;
}

oppia-on-screen-keyboard .oppia-osk-btn-number {
  background-color: #fff;
  border: 1px #d3d3d3 solid;
  color: #000;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 25px;
}

oppia-on-screen-keyboard .oppia-osk-btn-operator {
  align-items: center;
  background-color: #ffffcb;
  border: 1px #d3d3d3 solid;
  color: #000;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 25px;
}

oppia-on-screen-keyboard .oppia-osk-btn-function {
  background-color: #fff;
  border: 1px #d3d3d3 solid;
  color: #000;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 15px;
}

oppia-on-screen-keyboard .oppia-osk-btn-shortcut {
  background-color: #e4ffcb;
  border: 1px #d3d3d3 solid;
  color: #000;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 25px;
}

oppia-on-screen-keyboard .oppia-osk-btn-letter {
  background-color: inherit;
  border: none;
  color: #000;
  font-family: 'Noto Serif', serif;
  font-size: 25px;
  width: 10%;
}

oppia-on-screen-keyboard .number-9,
oppia-on-screen-keyboard .number-6,
oppia-on-screen-keyboard .number-3 {
  border-right: 3px #808080 solid;
}

oppia-on-screen-keyboard .number-3,
oppia-on-screen-keyboard .number-1 {
  border-bottom: 3px #808080 solid;
}

oppia-on-screen-keyboard .number-0 {
  border-bottom: 3px #808080 solid;
  border-left: 3px #808080 solid;
  border-right: 3px #808080 solid;
}
