.cancel-beam-job-dialog .mat-raised-button.mat-warn:not(.mat-button-disabled) {
    background-color: #f44336;
    color: #fff;
  }
  .cancel-beam-job-dialog .mat-progress-bar.mat-warn /deep/ .mat-progress-bar-fill::after {
    background-color: #f44336;
  }
  .cancel-beam-job-dialog .mat-progress-bar.mat-warn /deep/ .mat-progress-bar-buffer {
    background: #ff7961;
  }
  .cancel-beam-job-dialog .beam-job-run-summary-card {
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
  }
  .cancel-beam-job-dialog .beam-job-run-summary-card mat-card-header {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }
  .cancel-beam-job-dialog .beam-job-run-summary-card mat-card-title {
    font-weight: bold;
  }
  .cancel-beam-job-dialog .beam-job-run-summary-icon {
    font-size: 40px;
    margin-top: 8px;
    width: 40px;
  }
  .cancel-beam-job-dialog .beam-job-run-summary-table td,
  .cancel-beam-job-dialog .beam-job-run-summary-table th {
    padding: 10px;
  }
  .cancel-beam-job-dialog .beam-job-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
