.start-new-beam-job-dialog .actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .start-new-beam-job-dialog .job-name {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-weight: bold;
  }
  .start-new-beam-job-dialog .warning {
    color: red;
    font-weight: bold;
  }
