oppia-review-material-editor .review-material {
  padding-bottom: 36px;
  padding-top: 0.5em;
}

oppia-review-material-editor .editor-buttons {
  margin-top: 2px;
}

oppia-review-material-editor .oppia-editor-edit-icon {
  position: inherit;
}
