<div class="example-container">
  <div *ngIf="loadingMessage && !noDataMessage" class="e2e-test-loading-message">
    <div class="oppia-align-center">
      <span>{{ loadingMessage }}</span>
      <loading-dots></loading-dots>
    </div>
  </div>
  <div *ngIf="!loadingMessage && noDataMessage" class="e2e-test-no-data-message">
    <div class="m-auto oppia-dashboard-aggregated-stats oppia-contributor-dashboard-main-content pt-1"
    [ngClass]="{'oppia-contributor-dashboard-mobile-mode': checkMobileView()}">
      <mat-card layout="row" class="oppia-mat-card">
        <div class="translation-reviewer stats-card" tabindex="0">
          <h2>{{ noDataMessage }}</h2>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="dashboard-list-header" *ngIf="!loadingMessage && !noDataMessage && checkMobileView()">
    <div class="dashboard-list-header-count">
      <span>Displaying {{ statsPageNumber * itemsPerPage + 1 }} - {{ getUpperLimitValueForPagination() }} of many</span>
    </div>
    <div class="results-per-page-div">
      <span>Results per page: </span>
      <select [(ngModel)]="itemsPerPage" aria-label="Results Per Page" (change)="refreshPagination()">
        <option *ngFor="let choice of itemsPerPageChoice" [value]="choice" >{{ choice }}</option>
      </select>
    </div>
  </div>
  <table mat-table
         [dataSource]="dataSource"
         multiTemplateDataRows
         [class.isMobile]="true"
         class="mat-elevation-z8 e2e-test-stats-table"
         *ngIf="!loadingMessage && !noDataMessage">

    <ng-container matColumnDef="contributorName">
      <th mat-header-cell *matHeaderCellDef class="user-header"><b> {{ this.inputs.activeTab }} </b></th>
      <td mat-cell *matCellDef="let element" class="user-value">
        <span class="mobile-label">{{ this.inputs.activeTab }}:</span>
        <b> {{ element.contributorName }} </b>
      </td>
    </ng-container>

    <ng-container matColumnDef="recentPerformance">
      <th mat-header-cell *matHeaderCellDef>
        <b>
          Recent Performance
          <i class="fas fa-info-circle" matTooltip="Performance is calculated based on the review results of the last 100 accepted/rejected contributions."></i>
        </b>
      </th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">Recent Performance
          <i class="fas fa-info-circle" matTooltip="Performance is calculated based on the review results of the last 100 accepted/rejected contributions." #performanceTooltip="matTooltip" (click)="performanceTooltip.toggle()">
          </i>:
        </span>
        {{ element.recentPerformance }}
      </td>
    </ng-container>

    <ng-container matColumnDef="overallAccuracy">
      <th mat-header-cell *matHeaderCellDef>
        <b>
          Overall Accuracy
          <i class="fas fa-info-circle"
            matTooltip="Accuracy is based on the ratio of accepted to submitted translations.">
          </i>
        </b>
      </th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">Overall Accuracy
          <i class="fas fa-info-circle"
            matTooltip="Accuracy is based on the ratio of accepted to submitted translations." #accuracyTooltip="matTooltip" (click)="accuracyTooltip.toggle()">
          </i>:
        </span>
        {{ element.overallAccuracy }}%
      </td>
    </ng-container>

    <ng-container matColumnDef="submittedTranslationsCount">
      <th mat-header-cell *matHeaderCellDef><b> Translated Cards </b></th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">Translated Cards:</span>
        {{ element.submittedTranslationsCount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastContributedInDays">
      <div *ngIf="inputs.activeTab === TAB_NAME_TRANSLATION_SUBMITTER">
        <th mat-header-cell *matHeaderCellDef>
          <b>Last Translated</b>
        </th>
      </div>
      <div
        *ngIf="inputs.activeTab === TAB_NAME_TRANSLATION_REVIEWER ||
               inputs.activeTab === TAB_NAME_QUESTION_REVIEWER">
        <th mat-header-cell *matHeaderCellDef><b> Last Reviewed</b></th>
      </div>
      <div *ngIf="inputs.activeTab === TAB_NAME_QUESTION_SUBMITTER">
        <th mat-header-cell *matHeaderCellDef><b> Last Submitted </b></th>
      </div>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label" *ngIf="inputs.activeTab === TAB_NAME_TRANSLATION_SUBMITTER">Last Translated:</span>
        <span class="mobile-label" *ngIf="(inputs.activeTab === TAB_NAME_TRANSLATION_REVIEWER) || (inputs.activeTab === TAB_NAME_QUESTION_REVIEWER)">Last Reviewed:</span>
        <span class="mobile-label" *ngIf="inputs.activeTab === TAB_NAME_QUESTION_SUBMITTER">Last Submitted:</span>
        {{element.lastContributedInDays === 0 ? "Today" : element.lastContributedInDays + " " +
              (element.lastContributedInDays === 1 ? "day" : "days") + " ago"
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="reviewedTranslationsCount">
      <th mat-header-cell *matHeaderCellDef><b> Reviewed Cards </b></th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">Reviewed Cards:</span>
        {{ element.reviewedTranslationsCount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="submittedQuestionsCount">
      <th mat-header-cell *matHeaderCellDef><b> Questions Submitted </b></th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">Questions Submitted:</span>
        {{ element.submittedQuestionsCount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="reviewedQuestionsCount">
      <th mat-header-cell *matHeaderCellDef><b> Questions Reviewed </b></th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">Questions Reviewed:</span>
        {{ element.reviewedQuestionsCount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef><b> Role </b></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="openRoleEditor(element.contributorName)">
          {{ checkMobileView() ? 'EDIT ROLE' : 'EDIT' }}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="chevron" *ngIf="!checkMobileView()">
      <th mat-header-cell *matHeaderCellDef><b> </b></th>
      <td mat-cell *matCellDef="let element">
        <div class="chevron">
          <i class="fas fa-chevron-right"
             [@chevronExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          </i>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="chevron" *ngIf="checkMobileView()">
      <th mat-header-cell *matHeaderCellDef><b> </b></th>
      <td mat-cell *matCellDef="let element" class="mobile-chevron">
        <div class="chevron">
          <i class="fas fa-chevron-right"
             [@mobileChevronExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          </i>
        </div>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell
          *matCellDef="let element"
          [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail e2e-test-expanded-row"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="details-container"
               *ngIf="inputs.activeTab === TAB_NAME_TRANSLATION_SUBMITTER">
            <div class="details-sub-container">
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Date Joined</div>
                  <div class="attribute-value">
                    {{ element.firstContributionDate }}
                  </div>
                </div>
              </div>
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Submitted Translations</div>
                  <div class="attribute-value">
                    {{ element.submittedTranslationsCount }} card{{
                      element.submittedTranslationsCount !== 1 ? "s" : ""
                    }}, {{ element.submittedTranslationWordCount }} word{{
                      element.submittedTranslationWordCount !== 1 ? "s" : ""
                    }}
                  </div>
                </div>
              </div>
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Accepted Translations</div>
                  <div class="attribute-value">
                    {{ element.acceptedTranslationsCount }} card{{
                      element.acceptedTranslationsCount !== 1 ? "s" : ""
                    }} ({{
                      element.acceptedTranslationsWithoutReviewerEditsCount
                    }} without edits), {{ element.acceptedTranslationWordCount }} word{{
                      element.acceptedTranslationWordCount !== 1 ? "s" : ""
                    }}
                  </div>
                </div>
              </div>
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Rejected Translations</div>
                  <div class="attribute-value">
                    {{ element.rejectedTranslationsCount }} card{{
                      element.rejectedTranslationsCount !== 1 ? "s" : ""
                    }}, {{ element.rejectedTranslationWordCount }} word{{
                      element.rejectedTranslationWordCount !== 1 ? "s" : ""
                    }}
                  </div>
                </div>
              </div>
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Active Topics</div>
                  <div class="attribute-value">
                    {{ element.topicsWithTranslationSubmissions ? element.topicsWithTranslationSubmissions.join(', ') : 'No topics available' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="details-container"
               *ngIf="inputs.activeTab === TAB_NAME_TRANSLATION_REVIEWER">
            <div class="details-sub-container">
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Date Joined</div>
                  <div class="attribute-value">
                    {{ element.firstContributionDate }}
                  </div>
                </div>
              </div>
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Accepted Translations</div>
                  <div class="attribute-value">
                    {{ element.acceptedTranslationsCount }} card{{
                      element.acceptedTranslationsCount !== 1 ? "s" : ""
                    }} ({{element.acceptedTranslationsWithReviewerEditsCount}} edited), {{
                      element.acceptedTranslationWordCount }} word{{
                      element.acceptedTranslationWordCount !== 1 ? "s" : ""
                    }}
                  </div>
                </div>
              </div>
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Rejected Translations</div>
                  <div class="attribute-value">
                    {{ element.rejectedTranslationsCount }} card{{
                      element.rejectedTranslationsCount !== 1 ? "s" : ""
                    }}
                  </div>
                </div>
              </div>
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Active Topics</div>
                  <div class="attribute-value">
                    {{ element.topicsWithTranslationReviews ? element.topicsWithTranslationReviews.join(', ') : 'No topics available' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="details-container"
               *ngIf="inputs.activeTab === TAB_NAME_QUESTION_SUBMITTER">
            <div class="details-sub-container">
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Date Joined</div>
                  <div class="attribute-value">
                    {{ element.firstContributionDate }}
                  </div>
                </div>
              </div>
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Submitted Questions</div>
                  <div class="attribute-value">
                    {{ element.submittedQuestionsCount }}
                  </div>
                </div>
              </div>
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Accepted Questions</div>
                  <div class="attribute-value">
                    {{ element.acceptedQuestionsCount }} ({{ element.acceptedQuestionsWithoutReviewerEditsCount }} without edits)
                  </div>
                </div>
              </div>
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Rejected Questions</div>
                  <div class="attribute-value">
                    {{ element.rejectedQuestionsCount }}
                  </div>
                </div>
              </div>
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Active Topics</div>
                  <div class="attribute-value e2e-test-topic-names">
                    {{ element.topicsWithQuestionSubmissions ? element.topicsWithQuestionSubmissions.join(', ') : 'No topics available' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="details-container"
               *ngIf="inputs.activeTab === TAB_NAME_QUESTION_REVIEWER">
            <div class="details-sub-container">
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Date Joined</div>
                  <div class="attribute-value">
                    {{ element.firstContributionDate }}
                  </div>
                </div>
              </div>
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Reviewed Questions</div>
                  <div class="attribute-value">
                    {{ element.reviewedQuestionsCount }}
                  </div>
                </div>
              </div>
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Accepted Questions</div>
                  <div class="attribute-value">
                    {{ element.acceptedQuestionsCount }} ({{
                      element.acceptedQuestionsWithReviewerEditsCount
                    }}
                    edited)
                  </div>
                </div>
              </div>
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Rejected Questions</div>
                  <div class="attribute-value">
                    {{ element.rejectedQuestionsCount }}
                  </div>
                </div>
              </div>
              <div class="attribute-container">
                <div class="attribute-sub-container">
                  <div class="attribute-key">Active Topics</div>
                  <div class="attribute-value">
                    <span class="e2e-test-topic-names">
                      {{ element.topicsWithQuestionReviews ? element.topicsWithQuestionReviews.join(', ') : 'No topics available' }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <b><tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr></b>
    <tr mat-row
        *matRowDef="let element; columns: columnsToDisplay"
        class="example-element-row e2e-test-stats-list-item"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row">
    </tr>
  </table>
  <div class="dashboard-list-footer" *ngIf="!loadingMessage && !noDataMessage && !checkMobileView()">
    <div class="dashboard-list-footer-count">
      <span>Displaying {{ statsPageNumber * itemsPerPage + 1 }} - {{ getUpperLimitValueForPagination() }} of many</span>
    </div>
    <div class="dashboard-list-pagination">
      <div>
        <i class="fa fa-angle-left stats-pagination-arrow" (click)="navigatePage(MOVE_TO_PREV_PAGE)" *ngIf="statsPageNumber > 0"></i>
        <span class="dashboard-list-pagination-value">
          <span class="dashboard-list-pagination-active">{{ statsPageNumber + 1 }}</span>
        </span>
        <i class="fa fa-angle-right stats-pagination-arrow" (click)="navigatePage(MOVE_TO_NEXT_PAGE)" *ngIf="more"></i>
      </div>
      <div>
        <span>Results per page: </span>
        <select [(ngModel)]="itemsPerPage" aria-label="Results Per Page" (change)="refreshPagination()">
          <option *ngFor="let choice of itemsPerPageChoice" [value]="choice" >{{ choice }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="dashboard-list-footer" *ngIf="!loadingMessage && !noDataMessage && checkMobileView()">
    <div class="navigate-page-div">
      <i class="fa fa-angle-left stats-pagination-arrow" (click)="navigatePage(MOVE_TO_PREV_PAGE)" *ngIf="statsPageNumber > 0"></i>
      <span class="dashboard-list-pagination-value">
        <span class="dashboard-list-pagination-active">{{ statsPageNumber + 1 }}</span>
      </span>
      <i class="fa fa-angle-right stats-pagination-arrow" (click)="navigatePage(MOVE_TO_NEXT_PAGE)" *ngIf="more"></i>
    </div>
  </div>
</div>

<style>
  .stats-pagination-arrow {
    cursor: pointer;
  }
  .oppia-align-center {
    font-size: 2em;
    width: 960px;
  }
  .mat-raised-button {
    border: transparent;
    box-shadow: 0;
    color: #00645c;
  }
  .mat-raised-button:not {
    box-shadow: 0;
  }

  table {
    max-width: 960px;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: rgb(245, 245, 245);
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: rgb(239, 239, 239);
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    display: flex;
    overflow: hidden;
    width: 919px;
  }

  .details-container {
    background: rgb(242, 244, 247);
    border-radius: 6px;
    display: inline-flex;
    flex-direction: column;
    height: fit-content;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-top: 20px;
    width: 100%;
  }

  .details-sub-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
    justify-content: flex-start;
  }

  .attribute-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
  }

  .attribute-sub-container {
    display: flex;
    width: 598px;
  }

  .attribute-key {
    color: rgb(51, 51, 51);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    min-width: 25%;
    opacity: 0.75;
    top: 0;
    word-wrap: break-word;
  }

  .attribute-value {
    color: rgb(51, 51, 51);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    max-width: 75%;
    top: 0;
    word-wrap: break-word;
  }

  .b,
  .mat-header-cell {
    color: rgb(51, 51, 51);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: end;
    word-wrap: break-word;
  }

  td.mat-cell:first-of-type {
    padding-left: 20px;
    text-align: start;
  }

  td.mat-cell {
    text-align: end;
  }

  td.mat-cell:last-of-type {
    padding-right: 20px;
  }

  tr.mat-header-row {
    border-bottom: 2px rgba(0, 0, 0, 0.54) solid;
  }

  .user-header,
  td.user-value {
    text-align: left;
  }

  .mat-header-cell:first-child {
    border-top-left-radius: 5px;
  }
  .mat-header-cell:last-child {
    border-top-right-radius: 5px;
  }

  .mobile-label {
    display: none;
  }

  th.mat-header-cell:first-of-type {
    border-top-left-radius: 5px;
    width: 50px;
  }
  .dashboard-list-footer {
    background: #fff;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px;
  }
  .dashboard-list-header {
    background: #fff;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px;
  }
  .dashboard-list-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
  }
  .dashboard-list-pagination-value {
    font-size: 16px;
    outline: none;
    padding: 0 4px;
  }
  .dashboard-list-pagination-active {
    background-color: #00645c;
    border-radius: 5px;
    box-shadow: 0 3px 3px #707070;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 23px;
    outline: none;
    padding: 0 4px;
    text-align: center;
    width: 23px;
  }
  .dashboard-list-pagination-active span {
    color: #fff;
    font-size: 16px;
    outline: none;
  }
  select {
    background: transparent;
    border: transparent;
    color: #00645c;
    padding: 0 5px 0;
  }

  @media only screen and (max-width: 800px) {
    .dashboard-list-footer {
      color: #333;
      justify-content: center;
      padding: 10px 10px;
      width: -webkit-fill-available;
    }
    .dashboard-list-header {
      padding: 10px 10px;
      width: -webkit-fill-available;
    }
    .mobile-chevron {
      padding-left: 50%;
    }
    .mobile-edit-role {
      align-items: center;
    }
    .chevron {
      padding-left: 50%;
    }
    .attribute-value {
      left: 153px;
      min-width: 50%;
    }
    .details-container {
      padding-left: 20px;
    }
    .attribute-container {
      height: fit-content;
    }
    tr.example-detail-row {
      height: auto;
    }
    .attribute-sub-container {
      width: 300px;
    }
    .example-element-detail {
      align-items: baseline;
      display: flex;
      justify-content: space-around;
      overflow: hidden;
      width: 100%;
    }
    .mat-header-row {
      display: none;
    }

    .example-container {
      align-items: baseline;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .mat-row {
      align-items: start;
      display: flex;
      flex-direction: column;
      height: auto;
      padding: 8px 24px;
    }
    td.mat-cell:first-of-type {
      padding-left: 0;
      text-align: start;
    }

    td.mat-cell {
      margin-bottom: 2px;
      text-align: start;
    }

    td.mat-cell:last-of-type {
      padding-right: 0;
    }
    .mobile-label {
      display: inline-block;
      font-weight: bold;
      width: 150px;
    }

    th.mat-header-row {
      display: none;
    }

    th.mat-row {
      align-items: start;
      display: flex;
      flex-direction: column;
      padding: 8px 24px;
    }

    table {
      align-items: baseline;
      display: flex;
      justify-content: space-around;
    }

    .attribute-key {
      min-width: 50%;
    }

  }
</style>
