<mat-card class="oppia-editor-card-with-avatar">
<div class="card-content">
    <div>
        <h3 class="classroom-admin-header">Classroom config properties</h3>
    </div>
    <div>
      <em>Configure the details of a classroom.</em>
      <p class="existing-classroom-header"><strong>Existing Classrooms</strong></p>

      <div *ngFor="let classroom of classroomIdToClassroomName | keyvalue">
        <mat-list class="oppia-classroom-tile">
          <mat-list-item (click)="getClassroomData(classroom.key)">
            <span *ngIf="!(classroomEditorMode && classroom.key == classroomId)">
              {{classroom.value}}
            </span>
            <span *ngIf="classroomEditorMode && classroom.key == classroomId">
              {{this.classroomName}}
            </span>
            <button mat-button matSuffix mat-icon-button
                    aria-label="Clear"
                    (click)="deleteClassroom(classroom.key)">
              <mat-icon matListIcon>close</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>

        <div class="classroom-details" *ngIf="classroomDetailsIsShown && classroomId === classroom.key">
          <div *ngIf="classroomViewerMode" (click)="openClassroomConfigEditor()">
            <i class="material-icons oppia-edit-icon" title="Edit Classroom">&#xE254;</i>
          </div>
          <div class="row oppia-description-text-container">
            <span class="col-lg-2 col-md-2 col-sm-2">
              Name
            </span>
            <span *ngIf="classroomViewerMode">{{classroomName}}</span>
            <input *ngIf="classroomEditorMode" [(ngModel)]="classroomName" (blur)="updateClassroomName()">
          </div>
          <div class="row oppia-description-text-container">
            <span class="col-lg-2 col-md-2 col-sm-2">
              Url fragment
            </span>
            <span *ngIf="classroomViewerMode">{{urlFragment}}</span>
            <input *ngIf="classroomEditorMode" [(ngModel)]="urlFrgament" (blur)="updateUrlFragment()">
          </div>
          <div class="row oppia-description-text-container">
            <span class="col-lg-2 col-md-2 col-sm-2">
              Course details
            </span>
            <span *ngIf="classroomViewerMode">{{courseDetails}}</span>
            <input *ngIf="classroomEditorMode" [(ngModel)]="courseDetails" (blur)="updateCourseDetails()">
          </div>
          <div class="row oppia-description-text-container">
            <span class="col-lg-2 col-md-2 col-sm-2">
              topic list intro
            </span>
            <span *ngIf="classroomViewerMode">{{topicListIntro}}</span>
            <input *ngIf="classroomEditorMode" [(ngModel)]="topicListIntro" (blur)="updateTopicListIntro()">
          </div>
          <div class="row oppia-description-text-container">
            <span class="col-lg-2 col-md-2 col-sm-2">
              Topic Ids
            </span>
            <div *ngFor="let topicId of topicIds">
              <span>{{ topicId }}</span>
              <button mat-button matSuffix mat-icon-button
                      aria-label="Clear"
                      (click)="removeTopicIdFromClassroom(classroom.key)">
                <mat-icon matListIcon>close</mat-icon>
              </button>
            </div>
            <div>
              <button>Add topic</button>
              <input>
              <button mat-button matSuffix mat-icon-button
                      aria-label="Clear"
                      (click)="removeTopicIdFromClassroom(classroom.key)">
                <mat-icon matListIcon>close</mat-icon>
              </button>
            </div>
          </div>
          <div *ngIf="classroomEditorMode">
            <button class="btn btn-success action-buttons" [disabled]="!classroomDataChanged" (click)="saveClassroomData(classroom.key)">Save</button>
            <button class="btn btn-secondary action-buttons" (click)="closeClassroomConfigEditor()">Cancel</button>
          </div>
        </div>
      </div>

    </div>
      <!-- Button on add a new classroom. -->
    <button (click)="getClassroomData()">
      Add new classroom
    </button>
</div>
</mat-card>

<style>
  .classroom-details {
    margin: 10px 20px;
  }
  .existing-classroom-header {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .action-buttons {
    float: right;
    margin-right: 5px;
  }
  .oppia-edit-icon {
    font-size: 16px;
    position: absolute;
    right: 8%;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    cursor: pointer;
  }
  .oppia-classroom-tile {
    cursor: pointer;
    background: #e0f2f1;
    margin: 10px 20px;
  }
  .card-content {
    padding: 10px
  }
  .oppia-editable-section {
    width: -webkit-fill-available;
  }

  .oppia-editor-card-with-avatar {
    margin-top: 200px;
  }
  .oppia-exp-interaction-card-header {
    font-size: 18px;
    margin: 0;
  }

  .oppia-exp-interaction-card-header-container {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
  }

  .oppia-add-interaction-button-container {
    padding: 20px 30px;
  }

  .oppia-exp-interaction-container {
    border: 1.5px solid #d3d1d1;
    border-radius: 4px;
    margin: 15px auto 30px;
    width: 87%;
  }

  .oppia-state-interaction-content {
    margin-top: 0;
  }

  .oppia-interaction-preview-container {
    padding: 5px;
    pointer-events: none;
  }

  .oppia-editor-card-section {
    display: flex;
    min-height: 80px;
  }
  .classroom-admin-header {
    padding-top: 20px;
  }

  @media screen and (max-width: 768px) {
    .oppia-delete-interaction-button {
      height: 25px;
      padding: 0;
      right: 0;
      top: 2px;
      width: 25px;
    }

    .oppia-exp-interaction-card-header {
      padding: 0;
    }

    .oppia-exp-interaction-card-header-container i {
      display: block;
    }

    .oppia-exp-interaction-card-header-container {
      background-color: #fff;
      padding: 0;
    }

    .oppia-editor-card-with-avatar {
      margin-top: 20px;
    }
  }
</style>
