oppia-answer-group-editor .oppia-rule-header {
  color: rgb(81, 81, 81);
  padding-left: 0;
  text-overflow: ellipsis;
}

oppia-answer-group-editor .oppia-multiple-choice-rule p {
  display: inline;
}

oppia-answer-group-editor .oppia-multiple-choice-rule p::before {
  content: ' ';
}

oppia-answer-group-editor .oppia-add-rule-button {
  background-color: rgba(165, 165, 165, 0.9);
  border: 0;
  border-radius: 0;
  color: white;
  opacity: 0.9;
  padding: 7px;
  width: 100%;
}

oppia-answer-group-editor .oppia-modify-training-data-button {
  background-color: rgba(165, 165, 165, 0.9);
  border: 0;
  border-radius: 0;
  color: #504848;
  margin-top: 4%;
  opacity: 0.9;
  padding: 7px;
  width: 100%;
}

oppia-answer-group-editor .oppia-add-rule-button:active,
oppia-answer-group-editor .oppia-add-rule-button:focus,
oppia-answer-group-editor .oppia-add-rule-button:hover,
oppia-answer-group-editor .oppia-modify-training-data-button:active,
oppia-answer-group-editor .oppia-modify-training-data-button:focus,
oppia-answer-group-editor .oppia-modify-training-data-button:hover {
  background-color: rgba(165, 165, 165, 1);
  color: white;
  opacity: 1;
}

oppia-answer-group-editor .oppia-delete-rule-button {
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 20px;
}

oppia-answer-group-editor .oppia-delete-rule-button:hover {
  opacity: 1;
}

oppia-answer-group-editor .oppia-answer-rule-block {
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 700px) {
  oppia-answer-group-editor .oppia-editor-card-section {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 500px) {
  oppia-answer-group-editor .oppia-answer-group-heading {
    font-size: 18px;
  }
}
