<div class="h-100">
  <!-- For the default answer group, 'rules' is null. Otherwise, 'rules' is a list of rules. -->
  <div *ngIf="rules">
    <strong class="oppia-answer-group-heading" tabindex="0">
      If the learner's answer...
    </strong>
    <ul class="nav oppia-option-list nav-stacked nav-pills" role="tablist">
      <li *ngFor="let rule of rules;  let index = index;let last = last;" [ngClass]="{'active': activeRuleIndex === index, 'oppia-answer-rule-block': last}" class="mt-0 oppia-rule-block oppia-sortable-rule-block e2e-test-rule-block">
        <a (click)="openRuleEditor(index)" tabindex="0" (keydown.enter)="openRuleEditor(index)" [hidden]="activeRuleIndex === index" class="oppia-rule-tab e2e-test-answer-tab" [ngClass]="{'oppia-rule-tab-disabled': !isEditable}">
          <div class="oppia-rule-header">
            <span *ngIf="index > 0">or </span>
            <span *ngIf="getCurrentInteractionId() !== 'MultipleChoiceInput' && index !== activeRuleIndex">
              {{rule | parameterizeRuleDescriptionPipe:getCurrentInteractionId():answerChoices}}...
            </span>
            <span *ngIf="getCurrentInteractionId() === 'MultipleChoiceInput'">
              <oppia-rte-output-display class="oppia-multiple-choice-rule" [rteString]="rule | parameterizeRuleDescriptionPipe:getCurrentInteractionId():answerChoices">
              </oppia-rte-output-display>...
            </span>
          </div>
        </a>
        <span *ngIf="isEditable && rules.length > 1"
              class="oppia-delete-rule-button oppia-transition-200 e2e-test-delete-answer"
              (click)="deleteRule(index)">
          <i class="material-icons md-18">&#xE5CD;</i>
        </span>

        <div *ngIf="activeRuleIndex === index">
          <div class="oppia-editor-card-section">
            <div class="oppia-rule-body-container">
              <oppia-rule-editor [(rule)]="rule" [isEditable]="isEditable" [isEditingRuleInline]="true" (onCancelRuleEdit)="cancelActiveRuleEdit()" (onSaveRule)="saveRules()" class="e2e-test-answer-body">
              </oppia-rule-editor>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <button type="button" *ngIf="isEditable" class="btn btn-secondary btn-lg oppia-add-rule-button e2e-test-add-answer" (click)="addNewRule()">
      + Add Another Possible Answer
    </button>

    <div *ngIf="isEditable && isMLEnabled() && !isInQuestionMode()">
      <div *ngIf="isCurrentInteractionTrainable()">
        <button type="button" class="btn btn-secondary btn-lg oppia-modify-training-data-button" (click)="openTrainingDataEditor()">
          <i class="material-icons md-24">playlist_add</i> Modify Training Data
        </button>
      </div>
    </div>
  </div>

  <br *ngIf="rules">

  <oppia-outcome-editor [isEditable]="isEditable"
                        [displayFeedback]="displayFeedback"
                        (saveDest)="sendOnSaveAnswerGroupDest($event)"
                        (saveDestIfStuck)="sendOnSaveAnswerGroupDestIfStuck($event)"
                        (saveFeedback)="sendOnSaveAnswerGroupFeedback($event)"
                        (saveCorrectnessLabel)="sendOnSaveAnswerGroupCorrectnessLabel($event)"
                        [outcome]="outcome"
                        [addState]="addState"
                        [areWarningsSuppressed]="suppressWarnings">
  </oppia-outcome-editor>

  <oppia-question-misconception-editor [isEditable]="isEditable"
                                       *ngIf="isInQuestionMode()"
                                       (saveTaggedMisconception)="sendOnSaveTaggedMisconception($event)"
                                       (saveAnswerGroupFeedback)="sendOnSaveAnswerGroupFeedback($event)"
                                       [outcome]="outcome"
                                       [rules]="rules"
                                       [taggedSkillMisconceptionId]="taggedSkillMisconceptionId">
  </oppia-question-misconception-editor>
</div>

<style>
  .oppia-rule-header {
    color: rgb(81, 81, 81);
    padding-left: 0;
    text-overflow: ellipsis;
  }

  .oppia-multiple-choice-rule p {
    display: inline;
  }

  .oppia-multiple-choice-rule p::before {
    content: ' ';
  }

  .oppia-add-rule-button {
    background-color: rgba(165,165,165,0.9);
    border: 0;
    border-radius: 0;
    color: white;
    opacity: 0.9;
    padding: 7px;
    width: 100%;
  }

  .oppia-add-rule-button:active,
  .oppia-add-rule-button:focus,
  .oppia-add-rule-button:hover,
  .oppia-modify-training-data-button:active,
  .oppia-modify-training-data-button:focus,
  .oppia-modify-training-data-button:hover {
    background-color: rgba(165,165,165,1);
    color: white;
    opacity: 1;
  }

  .oppia-delete-rule-button {
    cursor: pointer;
    opacity: 0.5;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 20px;
  }

  .oppia-delete-rule-button:hover {
    opacity: 1;
  }

  .oppia-modify-training-data-button {
    background-color: rgba(165,165,165,0.9);
    border: 0;
    border-radius: 0;
    color: #504848;
    margin-top: 4%;
    opacity: 0.9;
    padding: 7px;
    width: 100%;
  }

  .oppia-answer-rule-block {
    border-bottom: 1px solid #ccc;
  }

  @media screen and (max-width: 700px) {
  .oppia-editor-card-section {
      padding: 20px 10px;
    }
  }

  @media screen and (max-width: 500px) {
    .oppia-answer-group-heading {
      font-size: 18px;
    }
  }

</style>
