{% extends "base.html" %}

{% block subtitle %}
  Main Page
{% endblock subtitle %}

{% block content %}
  <div class="oppia-content">

    <br>
    <iframe src="/learn/0?iframed=true" width="100%" height="700px"
            frameborder="0"></iframe>

    <br>
    <hr>

    <div class="row-fluid">
      <div class="span6">
        <center class="oppia-btn-container">
          {% if user %}
            <a class="btn btn-large btn-success" href="/gallery">Browse the explorations gallery</a>
          {% else %}
            <a class="btn btn-large btn-success" href="{{gallery_login_url}}">Browse the explorations gallery</a>
          {% endif %}
        </center>
      </div>
      <div class="span6">
        <center class="oppia-btn-container">
          <a class="btn btn-large btn-success" href="/learn_random">Launch a random exploration</a>
        </center>
      </div>
    </div>

  </div>
{% endblock %}
