{% extends "base.html" %}

{% block content %}
  <div class="oppia-content">

    <br>

    <div class="oppia-wide-panel">
      <div class="oppia-wide-panel-content">
        <center>
          <h2>With Oppia, you can create interactive activities to help students learn more effectively.</h2>
        </center>

        <div class="row-fluid">
          <div class="span12">
            <!-- TODO(sll): replace the iframe exploration ID with a proper demo.
                 Use an example that encompasses several topics. -->
            <iframe src="/learn/0?iframed=true" width="100%" height="400px"
             frameborder="0"></iframe>
          </div>
          <div class="span0">
            <!-- TODO(sll): replace the iframe exploration ID with a proper demo.
                 Use an example that encompasses several topics. -->
            <!--
            <iframe src="/learn/1?iframed=true" width="100%" height="400px"
             frameborder="0"></iframe>
            -->
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row-fluid">
      <div class="span6 oppia-wide-panel">
        <div class="oppia-wide-panel-content">
          <div class="oppia-wide-panel-title">
            LEARN
          </div>
          <p>
            When you interact with Oppia, the system determines the best response to give,
            based on your answer. This enables you to get immediate, personalized feedback,
            and help you learn faster and more enjoyably.
          </p>
          <center class="oppia-btn-container">
            <a class="btn btn-large btn-success" href="/learn">Start learning</a>
          </center>
        </div>
      </div>
      <div class="span6 oppia-wide-panel">
        <div class="oppia-wide-panel-content">
          <div class="oppia-wide-panel-title">
            CREATE
          </div>

          <img src="images/editor-image.png">
          <p>
            You can create your own explorations with our nifty editor interface, and edit
            other explorations to make them better.
          </p>
          <center class="oppia-btn-container">
            <a class="btn btn-large btn-success" href="/create">Create an exploration</a>
          </center>
          <center>
            <p>(you'll need to log in)</p>
          </center>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
