<style>
  .success {
    color: #00f;
  }

  .oppia-query-form {
    text-align: center;
  }
</style>
<oppia-angular-root>
  <oppia-base-content>
    <navbar-breadcrumb>
      <ul class="nav navbar-nav oppia-navbar-breadcrumb">
        <li>
          <span class="oppia-navbar-breadcrumb-separator"></span>
          Email Dashboard
        </li>
      </ul>
    </navbar-breadcrumb>
    <content>
      <oppia-email-dashboard-page></oppia-email-dashboard-page>
    </content>
    <page-footer></page-footer>
  </oppia-base-content>
</oppia-angular-root>
