oppia-remove-question-skill-link-modal .loading-spinner {
  margin-left: 45%;
}
@media screen and (max-width: 768px) {
  oppia-remove-question-skill-link-modal .remove-question-skill-link-modal .modal-dialog {
    border: 0;
    border-radius: 0;
    margin: 0 auto;
    padding: 0;
    width: 95vw;
  }
  oppia-remove-question-skill-link-modal .remove-question-skill-link-modal .modal-header {
    display: inline-block;
    padding: 10px 15px;
  }
  oppia-remove-question-skill-link-modal .remove-question-skill-link-modal .modal-content {
    border: 0;
    border-radius: 0;
    top: 20vh;
  }
}
