<background-banner></background-banner>
<div class="oppia-topics-and-skills-dashboard position-relative">
  <div>
    <h2 class="dashboard-title"
        *ngIf="(totalTopicSummaries.length === 0 && untriagedSkillSummaries.length === 0)">
      {{ 'I18N_DASHBOARD_TOPICS_AND_SKILLS_DASHBOARD' | translate }}
    </h2>
    <div class="create-buttons" *ngIf="!(topicSummaries.length === 0 && untriagedSkillSummaries.length === 0)">
      <button (click)="createTopic()" *ngIf="userCanCreateTopic"
              class="btn oppia-navbar-button oppia-transition-200">
        <span class="oppia-navbar-tab-content">Create Topic</span>
      </button>
      <button (click)="createSkill()" *ngIf="userCanCreateSkill"
              class="btn oppia-navbar-button oppia-transition-200">
        <span class="oppia-navbar-tab-content">Create Skill</span>
      </button>
    </div>
  </div>
  <div class="create-button-mobile">
    <div *ngIf="(activeTab === TAB_NAME_TOPICS) && totalTopicSummaries.length">
      <i class="fa fa-plus-circle" aria-hidden="true" (click)="createTopic()" *ngIf="userCanCreateTopic"></i>
    </div>
    <div *ngIf="activeTab === TAB_NAME_SKILLS">
      <i class="fa fa-plus-circle e2e-test-mobile-create-skill-button-secondary" aria-hidden="true" (click)="createSkill()" *ngIf="userCanCreateSkill"></i>
    </div>
  </div>
  <div *ngIf="totalTopicSummaries.length > 0 || untriagedSkillSummaries.length > 0">
    <div class="dashboard-content">
      <div class="dashboard-content-primary">
        <div>
          <ul class="dashboard-tabs e2e-test-topics-tab">
            <li [ngClass]="{'dashboard-tabs-active': activeTab === TAB_NAME_TOPICS}">
              <a class="dashboard-tabs-text e2e-test-topics-tab"
                 (click)="setActiveTab(TAB_NAME_TOPICS)">
                Topics
              </a>
            </li>
            <li [ngClass]="{'dashboard-tabs-active': activeTab === TAB_NAME_SKILLS}">
              <a class="dashboard-tabs-text e2e-test-skills-tab"
                 (click)="setActiveTab(TAB_NAME_SKILLS)">
                Skills
              </a>
            </li>
          </ul>
        </div>
        <div class="filter-mobile-box">
          <button class="btn btn-default e2e-test-mobile-toggle-filter" (click)="toggleFilterBox()">
            <span *ngIf="activeTab === TAB_NAME_TOPICS">TOPIC FILTERS</span>
            <span *ngIf="activeTab === TAB_NAME_SKILLS">SKILL FILTERS</span>
          </button>
        </div>
        <div class="dashboard-list">
          <div class="dashboard-list-header" *ngIf="topicSummaries.length > 0 || skillSummaries.length > 0">
            <div class="dashboard-list-header-count" *ngIf="activeTab === TAB_NAME_TOPICS">
              <span>Displaying {{ pageNumber * itemsPerPage + 1 }} - {{ getUpperLimitValueForPagination() }} of {{ currentCount }}</span>
            </div>
            <div class="dashboard-list-header-count" *ngIf="activeTab === TAB_NAME_SKILLS">
              <span>Displaying {{ pageNumber * itemsPerPage + 1 }} - {{ getUpperLimitValueForPagination() }} of {{ getTotalCountValueForSkills() }}</span>
            </div>
            <div class="dashboard-list-pagination">
              <div>
                <span>Items Per Page: </span>
                <select [(ngModel)]="itemsPerPage"
                        (change)="refreshPagination()"
                        aria-label="Items Per Page">
                  <option *ngFor="let choice of itemsPerPageChoice" [value]="choice" >{{ choice }}</option>
                </select>
              </div>
              <div *ngIf="activeTab === TAB_NAME_TOPICS">
                <i class="fa fa-angle-left topic-pagination-arrow" (click)="changePageByOne(MOVE_TO_PREV_PAGE)"></i>
                <span class="dashboard-list-pagination-value"
                      *ngFor=" let n of generateNumbersTillRange(currentCount/itemsPerPage); index as idx" (click)="goToPageNumber(idx)">
                  <span *ngIf="pageNumber === idx" class="dashboard-list-pagination-active">
                    <span>{{ idx + 1 }}</span>
                  </span>
                  <span *ngIf="pageNumber !== idx">{{ idx + 1 }}</span>
                </span>
                <i class="fa fa-angle-right topic-pagination-arrow" (click)="changePageByOne(MOVE_TO_NEXT_PAGE)"></i>
              </div>
              <div *ngIf="activeTab === TAB_NAME_SKILLS">
                <i class="fa fa-angle-left topic-pagination-arrow" (click)="navigateSkillPage(MOVE_TO_PREV_PAGE)"></i>
                <span class="dashboard-list-pagination-value">
                  <span class="dashboard-list-pagination-active">{{ skillPageNumber + 1 }}</span>
                </span>
                <i class="fa fa-angle-right topic-pagination-arrow" (click)="navigateSkillPage(MOVE_TO_NEXT_PAGE)"></i>
              </div>
            </div>
          </div>

          <div *ngIf="activeTab === TAB_NAME_TOPICS">
            <oppia-topics-list [topicSummaries]="displayedTopicSummaries"
                               [pageNumber]="pageNumber"
                               [itemsPerPage]="itemsPerPage"
                               *ngIf="topicSummaries.length > 0"
                               [userCanDeleteTopic]="userCanDeleteTopic">
            </oppia-topics-list>
            <p class="intro-card-message" *ngIf="!topicSummaries.length">
              No topics to display.
            </p>
          </div>
          <div *ngIf="activeTab === TAB_NAME_SKILLS">
            <oppia-skills-list [skillSummaries]="displayedSkillSummaries"
                               *ngIf="displayedSkillSummaries.length > 0"
                               [pageNumber]="pageNumber"
                               [itemsPerPage]="itemsPerPage"
                               [editableTopicSummaries]="editableTopicSummaries"
                               [mergeableSkillSummaries]="mergeableSkillSummaries"
                               [untriagedSkillSummaries]="untriagedSkillSummaries"
                               [userCanCreateSkill]="userCanCreateSkill"
                               [userCanDeleteSkill]="userCanDeleteSkill"
                               [skillsCategorizedByTopics]="skillsCategorizedByTopics">
            </oppia-skills-list>
            <p class="intro-card-message e2e-test-no-skills-present-message" *ngIf="!displayedSkillSummaries.length">
              No skills to display.
            </p>
          </div>
          <div class="pagination-mobile">
            <div *ngIf="activeTab === TAB_NAME_TOPICS">
              <i class="fa fa-angle-left topic-pagination-arrow" (click)="changePageByOne(MOVE_TO_PREV_PAGE)"></i>
              <span class="dashboard-list-pagination-value"
                    *ngFor="let n of generateNumbersTillRange(currentCount/itemsPerPage); index as idx" (click)="goToPageNumber(idx)">
                <span *ngIf="pageNumber === idx" class="dashboard-list-pagination-active">{{ idx + 1 }}</span>
                <span *ngIf="pageNumber !== idx">{{ idx + 1 }}</span>
              </span>
              <i class="fa fa-angle-right topic-pagination-arrow" (click)="changePageByOne(MOVE_TO_NEXT_PAGE)"></i>
            </div>
            <div *ngIf="activeTab === TAB_NAME_SKILLS">
              <i class="fa fa-angle-left topic-pagination-arrow" (click)="navigateSkillPage(MOVE_TO_PREV_PAGE)"></i>
              <span class="dashboard-list-pagination-active">{{ skillPageNumber + 1 }}</span>
              <i class="fa fa-angle-right topic-pagination-arrow" (click)="navigateSkillPage(MOVE_TO_NEXT_PAGE)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="dashboard-content-secondary">
        <div class="topic-skill-count">
          <div class="topic-count">
            <span class="topic-count-value">{{ totalTopicSummaries.length }}</span>
            <span class="topic-count-text">Topics</span>
          </div>
          <div class="skill-count">
            <span class="skill-count-value">{{ totalSkillCount }}</span>
            <span class="skill-count-text">Skills</span>
          </div>
          <div class="create-topic-skill">
            <div tabindex="0" *ngIf="activeTab === TAB_NAME_TOPICS && userCanCreateTopic"
                 (click)="createTopic()"
                 (keydown.enter)="createTopic()"
                 class="e2e-test-create-topic-button create-topic-button oppia-autofocus"
                 oppiaFocusOn="createTopicBtn">
              <i class="fa fa-plus-circle"></i>
              <span>Create New Topic</span>
            </div>
            <div *ngIf="activeTab === TAB_NAME_SKILLS && userCanCreateSkill"  (click)="createSkill()" class="e2e-test-create-skill-button-circle create-skill-button
            oppia-autofocus" oppiaFocusOn="createSkillBtn">
              <i class="fa fa-plus-circle"></i>
              <span>Create New Skill</span>
            </div>
          </div>
        </div>
        <div class="topic-skill-filter" *ngIf="filterBoxIsShown">
          <div class="topic-skill-filter-content">
            <div class="topic-skill-filter-header">
              <span class="topic-skill-filter-heading">Filter</span>
              <span class="topic-skill-filter-reset e2e-test-topic-filter-reset" (click)="resetFilters()">Reset</span>
              <i class="fa fa-times dashboard-cross-icon" (click)="toggleFilterBox()"></i>
            </div>
            <div class="topic-skill-filter-header-mobile">
              <div class="topic-skill-filter-heading">
                <span>Filter</span>
              </div>
              <div class="topic-skill-filter-action-box">
                <i class="fa fa-times dashboard-cross-icon e2e-test-mobile-filter-close" (click)="toggleFilterBox()"></i>
                <div class="topic-skill-filter-action-reset">
                  <span (click)="resetFilters()">Reset</span>
                </div>
              </div>
            </div>
            <div class="topic-skill-filter-row">
              <div class="topic-skill-filter-key">
                <span>Status</span>
              </div>
              <div class="topic-skill-filter-value">
                <div *ngIf="activeTab === TAB_NAME_TOPICS">
                  <oppia-filtered-choices-field [choices]="statusOptions"
                                                placeholder="Status Options"
                                                searchLabel="Search"
                                                [(selection)]="filterObject.status"
                                                (selectionChange)="applyFilters()">
                  </oppia-filtered-choices-field>
                </div>
                <div *ngIf="activeTab === TAB_NAME_SKILLS">
                  <oppia-filtered-choices-field class="e2e-test-select-skill-status-dropdown"
                                                [choices]="skillStatusOptions"
                                                placeholder="Status Options"
                                                searchLabel="Search"
                                                [(selection)]="filterObject.status"
                                                (selectionChange)="applyFilters()">
                  </oppia-filtered-choices-field>
                </div>
              </div>
            </div>
            <div class="topic-skill-filter-row">
              <div class="topic-skill-filter-key">
                <span>Classroom</span>
              </div>
              <div class="topic-skill-filter-value">
                <div *ngIf="activeTab === TAB_NAME_TOPICS">
                  <oppia-filtered-choices-field class="e2e-test-select-classroom-dropdown"
                                                [choices]="classrooms"
                                                placeholder="Classrooms"
                                                searchLabel="Search"
                                                [(selection)]="filterObject.classroom"
                                                (selectionChange)="applyFilters()">
                  </oppia-filtered-choices-field>
                </div>
                <div *ngIf="activeTab === TAB_NAME_SKILLS">
                  <oppia-filtered-choices-field [choices]="classrooms"
                                                placeholder="Classrooms"
                                                searchLabel="Search"
                                                [(selection)]="filterObject.classroom"
                                                (selectionChange)="applyFilters()">
                  </oppia-filtered-choices-field>
                </div>
              </div>
            </div>
            <div class="topic-skill-filter-row">
              <div class="topic-skill-filter-key">
                <span>Sort</span>
              </div>
              <div class="topic-skill-filter-value">
                <div>
                  <oppia-filtered-choices-field [choices]="sortOptions"
                                                placeholder="Sort Options"
                                                [isSearchable]="false"
                                                searchLabel="Search"
                                                [(selection)]="filterObject.sort"
                                                (selectionChange)="applyFilters()">
                  </oppia-filtered-choices-field>
                </div>
              </div>
            </div>
            <div class="topic-skill-filter-row">
              <div class="topic-skill-filter-key">
                <span>Keywords</span>
              </div>
              <div class="topic-skill-filter-value">
                <div>
                  <oppia-multi-selection-field class="e2e-test-select-keyword-dropdown"
                                               label="Keywords"
                                               [(selections)]="filterObject.keywords"
                                               placeholder="Multiple allowed"
                                               (selectionsChange)="applyFilters()">
                  </oppia-multi-selection-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8 intro-card-wrapper" *ngIf="(totalTopicSummaries.length === 0 && untriagedSkillSummaries.length === 0)">
    <blockquote class="intro-card">
      <p class="intro-card-message">
        No topics or skills have been created yet.
      </p>
      <button class="btn oppia-dashboard-intro-button oppia-transition-200 oppia-create-button-text  oppia-create-topic-btn e2e-test-create-topic-button"
              (click)="createTopic()"
              *ngIf="userCanCreateTopic">
        Create Topic
      </button>
      <button class="btn oppia-dashboard-intro-button oppia-transition-200 oppia-create-button-text e2e-test-create-skill-button"
              (click)="createSkill()"
              *ngIf="userCanCreateSkill">
        Create Skill
      </button>
    </blockquote>
  </div>
</div>
<style>
  .oppia-create-topic-btn {
    margin-right: 10px;
  }
  .oppia-topics-and-skills-dashboard .intro-card-wrapper {
    margin: 0 auto;
    padding-top: 10px;
  }
  .oppia-topics-and-skills-dashboard .dashboard-content {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 50px;
    width: 95%;
  }
  .oppia-topics-and-skills-dashboard .dashboard-content-primary {
    background-color: #fff;
    border: 2px solid #aaaac1;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 50px;
    overflow: auto;
    width: 70%;
  }
  .oppia-topics-and-skills-dashboard .dashboard-content-secondary {
    display: inline-block;
    margin-left: 1%;
    position: fixed;
    width: 25%;
  }
  .oppia-topics-and-skills-dashboard .dashboard-list {
    margin: 30px auto;
    width: 95%;
  }
  .oppia-topics-and-skills-dashboard .dashboard-cross-icon,
  .oppia-topics-and-skills-dashboard .filter-mobile-box,
  .oppia-topics-and-skills-dashboard .create-button-mobile,
  .oppia-topics-and-skills-dashboard .topic-skill-filter-header-mobile {
    display: none;
  }
  .oppia-topics-and-skills-dashboard .topic-skill-count {
    align-items: center;
    background-color: #fff;
    border: 2px solid #aaaac1;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    justify-content: center;
  }
  .oppia-topics-and-skills-dashboard .topic-skill-count .topic-count,
  .oppia-topics-and-skills-dashboard .topic-skill-count .skill-count,
  .oppia-topics-and-skills-dashboard .create-topic-skill {
    border-right: 2px solid #aaaac1;
    display: inline-block;
    text-align: center;
    width: 33%;
  }
  .oppia-topics-and-skills-dashboard .topic-skill-filter {
    background-color: #fff;
    border: 2px solid #aaaac1;
    border-radius: 8px;
    margin-top: 40px;
    padding-bottom: 20px;
  }
  .oppia-topics-and-skills-dashboard .topic-count-value, .skill-count-value {
    display: block;
    font-size: 34px;
    height: 40px;
  }
  .oppia-topics-and-skills-dashboard .create-skill-button,
  .oppia-topics-and-skills-dashboard .create-topic-button {
    cursor: pointer;
  }
  .oppia-topics-and-skills-dashboard .create-topic-skill {
    align-content: center;
    border-right: none;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  .oppia-topics-and-skills-dashboard .pagination-mobile {
    display: none;
  }
  .oppia-topics-and-skills-dashboard .create-topic-skill i {
    color: #00645c;
    font-size: 30px;
    width: 100%;
  }
  .oppia-topics-and-skills-dashboard .create-topic-skill span {
    color: #00645c;
    display: inline-block;
    font-size: 16px;
    line-height: 17px;
    width: 100%;
  }
  .oppia-topics-and-skills-dashboard .topic-skill-filter-content {
    margin: 0 auto;
    width: 90%;
  }
  .oppia-topics-and-skills-dashboard .topic-skill-filter-value {
    width: 65%;
  }
  .oppia-topics-and-skills-dashboard .topic-skill-filter-value input,
  .oppia-topics-and-skills-dashboard .topic-skill-filter-value select {
    width: 100%;
  }
  .oppia-topics-and-skills-dashboard .classroom-dropdown .select2-results {
    text-transform: capitalize;
  }
  .oppia-topics-and-skills-dashboard .topic-skill-filter-header {
    margin: 10px 0 15px;
    position: relative;
  }
  .oppia-topics-and-skills-dashboard .topic-skill-filter-heading {
    font-size: 30px;
    font-weight: bold;
  }
  .oppia-topics-and-skills-dashboard .topic-skill-filter-reset {
    bottom: 0;
    color: #00645c;
    cursor: pointer;
    position: absolute;
    right: 0;
  }
  .oppia-topics-and-skills-dashboard .navigation-button {
    background-color: transparent;
    border: 2px solid #009688;
    color: #009688;
  }
  .oppia-topics-and-skills-dashboard .topic-skill-filter-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 8px 0;
  }
  .oppia-topics-and-skills-dashboard .topic-skill-filter-key {
    display: inline-block;
    text-align: right;
    width: 25%;
  }
  .oppia-topics-and-skills-dashboard .topic-pagination-arrow {
    cursor: pointer;
  }
  .oppia-topics-and-skills-dashboard .dashboard-list-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0 50px;
  }
  .oppia-topics-and-skills-dashboard .dashboard-list-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 35%;
  }
  .oppia-topics-and-skills-dashboard .dashboard-list-pagination-value {
    cursor: pointer;
    font-size: 16px;
    outline: none;
    padding: 0 4px;
  }
  .oppia-topics-and-skills-dashboard .dashboard-list-pagination-active {
    background-color: #00645c;
    border-radius: 50%;
    box-shadow: 0 3px 3px #707070;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 23px;
    outline: none;
    padding: 0 4px;
    text-align: center;
    width: 23px;
  }
  .oppia-topics-and-skills-dashboard .dashboard-list-pagination-active span {
    color: #fff;
    font-size: 16px;
    outline: none;
  }
  .oppia-topics-and-skills-dashboard .dashboard-tabs {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .oppia-topics-and-skills-dashboard .create-buttons {
    display: none;
    margin-left: 40vw;
  }
  .oppia-topics-and-skills-dashboard .dashboard-tabs li {
    display: flex;
    display: -webkit-flex;
    margin-bottom: 0;
    width: 50%;
  }
  .oppia-topics-and-skills-dashboard .dashboard-title {
    color: #01645c;
    font-family: Capriola, Roboto, Arial, sans-serif;
    font-size: 3em;
    margin-bottom: 25px;
    margin-top: 0;
    padding-top: 78.5px;
    text-align: center;
  }
  .oppia-topics-and-skills-dashboard .intro-card {
    background: #fff;
    border-left: none;
    border-radius: 5px;
    margin: 0 auto;
    padding: 37px 30px;
    text-align: center;
    width: 100%;
  }
  .oppia-topics-and-skills-dashboard .intro-card:before {
    background: #fff;
    border-bottom-right-radius: 80px 50px;
    bottom: -1.7em;
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    width: 50px;
    z-index: 10;
  }
  .oppia-topics-and-skills-dashboard .intro-card:after {
    background: #e8e7e3;
    border-bottom-right-radius: 40px 50px;
    bottom: -1.7em;
    content: "";
    display: block;
    height: 27px;
    position: absolute;
    width: 20px;
    z-index: 10;
  }
  .oppia-topics-and-skills-dashboard .intro-card-message {
    font-family: Capriola, Roboto, Arial, sans-serif;
    font-size: 18px;
    padding-top: 6px;
    text-align: center;
  }
  .oppia-topics-and-skills-dashboard .dashboard-tabs .dashboard-tabs-text {
    border-bottom: 2px solid #aaaac1;
    color: #00645d;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .oppia-topics-and-skills-dashboard .dashboard-tabs-active .dashboard-tabs-text,
  .oppia-topics-and-skills-dashboard .dashboard-tabs-active .dashboard-tabs-text:hover {
    background-color: #d8f4f2;
    border-bottom: 4px solid #00645d;
    border-radius: 0;
    color: #00645d;
  }
  .oppia-topics-and-skills-dashboard .dashboard-tabs .dashboard-tabs-text:hover {
    color: #00645d;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .oppia-topics-and-skills-dashboard .dashboard-tabs .dashboard-tabs-text:hover,
  .oppia-topics-and-skills-dashboard .dashboard-tabs .dashboard-tabs-text:focus {
    text-decoration: none;
  }
  .oppia-topics-and-skills-dashboard .dashboard-tabs .list-card-view-toggle {
    margin-left: auto;
    margin-right: 7.5px;
    width: auto;
  }
  .oppia-topics-and-skills-dashboard .oppia-create-button-text {
    color: #fff;
    text-decoration: none;
  }
  @media screen and (max-width: 1200px) {
    .oppia-topics-and-skills-dashboard .dashboard-content {
      width: 100%;
    }
    .oppia-topics-and-skills-dashboard .dashboard-content-primary {
      width: 70%;
    }
    .oppia-topics-and-skills-dashboard .dashboard-content-secondary {
      display: inline-block;
      width: 29%;
    }
  }

  @media only screen and (max-width: 830px) {
    topics-and-skill-dashboard-page .oppia-topics-and-skills-dashboard {
      z-index: 50;
    }
    .oppia-topics-and-skills-dashboard .dashboard-content {
      padding-top: 0;
      width: 100%;
    }
    .oppia-topics-and-skills-dashboard .dashboard-content-primary {
      border: 0;
      border-radius: 0;
      width: 100%;
    }
    .oppia-topics-and-skills-dashboard .dashboard-content-secondary {
      margin-left: 0;
      position: static;
      width: 100%;
    }
    .oppia-topics-and-skills-dashboard .dashboard-tabs {
      box-shadow: 0 0 5px #333;
    }
    .oppia-topics-and-skills-dashboard .dashboard-tabs li {
      background-color: #00645c;
      width: 50%;
    }
    .oppia-topics-and-skills-dashboard .dashboard-tabs .dashboard-tabs-text,
    .oppia-topics-and-skills-dashboard .dashboard-tabs .dashboard-tabs-text:hover {
      background-color: #00645c;
      border-radius: 0;
      color: #fff;
    }
    .oppia-topics-and-skills-dashboard .dashboard-tabs-active .dashboard-tabs-text,
    .oppia-topics-and-skills-dashboard .dashboard-tabs-active .dashboard-tabs-text:hover {
      background-color: #00645c;
      border-bottom: 2px solid #fff;
      border-radius: 0;
      color: #fff;
    }
    .oppia-topics-and-skills-dashboard .create-buttons,
    .oppia-topics-and-skills-dashboard .topic-skill-count,
    .oppia-topics-and-skills-dashboard .dashboard-list-pagination,
    .oppia-topics-and-skills-dashboard .topic-skill-filter-header {
      display: none;
    }
    .oppia-topics-and-skills-dashboard .topic-skill-filter {
      background-color: #fff;
      border: 0;
      border-radius: 0;
      height: 100vh;
      margin-top: 0;
      padding-bottom: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .oppia-topics-and-skills-dashboard .topic-count-value, .skill-count-value {
      display: block;
      font-size: 34px;
      height: 40px;
    }
    .oppia-topics-and-skills-dashboard .filter-mobile-box {
      display: block;
      text-align: center;
    }
    .oppia-topics-and-skills-dashboard .filter-mobile-box button {
      border: 1px solid #0844aa;
      margin-top: 10px;
      width: 70%;
    }
    .oppia-topics-and-skills-dashboard .topic-skill-filter-row {
      margin: 7vh 0;
    }
    .oppia-topics-and-skills-dashboard .topic-skill-filter-key {
      font-weight: bold;
      text-align: left;
      width: 100%;
    }
    .oppia-topics-and-skills-dashboard .topic-skill-filter-value {
      width: 100%;
    }
    .oppia-topics-and-skills-dashboard .create-button-mobile {
      color: #0844aa;
      display: block;
    }
    .oppia-topics-and-skills-dashboard .create-button-mobile i {
      bottom: 10vh;
      font-size: 40px;
      position: fixed;
      right: 3vw;
    }
    .oppia-topics-and-skills-dashboard .dashboard-list-header {
      margin: 0;
    }
    .oppia-topics-and-skills-dashboard .topic-skill-filter-header-mobile {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .oppia-topics-and-skills-dashboard .dashboard-cross-icon {
      color: #000;
      display: block;
      font-size: 20px;
    }
    .oppia-topics-and-skills-dashboard .topic-skill-filter-action-box {
      margin-top: 10px;
      text-align: center;
    }
    .oppia-topics-and-skills-dashboard .topic-skill-filter-action-box span {
      color: #00645c;
      font-size: 15px;
    }
    .oppia-topics-and-skills-dashboard .topic-skill-filter-action-reset {
      margin-top: 10px;
    }
    .oppia-topics-and-skills-dashboard .pagination-mobile {
      display: block;
      text-align: center;
    }
  }
</style>
