<div class="position-relative">
  <form class="form-justify e2e-test-rule-details" role="form">
    <div *ngIf="rule.type != 'FuzzyMatches'" class="rule-parent">
      <oppia-rule-type-selector class="e2e-test-answer-description"
                                aria-live="polite"
                                [(localValue)]="rule.type"
                                (onSelectionChange)="onSelectNewRuleType($event)">
      </oppia-rule-type-selector>

      <span *ngFor="let item of ruleDescriptionFragments" class="form-group oppia-rule-editor-span e2e-test-answer-description-fragment">
        <span *ngIf="item.type == 'select'" class="text-dark">
          <span *ngIf="ruleDescriptionChoices.length === 1">
            {{ ruleDescriptionChoices[0].val | convertToPlainText | truncate }}
          </span>
          <span *ngIf="ruleDescriptionChoices.length !== 1">
            <oppia-html-select class="oppia-rule-description-choice" [options]="ruleDescriptionChoices" [(selectionId)]="rule.inputs[item.varName]" (onSelectionChange)="onSelectionChangeHtmlSelect($event, item)">
            </oppia-html-select>
          </span>
        </span>

        <div class="oppia-custom-editor-container">
          <span *ngIf="item.type == 'checkboxes'" class="text-dark">
            <object-editor [modalId]="modalId"
                           [objType]="'SetOfTranslatableHtmlContentIds'"
                           [initArgs]="{choices: ruleDescriptionChoices}"
                           [(value)]="rule.inputs[item.varName]">
            </object-editor>
          </span>
          <span *ngIf="item.type == 'dropdown'" class="text-dark">
            <object-editor [modalId]="modalId"
                           [objType]="'ListOfSetsOfTranslatableHtmlContentIds'"
                           [initArgs]="{choices: ruleDescriptionChoices}"
                           [(value)]="rule.inputs[item.varName]">
            </object-editor>
          </span>
          <span *ngIf="item.type == 'dragAndDropHtmlStringSelect'" class="text-dark">
            <object-editor [modalId]="modalId"
                           [objType]="'TranslatableHtmlContentId'"
                           [initArgs]="{choices: ruleDescriptionChoices}"
                           [(value)]="rule.inputs[item.varName]">
            </object-editor>
          </span>
          <span *ngIf="item.type == 'dragAndDropPositiveIntSelect'" class="text-dark">
            <object-editor [modalId]="modalId"
                           [objType]="'DragAndDropPositiveInt'"
                           [initArgs]="{choices: ruleDescriptionChoices}"
                           [(value)]="rule.inputs[item.varName]">
            </object-editor>
          </span>
          <span *ngIf="item.type != 'select' &&
                       item.type != 'noneditable' &&
                       item.type != 'dragAndDropPositiveIntSelect' &&
                       item.type != 'dragAndDropHtmlStringSelect' &&
                       item.type != 'dropdown' &&
                       item.type != 'checkboxes'">
            <object-editor [modalId]="modalId"
                           [objType]="item.type"
                           [isEditable]="isEditable"
                           [alwaysEditable]="true"
                           [(value)]="rule.inputs[item.varName]"
                           class="text-dark">
            </object-editor>
          </span>
          <span *ngIf="item.type == 'noneditable'">
            {{ item.text }}
          </span>
        </div>
      </span>
    </div>
  </form>

  <div class="oppia-rule-save-cancel-buttons" *ngIf="isEditingRuleInline">
    <div class="float-right">
      <button type="button" class="btn btn-default cancel-button" (click)="cancelThisEdit()">Cancel</button>
      <button type="button" class="btn btn-success e2e-test-save-answer save-button" [disabled]="isInvalid" (click)="saveThisRule()">Save Answer</button>
    </div>

    <div class="oppia-clear"></div>
  </div>
</div>
<style>
  .form-justify {
    justify-content: center;
  }

  .form-group.oppia-rule-editor-span {
    display: block;
    margin: 0;
    margin-right: 5px;
    width: 100%;
  }
  .oppia-rule-description-choice {
    width: 200px;
  }
  .oppia-custom-editor-container {
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
  }
  @media screen and (max-width: 700px) {
    .oppia-rule-save-cancel-buttons {
      margin-top: 16px;
      position: relative;
      z-index: 1;
    }

    .form-justify {
      margin-bottom: -80px;
    }

    .form-group.oppia-rule-editor-span {
      margin-bottom: 0;
      margin-top: 0;
      position: relative;
      top: -30px;
    }
  }
</style>
