.blog-dashboard-tile {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 3px 3px #00000029;
    height: 230px;
    margin: 10px;
    width: 344px;
  }

  .blog-dashboard-tile-header {
    display: flex;
    justify-content: space-between;
  }

  .blog-dashboard-tile-title {
    color: #333;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 2rem;
    line-height: 24px;
    text-align: left;
  }

  .blog-dashboard-tile-subtitle {
      font-size: 1.2rem;
      line-height: 10px;
      margin-bottom: 8px;
    }

  .blog-post-summary {
    color: #555;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.6rem;
    text-align: left;
  }

  .drop-down-button {
    height: 30px
  }

  .mat-icon-button {
    margin-right: -20px;
  }

  .mat-menu-item {
    background: #fff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    height: 24px;
    line-height: unset;
    padding: 0 8px;
    width: 128px;
  }

  :host /deep/ .mat-menu-content:not(:empty) {
    padding-bottom: unset;
    padding-top: unset;
  }

  :host /deep/ .cdk-overlay-pane .mat-menu-panel {
    border-radius: 1px;
    min-height: unset;
  }

  .truncated-text {
    max-width: 400px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media(max-width: 820px) {
    .blog-dashboard-tile {
      height: 160px;
      width: 280px;
    }

    .blog-dashboard-tile-title {
      font-size: 1.4rem;
      line-height: 16.8px;
    }

    .blog-post-summary {
      color: #555;
      font-family: 'Roboto', Arial, sans-serif;
      font-size: 1.2rem;
      text-align: left;
    }

    .blog-dashboard-tile-subtitle {
      margin-top: -10px;
    }

    .truncated-text {
      max-width: 300px
    }

    @media(max-width: 480px) {
      .blog-dashboard-tile {
        margin-left: auto;
        margin-right: auto;
      }

      .truncated-text {
        max-width: 100px
      }
    }

    @media(max-width: 600px) {
      .truncated-text {
        margin-left: -15px;
        max-width: 200px;
      }
    }
  }
