<div style="height: 100%;">
  <div ng-if="!hintEditorCtrl.hintEditorIsOpen"
       style="height: 100%;"
       ng-attr-title="<[hintEditorCtrl.isEditable ? 'Edit hint' : '']>">
    <div class="oppia-readonly-rule-tile"
         ng-class="{'oppia-editable-section': hintEditorCtrl.isEditable}">
      <div class="oppia-rule-preview oppia-transition-200">
        <div class="oppia-click-to-start-editing protractor-test-open-hint-editor"
             ng-if="hintEditorCtrl.isEditable" ng-click="hintEditorCtrl.openHintEditor()">
          <i ng-if="hintEditorCtrl.isEditable"
             class="material-icons oppia-editor-edit-icon pull-right"
             title="Edit Hint">&#xE254;
          </i>
        </div>

        <strong>Hint #<[hintEditorCtrl.getIndexPlusOne()]> is...</strong>
        <span>
          <angular-html-bind class="oppia-rte-editor" html-data="hintEditorCtrl.hint.hintContent.getHtml()">
          </angular-html-bind>
        </span>
      </div>
    </div>
  </div>

  <div ng-if="hintEditorCtrl.isEditable && hintEditorCtrl.hintEditorIsOpen">
    <form role="form"
          class="form-inline"
          name="hintEditorCtrl.editHintForm"
          ng-submit="hintEditorCtrl.saveThisHint()">
      <div class="oppia-rule-details-header">
        <strong>Hint #<[hintEditorCtrl.getIndexPlusOne()]> is...</strong>
        <!-- TODO(sll): Find a way to do this without resorting to private properties like _html -->
        <schema-based-editor schema="hintEditorCtrl.HINT_FORM_SCHEMA"
                             local-value="hintEditorCtrl.hint.hintContent._html">
        </schema-based-editor>
      </div>
    </form>

    <div class="oppia-rule-save-cancel-buttons">
      <div class="pull-right">
        <button type="button"
                class="btn btn-default protractor-test-cancel-hint-edit"
                ng-click="hintEditorCtrl.cancelThisHintEdit()">
          Cancel
        </button>
        <button type="button"
                class="btn btn-success protractor-test-save-hint-edit"
                ng-disabled="!hintEditorCtrl.hint.hintContent.getHtml() || hintEditorCtrl.editHintForm.$invalid"
                ng-click="hintEditorCtrl.saveThisHint()">
          Save
        </button>
      </div>

      <div style="clear: both;"></div>
    </div>
  </div>
</div>
