/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/
.oppia-navbar-breadcrumb {
  padding-top: 10px;
}
.oppia-learner-navbar-container {
  display: flex;
}
.lesson-info-section {
  display: contents;
}
.oppia-navbar-title-container {
  display: flex;
  flex-direction: column;
}
.oppia-exploration-h1 {
  color: #fff;
  display: inline;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 1px;
}
.oppia-topic-title {
  color: #fff;
  display: flex;
  font-size: 12px;
  font-weight: 200;
  padding-left: 26px;
}

.oppia-topic-title:hover {
  color: #fff;
}
.oppia-exploration-info-icon {
  cursor: pointer;
}
.oppia-exploration-info-icon:hover {
  background: #fff;
  color: #009688;
  height: 56px;
  margin-top: -13px;
  padding-top: 12px;
}
.oppia-navbar-info-icon {
  font-size: 20px;
}
.oppia-navbar-breadcrumb-icon {
  height: 20px;
  margin: 0 12px 4px 12px;
  width: 20px;
}
