<ng-template #popContent>
  <oppia-feedback-popup (togglePopover)="togglePopover()"></oppia-feedback-popup>
</ng-template>
<ul class="nav navbar-nav oppia-navbar-nav float-right mr-0 d-lg-inline-flex d-none">
  <li class="nav-item">
    <span tabindex="0"
          class="nav-link"
          ngbTooltip="{{ 'I18N_PLAYER_SHARE_TOOLTIP' | translate }}"
          placement="bottom"
          (click)="toggleAttributionModal()"
          (keydown.enter)="toggleAttributionModal()">
      <i class="fas fa-share-alt exploration-player-navbar-icons"></i>
      <span class="oppia-icon-accessibility-label">{{ 'I18N_PLAYER_SHARE_TOOLTIP' | translate }}</span>
    </span>
  </li>
  <li *ngIf="feedbackOptionIsShown"
      placement="bottom-right"
      [ngbPopover]="popContent"
      triggers="manual"
      (click)="togglePopover()"
      (keydown.enter)="togglePopover()"
      class="nav-item"
      tabindex="0"
      #feedbackPopOver="ngbPopover"
      [autoClose]="false">
    <div class="nav-link e2e-test-exploration-feedback-popup-link"
       ngbTooltip="{{ 'I18N_PLAYER_FEEDBACK_TOOLTIP' | translate }}" placement="bottom">
      <i class="fas fa-comment-alt exploration-player-navbar-icons"></i>
      <span class="oppia-icon-accessibility-label">{{ 'I18N_PLAYER_FEEDBACK_TOOLTIP' | translate }}</span>
    </div>
  </li>
  <li class="nav-item">
    <a *ngIf="canEdit" href="/create/{{explorationId}}"
       ngbTooltip="{{'I18N_PLAYER_EDIT_TOOLTIP' | translate}}" placement="bottom"
       target="_blank" rel="noopener" class="nav-link">
      <i class="fas fa-pen exploration-player-navbar-icons"></i>
      <span class="oppia-icon-accessibility-label">{{ 'I18N_PLAYER_EDIT_TOOLTIP' | translate }}</span>
    </a>
  </li>
  <li class="nav-item">
    <div tabindex="0"
         *ngIf="username"
         class="nav-link e2e-test-report-exploration-button"
         ngbTooltip="{{ 'I18N_PLAYER_REPORT_TOOLTIP' | translate }}"
         (click)="showFlagExplorationModal()"
         (keydown.enter)="showFlagExplorationModal()"
         placement="bottom">
      <i class="fas fa-flag exploration-player-navbar-icons"></i>
      <span class="oppia-icon-accessibility-label">{{ 'I18N_PLAYER_REPORT_TOOLTIP' | translate }}</span>
    </div>
  </li>
</ul>
<div ngbDropdown class="dropdown d-lg-none d-flex justify-content-end" [ngClass]="{'dropdown-border-active': isDropdownOpen}" (openChange)="toggleDropdown()">
  <button type="button" class="mobile-option-btn btn btn-sm border border-white text-white" id="dropdownBasic1" ngbDropdownToggle>
    <i class="fas fa-ellipsis-v exploration-player-navbar-icons"></i>
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
    <span ngbDropdownItem tabindex="0" placement="bottom" (click)="toggleAttributionModal()" (keydown.enter)="toggleAttributionModal()" class="custom-dropdown-item">
      <i class="fas fa-share-alt exploration-player-navbar-icons"></i>
      <b class="icon-text">{{ 'I18N_PLAYER_SHARE_TOOLTIP' | translate }}</b>
      <span class="oppia-icon-accessibility-label">{{ 'I18N_PLAYER_SHARE_TOOLTIP' | translate }}</span>
    </span>
    <span ngbDropdownItem *ngIf="feedbackOptionIsShown" tabindex="0" ngbPopover="popContent" triggers="manual" (click)="togglePopover()" (keydown.enter)="togglePopover()" #feedbackPopOver="ngbPopover" [autoClose]="false" class="custom-dropdown-item">
      <i class="fas fa-comment-alt exploration-player-navbar-icons"></i>
      <b class="icon-text">{{ 'I18N_PLAYER_FEEDBACK_TOOLTIP' | translate }}</b>
      <span class="oppia-icon-accessibility-label">{{ 'I18N_PLAYER_FEEDBACK_TOOLTIP' | translate }}</span>
    </span>
    <a ngbDropdownItem *ngIf="canEdit" href="/create/{{explorationId}}" tabindex="0" target="_blank" rel="noopener" class="custom-dropdown-item">
      <i class="fas fa-pen exploration-player-navbar-icons"></i>
      <b class="icon-text">{{ 'I18N_PLAYER_EDIT_TOOLTIP' | translate }}</b>
      <span class="oppia-icon-accessibility-label">{{ 'I18N_PLAYER_EDIT_TOOLTIP' | translate }}</span>
    </a>
    <span ngbDropdownItem *ngIf="username" tabindex="0" (click)="showFlagExplorationModal()" (keydown.enter)="showFlagExplorationModal()" class="custom-dropdown-item">
      <i class="fas fa-flag exploration-player-navbar-icons"></i>
      <b class="icon-text">{{ 'I18N_PLAYER_REPORT_TOOLTIP' | translate }}</b>
      <span class="oppia-icon-accessibility-label">{{ 'I18N_PLAYER_REPORT_TOOLTIP' | translate }}</span>
    </span>
  </div>
</div>

<style>
  .exploration-player-navbar-icons {
    font-size: 21px;
    margin: 3px;
  }

  .custom-dropdown-item {
    align-items: center;
    display: flex;
  }

  .icon-text {
    font-size: 14px;
    margin-left: 10px;
  }

  .mobile-option-btn {
    border: none !important;
    margin: .7em 0;
    outline: none !important;
  }

  .mobile-option-btn:focus {
    box-shadow: none;
  }

  .dropdown-border-active .mobile-option-btn {
    border: solid #fff !important;
    outline: #fff !important;
  }
</style>
