<div class="partnerships-page e2e-test-partnerships-page">
  <div class="oppia-partnerships-banner">
    <div class="oppia-partnerships-banner-content flex-gt-sm">
      <h1 class="oppia-partnerships-h1">{{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE' | translate }}</h1>

      <div class="oppia-partnerships-list">
        <p>{{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE_CONTENT' | translate }}</p>
        <ul>
          <li class="oppia-partnerships-page-welcome-text-bullet-list">
            {{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE_CONTENT_1_PART_1' | translate }}
            <span class="oppia-partnerships-emphasized">1,000,000</span>
            {{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE_CONTENT_1_PART_2' | translate }}
          </li>
          <li class="oppia-partnerships-page-welcome-text-bullet-list">
            {{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE_CONTENT_2_PART_1' | translate }}
            <span class="oppia-partnerships-emphasized">1</span>
            {{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE_CONTENT_2_PART_2' | translate }}
          </li>
          <li class="oppia-partnerships-page-welcome-text-bullet-list">
            {{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE_CONTENT_3_PART_1' | translate }}
            <span class="oppia-partnerships-emphasized">2,000</span>
            {{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE_CONTENT_3_PART_2' | translate }}
          </li>
        </ul>
      </div>
      <button class="btn">
        <a href="https://forms.gle/Y71U8FdhQwZpicJj8"
           target="_blank"
           rel="noopener">
           {{ 'I18N_PARTNERSHIPS_PAGE_GET_STARTED_BUTTON' | translate }}
        </a>
      </button>
    </div>

    <div class="oppia-partnerships-banner-image
                hide-xs hide-sm">
      <img alt="Partnerships page hero image - Desktop view"
           [src]="partnershipsImgUrl">
    </div>
    <div class="oppia-partnerships-banner-image hide-gt-sm">
      <img alt="Partnerships page hero image - Mobile view"
           [src]="partnershipsImgUrl">
    </div>
  </div>

  <div class="oppia-partnerships-process">
    <h3 class="oppia-partnerships-h3">{{ 'I18N_PARTNERSHIPS_PAGE_PROCESS' | translate }}</h3>

    <div class="oppia-partnerships-process-container">
      <div class="oppia-partnerships-process-subcontainer">
        <img class="oppia-partnerships-process-icon hide-gt-xs" alt="People Icon" [src]="peopleIconUrl">
        <div class="oppia-partnerships-process-content">
          <h4 class="oppia-partnerships-h4">{{ 'I18N_PARTNERSHIPS_PAGE_PROCESS_1_HEADING' | translate }}</h4>
          <p>{{ 'I18N_PARTNERSHIPS_PAGE_PROCESS_1' | translate }}</p>
        </div>
        <img class="oppia-partnerships-process-icon hide-xs" alt="People Icon" [src]="peopleIconUrl">
      </div>

      <div class="oppia-partnerships-process-subcontainer">
        <img class="oppia-partnerships-process-icon" alt="Service Icon" [src]="serviceIconUrl">
        <div class="oppia-partnerships-process-content">
          <h4 class="oppia-partnerships-h4">{{ 'I18N_PARTNERSHIPS_PAGE_PROCESS_2_HEADING' | translate }}</h4>
          <p>{{ 'I18N_PARTNERSHIPS_PAGE_PROCESS_2' | translate }}</p>
        </div>
      </div>

      <div class="oppia-partnerships-process-subcontainer">
        <img class="oppia-partnerships-process-icon hide-gt-xs" alt="Agree Icon" [src]="agreeIconUrl">
        <div class="oppia-partnerships-process-content">
          <h4 class="oppia-partnerships-h4">{{ 'I18N_PARTNERSHIPS_PAGE_PROCESS_3_HEADING' | translate }}</h4>
          <p>{{ 'I18N_PARTNERSHIPS_PAGE_PROCESS_3' | translate }}</p>
        </div>
        <img class="oppia-partnerships-process-icon hide-xs" alt="Agree Icon" [src]="agreeIconUrl">
      </div>
    </div>
  </div>

  <div class="oppia-partnerships-cta">
    <h3 class="oppia-partnerships-h3">{{ 'I18N_PARTNERSHIPS_PAGE_GET_STARTED' | translate }}</h3>
    <div class="oppia-partnerships-cta-container">
      <div class="oppia-partnerships-cta-subcontainer">
        <img class="oppia-partnerships-process-icon" alt="Form Icon" [src]="formIconUrl">
        <p>{{ 'I18N_PARTNERSHIPS_PAGE_GET_STARTED_1' | translate }}</p>
      </div>
      <div class="oppia-partnerships-cta-subcontainer">
        <img class="oppia-partnerships-process-icon" alt="Call Icon" [src]="callIconUrl">
        <p>{{ 'I18N_PARTNERSHIPS_PAGE_GET_STARTED_2' | translate }}</p>
      </div>
      <div class="oppia-partnerships-cta-subcontainer">
        <img class="oppia-partnerships-process-icon" alt="Change Icon" [src]="changeIconUrl">
        <p>{{ 'I18N_PARTNERSHIPS_PAGE_GET_STARTED_3' | translate }}</p>
      </div>
    </div>

    <button class="btn">
      <a href="https://forms.gle/Y71U8FdhQwZpicJj8"
         target="_blank"
         rel="noopener">
         {{ 'I18N_PARTNERSHIPS_PAGE_GET_STARTED_BUTTON' | translate }}
      </a>
    </button>
  </div>

  <div class="oppia-partnerships-faqs">
    <h3 class="oppia-partnerships-h3">{{ 'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED' | translate }}</h3>

    <mat-accordion>
      <div class="oppia-partnerships-faq-card">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_1' | translate }}</mat-panel-title>
          </mat-expansion-panel-header>
          <p [innerHTML]="'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_1_CONTENT' | translate"></p>
        </mat-expansion-panel>
      </div>

      <div class="oppia-partnerships-faq-card">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_2' | translate }}</mat-panel-title>
          </mat-expansion-panel-header>
          <p [innerHTML]="'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_2_CONTENT' | translate"></p>
        </mat-expansion-panel>
      </div>

      <div class="oppia-partnerships-faq-card">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_3' | translate }}</mat-panel-title>
          </mat-expansion-panel-header>
          <p [innerHTML]="'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_3_CONTENT' | translate"></p>
        </mat-expansion-panel>
      </div>

      <div class="oppia-partnerships-faq-card">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_4' | translate }}</mat-panel-title>
          </mat-expansion-panel-header>
          <p [innerHTML]="'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_4_CONTENT' | translate"></p>
        </mat-expansion-panel>
      </div>

      <div class="oppia-partnerships-faq-card">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_5' | translate }}</mat-panel-title>
          </mat-expansion-panel-header>
          <p [innerHTML]="'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_5_CONTENT' | translate"></p>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>
</div>

<style>
  .oppia-partnerships-banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin: 60px 40px;
  }

  .oppia-partnerships-banner-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .oppia-partnerships-h1 {
    color: #033e39;
    font-family: "Capriola", "Roboto", Arial, sans-serif;
    font-size: 2.5em;
  }

  .oppia-partnerships-h3 {
    color: #047c74;
    font-family: "Capriola", "Roboto", Arial, sans-serif;
    font-size: 1.6em;
  }

  .oppia-partnerships-h4 {
    font-family: "Capriola", "Roboto", Arial, sans-serif;
    font-size: 1.3em;
  }

  .oppia-partnerships-list {
    font-size: 1.1em;
  }

  @media screen and (max-width: 900px) {
    .oppia-partnerships-h1 {
      font-size: 1.7em;
    }

    .oppia-partnerships-h3 {
      font-size: 1em;
    }

    .oppia-partnerships-h4 {
      font-size: 1em;
    }

    .oppia-partnerships-list {
      font-size: 0.9em;
    }
  }

  .oppia-partnerships-process {
    background-color: #eef5fb;
    padding: 2em 0;
    text-align: center;
  }

  .oppia-partnerships-process-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 15em;
  }

  .oppia-partnerships-process-subcontainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
  }

  .oppia-partnerships-process-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .oppia-partnerships-process-icon {
    width: 80px;
    height: auto;
    margin: 0.6em auto;
  }

  @media screen and (max-width: 900px) {
    .oppia-partnerships-process-container {
      margin: 0 8em;
    }
  
    .oppia-partnerships-process-subcontainer p {
      font-size: 0.8em;
    }
  }

  @media screen and (max-width: 600px) {
    .oppia-partnerships-process-container {
      margin: 0 4em;
    }

    .oppia-partnerships-process-subcontainer {
      align-items: flex-start;
      flex-direction: column;
    }
  
    .oppia-partnerships-process-icon {
      width: 40px;
    }
  }

  .oppia-partnerships-cta {
    background-color: #eef5fb;
    padding: 5em 0;
    text-align: center;
  }

  .oppia-partnerships-cta-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin: 3em auto;
    padding: 0 1em;
  }

  .oppia-partnerships-cta-subcontainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 1em;
    width: 100%;
  }

  @media screen and (max-width: 900px) {
    .oppia-partnerships-cta-subcontainer p {
      font-size: 0.8em;
    }
  }

  @media screen and (max-width: 600px) {
    .oppia-partnerships-cta-container {
      flex-direction: column;
    }

    .oppia-partnerships-cta-subcontainer {
      width: 100%;
    }
  }

  .btn {
    background-color: #00645c;
    border-radius: 4px;
    height: 40px;
    width: 300px;
  }

  .btn:hover,
  .btn:focus {
    background-color: #3d9991;
  }

  .btn a {
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.7px;
    text-decoration: none;
  }

  .oppia-partnerships-faqs {
    background-color: #dcdcdc;
    padding: 5em 0;
    text-align: center;
  }

  .oppia-partnerships-faqs h3 {
    margin-bottom: 2.5em;
  }

  .oppia-partnerships-faq-card {
    background-color: #e8e7e3;
    margin: 1.5em auto;
    width: 75%;
  }

  .oppia-partnerships-faq-card mat-panel-title {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
  }

  .oppia-partnerships-faq-card p {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.2em;
    text-align: start;
  }

  @media screen and (max-width: 900px) {
    .oppia-partnerships-faq-card mat-panel-title {
      font-size: 0.7em;
    }
    .oppia-partnerships-faq-card p {
      font-size: 0.8em;
    }
  }
</style>
