<div class="partnerships-page e2e-test-partnerships-page">
  <div class="content-container">
    <div class="oppia-partnerships-banner">
      <div class="oppia-partnerships-banner-content">
        <h1 class="oppia-partnerships-h1 e2e-test-partnership-heading">{{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE' | translate }}</h1>

        <div class="oppia-partnerships-list">
          <p>{{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE_CONTENT' | translate }}</p>
          <ul>
            <li class="oppia-partnerships-page-welcome-text-bullet-list">
              {{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE_CONTENT_1_PART_1' | translate }}
              <span class="oppia-partnerships-emphasized">2 million</span>
              {{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE_CONTENT_1_PART_2' | translate }}
            </li>
            <li class="oppia-partnerships-page-welcome-text-bullet-list">
              {{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE_CONTENT_2_PART_1' | translate }}
              <span class="oppia-partnerships-emphasized">2</span>
              {{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE_CONTENT_2_PART_2' | translate }}
            </li>
            <li class="oppia-partnerships-page-welcome-text-bullet-list">
              {{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE_CONTENT_3_PART_1' | translate }}
              <span class="oppia-partnerships-emphasized">2,000</span>
              {{ 'I18N_PARTNERSHIPS_PAGE_SECTION_ONE_CONTENT_3_PART_2' | translate }}
            </li>
          </ul>
        </div>
        <oppia-primary-button
            [buttonHref]="formLink"
            [customClasses]="['partnerships-page-button','e2e-test-partnerships-page-partner-with-us-button-at-the-top']"
            buttonText="{{ 'I18N_PARTNERSHIPS_PAGE_GET_STARTED_BUTTON' | translate }}">
        </oppia-primary-button>
      </div>

      <div class="oppia-partnerships-banner-image
                  hide-xs hide-sm">
        <img alt="Partnerships page hero image - Desktop view" [src]="partnershipsImgUrl">
      </div>
      <div class="oppia-partnerships-banner-image hide-gt-sm">
        <img alt="Partnerships page hero image - Mobile view" [src]="partnershipsImgUrl">
      </div>
    </div>
  </div>

  <div class="oppia-partnerships-process">
    <div class="content-container">
      <h3 class="oppia-partnerships-h3">{{ 'I18N_PARTNERSHIPS_PAGE_PROCESS' | translate }}</h3>

      <div class="oppia-partnerships-process-container">
        <div class="oppia-partnerships-process-subcontainer">
          <img class="oppia-partnerships-process-icon hide-gt-xs" alt="People Icon" [src]="peopleIconUrl">
          <div class="oppia-partnerships-process-content">
            <h4 class="oppia-partnerships-h4">{{ 'I18N_PARTNERSHIPS_PAGE_PROCESS_1_HEADING' | translate }}</h4>
            <p>{{ 'I18N_PARTNERSHIPS_PAGE_PROCESS_1' | translate }}</p>
          </div>
          <img class="oppia-partnerships-process-icon hide-xs" alt="People Icon" [src]="peopleIconUrl">
        </div>

        <div class="oppia-partnerships-process-subcontainer">
          <img class="oppia-partnerships-process-icon" alt="Service Icon" [src]="serviceIconUrl">
          <div class="oppia-partnerships-process-content">
            <h4 class="oppia-partnerships-h4">{{ 'I18N_PARTNERSHIPS_PAGE_PROCESS_2_HEADING' | translate }}</h4>
            <p>{{ 'I18N_PARTNERSHIPS_PAGE_PROCESS_2' | translate }}</p>
          </div>
        </div>

        <div class="oppia-partnerships-process-subcontainer">
          <img class="oppia-partnerships-process-icon hide-gt-xs" alt="Agree Icon" [src]="agreeIconUrl">
          <div class="oppia-partnerships-process-content">
            <h4 class="oppia-partnerships-h4">{{ 'I18N_PARTNERSHIPS_PAGE_PROCESS_3_HEADING' | translate }}</h4>
            <p>{{ 'I18N_PARTNERSHIPS_PAGE_PROCESS_3' | translate }}</p>
          </div>
          <img class="oppia-partnerships-process-icon hide-xs" alt="Agree Icon" [src]="agreeIconUrl">
        </div>
      </div>
    </div>
  </div>

  <div class="partering-with-oppia">
    <div class="content-container">
      <h3 class="oppia-partnerships-h3">{{ 'I18N_PARTNERSHIPS_PAGE_PARTNERING_HEADING' | translate }}</h3>
      <div class="partnering-with-oppia-container">
        <img class="partering-with-oppia-image e2e-test-partnering-with-oppia-image" alt="Partnerships page image" [src]="partneringImgUrl">
        <div class="partering-with-oppia-content">
          <p>{{ 'I18N_PARTNERSHIPS_PAGE_PARTNERING_CONTENT' | translate }}</p>
          <oppia-primary-button
            buttonHref="https://drive.google.com/file/d/1H3YzHmUDS62qgP-V1BzVkvoVotp3h9ua/view?usp=drive_link"
            [customClasses]="['partnerships-page-button','e2e-test-partnerships-page-brochure-button']"
            buttonText="{{ 'I18N_PARTNERSHIPS_PAGE_BROCHURE_BUTTON' | translate }}">
          </oppia-primary-button>
        </div>
      </div>
    </div>
  </div>

  <div class="oppia-partners-video">
    <iframe class="oppia-partners-video-iframe e2e-test-partnership-youtube-video-iframe"
            src="https://www.youtube.com/embed/mDfiDLn2Rko?si=tTS9OzbANbQJf4CW"
            frameborder="0"
            referrerpolicy="strict-origin-when-cross-origin"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
  </div>

  <div class="oppia-partners">
    <h3 class="oppia-partnerships-h3">{{ 'I18N_PARTNERSHIPS_PAGE_OUR_PARTNERS' | translate }}</h3>
    <p class="oppia-partners-content">{{ 'I18N_PARTNERSHIPS_PAGE_OUR_PARTNERS_CONTENT' | translate }}</p>
    <div class="partners">
      <img class="partner-logo" alt="partner logo" [src]="org1Url">
      <img class="partner-logo" alt="partner logo" [src]="org2Url">
      <img class="partner-logo" alt="partner logo" [src]="org3Url">
      <img class="partner-logo" alt="partner logo" [src]="org4Url">
      <img class="partner-logo" alt="partner logo" [src]="org5Url">
      <img class="partner-logo" alt="partner logo" [src]="org6Url">
    </div>
  </div>

  <div class="partners-stories">
    <h3 class="oppia-partnerships-h3">{{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES' | translate }}</h3>
    <div class="partners-col">
      <div class="partner-container d-block d-md-none">
        <ngb-carousel>
          <ng-template ngbSlide>
            <mat-card-content data-test="mat-card-content">
              <img class="partner-logo" alt="partner logo" [src]="partner1">
              <h4 class="oppia-partnerships-h4">{{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_1_HEADING' | translate }}</h4>
              <p>{{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_1' | translate }}</p>
              <a href="https://www.oppia.org/blog/teaching-a-chapter-of-expressions-equations-in-summer-school-0q6r28fzsrwc" target="_blank" rel="noopener" class="e2e-test-partnerships-page-blog-post-mobile-button">
                {{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_BLOG_POST' | translate }}
              </a>
            </mat-card-content>
          </ng-template>
          <ng-template ngbSlide>
            <mat-card-content>
              <img class="partner-logo" alt="partner logo" [src]="partner2">
              <h4 class="oppia-partnerships-h4">{{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_2_HEADING' | translate }}</h4>
              <p>{{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_2' | translate }}</p>
              <a href="https://www.oppia.org/blog/bridging-the-gap-with-technology-the-destiny-trust-oppia-b1o8p3n1t7wi" target="_blank" rel="noopener">
                   {{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_BLOG_POST' | translate }}
              </a>
            </mat-card-content>
          </ng-template>
          <ng-template ngbSlide>
            <mat-card-content>
              <img class="partner-logo" alt="partner logo" [src]="partner3">
              <h4 class="oppia-partnerships-h4">{{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_3_HEADING' | translate }}</h4>
              <p>{{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_3' | translate }}</p>
              <a href="https://www.oppia.org/blog/partner-spotlight-centre-for-youth-studies-ngqpqqjgcdhm" target="_blank" rel="noopener">
                   {{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_BLOG_POST' | translate }}
              </a>
            </mat-card-content>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="partner-container d-none d-md-flex">
        <mat-card-content>
          <img alt="partner logo" [src]="partner1">
          <h4 class="oppia-partnerships-h4">{{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_1_HEADING' | translate }}</h4>
          <p>{{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_1' | translate }}</p>
          <a href="https://www.oppia.org/blog/teaching-a-chapter-of-expressions-equations-in-summer-school-0q6r28fzsrwc" target="_blank" rel="noopener" class="e2e-test-partnerships-page-blog-post-desktop-button">
               {{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_BLOG_POST' | translate }}
          </a>
        </mat-card-content>
        <mat-card-content>
          <img alt="partner logo" [src]="partner2">
          <h4 class="oppia-partnerships-h4">{{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_2_HEADING' | translate }}</h4>
          <p>{{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_2' | translate }}</p>
          <a href="https://www.oppia.org/blog/bridging-the-gap-with-technology-the-destiny-trust-oppia-b1o8p3n1t7wi" target="_blank" rel="noopener">
               {{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_BLOG_POST' | translate }}
          </a>
        </mat-card-content>
        <mat-card-content>
          <img alt="partner logo" [src]="partner3">
          <h4 class="oppia-partnerships-h4">{{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_3_HEADING' | translate }}</h4>
          <p>{{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_3' | translate }}</p>
          <a href="https://www.oppia.org/blog/partner-spotlight-centre-for-youth-studies-ngqpqqjgcdhm" target="_blank" rel="noopener">
               {{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_BLOG_POST' | translate }}
          </a>
        </mat-card-content>
      </div>
      <oppia-primary-button
        buttonHref="/blog"
        [customClasses]="['partnerships-page-button','e2e-test-partnerships-page-partner-stories-button']"
        buttonText="{{ 'I18N_PARTNERSHIPS_PAGE_PARTNER_STORIES_BUTTON' | translate }}">
      </oppia-primary-button>
    </div>
  </div>

  <div class="learner-stories">
    <h3 class="oppia-partnerships-h3 e2e-test-learner-stories-heading">{{ 'I18N_PARTNERSHIPS_PAGE_LEARNER_STORIES' | translate }}</h3>
    <div class="learners-container">
      <ngb-carousel class="e2e-test-learner-stories-coursal-container">
        <ng-template ngbSlide>
          <mat-card-content>
            <img alt="learner image" [src]="learner1">
            <div class="learner-content">
              <h4 class="oppia-partnerships-h4">{{ 'I18N_PARTNERSHIPS_PAGE_LEARNER_STORIES_1_HEADING' | translate }}</h4>
              <p>{{ 'I18N_PARTNERSHIPS_PAGE_LEARNER_STORIES_1' | translate }}</p>
            </div>
          </mat-card-content>
        </ng-template>
        <ng-template ngbSlide>
          <mat-card-content>
            <img alt="learner image" [src]="learner2">
            <div class="learner-content">
              <h4 class="oppia-partnerships-h4">{{ 'I18N_PARTNERSHIPS_PAGE_LEARNER_STORIES_2_HEADING' | translate }}</h4>
              <p>{{ 'I18N_PARTNERSHIPS_PAGE_LEARNER_STORIES_2' | translate }}</p>
            </div>
          </mat-card-content>
        </ng-template>
        <ng-template ngbSlide>
          <mat-card-content>
            <img alt="learner image" [src]="learner3">
            <div class="learner-content">
              <h4 class="oppia-partnerships-h4">{{ 'I18N_PARTNERSHIPS_PAGE_LEARNER_STORIES_3_HEADING' | translate }}</h4>
              <p>{{ 'I18N_PARTNERSHIPS_PAGE_LEARNER_STORIES_3' | translate }}</p>
            </div>
          </mat-card-content>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div class="oppia-partnerships-cta">
    <h3 class="oppia-partnerships-h3">{{ 'I18N_PARTNERSHIPS_PAGE_GET_STARTED' | translate }}</h3>
    <div class="oppia-partnerships-cta-container">
      <div class="oppia-partnerships-cta-subcontainer">
        <img class="oppia-partnerships-process-icon" alt="Form Icon" [src]="formIconUrl">
        <p>{{ 'I18N_PARTNERSHIPS_PAGE_GET_STARTED_1' | translate }}</p>
      </div>
      <div class="oppia-partnerships-cta-subcontainer">
        <img class="oppia-partnerships-process-icon" alt="Call Icon" [src]="callIconUrl">
        <p>{{ 'I18N_PARTNERSHIPS_PAGE_GET_STARTED_2' | translate }}</p>
      </div>
      <div class="oppia-partnerships-cta-subcontainer">
        <img class="oppia-partnerships-process-icon" alt="Change Icon" [src]="changeIconUrl">
        <p>{{ 'I18N_PARTNERSHIPS_PAGE_GET_STARTED_3' | translate }}</p>
      </div>
    </div>
    <oppia-primary-button
        [buttonHref]="formLink"
        [customClasses]="['partnerships-page-button','e2e-test-partnerships-page-partner-with-us-button-at-the-bottom']"
        buttonText="{{ 'I18N_PARTNERSHIPS_PAGE_GET_STARTED_BUTTON' | translate }}">
    </oppia-primary-button>
  </div>

  <div class="content-container">
    <div class="oppia-partnerships-faqs">
      <h3 class="oppia-partnerships-h3">{{ 'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED' | translate }}</h3>

      <mat-accordion>
        <div class="oppia-partnerships-faq-card">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ 'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_1' | translate }}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p [innerHTML]="'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_1_CONTENT' | translate"></p>
          </mat-expansion-panel>
        </div>

        <div class="oppia-partnerships-faq-card">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ 'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_2' | translate }}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p [innerHTML]="'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_2_CONTENT' | translate"></p>
          </mat-expansion-panel>
        </div>

        <div class="oppia-partnerships-faq-card">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ 'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_3' | translate }}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p [innerHTML]="'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_3_CONTENT' | translate"></p>
          </mat-expansion-panel>
        </div>

        <div class="oppia-partnerships-faq-card">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ 'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_4' | translate }}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p [innerHTML]="'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_4_CONTENT' | translate"></p>
          </mat-expansion-panel>
        </div>

        <div class="oppia-partnerships-faq-card">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ 'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_5' | translate }}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p [innerHTML]="'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_5_CONTENT' | translate"></p>
          </mat-expansion-panel>
        </div>

        <div class="oppia-partnerships-faq-card">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ 'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_6' | translate }}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p [innerHTML]="'I18N_PARTNERSHIPS_PAGE_FREQUENTLY_ASKED_6_CONTENT' | translate"></p>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
  </div>
</div>
