.oppia-audio-file-upload-field-error-message,
.oppia-updated-audio-file-upload-message {
  color: red;
  display: inline-block;
  font-size: 14px;
  padding: 4px;
}

.oppia-audio-file-upload-field-error-message i {
  margin-right: 4px;
}
