/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are some additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

.oppia-lesson-player-header {
  align-items: center;
  background-color: #094142;
  color: #fff;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding-left: 15px;
}

.player-header-right {
  display: none;
  padding: 12px;
}

.header-menu-button {
  background: none;
  border: none;
  color: #fff;
}

.player-header-close-button button {
  background: none;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  outline: none;
  padding: 8px;
}

.player-header-close-button i {
  color: #fff;
}

.other-header {
  background-color: #c55f45;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .player-header-right {
    display: block;
  }
}

.player-header-left p {
  font-family: Capriola;
  font-weight: 400;
  font-size: 18px;
}
