.oppia-creator-dashboard-intro-button {
  background-color: #00645c;
  border-radius: 6px;
  color: #fff;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
  margin-top: 10px;
  padding: 10px 12px;
  text-transform: uppercase;
  width: 200px;
}

.oppia-button-display {
  display: block;
}

.btn-group button:focus {
  outline: 2px solid darkblue;
}
