.oppia-embed-exploration-modal .oppia-embed-modal-code {
  background-color: #fcfcfc;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  display: inline-block;
  padding: 10px;
}

.oppia-embed-exploration-modal .oppia-embed-modal-code:hover {
  background-color: #f9f9f9;
}
