<div ng-if="!active && !alwaysEditable">
  <div>
    <span angular-html-bind="localValue.label"></span>
    <span ng-if="isEditable">
      (<a href="#" onclick="return false;" ng-click="openEditor()">Edit</a>)
    </span>
  </div>
</div>

<div ng-if="active || alwaysEditable">
  <rich-text-editor html-content="localValue.label">
  </rich-text-editor>
  <button type="button" class="btn btn-default btn-sm pull-right" ng-if="!alwaysEditable" ng-click="replaceValue(localValue.label)">
    Done
  </button>
</div>

<script type="text/ng-template" id="modals/customizeWidget">
  <div class="modal-header">
    <h3>Customize This Widget</h3>
  </div>

  <div class="modal-body">
    <div ng-repeat="customizationArg in customizationArgsList">
      <strong><[customizationArg.description]></strong>
      <div ng-if="customizationArg.schema">
        <schema-builder local-value="customizationArg.value" schema="customizationArg.schema" mode="FORM_BUILDER_MODES.ENABLED">
        </schema-builder>
      </div>
      <div ng-if="!customizationArg.schema">
        <object-editor obj-type="<[customizationArg.custom_editor]>" value="customizationArg.value" always-editable="true">
        </object-editor>
      </div>
      <br>
    </div>
  </div>

  <div class="modal-footer">
    <input type="submit" class="btn btn-default" value="Cancel" ng-click="cancel()">
    <input type="submit" class="btn btn-success" value="Done" ng-click="save(customizationArgsList)">
  </div>
</script>
