<style>
  .list-editor-element {
    padding-bottom: 20px;
    padding-left: 0;
  }

  .list-editor-delete {
    padding-top: 6px;
  }
</style>

<div>
  <br>
  <span ng-show="localValue.length == 0">
    <em>
      <span ng-if="messageIfEmpty">
        <[messageIfEmpty]>
      </span>
      <span ng-if="!messageIfEmpty">
        (This list is currently empty.)
      </span>
    </em>
  </span>

  <div class="row" ng-repeat="item in localValue track by $index">
    <div class="col-lg-2 col-md-2 col-sm-2">
      <[$index + 1]>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 list-editor-element">
      <object-editor obj-type="<[initArgs.objType]>" value="item.label" always-editable="<[alwaysEditable]>" is-editable="<[isEditable]>">
      </object-editor>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 list-editor-delete">
      <button type="button" class="btn btn-default btn-xs pull-right list-editor-delete-button" ng-click="deleteItem($index)" ng-disabled="!!initArgs.disableControls" ng-if="isEditable">
        Delete
      </button>
    </div>
  </div>

  <div class="row" ng-if="isEditable">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <button type="button" class="btn btn-default btn-sm protractor-test-add-list-entry" ng-click="addItem()" ng-disabled="!!initArgs.disableControls">
        <[getAddItemText()]>
      </button>
    </div>
  </div>
</div>
