<div ng-if="!active && !alwaysEditable">
  <textarea disabled="true">
    <[localValue.label]>
  </textarea>
  (<a href="#" onclick="return false;" ng-click="openEditor()">Edit</a>)
</div>

<div ng-if="active || alwaysEditable">
  <div>
    <textarea ng-model="localValue.label" placeholder="\frac{x}{y}"></textarea>
  </div>
  Preview: <mathjax-bind ng-if="localValue.label" mathjax-data="localValue.label"></mathjax-bind>
           <mathjax-bind ng-if="!localValue.label" mathjax-data="placeholderText" style="color: #808080;"></mathjax-bind>
  <button type="button" class="btn btn-default"  ng-if="!alwaysEditable" ng-click="replaceValue(localValue.label)">
    Close
  </button>
</div>
