.set-of-translatable-html-content-ids-editor .mat-checkbox /deep/  .mat-checkbox-label {
    vertical-align: top;
  }
  .set-of-translatable-html-content-ids-editor /deep/ .mat-checkbox-layout {
    margin-bottom: 20px;
    white-space: normal;
    word-break: break-word;
  }
