<div class="list-group skill-selector-editor">
  <mat-card layout="row" class="list-view-item e2e-test-skill-select-header">
    Search By Skill
    <input type="text"
           class="form-control e2e-test-skill-name-input"
           placeholder="Enter a skill name"
           [(ngModel)]="skillFilterText"
           (ngModelChange)="filterSkills($event)"
           [disabled]="showLoading"
           autofocus>
  </mat-card>
  <div *ngIf="showLoading" class="oppia-align-center">
    Loading
    <loading-dots></loading-dots>
  </div>
  <div class="skill-selector-item-container">
    <div class="oppia-list-group-item-text list-group-item e2e-test-rte-skill-selector-item"
         *ngFor="let skill of skillsToShow"
         (click)="selectSkill(skill.id, skill.description)"
         [ngClass]="{'list-group-item-success': (skill.id === value)}">
      <label class="list-group-item-heading">{{ skill.description }}</label>
      <div *ngIf="skill.id === value" class="oppia-skill-summary-text">
        <strong> Explanation </strong>
        <div class="skill-explanation-container">
          <oppia-rte-output-display [rteString]="skill.skill_contents.explanation.html">
          </oppia-rte-output-display>
        </div>
        <strong> Worked Examples </strong>
        <ul>
          <li *ngFor="let example of skill.skill_contents.worked_examples" class="worked-example-container">
            <b> Question: </b>
            <oppia-rte-output-display [rteString]="example.question.html">
            </oppia-rte-output-display>
            <div class="worked-example-explanation-section">
              <b> Explanation: </b>
              <oppia-rte-output-display [rteString]="example.explanation.html">
              </oppia-rte-output-display>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<style>
  .skill-selector-editor .worked-example-explanation-section {
    margin-top: 1.5vh;
  }
  .skill-selector-editor .skill-selector-item-container {
    max-height: 50vh;
    overflow-y: auto;
  }
  .skill-selector-editor .skill-explanation-container {
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .skill-selector-editor .worked-example-container {
    padding-top: 5px;
  }
  .skill-selector-editor .oppia-list-group-item-text {
    color: #000;
  }
</style>
