.svg-editor .diagram-editor-size-toolbar .input-box {
    display: inline-block;
  }
  .svg-editor .diagram-editor-size-toolbar .dimension-note {
    font-size: 15px;
  }

  .svg-editor .diagram-editor-saved-image-container {
    position: relative;
  }

  .svg-editor .diagram-editor-saved-image-container .edit-icon {
    color: #000;
    cursor: pointer;
    position: absolute;
    right: 6px;
    text-shadow: 0 0 1px #fff;
    top: 6px;
  }

  .edit-icon {
    font-size: 16px;
  }

  .edit-text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 10px;
  }

  .svg-editor .svg-editor {
    background-color: #fff;
    min-height: 450px;
    position: relative;
  }

  .svg-editor .svg-editor>* {
    position: absolute
  }

  .svg-editor .svg-editor,
  .svg-editor .svg-editor * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }

  .svg-editor .fabric-canvas::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 7px;
    width: 7px;
  }

  .svg-editor .svg-editor .fabric-canvas {
    background-color: #808080;
    border: 1px solid #555;
    bottom: 31px;
    cursor: default;
    left: 68px;
    overflow-x: auto;
    overflow-y: auto;
    right: 0;
    top: 31px;
  }

  .svg-editor .fabric-canvas.custom-tool-form {
    background-color: #fff;
    bottom: 0;
    overflow: auto;
  }

  .svg-editor .fabric-canvas .piechart-note {
    font-size: 13px;
  }

  .svg-editor .fabric-canvas .upload-warning {
    color: #f00;
  }

  .svg-editor .fabric-canvas .uploaded-svg-image {
    display: block;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .svg-editor .svg-editor .fabric-canvas::-webkit-scrollbar-thumb {
    background-color: #7c7c7c;
    border-radius: 4px;
  }

  .svg-editor .svg-editor .fabric-canvas .fabric-canvas-container {
    background-color: #fff;
    height: 368px;
    width: 494px;
  }

  .svg-editor .svg-editor .horizontal-toolbar {
    background-color: #fff;
    border: 1px solid #555;
    height: 31px;
    left: 68px;
    right: 0;
  }

  .svg-editor .svg-editor .horizontal-toolbar.bottom-toolbar {
    bottom: 0;
  }

  .svg-editor .svg-editor .horizontal-toolbar.top-toolbar {
    top: 0;
  }

  .svg-editor .svg-editor .horizontal-toolbar .input-tag {
    border-radius: 3px;
    float: left;
    font-size: 13px;
    height: 28px;
    margin: 1px;
    padding-left: 3px;
    padding-top: 5px;
    position: relative;
  }

  .svg-editor .svg-editor .horizontal-toolbar .info-tag {
    padding-left: 3px;
    padding-top: 5px;
  }

  @media only screen and (min-width: 400px) {
    .svg-editor .horizontal-toolbar .info-tag {
      font-size: 13px;
    }
  }

  @media only screen and (max-width: 400px) {
    .svg-editor .horizontal-toolbar .info-tag {
      font-size: 3vw;
    }
  }

  .svg-editor .svg-editor .horizontal-toolbar .layer-info {
    font-size: 16px;
  }

  .svg-editor .svg-editor .vertical-toolbar {
    background-color: #fff;
    border: 1px solid #555;
    bottom: 0;
    left: 0;
    top: 0;
    width: 68px;
  }

  .svg-editor .svg-editor .vertical-toolbar .fat-button {
    clear: both;
    font-size: 13px;
    width: 57px
  }

  .svg-editor .svg-editor .vertical-toolbar .icon-tool {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-size: 24px;
  }

  .svg-editor .svg-editor .vertical-toolbar .icon-tool.disabled {
    filter: alpha(opacity=40);
    opacity: 0.4;
  }

  .svg-editor .svg-editor .vertical-toolbar .thin-button {
    float: left;
    position: relative;
    width: 26px;
  }

  .svg-editor .svg-editor .vertical-toolbar .toolbar-button {
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 3px;
    height: 26px;
    line-height: 26px;
    margin: 2px;
    padding: 0;
    text-align: center;
  }

  .svg-editor .svg-editor .vertical-toolbar .toolbar-button .bezier-curve {
    font-size: 21px;
  }

  .svg-editor .svg-editor .vertical-toolbar .toolbar-button .pie-chart {
    font-size: 22px;
  }

  .svg-editor .vertical-toolbar .toolbar-button .file-upload {
    font-size: 21px;
  }

  .svg-editor .vertical-toolbar .tooltip-inner {
    background-color: #555;
  }

  .svg-editor .svg-editor .vertical-toolbar .vert-bottom-toolbar {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0
  }

  .svg-editor .svg-editor .color-well {
    float: left;
    font-size: 10px;
    padding-bottom: 3px;
    text-align: center;
    width: 60px
  }

  .svg-editor .svg-editor .color-well .colorPicker {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
    height: 28px;
    margin: 0 auto;
    width: 28px;
  }

  .svg-editor .svg-editor .color-well .alphaSquare {
    background-color: #000;
    height: 13px;
    width: 13px;
  }

  .svg-editor .svg-editor .color-well .alphaSquare.bottom {
    left: 50%;
    position: absolute;
  }

  .svg-editor .oppia-slash-icon {
    font-size: 19px;
  }

  .svg-editor .oppia-closed-polygon-icon {
    background-image: url(/assets/svg_diagram_editor/closed_polygon.svg);
  }

  .svg-editor .oppia-open-polygon-icon {
    background-image: url(/assets/svg_diagram_editor/open_polygon.svg);
  }

  .svg-editor .oppia-bring-forward-icon {
    background-image: url(/assets/svg_diagram_editor/bring_forward.svg);
  }

  .svg-editor .oppia-send-backward-icon {
    background-image: url(/assets/svg_diagram_editor/send_backward.svg);
  }

  .svg-editor .oppia-font-styles-text {
    padding-left: 3px;
  }

  .svg-editor .oppia-diagram-spinning-button {
    margin-left: 30px;
    margin-right: 30px;
  }

  .svg-editor  .oppia-diagram-spinning-button svg path { stroke: #f8f6e1; }
