/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

.about-page .carousel-indicators li {
  background-color: gray;
  border-radius: 50%;
}

.about-page .carousel-indicators li.active {
  background-color: #005240;
}

.about-page .oppia-about-hero-section {
  align-items: end;
  background-image: url('/assets/images/about/about-banner-desktop.webp');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 31em;
  padding: 0 64px 48px;
}

.about-page .oppia-about-hero-section-content {
  background-color: #ffffffed;
  border-radius: 4px;
  padding: 48px 32px;
  width: 58%;
}

.about-page .oppia-about-hero-title {
  color: #00645c;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 4.8rem;
  line-height: 60px;
  margin: 0;
  text-align: start;
}

.about-page .oppia-about-hero-subtext {
  color: #333;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  line-height: 27px;
  margin: 8px 0 0;
}

@media only screen and (max-width: 901px) {
  .about-page .oppia-about-hero-section {
    height: 18em;
    padding: 0 16px 32px;
  }

  .about-page .oppia-about-hero-section-content {
    padding: 24px 32px;
    width: 90%;
  }

  .about-page .oppia-about-hero-title {
    font-size: 3rem;
    line-height: 37.5px;
  }

  .about-page .oppia-about-hero-subtext {
    font-size: 1.6rem;
    line-height: 22.4px;
    width: 90%;
  }
}

@media only screen and (max-width: 641px) {
  .about-page .oppia-about-hero-section {
    height: 18em;
    padding: 0 24px 16px;
  }

  .about-page .oppia-about-hero-section-content {
    padding: 16px 24px;
    width: 77%;
  }

  .about-page .oppia-about-hero-subtext {
    width: 100%;
  }
}

@media only screen and (max-width: 481px) {
  .about-page .oppia-about-hero-section {
    background-image: url('/assets/images/about/about-banner-mobile.webp');
    height: 18em;
    padding: 0 12px 48px;
  }
  .about-page .oppia-about-hero-section-content {
    padding: 10px 16px;
    width: 77%;
  }
  .about-page .oppia-about-hero-title {
    font-size: 2rem;
    line-height: 25px;
  }
  .about-page .oppia-about-hero-subtext {
    display: none;
  }
}

.about-page .oppia-about-foundation-section {
  background-color: #fff;
  column-gap: 7.1vw;
  display: flex;
  flex-direction: row-reverse;
  height: fit-content;
  justify-content: space-between;
  padding: 112px 64px;
}

.about-page .oppia-about-foundation-section-right {
  display: flex;
  flex-direction: column;
  min-width: 57vw;
  row-gap: 3.2rem;
}

.about-page .oppia-about-foundation-section-products {
  border: 1px solid #bfd8d7;
  border-radius: 8px;
  padding: 3.2rem 4.8rem;
}

.about-page .oppia-about-title-new {
  color: #00645c;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 3rem;
  line-height: 3.6rem;
  margin-bottom: 0;
}

.about-page .oppia-about-foundation-section  .oppia-about-title-new {
  margin-bottom: 16px;
}

.about-page .oppia-about-foundation-section-goals-container {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  justify-content: space-between;
}

.about-page .oppia-about-foundation-section-goal {
  background-color: #e3f1f1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 4.8rem;
  row-gap: 8px;
}

.about-page .oppia-about-foundation-section-goal-title {
  color: #00645c;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 20px;
}

.about-page .oppia-about-foundation-section-left {
  align-self: end;
  display: flex;
  flex-direction: column;
}

.about-page .oppia-about-foundation-section-timeline-circle {
  border: 1.5px solid #d2ac61;
  border-radius: 50%;
  height: 15px;
  margin: 20px 0 20px -6px;
  width: 15px;
}

.about-page .oppia-about-foundation-section-timeline-subtitle {
  color: #717171;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 2rem;
  line-height: 25px;
  margin-left: 1rem;
}

.about-page .oppia-about-foundation-section-timeline-item {
  border-left: 2.5px solid #00645c;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  row-gap: 8px;
}

.about-page .oppia-about-foundation-section-timeline-year {
  color: #000;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 2rem;
  line-height: 24px;
  margin: 0;
}

.about-page .oppia-about-section-subtext-new {
  color: #333;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 21.6px;
}

.about-page .oppia-about-impact-section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 64px 80px 64px;
}

.about-page .oppia-about-impact-section  .oppia-about-title-new {
  margin-bottom: 8px;
}

.about-page .oppia-about-impact-content {
  margin-bottom: 16px;
}

.about-page .oppia-about-impact-mobile-content {
  display: none;
}

.about-page .oppia-about-impact-section-top {
  display: flex;
  flex-direction: column;
}

.about-page .oppia-about-impact-section-top-text {
  margin: 0;
}

.about-page .oppia-about-impact-section-stats {
  column-gap: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.about-page .oppia-about-impact-section-stat-container {
  width: 25%;
}

.about-page .oppia-about-impact-section-stat-title {
  color: #fff;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 3rem;
  line-height: 37.5px;
}

.about-page .oppia-about-impact-section-stat {
  background-color: #00645c;
  border-radius: 4px;
  padding: 8px 8px 8px 16px;
}

.about-page .stat-subtext {
  margin: 8px 0 0 16px;
}

.about-page .oppia-about-impact-section-button-container {
  align-items: center;
  background-color: #eee;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 32px;
  row-gap: 8px;
  width: 100%;
}

.about-page .oppia-about-impact-buttons-content {
  line-height: 25.2px;
  margin: 0;
  text-align: center;
}

.about-page .oppia-about-impact-button {
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  height: 44px;
  line-height: 21.6px;
  min-width: 240px;
  padding: 10px;
}

.about-page .oppia-about-impact-charts-container {
  column-gap: 48px;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-between;
  margin: 64px 0;
  padding: 0 11px;
  width: 100%;
}

.about-page .oppia-impact-section-grey-bg-text, 
.about-page .oppia-impact-section-yellow-bg-text {
  font-weight: 700;
  padding: 0 8px;
}

.about-page .oppia-impact-section-grey-bg-text {
  background-color: #f2f7f7;
}

.about-page .oppia-impact-section-yellow-bg-text {
  background-color: #f2e6d0;
}

.about-page .oppia-mobile-portrait-content {
  display: none;
}

.about-page .oppia-about-impact-section-charts-container {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.about-page .oppia-about-impact-chart-container {
  width: 50%;
}

.about-page .oppia-about-impact-bar-chart-container {
  width: 100%;
}

@media only screen and (max-width: 976px) {
  .about-page .oppia-about-impact-charts-container {
    flex-direction: column;
    margin: 32px 0 56px;
    padding: 0;
    row-gap: 56px;
    width: 100%;
  }

  .about-page .oppia-about-impact-chart-container {
    width: 100%;
  }

  .about-page .oppia-about-impact-bar-chart-container {
    width: 80%;
  }
}

@media only screen and (max-width: 769px) {

  .about-page .oppia-about-foundation-section {
    flex-direction: column;
    padding: 80px 15px;
    row-gap: 5.6rem;
  }

  .about-page .oppia-about-foundation-section-products {
    border-radius: 4px;
    padding: 3.2rem;
  }

  .about-page .oppia-about-title-new {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .about-page .oppia-about-foundation-section-right {
    row-gap: 1.6rem;
  }

  .about-page .oppia-about-foundation-section-goals-container {
    gap: 1.6rem;
  }

  .about-page .oppia-about-foundation-section-goal {
    padding: 3.2rem 6.4rem 3.2rem 3.2rem;
  }

  .about-page .oppia-about-foundation-section-left {
    height: auto;
    padding: 0 4.3vw;
    width: 100%;
  }

  .about-page .oppia-about-foundation-section-timeline {
    display: flex;
    flex-direction: row;
  }

  .about-page .oppia-about-foundation-section-timeline-subtitle {
    font-size: 18px;
    margin-left: 0;
  }

  .about-page .oppia-about-foundation-section-timeline-item {
    border-left: none;
    border-top: 2.5px solid #00645c;
    padding: 1rem 0;
    width: 33%;
  }

  .about-page .oppia-about-section-subtext-new {
    font-size: 16px;
    line-height: 19.2px;
  }

  .about-page .oppia-about-foundation-section-timeline-circle {
    height: 10px;
    margin: -2px 15px 0 15px;
    width: 10px;
  }

  .about-page .oppia-about-impact-section {
    padding: 0 48px 80px;
  }

  .about-page .oppia-about-impact-section-stats {
    column-gap: 4px;
  }

  .about-page .oppia-about-impact-section-stat-title {
    font-size: 2rem;
    line-height: 25px;
  }

  .about-page .oppia-about-impact-buttons-content {
    line-height: 22.4px;
  }
}

@media only screen and (max-width: 641px) {

  .about-page .oppia-about-impact-desktop-content {
    display: none;
  }

  .about-page .oppia-about-impact-mobile-content {
    display: block;
  }

  .about-page .oppia-about-foundation-section {
    padding: 64px 24px;
    row-gap: 4.8rem;
  }

  .about-page .oppia-about-foundation-section-products {
    padding: 2.4rem;
  }

  .about-page .oppia-about-foundation-section-goal {
    border-radius: 4px;
    padding: 2.4rem 2.4rem 2.4rem 1.6rem;
  }

  .about-page .oppia-about-foundation-section-left {
    padding: 0;
  }

  .about-page .oppia-about-impact-section {
    padding: 0 24px 64px;
  }

  .about-page .oppia-about-impact-charts-container {
    margin: 16px 0 48px;
    padding: 0 16px;
    row-gap: 48px;
  }

  .about-page .oppia-about-impact-bar-chart-container {
    width: 98%;
  }
}

@media only screen and (max-width: 480px) {
  .about-page .oppia-about-impact-charts-container {
    margin: 32px 0;
    padding: 0;
    row-gap: 28px;
  }

  .about-page .oppia-about-impact-bar-chart-container {
    width: 100%;
  }
}

@media only screen and (max-width: 392px) {
  .about-page .oppia-about-impact-chart-container .oppia-about-section-subtext-new {
    width: 70%;
  }
}

@media only screen and (max-width: 376px) {
  .about-page .oppia-mobile-portrait-content {
    display: block;
  }

  .about-page .oppia-about-foundation-section {
    padding: 56px 20px;
    row-gap: 4rem;
  }

  .about-page .oppia-about-foundation-section-products {
    padding: 3.2rem 1.6rem;
  }

  .about-page .oppia-about-foundation-section-goals-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
  }
  
  .about-page .oppia-about-foundation-section-goal {
    padding: 3.2rem 3.2rem 3.2rem 1.6rem;
  }

  .about-page .oppia-about-foundation-section-timeline {
    display: flex;
    flex-direction: column;
  }

  .about-page .oppia-about-foundation-section-timeline-subtitle {
    font-size: 20px;
    margin-left: 1rem;
  }

  .about-page .oppia-about-foundation-section-timeline-item {
    border-left: 2.5px solid #00645c;
    border-top: none;
    padding: 0 1rem;
    width: 100%;
  }

  .about-page .oppia-about-foundation-section-timeline-year {
    font-size: 18px;
    line-height: 21.6px;
  }

  .about-page .oppia-about-foundation-section-timeline-circle {
    margin: 15px 0 15px -3.5px;
  }

  .about-page .oppia-about-impact-section {
    padding: 0 20px 56px;
  }

  .about-page .oppia-about-foundation-section  .oppia-about-title-new {
    max-width: 92%;
  }

  .about-page .oppia-about-impact-section-stats {
    column-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 16px;
  }

  .about-page .oppia-about-impact-section-stat-container {
    width: 100%;
  }

  .about-page .oppia-about-impact-section-stat-title {
    font-size: 1.8rem;
    line-height: 22.5px;
  }

  .about-page .stat-subtext {
    font-size: 1.3rem;
    margin: 8px 0 0 7px;
  }

}


.feature-panel {
  background-color: #eee;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  gap: 40px;
  justify-content: start;
  line-height: 21.6px;
  padding: 12px 16px 20px 28px;
}

.free-of-cost-panel,
.free-of-cost-panel button, 
.free-of-cost-panel .accordion-icon {
  background-color: #00645c;
  color: #fff;
}

.feature-panel button,
.oppia-about-features-list button,
.feature-panel button:active,
.feature-panel button:focus,
.feature-panel button:hover,
.oppia-about-features-list button:active,
.oppia-about-features-list button:focus,
.oppia-about-features-list button:hover {
  border: none;
  outline: none;
}

.about-page .oppia-about-subtitle {
  color: #717171;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 2rem;
  line-height: 25px;
  margin-bottom: 8px;
  margin-left: 32px;
}

.about-page .oppia-about-platform-subtext {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 21.6px;
}

.about-page .oppia-about-platform-button {
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  height: 44px;
  letter-spacing: normal;
  margin: 0;
  min-width: 252px;
  padding: 10px;
}

.about-page .oppia-about-secondary-button {
  background-color: #fff;
  border: 1px solid #00645c;
  color: #00645c;
  letter-spacing: normal;
}

.about-page .oppia-about-secondary-button:hover,
.about-page .oppia-about-secondary-button:focus {
  border-width: 2px;
}

.about-page .oppia-about-secondary-button:active {
  background-color: #f5f5f5;
}

.about-page .oppia-about-platform-section {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  gap: 68px;
  justify-content: start;
  padding: 0 64px 64px;
}

.about-page .oppia-about-platform-section-right {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.about-page .oppia-about-platform-content {
  margin: 32px 0 40px;
}

.about-page .oppia-about-platform-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.about-page .oppia-about-platform-section-left {
  display: flex;
  flex-direction: column;
  padding: 40px 0 0;
  width: 31%;
}

.about-page .oppia-about-features-container-new {
  height: 100%;
}

.oppia-about-features-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.feature-title {
  background-color: #eee;
  border-radius: 5px;
  height: calc((100% - 12px) / 4);
  padding: 12px 16px 12px 28px;
}

.free-of-cost-title,
.free-of-cost-title .accordion-icon {
  background-color: #00645c;
  color: #fff;
  font-weight: 700;
}


.about-page  .oppia-about-non-desktop-content {
  display: none;
}

.about-page .oppia-about-desktop-accordion-container {
  height: 100%;
}

@media only screen and (max-width: 941px) {
  .about-page  .oppia-about-non-desktop-content {
    display: block;
  }
  .about-page  .oppia-about-desktop-content {
    display: none;
  }
  .about-page .oppia-about-subtitle {
    margin-left: 0;
  }
  .about-page .oppia-about-platform-section {
    flex-direction: column-reverse;
    gap: 56px;
    padding: 0 48px 48px;
  }
  .about-page .oppia-about-platform-section-right {
    width: 100%;
  }
  .about-page .oppia-about-platform-content {
    margin: 16px 0 32px;
  }
  .about-page .oppia-about-platform-section-left {
    padding: 0;
    width: 100%;
  }
  .about-page .oppia-about-features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
  .about-page .oppia-about-accordion-item {
    display: flex;
    height: 100%;
    width: calc((100% - 16px) / 2);
  }

  .about-page .oppia-about-accordion-title-container > button {
    padding: 0;
  }

  .about-page .oppia-about-accordion-item button,
  .about-page .oppia-about-accordion-item button:active,
  .about-page .oppia-about-accordion-item button:hover {
    border: none;
    outline: none;
  }

  .about-page .oppia-about-accordion-title-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 100%;
  }

  .about-page .oppia-about-accordion-item p {
    margin: 0;
  }
  
  .about-page .oppia-about-accordion-panel-title {
    font-weight: 700;
  }

  .about-page .feature-title {
    padding: 10px 20px;
  }

  .about-page .feature-panel {
    gap: 24px;
    padding: 10px 20px 8px;
  }

  .about-page .feature-panel.free-of-cost-panel {
    padding-bottom: 27px;
  }
}

@media only screen and (max-width: 769px) {
  .about-page .oppia-about-platform-subtext {
    font-size: 16px;
    line-height: 19.2px;
  }
}
@media only screen and (max-width: 641px) {
  
  .about-page .oppia-about-platform-section {
    gap: 48px;
    padding: 0 40px 40px;
  }
  .about-page .oppia-about-platform-content {
    margin: 16px 0 24px;
  }
  .about-page .oppia-about-features-list {
    column-gap: 8px;
    row-gap: 16px;
  }
  .about-page .feature-panel.free-of-cost-panel {
    padding-bottom: 46px;
  }
}
@media only screen and (max-width: 376px) {
  .about-page .oppia-about-platform-section {
    gap: 40px;
    padding: 0 20px 56px;
  }
  .about-page .oppia-about-platform-content {
    margin: 16px 0 32px;
  }
  .about-page .oppia-about-platform-button-container {
    align-items: baseline;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  .about-page .oppia-about-features-list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .about-page .oppia-about-accordion-item {
    width: 100%;
  }
}
