<div class="about-page e2e-test-about-page">
  <div class="oppia-about-page-section-one">
    <div class="oppia-about-page-section-one-right">
      <picture class="oppia-about-study-image float-right">
        <source type="image/webp" [srcset]="getStaticImageUrl('/about/study.webp')">
        <source type="image/png" [srcset]="getStaticImageUrl('/about/study.png')">
        <img [src]="getStaticImageUrl('/about/study.png')" alt="about study image">
      </picture>
    </div>
    <div class="oppia-about-page-section-one-left">
      <h2 class="oppia-about-title oppia-about-section-title" [innerHTML]="'I18N_ABOUT_PAGE_TITLE_SECTION_ONE' | translate"></h2>
      <p class="oppia-about-content oppia-about-section-content" [innerHTML]="'I18N_ABOUT_PAGE_SECTION_ONE_CONTENT' | translate"></p>
      <div class="oppia-about-button-container">
        <oppia-primary-button class="e2e-test-about-page-browse-our-lessons-button"
          buttonHref="/learn/math"
          (onClickPrimaryButton)="onClickVisitClassroomButton()"
          [customClasses]="['oppia-about-button', 'oppia-about-button-browse']"
          buttonText="{{ 'I18N_ACTION_BROWSE_LESSONS' | translate }}">
        </oppia-primary-button>
      </div>
      <div class="oppia-about-button-container">
        <oppia-primary-button class="e2e-test-about-page-access-android-app-button"
          buttonHref="/android"
          [customClasses]="['oppia-about-button', 'oppia-about-button-browse']"
          buttonText="{{ 'I18N_ACTION_ACCESS_ANDROID_APP' | translate }}">
        </oppia-primary-button>
      </div>
    </div>
  </div>
  <div class="oppia-about-page-section-two oppia-about-section">
    <div class="oppia-about-section-two-top oppia-about-fixed-section">
      <div class="oppia-section-two-content">
        <h3 class="oppia-about-title oppia-about-section-title" [innerHTML]="'I18N_ABOUT_PAGE_OUR_FEATURES' | translate"></h3>
        <p class="oppia-about-content oppia-about-section-content" [innerHTML]="'I18N_ABOUT_PAGE_OUR_FEATURES_CONTENT' | translate"></p>
      </div>
      <div class="oppia-about-icons">
        <div class="oppia-about-features-container d-flex">
          <div class="oppia-about-feature-description-container" *ngFor="let feature of features let i = index">
            <img [src]="getStaticImageUrl(feature.imageFilename)" alt="{{feature.i18nDescription | translate}}" class="oppia-feature-icon">
            <h4 class="oppia-about-feature-text" [innerHTML]="feature.i18nDescription | translate"></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="oppia-about-foundation-section">
    <div class="oppia-about-foundation-section-right">
      <div class="oppia-about-foundation-section-products">
        <p class="oppia-about-title-new">
          {{ 'I18N_ABOUT_PAGE_FOUNDATION_SECTION_TITLE' | translate }}
        </p>
        <p class="oppia-about-section-subtext-new">
          {{ 'I18N_ABOUT_PAGE_FOUNDATION_SECTION_SUBTEXT1' | translate }}
        </p>
        <p class="oppia-about-section-subtext-new">
          {{ 'I18N_ABOUT_PAGE_FOUNDATION_SECTION_SUBTEXT2' | translate }}
        </p>
      </div>
      <div class="oppia-about-foundation-section-goals-container">
        <div class="oppia-about-foundation-section-goal">
          <p class="oppia-about-foundation-section-goal-title">
            {{ 'I18N_ABOUT_PAGE_FOUNDATION_SECTION_MISSION' | translate }}
          </p>
          <p class="oppia-about-section-subtext-new">
            {{ 'I18N_ABOUT_PAGE_FOUNDATION_SECTION_MISSION_SUBTEXT' | translate }}
          </p>
        </div>
        <div class="oppia-about-foundation-section-goal">
          <p class="oppia-about-foundation-section-goal-title">
            {{ 'I18N_ABOUT_PAGE_FOUNDATION_SECTION_VISION' | translate }}
          </p>
          <p class="oppia-about-section-subtext-new">
            {{ 'I18N_ABOUT_PAGE_FOUNDATION_SECTION_VISION_SUBTEXT' | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="oppia-about-foundation-section-left">
      <p class="oppia-about-foundation-section-timeline-subtitle">
        {{ 'I18N_ABOUT_PAGE_FOUNDATION_SECTION_TIMELINE' | translate }}
      </p>
      <div class="oppia-about-foundation-section-timeline">
        <div class="oppia-about-foundation-section-timeline-item">
          <p class="oppia-about-foundation-section-timeline-year">
            {{ 'I18N_ABOUT_PAGE_FOUNDATION_SECTION_TIMELINE_YEAR1' | translate }}
          </p>
          <p class="about-page oppia-about-section-subtext-new">
            {{ 'I18N_ABOUT_PAGE_FOUNDATION_SECTION_TIMELINE_YEAR1_SUBTEXT' | translate }}
          </p>
        </div>
        <div class="oppia-about-foundation-section-timeline-circle">
        </div>
        <div class="oppia-about-foundation-section-timeline-item">
          <p class="oppia-about-foundation-section-timeline-year">
            {{ 'I18N_ABOUT_PAGE_FOUNDATION_SECTION_TIMELINE_YEAR2' | translate }}
          </p>
          <p class="about-page oppia-about-section-subtext-new"
             [innerHTML]="'I18N_ABOUT_PAGE_FOUNDATION_SECTION_TIMELINE_YEAR2_SUBTEXT' | translate">
          </p>
        </div>
        <div class="oppia-about-foundation-section-timeline-circle">
        </div>
        <div class="oppia-about-foundation-section-timeline-item">
          <p class="oppia-about-foundation-section-timeline-year">
            {{ 'I18N_ABOUT_PAGE_FOUNDATION_SECTION_TIMELINE_YEAR3' | translate }}
          </p>
          <p class="about-page oppia-about-section-subtext-new">
            {{ 'I18N_ABOUT_PAGE_FOUNDATION_SECTION_TIMELINE_YEAR3_SUBTEXT' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="oppia-about-impact-section">
    <div class="oppia-about-impact-section-top">
      <p class="oppia-about-title-new">
        {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_TITLE' | translate }}
      </p>
      <div class="oppia-about-impact-desktop-content oppia-about-impact-content">
        <p class="oppia-about-section-subtext-new oppia-about-impact-section-top-text">
          {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_SUBTEXT1' | translate }}
        </p>
        <p class="oppia-about-section-subtext-new">
          {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_SUBTEXT2' | translate }}
        </p>
      </div>
      <p class="oppia-about-section-subtext-new oppia-about-impact-mobile-content">
        {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_SUBTEXT1' | translate }}{{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_SUBTEXT2' | translate }}
      </p>
      <div class="oppia-about-impact-section-stats" >
        <div class="oppia-about-impact-section-stat-container">
          <div class="oppia-about-impact-section-stat">
            <p class="oppia-about-impact-section-stat-title">
              {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_STAT1_TITLE' | translate }}
            </p>
          </div>
          <p class="oppia-about-section-subtext-new stat-subtext">
            {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_STAT1_SUBTEXT' | translate }}
          </p>
        </div>
        <div class="oppia-about-impact-section-stat-container">
          <div class="oppia-about-impact-section-stat">
            <p class="oppia-about-impact-section-stat-title">
              {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_STAT2_TITLE' | translate }}
            </p>
          </div>
          <p class="oppia-about-section-subtext-new stat-subtext">
            {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_STAT2_SUBTEXT' | translate }}
          </p>
        </div>
        <div class="oppia-about-impact-section-stat-container">
          <div class="oppia-about-impact-section-stat">
            <p class="oppia-about-impact-section-stat-title">
              {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_STAT3_TITLE' | translate }}
            </p>
          </div>
          <p class="oppia-about-section-subtext-new stat-subtext">
            {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_STAT3_SUBTEXT' | translate }}
          </p>
        </div>
        <div class="oppia-about-impact-section-stat-container">
          <div class="oppia-about-impact-section-stat">
            <p class="oppia-about-impact-section-stat-title">
              {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_STAT4_TITLE' | translate }}
            </p>
          </div>
          <p class="about-page oppia-about-section-subtext-new stat-subtext">
            {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_STAT4_SUBTEXT' | translate }}
          </p>
        </div>
      </div>
    </div>

    <div class="oppia-about-impact-charts-container">
      <div class="oppia-about-impact-chart-container">
        <p class="oppia-about-section-subtext-new">
          {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_TOP_10_COUNTRIES_TEXT' | translate }}
          <br class="oppia-mobile-portrait-content" >
          <span class="oppia-impact-section-grey-bg-text">
            {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_OPPIA_WEBSITE' | translate }}
          </span>
        </p>
        <div class="oppia-about-impact-bar-chart-container">
          <div id="oppiaWebsiteChart" class="oppia-bar-chart">
            <table class="charts-css bar show-labels data-spacing-4">
              <tbody>

                <tr>
                  <td style="--size: 1.0; --color: transparent">
                    <span class="oppia-scale-container">
                      <div class="oppia-website-scale-type-1">
                        <p class="oppia-scale-number">0</p>
                        <p class="oppia-scale-line">|</p>
                      </div>
                      <div class="oppia-website-scale-type-1">
                        <p class="oppia-scale-number">.5K</p>
                        <p class="oppia-scale-line">|</p>
                      </div>
                      <div class="oppia-website-scale-type-1">
                        <p class="oppia-scale-number">1K</p>
                        <p class="oppia-scale-line">|</p>
                      </div>
                      <div class="oppia-website-scale-type-1">
                        <p class="oppia-scale-number">1.5K</p>
                        <p class="oppia-scale-line">|</p>
                      </div>
                      <div class="oppia-website-scale-type-2">
                        <p class="oppia-scale-number">2K</p>
                        <p class="oppia-scale-line">|</p>
                      </div>
                    </span>
                  </td>
                </tr>

                <tr>
                  <th scope="row"><span> United States </span></th>
                  <td style="--size: 1.0;"><span class="data oppia-bar-chart-annotation-white-text"> more than 2K users </span></td>
                </tr>
                <tr>
                  <th scope="row"><span> India </span></th>
                  <td style="--size: 0.46;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> United Kingdom </span></th>
                  <td style="--size: 0.39;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> Brazil </span></th>
                  <td style="--size: 0.27;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> Canada </span></th>
                  <td style="--size: 0.17;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> Nigeria </span></th>
                  <td style="--size: 0.1;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> Netherlands </span></th>
                  <td style="--size: 0.1;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> Egypt </span></th>
                  <td style="--size: 0.09;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> Turkey </span></th>
                  <td style="--size: 0.09;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> Belgium </span></th>
                  <td style="--size: 0.08;"><span class="data"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="oppia-about-impact-chart-containeoppia-material.cssr">
        <p class="oppia-about-section-subtext-new">
          {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_TOP_10_COUNTRIES_TEXT' | translate }}
          <br class="oppia-mobile-portrait-content">
          <span class="oppia-impact-section-yellow-bg-text">
            {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_OPPIA_ANDROID_APP' | translate }}
          </span>
        </p>
        <div class="oppia-about-impact-bar-chart-container">
          <div id="oppiaAndroidChart" class="oppia-bar-chart">
            <table class="charts-css bar show-labels data-spacing-4">
              <tbody>

                <tr>
                  <td style="--size: 1.0; --color: transparent">
                    <span class="oppia-scale-container">
                      <div class="oppia-android-scale-type-1">
                        <p class="oppia-scale-number">0</p>
                        <p class="oppia-scale-line">|</p>
                      </div>
                      <div class="oppia-android-scale-type-1">
                        <p class="oppia-scale-number">1K</p>
                        <p class="oppia-scale-line">|</p>
                      </div>
                      <div class="oppia-android-scale-type-1">
                        <p class="oppia-scale-number">2K</p>
                        <p class="oppia-scale-line">|</p>
                      </div>
                      <div class="oppia-android-scale-type-2">
                        <p class="oppia-scale-number">3K</p>
                        <p class="oppia-scale-line">|</p>
                      </div>
                    </span>
                  </td>
                </tr>

                <tr>
                  <th scope="row"><span> Brazil </span></th>
                  <td style="--size: 1.0;"><span class="data"> more than 3K users </span></td>
                </tr>
                <tr>
                  <th scope="row"><span> Pakistan </span></th>
                  <td style="--size: 0.46;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> Angola </span></th>
                  <td style="--size: 0.39;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> Kenya </span></th>
                  <td style="--size: 0.27;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> Cameroon </span></th>
                  <td style="--size: 0.18;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> Mozambique </span></th>
                  <td style="--size: 0.1;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> India </span></th>
                  <td style="--size: 0.1;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> Nigeria </span></th>
                  <td style="--size: 0.09;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> Indonesia </span></th>
                  <td style="--size: 0.09;"><span class="data"></span></td>
                </tr>
                <tr>
                  <th scope="row"><span> Tanzania </span></th>
                  <td style="--size: 0.08;"><span class="data"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="oppia-about-impact-section-buttons">
      <div class="oppia-about-impact-section-button-container">
        <p class="oppia-about-section-subtext-new oppia-about-impact-buttons-content">
          {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_REPORT_BUTTON_SUBTEXT' | translate }}
        </p>
        <div>
          <oppia-primary-button
            buttonHref="https://drive.google.com/file/d/1uRe145ou9Ka5O2duTB-N-i89NVPEtxh1/view"
            [customClasses]="['oppia-about-impact-button']"
            buttonText="{{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_REPORT_BUTTON_TEXT' | translate }}">
          </oppia-primary-button>
        </div>
      </div>
      <div class="oppia-about-impact-section-button-container">
        <p class="oppia-about-section-subtext-new oppia-about-impact-buttons-content">
          {{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_UPDATES_BUTTON_SUBTEXT' | translate }}
        </p>
        <div>
          <oppia-primary-button
            buttonHref="https://lookerstudio.google.com/u/0/reporting/dbc21029-2acd-44e7-aa46-504647c295fb/page/p_rq5cam1g8c"
            [customClasses]="['oppia-about-impact-button']"
            buttonText="{{ 'I18N_ABOUT_PAGE_IMPACT_SECTION_UPDATES_BUTTON_TEXT' | translate }}">
          </oppia-primary-button>
        </div>
      </div>
    </div>
  </div>

  <div class="oppia-about-page-section-four oppia-about-section">
    <div class="oppia-section-four oppia-about-fixed-section">
      <h2 class="oppia-about-learn-title-mobile oppia-about-section-title-mobile" [innerHTML]="'I18N_ABOUT_PAGE_LEARN_FROM' | translate"></h2>
      <div class="oppia-about-image-right">
        <picture class="oppia-about-lesson-image">
          <source type="image/webp" [srcset]="getStaticImageUrl('/about/fraction_lesson.webp')">
          <source type="image/png" [srcset]="getStaticImageUrl('/about/fraction_lesson.png')">
          <img [src]="getStaticImageUrl('/about/fraction_lesson.png')" class="oppia-about-lesson-image" alt="lesson image">
        </picture>
      </div>
      <div class="oppia-about-content-left">
        <h2 class="oppia-about-learn-title oppia-about-section-title oppia-about-title-mobile-display-none" [innerHTML]="'I18N_ABOUT_PAGE_LEARN_FROM' | translate"></h2>
        <p class="oppia-about-learn-content oppia-about-section-content" [innerHTML]="'I18N_ABOUT_PAGE_LEARN_FROM_CONTENT' | translate"></p>
        <div class="oppia-about-classroom-button-container">
          <oppia-primary-button class="e2e-test-about-page-visit-classroom-button"
                  buttonHref="/learn/math"
                  (onClickPrimaryButton)="onClickVisitClassroomButton()"
                  [customClasses]="['oppia-about-button', 'oppia-about-button-browse']"
                  buttonText="{{ 'I18N_ACTION_VISIT_CLASSROOM' | translate }}">
          </oppia-primary-button>
        </div>
      </div>
    </div>
  </div>
  <div class="oppia-about-page-section-five oppia-about-section">
    <div class="oppia-section-five oppia-about-fixed-section">
      <h2 class="oppia-about-explore-lesson-title-mobile oppia-about-section-title-mobile" [innerHTML]="'I18N_ABOUT_PAGE_EXPLORE_LESSONS' | translate"></h2>
      <div class="oppia-about-image-right">
        <picture class="oppia-about-library-image">
          <source type="image/webp" [srcset]="getStaticImageUrl('/about/library_layout.webp')">
          <source type="image/png" [srcset]="getStaticImageUrl('/about/library_layout.png')">
          <img [src]="getStaticImageUrl('/about/library_layout.png')" alt="library image">
        </picture>
      </div>
      <div class="oppia-about-content-left">
        <h2 class="oppia-about-explore-lesson-title oppia-about-section-title oppia-about-title-mobile-display-none" [innerHTML]="'I18N_ABOUT_PAGE_EXPLORE_LESSONS' | translate"></h2>
        <p class="oppia-about-explore-lesson-content oppia-about-section-content" [innerHTML]="'I18N_ABOUT_PAGE_EXPLORE_LESSONS_CONTENT' | translate"></p>
        <div class="oppia-about-classroom-button-container">
          <oppia-primary-button class="e2e-test-about-page-browse-library-button"
                  buttonHref="/community-library"
                  (onClickPrimaryButton)="onClickBrowseLibraryButton()"
                  [customClasses]="['oppia-about-button', 'oppia-about-button-browse']"
                  buttonText="{{ 'I18N_ACTION_BROWSE_LIBRARY' | translate }}">
          </oppia-primary-button>
        </div>
      </div>
    </div>
  </div>
  <div class="oppia-about-page-section-six oppia-about-section">
    <div class="oppia-section-six oppia-about-fixed-section">
      <h2 class="oppia-about-outcome-title-mobile oppia-about-section-title-mobile" [innerHTML]="'I18N_ABOUT_PAGE_EASILY_CREATE_LESSON' | translate"></h2>
      <div class="oppia-about-section-six-image-left">
        <picture class="oppia-about-book-image">
          <source type="image/webp" [srcset]="getStaticImageUrl('/about/books_dsk.webp')">
          <source type="image/png" [srcset]="getStaticImageUrl('/about/books_dsk.png')">
          <img [src]="getStaticImageUrl('/about/books_dsk.png')" alt="book image">
        </picture>
      </div>
      <div class="oppia-about-section-six-right">
        <h2 class="oppia-about-outcome-title oppia-about-section-title oppia-about-title-mobile-display-none" [innerHTML]="'I18N_ABOUT_PAGE_EASILY_CREATE_LESSON' | translate"></h2>
        <p class="oppia-about-outcome-content oppia-about-section-content" [innerHTML]="'I18N_ABOUT_PAGE_CREATE_LESSON_CONTENT' | translate"></p>
        <div class="oppia-about-classroom-button-container">
          <oppia-primary-button class="e2e-test-about-page-create-lessons-button"
                  buttonHref="/creator-dashboard?mode=create"
                  (onClickPrimaryButton)="onClickCreateLessonButton()"
                  [customClasses]="['oppia-about-button', 'oppia-about-button-browse']"
                  buttonText="{{ 'I18N_ACTION_CREATE_LESSON_BUTTON' | translate }}">
          </oppia-primary-button>
        </div>
      </div>
    </div>
  </div>
  <div class="oppia-about-page-section-seven oppia-about-section">
    <h2 class="oppia-get-started-title oppia-about-section-title" [innerHTML]="'I18N_ABOUT_PAGE_SECTION_SEVEN_TITLE' | translate"></h2>
    <div class="oppia-about-classroom-button-container-one">
      <oppia-primary-button class="e2e-test-about-page-explore-lessons-button"
              buttonHref="/learn/math"
              (onClickPrimaryButton)="onClickVisitClassroomButton()"
              [customClasses]="['oppia-about-button', 'oppia-about-button-browse']"
              buttonText="{{ 'I18N_ACTION_EXPLORE_LESSONS' | translate}} ">
      </oppia-primary-button>
    </div>
  </div>
</div>
