/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/
.oppia-about-section {
  background-color: #fff;
  clear: both;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}
.oppia-about-fixed-section {
  justify-content: center;
  width: 1440px;
}
.oppia-about-page-section-one {
  background-color: #f4f4f4;
  height: auto;
  overflow: hidden;
  padding-top: 0;
}
.oppia-about-page-section-two {
  height: auto;
  padding-bottom: 5vh;
  width: 100%;
}
.oppia-about-page-section-three {
  background-color: #00645c;
  display: flex;
  height: auto;
  padding: 6.5vh 2vw 10vh 0;
}
.oppia-about-page-section-four {
  background-image: url(/assets/images/about/background_dsk_1.svg);
  background-size: 100% 100%;
  padding: 6.5vh 2vw 10vh 0;
}
.oppia-about-page-section-five {
  height: auto;
  padding: 6.5vh 2vw 10vh 0;
}
.oppia-about-page-section-six {
  background-image: url(/assets/images/about/background_dsk_2.svg);
  background-size: 100% 100%;
  padding: 6.5vh 2vw 10vh 0;
}
.oppia-about-page-section-seven {
  flex-direction: column;
  height: auto;
  padding: 6.5vh 0 5vw 0;
  text-align: center;
}
.oppia-about-page-section-one,
.oppia-about-page-section-three,
.oppia-about-page-section-four,
.oppia-about-page-section-five,
.oppia-about-page-section-six {
  text-align: left;
}
.about-page .oppia-about-section-title {
  color: #00424a;
  font-family: "Capriola", Arial, sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  width: 30vw;
}
.about-page .oppia-about-section-content {
  color: #333;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 5vh;
  padding-top: 4vh;
  width: 35vw;
}
.about-page .oppia-about-image-right {
  float: right;
  margin-left: auto;
  margin-right: 2vw;
  padding-left: 4vw;
  text-align: center;
  width: 50%;
}
.about-page .oppia-about-content-left {
  padding-left: 4vw;
}
.about-page .oppia-about-section-title-mobile {
  display: none;
}
.about-page .oppia-about-button {
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-left: 0;
  margin-top: -20px;
  max-width: 90%;
  min-width: 250px;
  padding: 10px;
  text-transform: none;
  width: 220px;
}
.oppia-about-page-section-one-right {
  float: right;
  height: 60vh;
  width: 50%;
}
.oppia-about-page-section-one .oppia-about-page-section-one-left {
  float: right;
  width: 635px;
}
.oppia-about-page-section-one .oppia-about-title {
  font-size: 45px;
  padding-top: 8vh;
}
.oppia-about-page-section-one .oppia-about-content {
  font-size: 23px;
  font-weight: 400;
  padding-right: 4vw;
}
.oppia-about-page-section-one .oppia-about-study-image img {
  height: 60vh;
}
.oppia-about-page-section-two .oppia-section-two-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.oppia-about-page-section-two .oppia-about-title {
  padding-top: 6.5vh;
  text-align: center;
}
.oppia-about-page-section-two .oppia-about-content {
  text-align: center;
  width: 768px;
}
.oppia-about-page-section-two .oppia-about-icons {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  text-align: center;
}
.oppia-about-page-section-two .oppia-about-feature-description-container {
  width: 20%;
}
.oppia-about-page-section-two .oppia-about-feature-text {
  padding: 2vh 4vw 0 4vw;
}
.oppia-about-page-section-three .oppia-about-graph-image img {
  background-color: #fff;
  height: auto;
  width: 100%;
}
.oppia-about-page-section-four-left {
  width: 45vw;
}
.oppia-about-page-section-four .oppia-about-lesson-image img,
.oppia-about-page-section-five .oppia-about-library-image img {
  border: 4px solid #f9f9f9;
  border-radius: 5px;
  width: 100%;
}
.oppia-about-section-six-right {
  float: right;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 50%;
}
.oppia-about-page-section-six .oppia-about-book-image img {
  float: left;
  height: auto;
  padding-left: 4vw;
  width: 45%;
}
.oppia-about-page-section-seven .oppia-get-started-title {
  padding-bottom: 5vh;
  width: 100%;
}
.oppia-about-page-section-seven .oppia-about-button {
  display: inline-block;
  width: 510px;
}
@media (max-width: 1440px) and (min-width: 1280px) {
  .oppia-about-page-section-one-left {
    padding-left: 2vw;
  }
}
@media (max-width: 1280px) {
  .about-page .oppia-about-section-title {
    font-size: 30px;
    width: 40vw;
  }
  .about-page .oppia-about-section-content {
    font-size: 20px;
    padding-top: 3vh;
    width: 45vw;
  }
  .oppia-about-page-section-one .oppia-about-page-section-one-right,
  .oppia-about-page-section-one .oppia-about-study-image img,
  .oppia-about-page-section-one .oppia-about-page-section-one-left {
    height: 50vh;
  }
  .oppia-about-page-section-two {
    padding-bottom: 0;
  }
  .oppia-about-page-section-three,
  .oppia-about-page-section-five {
    padding-bottom: 7vh;
  }
  .oppia-about-page-section-one .oppia-about-page-section-one-left {
    float: left;
    padding-left: 4vw;
    width: 50%;
  }
  .oppia-about-page-section-one .oppia-about-title {
    padding-top: 4vh;
  }
  .oppia-about-page-section-one .oppia-about-content {
    padding-right: 0;
  }
  .oppia-about-page-section-two .oppia-about-section-two-top {
    display: flex;
  }
  .oppia-about-page-section-two .oppia-section-two-content {
    align-items: baseline;
    min-width: unset;
    width: 50%;
  }
  .oppia-about-page-section-two .oppia-about-fixed-section {
    justify-content: normal;
    width: 100%;
  }
  .oppia-about-page-section-two .oppia-about-title {
    padding-left: 4vw;
    text-align: left;
  }
  .oppia-about-page-section-one .oppia-about-section-content {
    width: 40vw;
  }
  .oppia-about-page-section-two .oppia-about-content {
    padding: 3vh 0 0 4vw;
    text-align: left;
  }
  .oppia-about-page-section-two .oppia-about-icons {
    flex-direction: column;
    padding: 6.5vh 4vw;
  }
  .oppia-about-page-section-two .oppia-about-features-container {
    flex-direction: column;
    margin-left: 0;
    padding-bottom: 3vh;
    width: 350px;
  }
  .oppia-about-page-section-two .oppia-about-feature-description-container {
    display: flex;
    width: 100%;
  }
  .oppia-about-page-section-two .oppia-about-feature-text {
    padding: 2vh 0 2vh 4vw;
    text-align: left;
    width: 350px;
  }
  .oppia-feature-icon {
    padding: 1vh 0;
  }
  .oppia-about-section-three-right {
    margin-right: 2vw;
  }
  .oppia-about-page-section-seven .oppia-get-started-title {
    width: 100%;
  }
}
@media (orientation: landscape) and (max-width: 971px) {
  .oppia-about-page-section-one,
  .oppia-about-page-section-one .oppia-about-study-image img,
  .oppia-about-page-section-one .oppia-about-page-section-one-right {
    height: 50vh;
  }
}
@media (orientation: landscape) and (max-width: 862px) {
  .oppia-about-page-section-one,
  .oppia-about-page-section-one .oppia-about-study-image img,
  .oppia-about-page-section-one .oppia-about-page-section-one-right {
    height: 50vh;
  }
  .oppia-about-page-section-three,
  .oppia-about-page-section-five {
    padding-right: 4vw;
    padding-top: 10vh;
  }
  .about-page .oppia-about-page-section-six {
    padding-top: 10vh;
  }
  .about-page .oppia-about-page-section-four {
    padding-right: 4vw;
    padding-top: 10vh;
  }
  .about-page .oppia-about-section-title {
    font-size: 25px;
  }
  .about-page .oppia-about-button {
    padding: 6px;
  }
  .about-page .oppia-about-section-content {
    font-size: 17px;
    padding-bottom: 8vh;
  }
  .oppia-about-page-section-one .oppia-about-content {
    padding-bottom: 5vh;
  }
  .oppia-about-page-section-one .oppia-about-title {
    padding-top: 10vh;
  }
  .oppia-about-page-section-six .oppia-about-book-image img {
    max-height: 50vh;
  }
  .oppia-about-page-section-seven .oppia-get-started-title,
  .oppia-about-page-section-seven .oppia-about-classroom-button-container-one {
    padding-bottom: 8vh;
    width: 100%;
  }
}
@media (orientation: landscape) and (max-width: 740px) {
  .oppia-about-page-section-one,
  .oppia-about-page-section-one .oppia-about-study-image img {
    height: 90vh;
  }
  .oppia-about-page-section-two .oppia-section-two-content {
    padding-left: 4vw;
  }
}
@media (min-width: 768px) {
  .oppia-about-button-browse {
    left: calc(50% - 200px);
  }
}
@media (min-width: 575px) {
  .oppia-about-button {
    left: calc(130px + 15%);
  }
}
@media (max-width: 640px) {
  .about-page .oppia-about-page-section-one {
    height: auto;
    overflow: hidden;
  }
  .about-page .oppia-about-page-section-three,
  .about-page .oppia-about-page-section-two,
  .about-page .oppia-about-page-section-five {
    padding: 5vh 10vw;
  }
  .about-page .oppia-about-page-section-four {
    background-image: url(/assets/images/about/background_mobile_1.svg);
    background-size: 100% 100%;
    padding: 5vh 10vw;
    padding-bottom: 7vh;
    width: 100%;
  }
  .about-page .oppia-about-page-section-six {
    background-image: url(/assets/images/about/background_mobile_2.svg);
    background-size: 100% 100%;
    padding: 5vh 10vw;
    width: 100%;
  }
  .about-page .oppia-about-section-title-mobile {
    color: #00424a;
    display: block;
    font-family: "Capriola", Arial, sans-serif;
    font-size: 25px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 3vh;
    text-align: left;
    width: 100%;
  }
  .about-page .oppia-about-section-content {
    font-size: 16px;
    margin: 0;
    padding-bottom: 3.5vh;
    padding-top: 3vh;
    text-align: left;
    width: 100%;
  }
  .about-page .oppia-about-button-container {
    margin-left: 10vw;
    margin-right: auto;
    max-width: 500px;
    padding-top: 4vw;
    position: relative;
    transform: translate(0, 10px);
    width: 100%;
    z-index: 10;
  }
  .about-page .oppia-about-button {
    padding: 1vh 1vw;
    width: 350px;
  }
  .about-page .oppia-about-image-right {
    float: unset;
    padding-bottom: 0;
    padding-left: 0;
    text-align: left;
    width: 100%;
  }
  .about-page .oppia-about-title-mobile-display-none {
    display: none;
  }
  .oppia-about-page-section-one .oppia-about-study-image {
    float: none;
  }
  .oppia-about-page-section-one .oppia-about-page-section-one-right,
  .oppia-about-page-section-one .oppia-about-study-image img {
    height: auto;
    width: 100%;
  }
  .oppia-about-page-section-one .oppia-about-page-section-one-left {
    display: inline-block;
    height: unset;
    padding: 5vh 10vw 0 10vw;
    text-align: left;
    width: 100%;
  }
  .oppia-about-page-section-one .oppia-about-title {
    font-size: 25px;
    padding-top: 0;
    width: 100%;
  }
  .oppia-about-page-section-one .oppia-about-button-container {
    margin: 0;
    padding-bottom: 5vh;
  }
  .oppia-about-page-section-one .oppia-about-content {
    font-size: 18px;
  }
  .oppia-about-page-section-two .oppia-section-two-content {
    width: 100%;
  }
  .oppia-about-page-section-two .oppia-about-title {
    font-size: 25px;
    padding: 0;
    width: 100%;
  }
  .oppia-about-page-section-two .oppia-about-content {
    padding-left: 0;
  }
  .oppia-about-page-section-two .oppia-about-section-two-top {
    flex-direction: column;
  }
  .oppia-about-page-section-two .oppia-about-icons {
    padding: 0;
  }
  .about-page .oppia-oppia-about-icons {
    display: inline-block;
    max-height: fit-content;
    padding: 0;
  }
  .oppia-about-page-section-two .oppia-about-features-container {
    display: flex;
    margin: 0;
    width: 100%;
  }
  .about-page .oppia-about-content-left,
  .oppia-about-section-six-right {
    padding-left: 0;
  }
  .oppia-about-page-section-four .oppia-section-four,
  .oppia-about-page-section-five .oppia-section-five,
  .oppia-about-page-section-six .oppia-section-six {
    width: 100%;
  }
  .oppia-about-page-section-four .oppia-about-classroom-button-container {
    align-content: center;
    margin: 0;
    text-align: left;
    width: 100%;
  }
  .oppia-about-page-section-five .oppia-about-classroom-button-container,
  .oppia-about-section-six-right .oppia-about-classroom-button-container {
    align-content: center;
    margin: 0;
    padding-top: 2vh;
    text-align: left;
    width: 100%;
  }
  .oppia-about-page-section-six .oppia-about-book-image img,
  .about-page .oppia-about-image-right img {
    text-align: center;
    width: 480px;
  }
  .oppia-about-page-section-four .oppia-about-learn-content {
    padding: 3vh 0 6vh 0;
  }
  .oppia-about-page-section-four .oppia-about-learn-title-mobile {
    margin-right: 2vw;
  }
  .oppia-about-page-section-six .oppia-about-section-six-image-left {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .oppia-about-page-section-six .oppia-about-book-image img {
    height: auto;
    padding-left: 0;
  }
  .oppia-about-page-section-six .oppia-about-section-six-right {
    margin-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .oppia-about-page-section-five .oppia-about-classroom-button-container {
    background-color: #fff;
  }
  .oppia-about-page-section-seven .oppia-get-started-title {
    font-size: 25px;
    margin: 0;
    margin-left: 0;
    padding: 3vh 10vw 5vh 10vw;
    text-align: center;
    width: 100%;
  }
  .oppia-about-page-section-seven .oppia-about-button {
    margin: 0;
  }
}
@media (orientation: landscape) and (max-width: 640px) {
  .oppia-about-page-section-four .oppia-about-learn-content,
  .oppia-about-page-section-five .oppia-about-explore-lesson-content,
  .oppia-about-section-six-right .oppia-about-outcome-content,
  .oppia-about-page-section-seven .oppia-get-started-title {
    padding-bottom: 10vh;
  }
}
