/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/
.oppia-about-section {
  background-color: #fff;
  clear: both;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}
.oppia-about-fixed-section {
  justify-content: center;
  width: 1440px;
}
.oppia-about-page-section-one {
  background-color: #f4f4f4;
  height: auto;
  overflow: hidden;
  padding-top: 0;
}
.oppia-about-page-section-two {
  height: auto;
  padding-bottom: 5vh;
  width: 100%;
}
.oppia-about-page-section-three {
  background-color: #00645c;
  display: flex;
  height: auto;
  padding: 6.5vh 2vw 10vh 0;
}
.oppia-about-page-section-four {
  background-image: url(/assets/images/about/background_dsk_1.svg);
  background-size: 100% 100%;
  padding: 6.5vh 2vw 10vh 0;
}
.oppia-about-page-section-five {
  height: auto;
  padding: 6.5vh 2vw 10vh 0;
}
.oppia-about-page-section-six {
  background-image: url(/assets/images/about/background_dsk_2.svg);
  background-size: 100% 100%;
  padding: 6.5vh 2vw 10vh 0;
}
.oppia-about-page-section-seven {
  flex-direction: column;
  height: auto;
  padding: 6.5vh 0 5vw 0;
  text-align: center;
}
.oppia-about-page-section-one,
.oppia-about-page-section-three,
.oppia-about-page-section-four,
.oppia-about-page-section-five,
.oppia-about-page-section-six {
  text-align: left;
}
.about-page .oppia-about-section-title {
  color: #00424a;
  font-family: "Capriola", Arial, sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  width: 30vw;
}
.about-page .oppia-about-section-content {
  color: #333;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 5vh;
  padding-top: 4vh;
  width: 35vw;
}
.about-page .oppia-about-image-right {
  float: right;
  margin-left: auto;
  margin-right: 2vw;
  padding-left: 4vw;
  text-align: center;
  width: 50%;
}
.about-page .oppia-about-content-left {
  padding-left: 4vw;
}
.about-page .oppia-about-section-title-mobile {
  display: none;
}
.about-page .oppia-about-button {
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-left: 0;
  margin-top: -20px;
  max-width: 90%;
  min-width: 250px;
  padding: 10px;
  text-transform: none;
  width: 220px;
}
.oppia-about-page-section-one-right {
  float: right;
  height: 60vh;
  width: 50%;
}
.oppia-about-page-section-one .oppia-about-page-section-one-left {
  float: right;
  width: 635px;
}
.oppia-about-page-section-one .oppia-about-title {
  font-size: 45px;
  padding-top: 8vh;
}
.oppia-about-page-section-one .oppia-about-content {
  font-size: 23px;
  font-weight: 400;
  padding-right: 4vw;
}
.oppia-about-page-section-one .oppia-about-study-image img {
  height: 60vh;
}
.oppia-about-page-section-three .oppia-about-graph-image img {
  background-color: #fff;
  height: auto;
  width: 100%;
}
.oppia-about-page-section-four-left {
  width: 45vw;
}
.oppia-about-page-section-four .oppia-about-lesson-image img,
.oppia-about-page-section-five .oppia-about-library-image img {
  border: 4px solid #f9f9f9;
  border-radius: 5px;
  width: 100%;
}
.oppia-about-section-six-right {
  float: right;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 50%;
}
.oppia-about-page-section-six .oppia-about-book-image img {
  float: left;
  height: auto;
  padding-left: 4vw;
  width: 45%;
}
.oppia-about-page-section-seven .oppia-get-started-title {
  padding-bottom: 5vh;
  width: 100%;
}
.oppia-about-page-section-seven .oppia-about-button {
  display: inline-block;
  width: 510px;
}
.about-page .oppia-about-title-new {
  color: #00645c;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 3rem;
  line-height: 3.6rem;
  margin-bottom: 0;
}

.about-page .oppia-about-subtitle {
  color: #717171;
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  font-size: 2rem;
  line-height: 25px;
  margin-bottom: 8px;
  margin-left: 32px;
}

.about-page .oppia-about-platform-subtext {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 21.6px;
}

.about-page .oppia-about-platform-button {
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  height: 44px;
  letter-spacing: normal;
  margin: 0;
  padding: 10px;
  width: 252px;
}

.about-page .oppia-about-secondary-button {
  background-color: #fff;
  border: 1px solid #00645c;
  color: #00645c;
  line-height: 0.6px;
}

.about-page .oppia-about-secondary-button:hover,
.about-page .oppia-about-secondary-button:focus {
  border-width: 2px;
}

.about-page .oppia-about-secondary-button:active {
  background-color: #f5f5f5;
}

.about-page .oppia-about-platform-section {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  gap: 68px;
  justify-content: start;
  padding: 64px;
}

.about-page .oppia-about-platform-section-right {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.about-page .oppia-about-platform-content {
  margin: 32px 0 40px;
}

.about-page .oppia-about-platform-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.about-page .oppia-about-platform-section-left {
  display: flex;
  flex-direction: column;
  padding: 40px 0 0;
  width: 31%;
}

.about-page .oppia-about-features-container-new {
  height: 100%;
}

.oppia-about-features-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.feature-title {
  background-color: #eee;
  border-radius: 5px;
  height: calc((100% - 12px) / 4);
  padding: 12px 16px 12px 28px;
}

.free-of-cost-title,
.free-of-cost-title .mat-icon {
  background-color: #00645c;
  color: #fff;
  font-weight: 700;
}

.feature-panel {
  background-color: #eee;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  gap: 40px;
  justify-content: start;
  line-height: 21.6px;
  padding: 12px 16px 20px 28px;
}

.free-of-cost-panel,
.free-of-cost-panel button, 
.free-of-cost-panel .mat-icon {
  background-color: #00645c;
  color: #fff;
}

.about-page  .oppia-about-non-desktop-content {
  display: none;
}

.about-page .oppia-about-desktop-accordion-container {
  height: 100%;
}

@media only screen and (max-width: 941px) {
  .about-page  .oppia-about-non-desktop-content {
    display: block;
  }
  .about-page  .oppia-about-desktop-content {
    display: none;
  }
  .about-page .oppia-about-subtitle {
    margin-left: 0;
  }
  .about-page .oppia-about-platform-section {
    flex-direction: column-reverse;
    gap: 56px;
    padding: 48px;
  }
  .about-page .oppia-about-platform-section-right {
    width: 100%;
  }
  .about-page .oppia-about-platform-content {
    margin: 16px 0 32px;
  }
  .about-page .oppia-about-platform-section-left {
    padding: 0;
    width: 100%;
  }
  .about-page .oppia-about-features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
  .about-page .oppia-about-accordion-item {
    display: flex;
    height: 100%;
    width: calc((100% - 16px) / 2);
  }

  .about-page .oppia-about-accordion-title-container > button {
    padding: 0;
  }

  .about-page .oppia-about-accordion-item button,
  .about-page .oppia-about-accordion-item button:active,
  .about-page .oppia-about-accordion-item button:hover {
    border: none;
    outline: none;
  }

  .about-page .oppia-about-accordion-title-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 100%;
  }

  .about-page .oppia-about-accordion-item p {
    margin: 0;
  }
  
  .about-page .oppia-about-accordion-panel-title {
    font-weight: 700;
  }

  .about-page .feature-title {
    padding: 10px 20px;
  }

  .about-page .feature-panel {
    gap: 24px;
    padding: 10px 20px 8px;
  }

  .about-page .feature-panel.free-of-cost-panel {
    padding-bottom: 27px;
  }
}

@media only screen and (max-width: 769px) {
  .about-page .oppia-about-title-new {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .about-page .oppia-about-platform-subtext {
    font-size: 16px;
    line-height: 19.2px;
  }
}
@media only screen and (max-width: 641px) {
  
  .about-page .oppia-about-platform-section {
    gap: 48px;
    padding: 40px;
  }
  .about-page .oppia-about-platform-content {
    margin: 16px 0 24px;
  }
  .about-page .oppia-about-features-list {
    column-gap: 8px;
    row-gap: 16px;
  }
  .about-page .feature-panel.free-of-cost-panel {
    padding-bottom: 46px;
  }
}
@media only screen and (max-width: 361px) {
  .about-page .oppia-about-platform-section {
    gap: 40px;
    padding: 28px 20px;
  }
  .about-page .oppia-about-platform-content {
    margin: 16px 0 32px;
  }
  .about-page .oppia-about-platform-button-container {
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  .about-page .oppia-about-features-list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .about-page .oppia-about-accordion-item {
    width: 100%;
  }
}

@media (max-width: 1440px) and (min-width: 1280px) {
  .oppia-about-page-section-one-left {
    padding-left: 2vw;
  }
}
@media (max-width: 1280px) {
  .about-page .oppia-about-section-title {
    font-size: 30px;
    width: 40vw;
  }
  .about-page .oppia-about-section-content {
    font-size: 20px;
    padding-top: 3vh;
    width: 45vw;
  }
  .oppia-about-page-section-one .oppia-about-page-section-one-right,
  .oppia-about-page-section-one .oppia-about-study-image img,
  .oppia-about-page-section-one .oppia-about-page-section-one-left {
    height: 50vh;
  }
  .oppia-about-page-section-three,
  .oppia-about-page-section-five {
    padding-bottom: 7vh;
  }
  .oppia-about-page-section-one .oppia-about-page-section-one-left {
    float: left;
    padding-left: 4vw;
    width: 50%;
  }
  .oppia-about-page-section-one .oppia-about-title {
    padding-top: 4vh;
  }
  .oppia-about-page-section-one .oppia-about-content {
    padding-right: 0;
  }
  .oppia-about-page-section-one .oppia-about-section-content {
    width: 40vw;
  }
  .oppia-about-section-three-right {
    margin-right: 2vw;
  }
  .oppia-about-page-section-seven .oppia-get-started-title {
    width: 100%;
  }
}
@media (orientation: landscape) and (max-width: 971px) {
  .oppia-about-page-section-one,
  .oppia-about-page-section-one .oppia-about-study-image img,
  .oppia-about-page-section-one .oppia-about-page-section-one-right {
    height: 50vh;
  }
}
@media (orientation: landscape) and (max-width: 862px) {
  .oppia-about-page-section-one,
  .oppia-about-page-section-one .oppia-about-study-image img,
  .oppia-about-page-section-one .oppia-about-page-section-one-right {
    height: 50vh;
  }
  .oppia-about-page-section-three,
  .oppia-about-page-section-five {
    padding-right: 4vw;
    padding-top: 10vh;
  }
  .about-page .oppia-about-page-section-six {
    padding-top: 10vh;
  }
  .about-page .oppia-about-page-section-four {
    padding-right: 4vw;
    padding-top: 10vh;
  }
  .about-page .oppia-about-section-title {
    font-size: 25px;
  }
  .about-page .oppia-about-button {
    padding: 6px;
  }
  .about-page .oppia-about-section-content {
    font-size: 17px;
    padding-bottom: 8vh;
  }
  .oppia-about-page-section-one .oppia-about-content {
    padding-bottom: 5vh;
  }
  .oppia-about-page-section-one .oppia-about-title {
    padding-top: 10vh;
  }
  .oppia-about-page-section-six .oppia-about-book-image img {
    max-height: 50vh;
  }
  .oppia-about-page-section-seven .oppia-get-started-title,
  .oppia-about-page-section-seven .oppia-about-classroom-button-container-one {
    padding-bottom: 8vh;
    width: 100%;
  }
}
@media (orientation: landscape) and (max-width: 740px) {
  .oppia-about-page-section-one,
  .oppia-about-page-section-one .oppia-about-study-image img {
    height: 90vh;
  }
}
@media (min-width: 768px) {
  .oppia-about-button-browse {
    left: calc(50% - 200px);
  }
}
@media (min-width: 575px) {
  .oppia-about-button {
    left: calc(130px + 15%);
  }
}
@media (max-width: 640px) {
  .about-page .oppia-about-page-section-one {
    height: auto;
    overflow: hidden;
  }
  .about-page .oppia-about-page-section-three,
  .about-page .oppia-about-page-section-five {
    padding: 5vh 10vw;
  }
  .about-page .oppia-about-page-section-four {
    background-image: url(/assets/images/about/background_mobile_1.svg);
    background-size: 100% 100%;
    padding: 5vh 10vw;
    padding-bottom: 7vh;
    width: 100%;
  }
  .about-page .oppia-about-page-section-six {
    background-image: url(/assets/images/about/background_mobile_2.svg);
    background-size: 100% 100%;
    padding: 5vh 10vw;
    width: 100%;
  }
  .about-page .oppia-about-section-title-mobile {
    color: #00424a;
    display: block;
    font-family: "Capriola", Arial, sans-serif;
    font-size: 25px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 3vh;
    text-align: left;
    width: 100%;
  }
  .about-page .oppia-about-section-content {
    font-size: 16px;
    margin: 0;
    padding-bottom: 3.5vh;
    padding-top: 3vh;
    text-align: left;
    width: 100%;
  }
  .about-page .oppia-about-button-container {
    margin-left: 10vw;
    margin-right: auto;
    max-width: 500px;
    padding-top: 4vw;
    position: relative;
    transform: translate(0, 10px);
    width: 100%;
    z-index: 10;
  }
  .about-page .oppia-about-button {
    padding: 1vh 1vw;
    width: 350px;
  }
  .about-page .oppia-about-image-right {
    float: unset;
    padding-bottom: 0;
    padding-left: 0;
    text-align: left;
    width: 100%;
  }
  .about-page .oppia-about-title-mobile-display-none {
    display: none;
  }
  .oppia-about-page-section-one .oppia-about-study-image {
    float: none;
  }
  .oppia-about-page-section-one .oppia-about-page-section-one-right,
  .oppia-about-page-section-one .oppia-about-study-image img {
    height: auto;
    width: 100%;
  }
  .oppia-about-page-section-one .oppia-about-page-section-one-left {
    display: inline-block;
    height: unset;
    padding: 5vh 10vw 0 10vw;
    text-align: left;
    width: 100%;
  }
  .oppia-about-page-section-one .oppia-about-title {
    font-size: 25px;
    padding-top: 0;
    width: 100%;
  }
  .oppia-about-page-section-one .oppia-about-button-container {
    margin: 0;
    padding-bottom: 5vh;
  }
  .oppia-about-page-section-one .oppia-about-content {
    font-size: 18px;
  }
  .about-page .oppia-about-content-left,
  .oppia-about-section-six-right {
    padding-left: 0;
  }
  .oppia-about-page-section-four .oppia-section-four,
  .oppia-about-page-section-five .oppia-section-five,
  .oppia-about-page-section-six .oppia-section-six {
    width: 100%;
  }
  .oppia-about-page-section-four .oppia-about-classroom-button-container {
    align-content: center;
    margin: 0;
    text-align: left;
    width: 100%;
  }
  .oppia-about-page-section-five .oppia-about-classroom-button-container,
  .oppia-about-section-six-right .oppia-about-classroom-button-container {
    align-content: center;
    margin: 0;
    padding-top: 2vh;
    text-align: left;
    width: 100%;
  }
  .oppia-about-page-section-six .oppia-about-book-image img,
  .about-page .oppia-about-image-right img {
    text-align: center;
    width: 480px;
  }
  .oppia-about-page-section-four .oppia-about-learn-content {
    padding: 3vh 0 6vh 0;
  }
  .oppia-about-page-section-four .oppia-about-learn-title-mobile {
    margin-right: 2vw;
  }
  .oppia-about-page-section-six .oppia-about-section-six-image-left {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .oppia-about-page-section-six .oppia-about-book-image img {
    height: auto;
    padding-left: 0;
  }
  .oppia-about-page-section-six .oppia-about-section-six-right {
    margin-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .oppia-about-page-section-five .oppia-about-classroom-button-container {
    background-color: #fff;
  }
  .oppia-about-page-section-seven .oppia-get-started-title {
    font-size: 25px;
    margin: 0;
    margin-left: 0;
    padding: 3vh 10vw 5vh 10vw;
    text-align: center;
    width: 100%;
  }
  .oppia-about-page-section-seven .oppia-about-button {
    margin: 0;
  }
}
@media (orientation: landscape) and (max-width: 640px) {
  .oppia-about-page-section-four .oppia-about-learn-content,
  .oppia-about-page-section-five .oppia-about-explore-lesson-content,
  .oppia-about-section-six-right .oppia-about-outcome-content,
  .oppia-about-page-section-seven .oppia-get-started-title {
    padding-bottom: 10vh;
  }
}
