<div *ngIf="subtopicTitle" class="nav navbar-nav oppia-navbar-breadcrumb oppia-subtopic-viewer-nav-breadcrumb">
  <div class="oppia-subtopic-viewer-nav-separator"></div>
  <div class="oppia-subtopic-viewer-nav-labels-container">
    <p class="oppia-subtopic-title-text">
      <span *ngIf="!isHackySubtopicTitleTranslationDisplayed()" title="{{ subtopicTitle }}">
        {{ subtopicTitle }}
      </span>
      <span *ngIf="isHackySubtopicTitleTranslationDisplayed()" title="{{ subtopicTitleTranslationKey | translate }}">
        {{ subtopicTitleTranslationKey | translate }}
      </span>
    </p>
    <a class="topic-name oppia-topic-name-text" [href]="getTopicUrl()">
      <span *ngIf="!isHackyTopicNameTranslationDisplayed()">
        {{ topicName }}
      </span>
      <span *ngIf="isHackyTopicNameTranslationDisplayed()">
        {{ topicNameTranslationKey | translate }}
      </span>
    </a>
  </div>
</div>
