.click-hexbin-chart {
  position: relative;
  width: 100%;
  z-index: 0;
}
.click-hexbin-chart-tooltip {
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  max-width: 200px;
  padding: 3px 8px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  z-index: 1070;
}

