/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/
/*
  Note that adding "overflow-y: scroll;" will break infinite scrolling in the
  search results page.
*/
.oppia-content-container {
  height: 100%;
  left: 0;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.oppia-base-content-pre-logo-container {
  align-items: center;
  display: flex;
  float: left;
  height: 56px;
  transform: translateX(50%);
  width: 20px;
}
.navbar-mobile-container {
  bottom: 0;
  display: block;
  position: fixed;
  right: 0;
  text-align: right;
  width: 100%;
  z-index: 999;
}
.navbar-mobile-options {
  background-color: #e6e6e6;
  border-top: 1px solid #000;
}

@media screen and (min-width: 769px) {
  .show-mobile-navbar-icon {
    display: none;
  }
}

.show-mobile-navbar-icon {
  background-color: #e6e6e6;
  border-left: 1.5px solid #000;
  border-radius: 10px 0;
  border-top: 1.5px solid #000;
  color: #000;
  font-size: 25px;
  padding: 10px;
}
.oppia-cookie-banner-container {
  background: rgb(0, 0, 0, 0.9);
  bottom: 0;
  color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
  padding: 24px 0;
  position: fixed;
  width: 100%;
  z-index: 2000;
}
.oppia-cookie-banner-explanation a {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}
.oppia-cookie-banner-container .oppia-cookie-banner-explanation /deep/ a {
  color: #aed2e9;
}

.oppia-cookie-banner-container .oppia-cookie-banner {
  margin: auto;
  width: 704px;
}

.oppia-cookie-banner-container .oppia-cookie-banner-accept-button {
  background-color: #00609c;
  color: #fff;
  display: block;
  float: right;
  text-transform: uppercase;
  width: 168px;
}

@media (max-width: 1024px) {
  .oppia-cookie-banner-container .oppia-cookie-banner {
    width: 80vw;
  }
}

@media (max-width: 500px) {
  .oppia-cookie-banner-container .oppia-cookie-banner {
    padding: 15px 24px 0 24px;
    width: 90vw;
  }
  .oppia-cookie-banner-container .oppia-cookie-banner-accept-button {
    float: none;
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  .navbar-options-display {
    display: flex !important;
  }
}
