<meta charset="UTF-8">
<meta name="referrer" content="no-referrer">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
<meta name="description" content="Learn any subject through free and interactive lessons in easy-to-follow language. Oppia provides a step-by-step learning process to master any skills you want.">
<meta itemprop="name" content="<%= htmlWebpackPlugin.options.meta.name %>">
<meta itemprop="description" content="<%= htmlWebpackPlugin.options.meta.description %>">
<!-- The og tags are for Facebook sharing. -->
<meta property="og:title" content="<%= htmlWebpackPlugin.options.meta.name %>">
<meta property="og:type" content="article">
<meta property="og:site_name" content="Oppia">
<meta property="og:description" content="<%= htmlWebpackPlugin.options.meta.description %>">

<link rel="apple-touch-icon" href="/assets/images/logo/favicon.png">
<title itemprop="name"><%= title %></title>
@load('pages/header_css_libs.html')
@load('pages/header_js_libs.html')
