/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/
.oppia-footer-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 30px 80px;
  text-align: left;
}

.oppia-footer-container a {
  color: #fff;
}

.oppia-footer-container h3 {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  margin: 1.33em 0;
  text-transform: uppercase;
}

.oppia-footer-container ul {
  padding-left: 0;
}

.oppia-footer-container li {
  list-style-position: inside;
  list-style-type: none;
}

@media (max-width: 768px) {
  .oppia-footer-container {
    padding: 30px;
  }
}
