.content-image-container {
  display: flex;
  flex-wrap: wrap;
}
.content-image-container > div {
  flex-grow: 1;
}
.thanks-watch-video-btn {
  background-color: #00645c;
  border-radius: 4px;
  color: #fff;
  margin: 10px auto;
  width: 100%;
}
.thanks-read-blog-btn {
  border: 1px solid #00645c;
  border-radius: 4px;
  color: #00645c;
  margin: 10px auto;
  width: 100%;
}
.thanks-subscribe-header {
  margin-bottom: 40px;
  margin-left: 15px;
  margin-top: 75px;
}
.thanks-paragraph {
  margin-bottom: 30px;
  margin-left: 15px;
}
@media (max-width: 991px) {
  .watch-video-btn,
  .read-blog-btn {
    flex-shrink: 1;
  }
  .btn-container {
    display: flex;
    margin-bottom: 1.5rem;
  }
  .content-image-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .col-w-full {
    max-width: 100%;
  }
}
