.oppia-learner-dashboard-suggestion-body .oppia-no-current-state {
    color: red;
  }
  .oppia-learner-dashboard-suggestion-body .oppia-dashboard-suggestin-description-text {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }
