/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

.oppia-invite-learners {
  display: grid;
  grid-gap: 20px;
}

.oppia-invite-learners .oppia-search-bar-text-input {
  margin-top: 15px;
  max-width: 560px;
}

.oppia-invite-learners .oppia-search-bar-text-input.input-invalid {
  border-color: #c30000;
}

.oppia-invite-learners .oppia-search-bar-text-input.input-invalid:focus {
  box-shadow: 0 0 0 0.25rem rgb(195, 0, 0, 0.25);
}

.oppia-invite-learners .oppia-search-bar-error-message {
  color: #c30000;
  font-size: 12px;
  margin-top: 5px;
}

.oppia-invite-learners .oppia-search-bar-input-field-container {
  display: flex;
  gap: 20px;
}

.oppia-invite-learners .oppia-search-bar-button {
  align-items: center;
  background: #27635c;
  color: #fff;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  height: 36px;
  margin-top: 14px;
  max-width: fit-content;
  padding: 12px 24px;
  width: 44%;
}

.oppia-invite-learners .invited-learners-inner-container {
  background: rgba(39, 99, 92, 0.05);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 180px;
  overflow: auto;
  padding: 20px;
}

.oppia-invite-learners .oppia-learner-group-invite-search-title {
  color: #00645c;
}

.oppia-invite-learners .invited-learners-title {
  font-size: 14px;
}

.oppia-invite-learners .invited-learner-card {
  background: #fff;
  border: 1px solid #27635c;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  height: 46px;
  padding: 10px;
  width: max-content;
}

.oppia-invite-learners .invited-learner-card .close-button {
  align-items: center;
  display: grid;
}

.oppia-invite-learners .oppia-no-learners-invited {
  color: #9e9e9e;
  font-size: 14px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .oppia-invite-learners .oppia-search-bar-button {
    height: 46px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 620px) {
  .oppia-invite-learners .oppia-search-bar-button .invite-learner-button-text {
    display: none;
  }
}
