<div class="skill-editor">
  <div class="skill-editor-content" *ngIf="hasLoadedSkill()">
    <div class="skill-editor-components-container">
      <p class="topic-dashboard-link">
        <a href="/topics-and-skills-dashboard">
          Back to Topics Dashboard <i class="fa fa-angle-left"></i>
        </a>
        <span>{{ skill?.getDescription() }}</span>
      </p>
      <oppia-skill-concept-card-editor></oppia-skill-concept-card-editor>
      <oppia-skill-misconceptions-editor></oppia-skill-misconceptions-editor>
      <oppia-skill-prerequisite-skills-editor></oppia-skill-prerequisite-skills-editor>
      <oppia-skill-rubrics-editor></oppia-skill-rubrics-editor>
    </div>
    <div class="skill-editor-info-container">
      <mat-card class="oppia-editor-card-section skill-editor-status">
        <strong class="status-heading">
          Status
        </strong>
        <div class="status-box">
          <strong class="status-key">
            Topic:
          </strong>
          <select *ngIf="getAssignedSkillTopicData()"
                  class="form-control"
                  [(ngModel)]="topicName"
                  (change)="changeSelectedTopic(topicName)"
                  [disabled]="!isTopicDropdownEnabled()">
            <option *ngFor="let topic of getAssignedSkillTopicData() | keyvalue" [value]="topic.key">
              {{topic.key}}
            </option>
          </select>
        </div>
        <div class="status-box" *ngIf="isTopicDropdownEnabled()">
          <strong class="status-key">
            Subtopic:
          </strong>
          <span *ngIf="getSubtopicName()" class="status-value">
            {{ getSubtopicName() }}
          </span>
          <span *ngIf="!getSubtopicName()" class="status-value">
            Unassigned
          </span>
        </div>
      </mat-card>
      <mat-card class="skill-editor-helper-box">
        <div class="skill-details-container">
          <div class="misconception-count">
            <span class="count-value" *ngIf="!hasLoadedSkill()">
              <loading-dots></loading-dots>
            </span>
            <div class="count-value" *ngIf="hasLoadedSkill()">
              {{ skill?.getMisconceptions().length }}
            </div>
            <div class="count-text">Misconceptions</div>
          </div>
          <div class="example-count">
            <span class="count-value" *ngIf="!hasLoadedSkill()">
              <loading-dots></loading-dots>
            </span>
            <div class="count-value" *ngIf="hasLoadedSkill()">
              {{ skill?.getConceptCard().getWorkedExamples().length }}
            </div>
            <div class="count-text">Worked Examples</div>
          </div>
          <div class="create-question oppia-autofocus"
               (click)="createQuestion()"
               [oppiaFocusOn]="newQuestionBtn">
            <i class="fa fa-plus-circle"></i>
            <div class="count-text create-text e2e-test-create-question">Create New Question</div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<style>
  .skill-editor .skill-editor-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skill-editor .skill-editor-components-container {
    margin-right: 2%;
    width: 40%;
  }

  .skill-editor .skill-editor-info-container {
    margin-top: 4%;
    width: 31%;
  }

  .skill-editor .status-heading {
    font-size: 22px
  }

  .skill-editor .status-key {
    font-size: 18px
  }

  .skill-editor .status-box {
    margin: 12px 0;
  }

  .skill-editor .status-value {
    font-size: 18px;
  }

  .skill-editor .topic-dashboard-link {
    font-size: 15px;
    margin-bottom: 5%;
    margin-left: -24%;
    margin-top: 3%;
  }

  .skill-editor .topic-dashboard-link a {
    color: #015f9c;
    text-decoration: none;
  }

  .skill-editor .skill-details-container {
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
  }

  .skill-editor .misconception-count,
  .skill-editor .example-count,
  .skill-editor .create-question {
    border-right: 2px solid #707070;
    display: inline-block;
    width: 33%;
  }

  .skill-editor .count-value {
    font-size: 24px;
    font-weight: bold;
  }

  .skill-editor .count-text {
    font-size: 15px;
  }

  .skill-editor .create-question {
    border-right: none;
    cursor: pointer;
  }

  .skill-editor .create-question i {
    color: #0b6c63;
    font-size: 30px;
  }

  .skill-editor .create-text {
    color: #0b6c63;
  }
  .skill-editor .skill-editor-status {
    margin: 30px auto 0;
    width: 97%;
  }
  .skill-editor .skill-editor-helper-box {
    align-items: center;
    background-color: #fff;
    border: 1px solid #aaaac1;
    border-radius: 6px;
    box-shadow: none;
    height: 110px;
    justify-content: center;
    margin: 30px auto 0;
    width: 97%;
  }
  .skill-editor .skill-editor-add-btn {
    font-weight: bold;
    margin: 10px 0;
  }

  @media screen and (max-width: 1250px) {
    .skill-editor .skill-editor-components-container {
      width: 50%;
    }
  }

  @media screen and (max-width: 1000px) {
    .skill-editor .skill-editor-components-container {
      margin-right: 0;
      width: 55%;
    }

    .skill-editor .skill-editor-info-container {
      width: 45%;
    }

    .skill-editor .misconception-count,
    .skill-editor .example-count,
    .skill-editor .create-question {
      height: 80px;
    }
  }

  @media screen and (max-width: 800px) {
    .skill-editor .skill-editor-components-container {
      width: 90%;
    }

    .skill-editor .skill-editor-info-container {
      margin-bottom: 15px;
      margin-top: -18px;
      width: 92%;
    }

    .skill-editor .misconception-count,
    .skill-editor .example-count,
    .skill-editor .create-question {
      height: auto;
    }
  }

  @media screen and (max-width: 500px) {
    .skill-editor .skill-editor-components-container {
      width: 100%;
    }

    .skill-editor .skill-editor-info-container {
      width: 100%;
    }

    skill-editor-main-tab .skill-editor {
      margin-top: 20px;
    }

    .skill-editor .misconception-count,
    .skill-editor .example-count,
    .skill-editor .create-question {
      height: 80px;
      width: 33%;
    }
  }
</style>
