// This is the sample environment file which is
// required to run e2e tests on Browserstack.
// To run the tests, create a new file,
// .browserstack.env, copy the contents of
// this file in it and then put in the
// actual browserstack credentials.

USERNAME={Browserstack username}
ACCESS_KEY={Browserstack access key}
