<!-- label-for-focus-target feature is removed since CKEditor has a
focusManager to manage the focus activity automatically. -->
<ck-editor-rte ng-if="!schemaBasedHtmlEditorCtrl.isDisabled()" ng-model="$parent.localValue"
               ui-config="schemaBasedHtmlEditorCtrl.uiConfig()">
</ck-editor-rte>

<span ng-if="schemaBasedHtmlEditorCtrl.isDisabled()"
      ng-class="{'oppia-disabled-contenteditable': schemaBasedHtmlEditorCtrl.isDisabled()}"
      ng-bind-html="schemaBasedHtmlEditorCtrl.localValue">
</span>
