<!-- If the current RTE is not TextAngular then render CKEditor as the RTE. -->
<ck-editor-rte ng-if="!isDisabled() && !isCurrentRTETextAngular()" ng-model="$parent.localValue"
               ui-config="uiConfig()" label-for-focus-target="labelForFocusTarget()">
</ck-editor-rte>

<!-- If the current RTE is TextAngular then render TextAngular as the RTE. -->
<text-angular-rte ng-if="!isDisabled() && isCurrentRTETextAngular()" html-content="$parent.localValue"
                  ui-config="uiConfig()" label-for-focus-target="labelForFocusTarget()">
</text-angular-rte>
<span ng-if="isDisabled()"
      ng-class="{'oppia-disabled-contenteditable': isDisabled()}"
      ng-bind-html="localValue">
</span>
