<div class="oppia-topic-viewer-container position-relative">
  <div class="oppia-topic-viewer-tabs-container position-relative" headroom>
    <div class="topic-viewer-tabs-list">
      <ul class="topic-viewer-tabs" [ngClass]="checkTabletView() ? 'pad-top-mobile': 'pad-top-desktop'">
        <li [ngClass]="{'topic-viewer-tabs-active': activeTab === 'story'}" tabindex="0" (keydown.enter)="setActiveTab('story')">
          <div class="topic-viewer-tabs-text" (click)="setActiveTab('story')">
            <img *ngIf="!checkTabletView()" alt="play story icon" class="tab-icon" [src]="getStaticImageUrl('/icons/play_icon_24px.svg')">
            <a class="tab-title"
               [innerHTML]="'I18N_TOPIC_VIEWER_LESSONS' | translate">
            </a>
          </div>
        </li>
        <li [ngClass]="{'topic-viewer-tabs-active': activeTab === 'practice'}" tabindex="0" (keydown.enter)="setActiveTab('practice')">
          <div class="topic-viewer-tabs-text" (click)="setActiveTab('practice')">
            <img *ngIf="!checkTabletView()" alt="practice icon" class="tab-icon" [src]="getStaticImageUrl('/icons/train_icon_24px.svg')">
            <a class="tab-title e2e-test-practice-tab-link"
               [innerHTML]="'I18N_TOPIC_VIEWER_PRACTICE' | translate">
            </a>
          </div>
        </li>
        <li [ngClass]="{'topic-viewer-tabs-active': activeTab === 'subtopics'}" tabindex="0" (keydown.enter)="setActiveTab('subtopics')">
          <div class="topic-viewer-tabs-text" (click)="setActiveTab('subtopics')">
            <img *ngIf="!checkTabletView()" alt="revision icon" class="tab-icon" [src]="getStaticImageUrl('/icons/review_icon_24px.svg')">
            <a class="tab-title e2e-test-revision-tab-link"
               [innerHTML]="'I18N_TOPIC_VIEWER_REVISION' | translate">
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <background-banner></background-banner>
  <div class="topic-viewer-page-content" *ngIf="!topicIsLoading">
    <div *ngIf="activeTab === 'story'">
      <stories-list *ngIf="canonicalStorySummaries.length"
                    [topicName]="topicName"
                    [topicId]="topicId"
                    [topicDescription]="topicDescription"
                    [canonicalStorySummaries]="canonicalStorySummaries"
                    [classroomUrlFragment]="classroomUrlFragment"
                    [topicUrlFragment]="topicUrlFragment">
      </stories-list>
      <mat-card dir="auto" *ngIf="!canonicalStorySummaries.length" class="oppia-page-card practice-tab-not-available-card">
        <h2 class="coming-soon-title" [innerHTML]="'I18N_TOPIC_VIEWER_COMING_SOON' | translate">
        </h2>
        <div class="coming-soon-text" [innerHTML]="'I18N_TOPIC_VIEWER_COMING_SOON_LESSONS' | translate">
        </div>
      </mat-card>
    </div>
    <div *ngIf="activeTab === 'practice'">
      <practice-tab *ngIf="practiceTabIsDisplayed && topicId"
                    [subtopicsList]="subtopics"
                    [topicName]="topicName"
                    [topicId]="topicId">
      </practice-tab>
      <mat-card dir="auto" *ngIf="!practiceTabIsDisplayed" class="oppia-page-card practice-tab-not-available-card">
        <h2 class="coming-soon-title" [innerHTML]="'I18N_TOPIC_VIEWER_COMING_SOON' | translate">
        </h2>
        <div class="coming-soon-text" [innerHTML]="'I18N_TOPIC_VIEWER_COMING_SOON_PRACTICE' | translate">
        </div>
      </mat-card>
    </div>
    <div *ngIf="activeTab === 'subtopics'">
      <subtopics-list [classroomUrlFragment]="classroomUrlFragment"
                      [subtopicsList]="subtopics"
                      [topicId]="topicId"
                      [topicUrlFragment]="topicUrlFragment"
                      [topicName]="topicName">
      </subtopics-list>
    </div>
  </div>
</div>
