<mat-card>
  <h3>Voiceovers</h3>

  <!-- ================= WARNINGS ================= -->
  <div *ngIf="voiceoversAreLoaded && !voiceoverAdminConfigIsLoading">

  <ng-container *ngIf="unsupportedLanguageCode; else checkContent">

    <div class="unsupported-language-warning">
      <i>
        Voiceover functionality for this language is not yet supported in Oppia.
        Please contact a server admin if you would like it to be added.
      </i>
    </div>

  </ng-container>

  <ng-template #checkContent>
    <ng-container *ngIf="!contentAvailableForVoiceovers; else checkTranslation">

      <div class="content-unavailable-warning">
        <i>
          No content is available for voiceover in the selected language.
        </i>
      </div>

    </ng-container>
  </ng-template>

  <ng-template #checkTranslation>
    <ng-container *ngIf="doesTranslationForActiveContentNeedsUpdate()">

      <div class="content-unavailable-warning">
        <i>
          The translation for this content is outdated. Please update the translation before updating the voiceovers.
        </i>
      </div>

    </ng-container>
  </ng-template>

</div>

  <!-- ================= MAIN UI ================= -->
  <div *ngIf="voiceoversAreLoaded 
              && !unsupportedLanguageCode 
              && contentAvailableForVoiceovers 
              && !doesTranslationForActiveContentNeedsUpdate()
              && !voiceoverAdminConfigIsLoading">

    <!-- ================= MANUAL VOICEOVER ================= -->
    <div class="manual-voiceovers">
      <h4 class="voiceover-type-heading">Manual Voiceover</h4>

      <div class="voiceovers-component" *ngIf="manualVoiceover">
        <button class="btn btn-secondary audio-button e2e-test-play-voiceover-button"
                [attr.aria-label]="isManualVoiceoverPlaying ? 'Pause recorded audio' : 'Play recorded audio'"
                (click)="playAndPauseVoiceover(manualVoiceover.filename, 'manual')">

          <mat-icon *ngIf="!isManualVoiceoverPlaying && !manualVoiceoverIsLoading" matTooltip="Play" class="e2e-test-play">
            play_arrow
          </mat-icon>

          <mat-icon *ngIf="isManualVoiceoverPlaying && !manualVoiceoverIsLoading" matTooltip="Pause" class="e2e-test-pause">
            pause_arrow
          </mat-icon>

          <mat-spinner class="mx-auto" [diameter]="30" *ngIf="manualVoiceoverIsLoading"></mat-spinner>
        </button>

        <mat-progress-bar mode="determinate"
                          [value]="manualVoiceoverProgress"
                          class="voiceover-progress e2e-test-voiceover-progress-bar">
        </mat-progress-bar>

        <span class="voiceover-timer">
          {{roundedManualVoiceoverCurrentDuration | formatTime}} /
          {{manualVoiceoverTotalDuration | formatTime}}
        </span>
      </div>

      <!-- Add Button -->
      <div class="add-voiceover-button-container" *ngIf="!manualVoiceover">
        <button (click)="addManualVoiceover()"
                class="add-manual-voiceover-button e2e-test-voiceover-upload-audio"
                [disabled]="!contentAvailableForVoiceovers || doesTranslationForActiveContentNeedsUpdate()">
          <mat-icon>attach_file</mat-icon>
          ADD MANUAL VOICEOVER
        </button>
      </div>
    </div>

    <!-- ================= AUTOMATIC VOICEOVER ================= -->
    <div class="automatic-voiceovers" *ngIf="isAutomaticVoiceoverRegenerationFromExpFeatureEnabled()">

      <h4 class="voiceover-type-heading">Automatic Voiceover (generated using Azure)</h4>

      <!-- Generate Button -->
      <div class="add-voiceover-button-container" *ngIf="!automaticVoiceover">
        <button (click)="generateVoiceover()"
                class="add-automatic-voiceover-button e2e-test-regenerate-voiceover"
                [disabled]="!contentAvailableForVoiceovers || doesTranslationForActiveContentNeedsUpdate()">
          <mat-icon>sync</mat-icon>
          GENERATE AUTOMATIC VOICEOVER
        </button>
      </div>

      <!-- Failed case -->
      <div class="automatic-voiceover-enable-instruction"
           *ngIf="automaticVoiceoverGenerationStatus === 'FAILED'">
        <span>
          Automatic voiceover regeneration for this content has failed.
          Please contact voiceover admin for more details, or try regenerating
          the voiceover manually.
        </span>
      </div>

    </div>

  </div>

  <!-- ================= LOADING ================= -->
  <div *ngIf="!voiceoversAreLoaded || voiceoverAdminConfigIsLoading">
    <p>Loading...</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

</mat-card>

<style>
  .voiceover-action-buttons {
    display: flex;
    margin-left: 10px;
  }
  .voiceover-type-heading {
    font-weight: bold;
    margin: 2%;
  }
  .rotating {
    animation: rotate 2s linear infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .automatic-voiceover-enable-instruction {
    color: #d14836;
    margin: 0 4%;
  }
  .warning-icon {
    margin-bottom: 4px;
  }
  .needs-update-button-icon {
    background-color: #e9b330;
    border: none;
    border-radius: 20px;
    color: #fff;
    height: 40px;
    width: 40px;
  }
  .does-not-needs-update-button-icon {
    background-color: #009688;
    border: none;
    border-radius: 20px;
    color: #fff;
    height: 40px;
    width: 40px;
  }
  .language-accent-selector {
    width: 350px;
  }
  .voiceover-timer {
    text-align: center;
  }
  .audio-button {
    background-color: #009688;
    border-radius: 20px;
    color: #fff;
    margin: 10px;
  }
  .audio-button-space {
    background-color: transparent;
    border-radius: 20px;
    color: transparent;
    margin: 10px;
    visibility: hidden;
  }
  .voiceover-progress {
    margin: 10px;
    width: 50%;
  }
  .voiceover-progress-loading {
    margin: 10px;
    margin-left: 10%;
    width: 50%;
  }
  .voiceovers-component {
    align-items: center;
    background: #e8e7e3;
    border-radius: 10px;
    display: flex;
    height: 50px;
    margin: 0 4%;
  }
  .add-voiceover-button-container {
    align-items: center;
    color: #009688;
    display: flex;
    margin: 0 4%;
    text-align: center;
  }
  .add-manual-voiceover-button {
    background: #e8e7e3;
    border: 0;
    border-radius: 10px;
    color: #009688;
    height: 50px;
    width: 100%;
  }
  .add-manual-voiceover-button:disabled {
    color: #a1c5c3;
  }
  .add-automatic-voiceover-button {
    background: #e8e7e3;
    border: 0;
    border-radius: 10px;
    color: #009688;
    height: 50px;
    width: 100%;
  }
  .add-automatic-voiceover-button:disabled {
    color: #a1c5c3;
  }
  .delete-manual-voiceover-icon {
    background-color: #d14836;
    border: none;
    border-radius: 20px;
    color: #fff;
    height: 40px;
    width: 40px;
  }
  .regenerate-voiceover-button {
    background-color: #009688;
    border: none;
    border-radius: 20px;
    color: #fff;
    height: 40px;
    width: 40px;
  }
  .regenerate-voiceover-button:disabled {
    background-color: #a1c5c3;
  }
  .stale-manual-voiceover-warning {
    color: #d14836;
    margin: 0 4%;
  }
  .unsupported-language-warning {
    color: #d14836;
    margin: 0 2%;
  }
  .content-unavailable-warning {
    color: #d14836;
    margin: 0 2%;
  }
  .automatic-voiceover-disable-reason {
    color: #d14836;
    margin: 0 4%;
  }
</style>
