@media screen and (min-width: 600px) and (max-width: 768px) {
  .navbar-container .collapse.d-lg-inline-flex.navbar-collapse.oppia-navbar-collapse.ng-cloak.navbar-options-display nav-options {
    display: none !important;
  }
}
  
mobile-nav-options oppia-topic-editor-navbar ul.oppia-navbar-desktop.nav.navbar-nav.oppina-navbar-nav.float-right {
  display: none !important;
}
  