.oppia-icon {
    width: 3.5em;
  }
  .oppia-icon .oppia-material-icons {
    font-size: 1.4em;
    margin-left: 0.3vw;
  }
  .oppia-topic-nav-mobile {
    display: none;
  }
  .oppia-navbar-dropdown-menu {
    margin-right: 5px;
    margin-top: 8px;
  }
  .oppia-change-count {
    margin-left: 2px;
    opacity: 0.5;
  }
  .oppia-dropdown-toggle-button {
    height: 34px;
    margin-left: 5px !important;

  }
  .oppia-dropdown-menu {
    left: auto;
    min-width: 125px;
    right: 0;
  }
  .oppia-editor-publish-button-container {
    margin-right: 20px;
    margin-top: 8px;
  }
  .oppia-topic-editor-save-icon {
    padding-left: 5px;
  }

  @media screen and (max-width: 991px) {
    .oppia-editor-publish-button-container {
      margin-right: 10px;
      margin-top: 8px;
    }
    .oppia-navbar-desktop {
      flex-direction: row;
      width: 170px;
    }
  }

  @media screen and (max-width: 768px) {
    .oppia-navbar-desktop {
      display: none;
    }
    .oppia-topic-nav-mobile {
      display: block;
    }
    .oppia-topic-navbar-mobile-tabs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 10px 0;
    }
    .oppia-save-change-btn-container {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
    }
    .oppia-save-changes-btn {
      background-color: #008098;
      color: #fff;
      font-weight: bold;
      width: 80%;
    }
    .oppia-discard-changes-btn {
      background-color: #008098;
      bottom: 47px;
      color: #fff;
      font-weight: bold;
      left: 12px;
      position: absolute;
      width: 144px;
    }
    .oppia-btn-publish-topic {
      background-color: white;
      border: 2px solid #008098;
      color: #008098;
      font-weight: bold;
    }
    .oppia-arrow-up-container {
      align-items: center;
      background-color: #fff;
      border: 1px solid #808080;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      width: 20%;
    }
    .oppia-arrow-up-container i {
      color: #008098;
    }
    .oppia-publish-button-container {
      width: 40%;
    }
    .oppia-publish-button-container button {
      width: 100%;
    }
    .oppia-topic-nav-dropdown-container {
      position: relative;
      text-align: left;
      width: 45%;
    }
    .oppia-topic-nav-topic-nav-dropdown-options {
      background-color: #fff;
      border: 1px solid #000;
      bottom: 100%;
      position: absolute;
      width: 100%;
    }
    .oppia-topic-nav-dropdown-content {
      background-color: #fff;
      border: 1.5px solid #6d6969;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .oppia-right-container {
      background-color: #419889;
      color: #fff;
    }

    .oppia-topic-nav-dropdown-option {
      padding: 5px 0;
    }

    .oppia-topic-nav-dropdown-icon {
      align-items: center;
      background-color: #e6e6e6;
      border-left: 1.5px solid #6d6969;
      color: #000;
      display: flex;
      justify-content: center;
      text-align: center;
      width: 20%;
    }
    .oppia-topic-nav-dropdown-text {
      padding: 5px 10px;
    }
    .oppia-save-options-dropdown {
      width: 52%;
    }
    .oppia-warning-box {
      background-color: #f5f55a;
      border: 1px solid #000;
      bottom: 100%;
      position: absolute;
    }
    .oppia-error-icon {
      background-color: #f5f55a;
    }
    .fas {
      font-size: 0.8em;
      padding: 5px;
    }
  }
