<form #hybridForm="ngForm">
  <!-- Choices-based editor -->
  <schema-based-choices-editor *ngIf="schema['choices']"
                               [(ngModel)]="localValue"
                               [schema]="schema"
                               [choices]="schema.choices"
                               [disabled]="disabled"
                               (ngModelChange)="localValue = $event"
                               (blur)="onInputBlur()"
                               (focus)="onInputFocus()"
                               name="choicesEditor"
                               class="e2e-test-schema-based-editor">
  </schema-based-choices-editor>

  <!-- Boolean editor -->
  <schema-based-bool-editor *ngIf="schema.type === 'bool' && !schema['choices']"
                            [(ngModel)]="localValue"
                            [disabled]="disabled"
                            [labelForFocusTarget]="labelForFocusTarget"
                            (ngModelChange)="localValue = $event"
                            (blur)="onInputBlur()"
                            (focus)="onInputFocus()"
                            name="boolEditor"
                            class="e2e-test-schema-based-editor">
  </schema-based-bool-editor>

  <!-- Integer editor -->
  <schema-based-int-editor *ngIf="schema.type === 'int' && !schema.choices"
                           [(ngModel)]="localValue"
                           [disabled]="disabled"
                           [required]="!notRequired"
                           [validators]="schema.validators"
                           [labelForFocusTarget]="labelForFocusTarget"
                           (ngModelChange)="localValue = $event"
                           (inputBlur)="onInputBlur()"
                           (inputFocus)="onInputFocus()"
                           name="intEditor"
                           class="e2e-test-schema-based-editor">
  </schema-based-int-editor>

  <!-- Float editor -->
  <schema-based-float-editor *ngIf="schema.type === 'float' && !schema.choices"
                             [(ngModel)]="localValue"
                             [disabled]="disabled"
                             [validators]="schema.validators"
                             [uiConfig]="schema.ui_config"
                             [labelForFocusTarget]="labelForFocusTarget"
                             (ngModelChange)="localValue = $event"
                             (inputBlur)="onInputBlur()"
                             (inputFocus)="onInputFocus()"
                             name="floatEditor"
                             class="e2e-test-schema-based-editor">
  </schema-based-float-editor>

  <!-- Unicode/String editor -->
  <schema-based-unicode-editor *ngIf="schema.type === 'unicode' && !schema.choices"
                               [(ngModel)]="localValue"
                               [disabled]="disabled"
                               [validators]="schema.validators"
                               [uiConfig]="schema.ui_config"
                               [labelForFocusTarget]="labelForFocusTarget"
                               (ngModelChange)="localValue = $event"
                               (inputBlur)="onInputBlur()"
                               (inputFocus)="onInputFocus()"
                               name="unicodeEditor"
                               class="e2e-test-schema-based-editor">
  </schema-based-unicode-editor>

  <!-- HTML editor -->
  <schema-based-html-editor *ngIf="schema.type === 'html' && !schema.choices"
                            [(ngModel)]="localValue"
                            [disabled]="disabled"
                            [labelForFocusTarget]="labelForFocusTarget"
                            [uiConfig]="schema.ui_config"
                            (ngModelChange)="localValue = $event"
                            (blur)="onInputBlur()"
                            (focus)="onInputFocus()"
                            name="htmlEditor"
                            class="e2e-test-schema-based-editor">
  </schema-based-html-editor>

  <!-- List editor -->
  <schema-based-list-editor *ngIf="schema.type === 'list' && !schema['choices']"
                            [(ngModel)]="localValue"
                            [localValue]="localValue"
                            [disabled]="disabled"
                            [itemSchema]="schema.items"
                            [len]="schema.len"
                            [uiConfig]="schema.ui_config"
                            [validators]="schema.validators"
                            [labelForFocusTarget]="labelForFocusTarget"
                            (ngModelChange)="localValue = $event"
                            (blur)="onInputBlur()"
                            (focus)="onInputFocus()"
                            name="listEditor"
                            class="e2e-test-schema-based-editor">
  </schema-based-list-editor>

  <!-- Dictionary editor -->
  <schema-based-dict-editor *ngIf="schema.type === 'dict' && !schema['choices']"
                            [(ngModel)]="localValue"
                            [disabled]="disabled"
                            [propertySchemas]="schema.properties"
                            [labelForFocusTarget]="labelForFocusTarget"
                            (ngModelChange)="localValue = $event"
                            (blur)="onInputBlur()"
                            (focus)="onInputFocus()"
                            name="dictEditor"
                            class="e2e-test-schema-based-editor">
  </schema-based-dict-editor>

  <!-- Custom editor -->
  <schema-based-custom-editor *ngIf="schema.type === 'custom' && !schema['choices']"
                              [(ngModel)]="localValue"
                              [schema]="schema"
                              [disabled]="disabled"
                              (ngModelChange)="localValue = $event"
                              (blur)="onInputBlur()"
                              (focus)="onInputFocus()"
                              name="customEditor"
                              class="e2e-test-schema-based-editor">
  </schema-based-custom-editor>

</form>
