<style>
  .oppia-outcome-container {
    display: flex;
  }

  .oppia-confusing-outcome-warning-text {
    color: rgb(200, 0, 0);
    font-style: italic;
  }

  .oppia-nothing-text {
    color: #888;
  }

  .oppia-non-empty-feedback-text {
    word-wrap: break-word;
  }

  .oppia-prerequisite-skill-text {
    margin-top: 1em;
  }

  .oppia-correct-text {
    color: rgb(20, 180, 15);
  }

  .oppia-incorrect-text {
    color: rgb(243, 13, 13);
  }

  /* The value used for this breakpoint should be equal to */
  /* 'mobileBreakpoint' defined in outcome-editor.component.ts */
  @media screen and (max-width: 500px) {
    .oppia-outcome-heading {
      font-size: 18px;
    }
  }
</style>

<div *ngIf="!feedbackEditorIsOpen && displayFeedback"
     title="{{ isEditable ? 'Edit feedback' : '' }}"
     class="h-100">
  <div class="oppia-readonly-rule-tile e2e-test-edit-outcome-feedback-button"
       [ngClass]="{'oppia-editable-section': isEditable}">
    <div class="oppia-rule-preview oppia-transition-200">

    <!-- Mobile -->
      <div class="oppia-click-to-start-editing e2e-test-open-outcome-feedback-editor"
           *ngIf="onMobile && isEditable" (click)="openFeedbackEditorModal()">
        <i *ngIf="isEditable" class="material-icons oppia-editor-edit-icon float-right"
           title="Edit Feedback">&#xE254;
        </i>
      </div>

      <!-- Desktop -->
      <div class="oppia-click-to-start-editing e2e-test-open-outcome-feedback-editor"
           *ngIf="!onMobile && isEditable" (click)="openFeedbackEditor()">
        <i *ngIf="isEditable" tabindex="0" (keydown.enter)="openFeedbackEditor()"
           class="fas fa-pen oppia-editor-edit-icon float-right"
           title="Edit Feedback" type="button">
        </i>
      </div>

      <strong class="oppia-outcome-heading" tabindex="0">Oppia tells the learner...</strong>
      <div class="position-relative">
        <span *ngIf="isSelfLoopWithNoFeedback(outcome) && !areWarningsSuppressed">
          <span class="oppia-confusing-outcome-warning-text" tabindex="0">
            <i class="material-icons">&#xE002;</i>
            Please give Oppia something useful to say here.
          </span>
        </span>
        <span *ngIf="(outcome && !isSelfLoopWithNoFeedback(outcome) && !outcome.hasNonemptyFeedback()) || (isSelfLoopWithNoFeedback(outcome) && areWarningsSuppressed)"
              class="oppia-nothing-text">
          <em tabindex="0">Nothing</em>
        </span>
        <span *ngIf="outcome && outcome.hasNonemptyFeedback()" class="oppia-non-empty-feedback-text" tabindex="0">
          <oppia-rte-output-display class="oppia-rte-editor" [rteString]="outcome.feedback.html">
          </oppia-rte-output-display>
        </span>
      </div>
    </div>
    <!-- This is a dummy div created to mask the contents when hovored above outcome editor contents -->
    <div class="oppia-rule-preview-section-mask"></div>
  </div>
</div>

<div *ngIf="!onMobile && isEditable && feedbackEditorIsOpen">
  <form role="form"
        class="form-inline e2e-test-edit-outcome-feedback"
        name="editOutcomeForm.editFeedbackForm">
    <oppia-outcome-feedback-editor [outcome]="outcome">
    </oppia-outcome-feedback-editor>
  </form>

  <div *ngIf="isFeedbackLengthExceeded()" class="oppia-length-validation-error" tabindex="0">
    The feedback length is too long. Please use at most 500 characters.
  </div>

  <div class="oppia-rule-save-cancel-buttons">
    <div class="float-right">
      <button type="button"
              class="btn btn-secondary mr-2"
              (click)="cancelThisFeedbackEdit()">
        Cancel
      </button>
      <button type="button"
              class="btn btn-success e2e-test-save-outcome-feedback"
              [disabled]="invalidStateAfterFeedbackSave() || isFeedbackLengthExceeded()"
              (click)="saveThisFeedback(true)">
        Save Feedback
      </button>
    </div>

    <div class="oppia-clear"></div>
  </div>
</div>

<br *ngIf="displayFeedback">

<div *ngIf="!destinationEditorIsOpen && !isInQuestionMode()"
     class="h-100"
     title="{{ isEditable ? 'Change the destination card' : '' }}">
  <div class="oppia-readonly-rule-tile e2e-test-edit-outcome-dest-button"
       [ngClass]="{'oppia-editable-section': isEditable}">
    <div class="oppia-rule-preview oppia-transition-200">
      <div class="oppia-click-to-start-editing e2e-test-open-outcome-dest-editor"
           *ngIf="isEditable" (click)="openDestinationEditor()">
        <i *ngIf="isEditable" tabindex="0" class="fas fa-pen oppia-editor-edit-icon float-right"
           title="Edit Destination" (keydown.enter)="openDestinationEditor()">
        </i>
      </div>

      <div>
        <strong class="oppia-outcome-heading" *ngIf="displayFeedback" tabindex="0">And afterwards, directs the learner
        to ... </strong>
        <strong class="oppia-outcome-heading" *ngIf="!displayFeedback" tabindex="0">Oppia directs the learner to ... </strong>
        <span *ngIf="outcome && !isSelfLoop(outcome)" class="position-relative" tabindex="0">
          {{ outcome.dest }}
        </span>
        <span tabindex="0" *ngIf="isSelfLoop(outcome)" class="position-relative">
          <span *ngIf="!outcome.refresherExplorationId">(try again)</span>
          <span *ngIf="outcome.refresherExplorationId">
            (try again, with refresher exploration "{{ outcome.refresherExplorationId }}")
          </span>
        </span>
        <div tabindex="0" class="oppia-prerequisite-skill-text" *ngIf="outcome && outcome.missingPrerequisiteSkillId && canAddPrerequisiteSkill">
          <strong class="oppia-outcome-heading"> Attached prerequisite skill for the current state: </strong>
          {{ outcome.missingPrerequisiteSkillId }}
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isEditable && destinationEditorIsOpen && !isInQuestionMode()">
  <form role="form"
        class="form-inline e2e-test-edit-outcome-dest"
        name="editOutcomeForm.editDestForm"
        (submit)="saveThisDestination()">
    <oppia-outcome-destination-editor [outcome]="outcome"
                                      [outcomeHasFeedback]="displayFeedback"
                                      (addState)="addState($event)">
    </oppia-outcome-destination-editor>
  </form>

  <div class="oppia-rule-save-cancel-buttons">
    <div class="float-right">
      <button type="button"
              class="btn btn-secondary mr-2 e2e-test-cancel-outcome-dest"
              (click)="cancelThisDestinationEdit()">
        Cancel
      </button>
      <button type="button"
              class="btn btn-success e2e-test-save-outcome-dest"
              [disabled]="invalidStateAfterDestinationSave()"
              (click)="saveThisDestination()">
        Save Destination
      </button>
    </div>

    <div class="oppia-clear"></div>
  </div>
</div>

<div *ngIf="!destinationIfStuckEditorIsOpen && !isInQuestionMode() && outcome && shouldShowDestIfReallyStuck()"
     class="h-100"
     title="{{ isEditable ? 'Change the if stuck destination card' : '' }}">
  <div class="oppia-readonly-rule-tile protractor-test-edit-outcome-dest-if-stuck-button"
       [ngClass]="{'oppia-editable-section': isEditable}">
    <div class="oppia-rule-preview oppia-transition-200">
      <div class="oppia-click-to-start-editing protractor-test-open-outcome-dest-if-stuck-editor"
           *ngIf="isEditable" (click)="openDestinationIfStuckEditor()">
        <i *ngIf="isEditable" (keydown.enter)="openDestinationIfStuckEditor()" class="fas fa-pen oppia-editor-edit-icon float-right"
           title="Edit If Stuck Destination" tabindex="0">
        </i>
      </div>

      <div>
        <strong *ngIf="displayFeedback" tabindex="0">(Optional) If the learner is really stuck, direct them to ... </strong>
        <strong *ngIf="!displayFeedback" tabindex="0">(Optional) Oppia directs the stuck learner to ... </strong>
        <span tabindex="0" *ngIf="outcome && outcome.destIfReallyStuck !== null" class="position-relative">
          {{ outcome.destIfReallyStuck }}
        </span>
        <span tabindex="0" *ngIf="!outcome || outcome.destIfReallyStuck === null" class="position-relative">(none)</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isEditable && destinationIfStuckEditorIsOpen && !isInQuestionMode() && outcome">
  <form role="form"
        class="form-inline protractor-test-edit-outcome-dest-if-stuck"
        name="editOutcomeForm.editDestIfStuckForm"
        (submit)="saveThisIfStuckDestination()">
    <oppia-outcome-if-stuck-destination-editor [outcome]="outcome"
                                               (addState)="addState($event)">
    </oppia-outcome-if-stuck-destination-editor>
  </form>

  <div class="oppia-rule-save-cancel-buttons">
    <div class="float-right">
      <button type="button"
              class="btn btn-secondary mr-2 protractor-test-cancel-outcome-dest-if-stuck"
              (click)="cancelThisIfStuckDestinationEdit()">
        Cancel
      </button>
      <button type="button"
              class="btn btn-success protractor-test-save-outcome-dest-if-stuck"
              (click)="saveThisIfStuckDestination()">
        Save Destination
      </button>
    </div>

    <div class="oppia-clear"></div>
  </div>
</div>

<div class="oppia-correctness-label-editor" *ngIf="!isCurrentInteractionLinear()">
  <div *ngIf="!isEditable"
       title="{{ isEditable ? 'Edit correctness setting' : '' }}"
       class="h-100">
    <div class="oppia-readonly-rule-tile"
         [ngClass]="{'oppia-editable-section': isEditable}">
      <div class="oppia-rule-details-header">
        <div class="oppia-click-to-start-editing"
             *ngIf="isEditable" (click)="openCorrectnessLabelEditor()">
          <i *ngIf="isEditable" class="material-icons oppia-editor-edit-icon float-right"
             title="Edit Correctness setting">&#xE254;
          </i>
        </div>

        <strong class="oppia-outcome-heading">The answers falling under this group are
          <span *ngIf="outcome && outcome.labelledAsCorrect" class="oppia-correct-text">
            correct
          </span>
          <span *ngIf="outcome && !outcome.labelledAsCorrect" class="oppia-incorrect-text">
            incorrect
          </span>
        </strong>
      </div>
    </div>
  </div>

  <div class="oppia-outcome-container" *ngIf="isEditable">
    <div *ngIf="outcome">
      <input id="labelledAsCorrect"
             class="mr-2 e2e-test-editor-correctness-toggle"
             type="checkbox"
             [disabled]="isSelfLoop(savedOutcome)"
             [(ngModel)]="outcome.labelledAsCorrect"
             (change)="onChangeCorrectnessLabel()">
    </div>
    <strong class="oppia-outcome-heading"><label for="labelledAsCorrect">The answers in this group are correct</label></strong>
  </div>
</div>
