oppia-outcome-if-stuck-destination-editor .oppia-form-group {
  font-size: 1.1em;
}
oppia-outcome-if-stuck-destination-editor .dest-if-stuck-tooltip {
  cursor: pointer;
  float: right;
}
oppia-outcome-if-stuck-destination-editor .form-select.oppia-form-control {
  width: 200px;
}
oppia-outcome-if-stuck-destination-editor .oppia-form-error-text {
  font-size: 0.85em;
}
oppia-outcome-if-stuck-destination-editor .oppia-id-text {
  margin-top: 12px;
}
