oppia-outcome-destination-editor .oppia-form-inline {
  margin-bottom: 10px;
}
oppia-outcome-destination-editor .oppia-form-group {
  font-size: 1.1em;
}
oppia-outcome-destination-editor .form-select.oppia-form-control {
  width: 200px;
}
oppia-outcome-destination-editor .oppia-form-error-text {
  font-size: 0.85em;
}
oppia-outcome-destination-editor .oppia-id-text {
  margin-top: 12px;
}
oppia-outcome-destination-editor .oppia-prerequisite-explanation-text {
  font-size: 0.8em;
}
oppia-outcome-destination-editor .refresher-error-message {
  color: #f00;
  display: block;
  font-size: 0.8em;
}
