.oppia-form-inline {
    margin-bottom: 10px;
  }
  .oppia-form-group {
    font-size: 1.1em;
  }
  .form-select.oppia-form-control {
    width: 200px;
  }
  .oppia-form-error-text {
    font-size: 0.85em;
  }
  .oppia-id-text {
    margin-top: 12px;
  }
  .oppia-prerequisite-explanation-text {
    font-size: 0.8em;
  }
  .refresher-error-message {
    color: #f00;
    display: block;
    font-size: 0.8em;
  }
