oppia-outcome-editor .oppia-outcome-container {
  display: flex;
}

oppia-outcome-editor .oppia-confusing-outcome-warning-text {
  color: rgb(200, 0, 0);
  font-style: italic;
}

oppia-outcome-editor .oppia-nothing-text {
  color: #888;
}

oppia-outcome-editor .oppia-non-empty-feedback-text {
  word-wrap: break-word;
}

oppia-outcome-editor .oppia-prerequisite-skill-text {
  margin-top: 1em;
}

oppia-outcome-editor .oppia-correct-text {
  color: rgb(20, 180, 15);
}

oppia-outcome-editor .oppia-incorrect-text {
  color: rgb(243, 13, 13);
}

/* The value used for this breakpoint should be equal to */
/* 'mobileBreakpoint' defined in outcome-editor.component.ts */
@media screen and (max-width: 500px) {
  oppia-outcome-editor .oppia-outcome-heading {
    font-size: 18px;
  }
}
