.oppia-empty-solution-warning-icon {
    color: #827127;
  }
  .oppia-empty-solution-warning {
    background: #fff5c8;
    border: 0.0625rem solid #827127;
    border-radius: 0.25rem;
    color: #333;
    margin-top: 1rem;
    padding-left: 0.25rem;
  }
  .state-solution-header-container {
    padding: 0 20px 0 30px;
  }
  .state-solution-header {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px;
  }
  .oppia-exp-solution-card-header {
    font-size: 18px;
  }
  .state-solution-content-container {
    padding: 15px 30px;
  }
  .oppia-add-hint-button-container {
    margin: 10px 0;
  }
  @media screen and (max-width: 768px) {
    .oppia-editor-card-with-avatar {
      margin-top: 20px;
    }
    .state-solution-content-container {
      margin-top: 10px;
      padding: 15px 5px;
    }
    .state-solution-header-container {
      padding: 0;
    }
    .state-solution-header {
      padding: 0;
    }
    .state-solution-header i {
      display: block;
    }
  }
  @media screen and (max-width: 500px) {
    .oppia-editor-card-section {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
