oppia-state-solution-editor .oppia-empty-solution-warning-icon {
  color: #827127;
}
oppia-state-solution-editor .oppia-empty-solution-warning {
  background: #fff5c8;
  border: 0.0625rem solid #827127;
  border-radius: 0.25rem;
  color: #333;
  margin-top: 1rem;
  padding-left: 0.25rem;
}
oppia-state-solution-editor .state-solution-header-container {
  padding: 0 20px 0 30px;
}
oppia-state-solution-editor .state-solution-header {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0 15px;
}
oppia-state-solution-editor .oppia-exp-solution-card-header {
  font-size: 18px;
}
oppia-state-solution-editor .state-solution-content-container {
  padding: 15px 30px;
}
oppia-state-solution-editor .oppia-add-hint-button-container {
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  oppia-state-solution-editor .oppia-editor-card-with-avatar {
    margin-top: 20px;
  }
  oppia-state-solution-editor .state-solution-content-container {
    margin-top: 10px;
    padding: 15px 5px;
  }
  oppia-state-solution-editor .state-solution-header-container {
    padding: 0;
  }
  oppia-state-solution-editor .state-solution-header {
    padding: 0;
  }
  oppia-state-solution-editor .state-solution-header i {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  oppia-state-solution-editor .oppia-editor-card-section {
    padding-left: 10px;
    padding-right: 10px;
  }
}
