.multiple-choice-option-container {
  padding: 4px 0;
}

.multiple-choice-option {
  background: none;
  border: none;
  color: #0d48a1;
  direction: ltr;
  text-align: left;
}

.multiple-choice-radio-button-container {
  display: table-cell;
}

.multiple-choice-content-container {
  display: table-cell;
  padding-left: 12px;
  padding-right: 12px;
  vertical-align: top;
}

.multiple-choice-outer-radio-button {
  border: 2px solid #0d48a1;
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  margin-bottom: -1px;
  width: 16px;
}

.multiple-choice-option.selected .multiple-choice-inner-radio-button {
  background-color: #115fd4;
  border-radius: 50%;
  display: block;
  height: 8px;
  margin: 2px;
  width: 8px;
}

.multiple-choice-option:focus .multiple-choice-outer-radio-button {
  border-color: #115fd4;
}

/* Hover pseudo-class should only be used in desktops because it
 * breaks functionality on mobile.
 */
@media screen and (min-width: 800px) {
  .multiple-choice-option:hover {
    color: #115fd4;
  }

  .multiple-choice-option:hover .multiple-choice-inner-radio-button {
    background-color: #115fd4;
    border-radius: 50%;
    display: block;
    height: 8px;
    margin: 2px;
    width: 8px;
  }

  .multiple-choice-option:hover .multiple-choice-outer-radio-button {
    border-color: #115fd4;
  }
}
