<form autocomplete="off" [attr.disabled]="!isValid" role="form" class="form-horizontal">
  <!-- This ng-form is needed for submitting answer on hitting enter. -->
  <input type="text"
         name="answer"
         [(ngModel)]="answer"
         (ngModelChange)="answerValueChanged()"
         class="form-control"
         (keyup.enter)="submitAnswer()"
         [oppiaFocusOn]="labelForFocusTarget"
         [placeholder]="placeholder">

  <div class="oppia-form-error oppia-ratio-expression-input-error">
    {{ errorMessageI18nKey | translate: { termsCount: expectedNumberOfTerms } }}
  </div>
</form>

<style>
  .oppia-ratio-expression-input-error {
    margin-top: 10px;
  }

  .ng-invalid {
    border-color: red;
    outline-color: red;
  }
</style>
