<div #dropdown class="oppia-translation-language-selector-container e2e-test-language-selector">
  <div class="oppia-translation-language-selector-featured-tooltip">
    <span class="oppia-translation-language-selector-featured-tooltip-content e2e-test-language-selector-featured-explanation"
          *ngIf="explanationPopupShown"
          [ngStyle]="{'top': explanationPopupPxOffsetY + 'px'}">
      {{explanationPopupContent}}
    </span>
  </div>
  <div class="oppia-translation-language-selector-inner-container" (click)="toggleDropdown()" tabindex="0" (keydown.enter)="toggleDropdown()">
    <span class="oppia-language-selector-label e2e-test-language-selector-selected">
      {{languageSelection}}
    </span>
    <span class="fas fa-caret-down oppia-translation-language-selector-inner-container-arrow" [ngStyle]="{ 'transform': dropdownShown ? 'scaleY(-1)' : 'scaleY(1)' }">
    </span>
  </div>

  <div *ngIf="dropdownShown" class="oppia-translation-language-selector-dropdown-container e2e-test-language-selector-dropdown">
    <input #filterDiv type="text" class="oppia-translation-language-selector-filter-input"
           placeholder="Language"
           [(ngModel)]="optionsFilter"
           (input)="filterOptions()"
           autofocus>
    <div class="material-icons oppia-translation-language-selector-inner-container-arrow" (click)="toggleDropdown()">
      arrow_drop_down
    </div>

    <div class="oppia-translation-language-selector-dropdown-options-container">
      <div *ngIf="featuredLanguages.length > 0" class="e2e-test-featured-language-container">
        <div class="oppia-translation-language-selector-dropdown-label">Most needed</div>
        <div *ngFor="let featuredOption of featuredLanguages; index as i">
          <div class="oppia-translation-language-selector-dropdown-option e2e-test-featured-language"
               *ngIf="languageIdToDescription[featuredOption.languageCode]"
               tabindex="0"
               (click)="selectOption(featuredOption.languageCode)"
               (keydown.enter)="selectOption(featuredOption.languageCode)"
               [ngClass]="{'oppia-translation-language-selector-dropdown-option-selected' : featuredOption.languageCode === activeLanguageCode}">
            <span class="material-icons oppia-translation-language-selector-info-icon e2e-test-featured-language-tooltip"
                  *ngIf="featuredOption.explanation"
                  (mouseenter)="showExplanationPopup(i)"
                  (mouseleave)="hideExplanationPopup()">
              info
            </span>
            {{languageIdToDescription[featuredOption.languageCode]}}
          </div>
        </div>
      </div>

      <div class="oppia-translation-language-selector-dropdown-label">All languages</div>

      <div class="oppia-translation-language-selector-dropdown-option e2e-test-language-selector-option"
           *ngFor="let option of filteredOptions"
           (click)="selectOption(option.id)"
           (keydown.enter)="selectOption(option.id)"
           tabindex="0"
           [ngClass]="{'oppia-translation-language-selector-dropdown-option-selected' : option.id === activeLanguageCode}">
        {{option.description}}
      </div>
    </div>
  </div>
</div>

<style>
  .oppia-translation-language-selector-container {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    width: 100%;
  }

  .oppia-translation-language-selector-inner-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .oppia-translation-language-selector-inner-container-arrow {
    color: #009688;
    cursor: pointer;
    padding-top: 3px;
  }

  .oppia-translation-language-selector-dropdown-options-container {
    height: calc(100% - 26px);
    overflow-y: scroll;
  }

  .oppia-translation-language-selector-dropdown-container {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    height: 40vh;
    left: 0;
    padding: 8px 12px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .oppia-translation-language-selector-dropdown-container::-webkit-scrollbar {
    width: 7px;
  }
  .oppia-translation-language-selector-dropdown-container::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 3px #808080;
  }
  .oppia-translation-language-selector-dropdown-container::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 5px;
    transition: background 0.5s ease;
  }
  .oppia-translation-language-selector-dropdown-container::-webkit-scrollbar-thumb:hover {
    background: black;
  }

  .oppia-translation-language-selector-info-icon {
    color: rgb(183, 183, 183);
    margin-right: 4px;
  }

  .oppia-translation-language-selector-dropdown-label {
    color: #009688;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 8px;
  }

  .oppia-translation-language-selector-dropdown-option {
    color: rgb(104, 104, 104);
    cursor: pointer;
    display: flex;
    flex: 1;
    margin-left: 16px;
    padding: 8px;
  }

  .oppia-translation-language-selector-dropdown-option:hover {
    background-color: rgb(238, 238, 238);
  }

  .oppia-translation-language-selector-dropdown-option-selected {
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
  }

  .oppia-translation-language-selector-featured-tooltip {
    position: relative;
    z-index: 2;
  }

  .oppia-translation-language-selector-featured-tooltip .oppia-translation-language-selector-featured-tooltip-content {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    padding: 8px;
    position: absolute;
    right: 0;
    width: 250px;
    z-index: 1;
  }

  @media screen and (max-width: 700px) {
    .oppia-language-selector-label {
      font-size: 18px;
    }
  }

  .oppia-translation-language-selector-filter-input {
    border: none;
    outline: none;
    width: calc(100% - 32px);
  }
</style>
