<div [hidden]="!isGraphShown()" class="oppia-state-graph-animate-show">
  <div class="oppia-exp-graph-overview">
    <span class="oppia-exploration-overview-text">
      <strong tabindex="0">Exploration Overview</strong>
    </span>
    <div>
      <span *ngIf="!showCheckpointCountWarningSign()">&#11088;</span>
      <span ngbTooltip="{{checkpointCountWarning}}"
            placement="top-right"
            *ngIf="showCheckpointCountWarningSign()">
        <strong class="clickable">⚠️</strong>
      </span>
      <span [ngClass]="{'checkpoint-count-error': showCheckpointCountWarningSign()}" tabindex="0">
        {{ getCheckpointCount() }}
        <span *ngIf="getCheckpointCount() <= 1">
          Checkpoint
        </span>
        <span *ngIf="getCheckpointCount() > 1">
          Checkpoints
        </span>
      </span>
      <span ngbTooltip="Learners start at their last saved checkpoint when returning back from the lesson."
            placement="right-top"
            tabindex="0"
            class="clickable">
        <strong>&#x24D8;</strong>
      </span>
    </div>
    <mat-card class="oppia-state-graph-card">
      <div class="oppia-state-graph-container e2e-test-exploration-graph">
        <state-graph-visualization class="h-100"
                                   [currentStateId]="getActiveStateName()"
                                   (onClickFunction)="onClickStateInMinimap($event)"
                                   (onDeleteFunction)="deleteState($event)"
                                   (onMaximizeFunction)="openStateGraphModal()"
                                   [versionGraphData]="null"
                                   [maximize]="true"
                                   [allowPanning]="true"
                                   [centerAtCurrentState]="true"
                                   [isEditable]="isEditable()"
                                   [showWarningSign]="true">
        </state-graph-visualization>
      </div>
    </mat-card>
  </div>
  <div class="oppia-exp-graph-modal-icon-container e2e-test-mobile-graph-resize-button" (click)="openStateGraphModal()">
    <i class="fa fa-expand-arrows-alt"></i>
  </div>
</div>
