<div [hidden]="!isGraphShown()" class="oppia-state-graph-animate-show">
  <div class="oppia-exp-graph-overview">
    <span class="oppia-exploration-overview-text">
      <strong tabindex="0">Exploration Overview</strong>
    </span>
    <div>
      <span *ngIf="!showCheckpointCountWarningSign()">&#11088;</span>
      <span ngbTooltip="{{checkpointCountWarning}}"
            placement="top-right"
            *ngIf="showCheckpointCountWarningSign()">
        <strong class="clickable">⚠️</strong>
      </span>
      <span [ngClass]="{'checkpoint-count-error': showCheckpointCountWarningSign()}" tabindex="0">
        {{ getCheckpointCount() }}
        <span *ngIf="getCheckpointCount() <= 1">
          Checkpoint
        </span>
        <span *ngIf="getCheckpointCount() > 1">
          Checkpoints
        </span>
      </span>
      <span ngbTooltip="Learners start at their last saved checkpoint when returning back from the lesson."
            placement="right-top"
            tabindex="0"
            class="clickable">
        <strong>&#x24D8;</strong>
      </span>
    </div>
    <mat-card class="oppia-state-graph-card">
      <div class="oppia-state-graph-container e2e-test-exploration-graph">
        <state-graph-visualization class="h-100"
                                   [currentStateId]="getActiveStateName()"
                                   (onClickFunction)="onClickStateInMinimap($event)"
                                   (onDeleteFunction)="deleteState($event)"
                                   (onMaximizeFunction)="openStateGraphModal()"
                                   [versionGraphData]="null"
                                   [maximize]="true"
                                   [allowPanning]="true"
                                   [centerAtCurrentState]="true"
                                   [isEditable]="isEditable()"
                                   [showWarningSign]="true">
        </state-graph-visualization>
      </div>
    </mat-card>
  </div>
  <div class="oppia-exp-graph-modal-icon-container e2e-test-mobile-graph-resize-button" (click)="openStateGraphModal()">
    <i class="fa fa-expand-arrows-alt"></i>
  </div>
</div>

<style>
  .oppia-exp-graph-modal-icon-container {
    display: none;
  }

  .oppia-exploration-overview-text {
    font-size: 16px;
  }

  .oppia-state-graph-card {
    background-color: #fff;
    margin: 20px 0;
    padding: 8px;
  }

  @media screen and (max-width: 768px) {
    .oppia-exp-graph-overview {
      display: none;
    }

    .oppia-exp-graph-modal-icon-container {
      background-color: #fff;
      border: 2px solid #707070;
      display: block;
      padding: 6px;
      position: absolute;
      right: 40px;
      top: 75px;
    }

    .oppia-exp-graph-modal-icon-container span {
      font-size: 26px;
    }
  }

  .clickable {
    cursor: pointer;
  }

  exploration-graph span.checkpoint-count-error {
    color: #c55f45;
  }
</style>
