<script type="text/ng-template" id="components/createExplorationButton">
  <div class="pull-right oppia-navbar-button-container">
    {% if not user_is_logged_in %}
      <!-- User must complete the registration process. -->
      <button class="btn oppia-navbar-button oppia-navbar-hide-on-small-width protractor-test-create-exploration oppia-transition-200"
         ng-click="onRedirectToLogin('/my_explorations?mode=create')">
        <span>Create</span>
      </button>
    {% else %}
      <button class="btn oppia-navbar-button oppia-navbar-hide-on-small-width protractor-test-create-exploration oppia-transition-200"
         ng-click="showCreateExplorationModal()">
        <span>Create</span>
      </button>
      {% if allow_yaml_file_upload %}
        <button class="btn oppia-navbar-button oppia-navbar-hide-on-small-width oppia-transition-200"
           ng-click="showUploadExplorationModal()">
          <span>Upload</span>
        </button>
      {% endif %}
    {% endif %}
  </div>
</script>
