<script type="text/ng-template" id="summaryTile/exploration">
  <style>
    .oppia-exploration-summary-tile {
      background-color: #fff;
      display: inline-block;
      height: 300px;
      padding: 0;
      text-align: left;
      width: 240px;
    }

    .oppia-exploration-summary-tile .top-section {
      background-color: #05a69a;
      height: 164px;
      position: relative;
      width: 100%;
    }

    .oppia-exploration-summary-tile .author-image {
      height: 40px;
      position: absolute;
      right: 12px;
      top: 12px;
      width: 40px;
    }

    .oppia-exploration-summary-tile .thumbnail-image {
      display: block;
      margin: 0 auto;
      height: 50px;
      top: 24px;
      position: relative;
    }

    .oppia-exploration-summary-tile .exploration-title {
      bottom: 0;
      color: white;
      font-family: "Capriola", "Roboto", Arial, sans-serif;
      font-size: 1.1em;
      line-height: 1.2em;
      margin: 12px;
      padding: 0;
      position: absolute;
    }

    .oppia-exploration-summary-tile .bottom-section {

    }

    .oppia-exploration-summary-tile .objective {
      height: 100px;
      font-family: Roboto;
      font-size: 0.9em;
      padding: 12px;
    }

    .oppia-exploration-summary-tile .metrics {
      height: 30px;
      margin: 0 12px;
      padding: 0;
    }

    .oppia-exploration-summary-tile .metrics li {
      font-size: 0.85em;
      list-style-type: none;
      text-align: center;
    }

    .oppia-exploration-summary-tile .metrics li .fa {
      font-size: 1.1em;
      margin-right: 2px;
      vertical-align: initial;
    }
  </style>

  <md-card class="oppia-exploration-summary-tile">
    <div class="top-section">
      <img class="author-image" src="/images/gallery/otter.png" tooltip="AmitDeutsch" tooltip-placement="bottom">
      <img class="thumbnail-image" src="/images/gallery/arithmetic.svg">
      <h2 class="exploration-title"><[getTitle()]></h2>
    </div>

    <div class="bottom-section">
      <div class="objective">
        <[getObjective() | truncateAndCapitalize: 95]>
        <span ng-if="!getObjective()">No objective specified.</span>
      </div>
      <ul layout="row" class="metrics" layout-align="space-between center">
        <li>
          <span class="fa fa-star fa-lg" tooltip="Ratings" tooltip-placement="top">
          </span>
          <span ng-if="explorationRatings === 0">Unrated</span>
          <span ng-if="explorationRatings !== 0"><[getStarRating()]></span>
        </li>

        <li>
          <span class="fa fa-eye fa-lg" tooltip="Views" tooltip-placement="top">
          </span>
          <[getNumViews() | summarizeNonnegativeNumber]>
        </li>

        <li>
          <span class="fa fa-clock-o fa-lg" tooltip="Last Updated" tooltip-placement="top">
          </span>
          <[lastUpdatedDatetime]>
        </li>
      </ul>
    </div>
  </md-card>
</script>
