<script type="text/ng-template" id="components/gadgetPanel">
  <div ng-repeat="gadgetInstance in panelContents()">
    <oppia-gadget class="protractor-test-<[gadgetInstance.gadget_type]>-gadget" gadget-type="gadgetInstance.gadget_type" gadget-name="gadgetInstance.gadget_name" gadget-customization-args="gadgetInstance.customization_args" show-in-states="gadgetInstance.visible_in_states">
    </oppia-gadget>
  </div>
</script>

<script type="text/ng-template" id="components/gadget">
  <div ng-show="isVisible" angular-html-bind="gadgetHtml"></div>
</script>
