<script type="text/ng-template" id="rating/fromValue">
  <span style="cursor: <[isEditable ? 'pointer' : 'auto']>" ng-mouseenter="enterArea()" ng-mouseleave="leaveArea()">
    <span ng-if="ratingValue || isEditable" ng-repeat="star in stars" class="glyphicon <[star.style]>" ng-click="clickStar(star.value)" ng-mouseenter="enterStar(star.value)" style="color: <[star.color]>"></span>
  </span>
</script>

<script type="text/ng-template" id="rating/fromFrequencies">
  <rating-from-value rating-value="ratingValue" is-editable="false"></rating-from-value>
</script>
