<script src="/extensions/rich_text_components/Collapsible/directives/CollapsibleDirective.js"></script>
<script src="/extensions/rich_text_components/Image/directives/ImageDirective.js"></script>
<script src="/extensions/rich_text_components/Link/directives/LinkDirective.js"></script>
<script src="/extensions/rich_text_components/Math/directives/MathDirective.js"></script>
<script src="/extensions/rich_text_components/Tabs/directives/TabsDirective.js"></script>
<script src="/extensions/rich_text_components/Video/directives/VideoDirective.js"></script>
