<script type="text/ng-template" id="schemaBasedEditor/entryPoint">
  <schema-builder local-value="localValue" schema="definition" is-editable="isEditable()">
  </schema-builder>

  <div ng-if="isEditable()">
    <button ng-click="submitValue(localValue)" class="btn btn-success">Submit</button>
    <button ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
  </div>
</script>


<script type="text/ng-template" id="schemaBasedEditor/master">
  <bool-editor ng-if="schema().type === 'bool'" local-value="$parent.localValue" is-editable="isEditable()">
  </bool-editor>

  <unicode-editor ng-if="schema().type === 'unicode'" local-value="$parent.localValue" is-editable="isEditable()">
  </unicode-editor>

  <html-editor ng-if="schema().type === 'html'" local-value="$parent.localValue" is-editable="isEditable()">
  </html-editor>

  <list-editor ng-if="schema().type === 'list'" local-value="$parent.localValue" is-editable="isEditable()" item-schema="schema().items">
  </list-editor>

  <dict-editor ng-if="schema().type === 'dict'" local-value="$parent.localValue" is-editable="isEditable()" property-schemas="schema().properties">
  </dict-editor>
</script>


<script type="text/ng-template" id="schemaBasedEditor/bool">
  <input ng-if="isEditable()" type="checkbox" ng-model="$parent.localValue">
  <span ng-if="!isEditable()"><[localValue]></span>
</script>


<script type="text/ng-template" id="schemaBasedEditor/unicode">
  <input ng-if="isEditable()" type="text" ng-model="$parent.localValue" class="form-control">
  <span ng-if="!isEditable()"><[localValue]></span>
</script>


<script type="text/ng-template" id="schemaBasedEditor/html">
  <rich-text-editor ng-if="isEditable()" html-content="$parent.localValue"></rich-text-editor>
  <span ng-if="!isEditable()" angular-html-bind="localValue"></span>
</script>


<script type="text/ng-template" id="schemaBasedEditor/dict">
  <form role="form">
    <div ng-repeat="(key, schema) in propertySchemas()">
      <div class="form-group">
        <!-- TODO(sll): Add a 'for' attribute here. -->
        <label><[key]></label>
        <schema-builder schema="schema" is-editable="isEditable()" local-value="localValue[key]">
        </schema-builder>
        <br>
      </div>
    </div>
  </form>
</script>


<script type="text/ng-template" id="schemaBasedEditor/list">
  <table class="table">
    <tr ng-repeat="item in localValue track by $index">
      <td>
        <schema-builder schema="itemSchema()" is-editable="isEditable()" local-value="localValue[$index]">
        </schema-builder>
      </td>
      <td>
        <button class="btn btn-default btn-xs" type="button" ng-click="deleteElement($index)">
          <span class="glyphicon glyphicon-remove" title="Delete item">
          </span>
        </button>
      </td>
    </tr>
  </table>

  <button ng-if="isEditable()" type="button" class="btn btn-default" ng-click="addElement()">
    Add element
  </button>
</script>
