.edit-rubrics-header strong {
    font-size: 16px;
  }
  .oppia-skill-rubrics-header {
    display: flex;
    justify-content: space-between;
  }
  .oppia-skill-rubrics-header i {
    display: none;
  }
  .oppia-rubrics-editor-card {
    margin-bottom: 5vh;
  }

  @media screen and (max-width: 768px) {
    .oppia-skill-rubrics-header i {
      display: block;
    }
    .edit-rubrics-header {
      padding: 0;
    }
  }
