.oppia-navbar-profile-voiceover-admin .open > a,
  .nav > li > a:focus,
  .oppia-navbar-profile-voiceover-admin > li > a:hover,
  .oppia-navbar-profile-voiceover-admin > li > a:focus,
  .oppia-navbar-tabs-voiceover-admin > li > a:hover,
  .oppia-navbar-profile-voiceover-admin .open > a:hover,
  .oppia-navbar-profile-voiceover-admin .open > a:focus,
  .oppia-navbar-tabs-voiceover-admin > li > a.active,
  .oppia-voiceover-admin-page-dropdown-icon {
    background-color: #fff;
    color: #00376d;
  }
  .oppia-navbar-tabs-voiceover-admin .dropdown-toggle::after {
    color: #fff;
  }
  .oppia-navbar-voiceover-admin {
    top: 0;
  }
  .oppia-navbar-tabs-voiceover-admin:hover .dropdown-toggle::after,
  .oppia-navbar-tabs-voiceover-admin:focus .dropdown-toggle::after {
    color: #00376d;
  }
  .navbar-container.oppia-navbar-container {
    background-color: #00376d;
  }
  .nav .dropdown:hover > .dropdown-menu > li > a.oppia-dropdown-item-text {
    color: #00376d;
  }
  .oppia-dropdown-toggle-icon {
    margin-top: -1px;
  }
  @media screen and (max-width: 710px) {
    .oppia-voiceover-admin-page-dropdown {
      display: block;
    }
    .oppia-hide-in-small-width-screens {
      display: none;
    }
  }
  @media screen and (min-width: 711px) {
    .oppia-voiceover-admin-page-dropdown,
    .oppia-voiceover-admin-page-dropdown-icon,
    .oppia-voiceover-admin-page-dropdown-menu {
      display: none;
    }
  }
