.CodeMirror-merge-copy {
  display: none;
}
.CodeMirror-merge-r-deleted {
  text-decoration: underline #90ee90 2px;
  text-decoration-skip-ink: none;
}
.CodeMirror-merge-r-inserted {
  text-decoration: underline red 2px;
  text-decoration-skip-ink: none;
}
.CodeMirror-merge, .CodeMirror-merge .CodeMirror {
  height: 55vh;
}
.exploration-metadata-diff-modal .modal-dialog {
  max-width: 1200px;
  width: 90%;
}
.exploration-metadata-diff-modal .modal-body {
  height: 60vh;
  margin-top: -30px;
}
.exploration-metadata-diff-modal .colgroup-1 {
  width: 47%;
  word-wrap: break-word;
}
.exploration-metadata-diff-modal .colgroup-2 {
  width: 6%;
}
.exploration-metadata-diff-modal .colgroup-3 {
  width: 47%;
  word-wrap: break-word;
}
.exploration-metadata-diff-modal .oppia-click-arrows-text {
  margin-bottom: 20px;
}
