<div class="modal-header e2e-test-lost-changes-modal">
  <h3>Error Saving Exploration</h3>
</div>

<div class="modal-body">
  <p>
    Sorry! Someone else has saved a new version of this exploration, so
    your pending changes cannot be saved.
  </p>

  <p *ngIf="hasLostChanges">
    The lost changes are displayed below. You may want to export or copy and
    paste these changes before discarding them.
  </p>

  <oppia-changes-in-human-readable-form [lostChanges]="lostChanges">
  </oppia-changes-in-human-readable-form>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary e2e-test-discard-lost-changes-button" (click)="discardChanges()">Discard Changes</button>
  <button class="btn btn-primary e2e-test-discard-and-export-lost-changes-button" (click)="exportAndDiscardChanges()">Export and Discard Changes</button>
</div>
