<div class="modal-header">
  <h3>
    Changes made by {{ committerUsername }} from version {{ oldVersion }} to {{ oldVersion + 1 }}
  </h3>
  <i class="fa fa-times" (click)="cancel()"></i>
</div>

<table class="table oppia-state-diff-table">
  <!--
    Spacing on the left of table and in the middle of the table is to
    ensure text above each pane is aligned to codemirror gutter.
   -->
  <td class="colgroup-1">
    <div>
      State name before commit: <i>{{ oldStateName }}</i>
    </div>
  </td>
  <td class="colgroup-2"></td>
  <td class="colgroup-3">
    <div>
      State name after commit: <i>{{ newStateName }}</i>
    </div>
  </td>
</table>

<div class="modal-body">
  <div *ngIf="yamlStrs.previousVersionStateYaml && yamlStrs.currentVersionStateYaml; else elseBlock">
    <oppia-codemirror-mergeview [options]="CODEMIRROR_MERGEVIEW_OPTIONS"
                                [leftValue]="yamlStrs.previousVersionStateYaml"
                                [rightValue]="yamlStrs.currentVersionStateYaml">
    </oppia-codemirror-mergeview>
    <div align="center" class="oppia-click-arrows-text">
      <strong>Click arrows to desynchronize scrolling</strong>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="interstitial-loading">
      <div class="spinner-border"></div>
    </div>
  </ng-template>
</div>

<div class="modal-footer">
  <ng-template [ngIf]="yamlStrs.previousVersionStateYaml && yamlStrs.currentVersionStateYaml">
    <button [disabled]="validationErrorIsShown" class="btn btn-outline-primary" *ngIf="canExploreBackwardVersionHistory() || validationErrorIsShown" (click)="onClickExploreBackwardVersionHistory()">
      View previous commit by <strong>{{ getLastEditedCommitterUsername() }}</strong> at <strong>version {{ getLastEditedVersionNumber() + 1 || (validationErrorIsShown && getLastEditedVersionNumberInCaseOfError()) }}</strong>
    </button>
    <span *ngIf="validationErrorIsShown" class="error-message">
      Unable to display version history for version {{ getLastEditedVersionNumberInCaseOfError() }}, due to an error loading that version of the exploration.
    </span>
    <button class="btn btn-outline-primary next-commit" *ngIf="canExploreForwardVersionHistory()" (click)="onClickExploreForwardVersionHistory()">
      View next commit by <strong>{{ getNextEditedCommitterUsername() }}</strong> at <strong>version {{ getNextEditedVersionNumber() + 1 }}</strong>
    </button>
  </ng-template>
</div>

<style>
  .CodeMirror-merge-copy {
    display: none;
  }
  .CodeMirror-merge-r-deleted {
    text-decoration: underline #90ee90 2px;
    text-decoration-skip-ink: none;
  }
  .CodeMirror-merge-r-inserted {
    text-decoration: underline #f00 2px;
    text-decoration-skip-ink: none;
  }
  .CodeMirror-merge, .CodeMirror-merge .CodeMirror {
    height: 55vh;
  }
  .modal-body {
    height: 405px;
    margin-top: -30px;
    overflow: auto;
  }
  .colgroup-1 {
    padding: 15px;
  }
  .colgroup-3 {
    padding: 15px;
  }
  .interstitial-loading {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  .spinner-border {
    height: 4rem;
    width: 4rem;
  }
  .error-message {
    color: #f00;
    display: inline-block;
    font-size: 1.3rem;
    max-width: 250px;
    padding: 10px;
  }
  .modal-footer {
    display: flex;
    justify-content: flex-start;
  }
  .next-commit {
    margin-left: auto;
  }
</style>
