.CodeMirror-merge-copy {
  display: none;
}
.CodeMirror-merge-r-deleted {
  text-decoration: underline #90ee90 2px;
  text-decoration-skip-ink: none;
}
.CodeMirror-merge-r-inserted {
  text-decoration: underline #f00 2px;
  text-decoration-skip-ink: none;
}
.CodeMirror-merge, .CodeMirror-merge .CodeMirror {
  height: 55vh;
}
.modal-body {
  height: 405px;
  margin-top: -30px;
  overflow: auto;
}
.colgroup-1 {
  padding: 15px;
}
.colgroup-3 {
  padding: 15px;
}
.interstitial-loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.spinner-border {
  height: 4rem;
  width: 4rem;
}
.error-message {
  color: #f00;
  display: inline-block;
  font-size: 1.3rem;
  max-width: 250px;
  padding: 10px;
}
.modal-footer {
  display: flex;
  justify-content: flex-start;
}
.next-commit {
  margin-left: auto;
}
