<div class="mastery-challenge-card" aria-label="Mastery challenge">
  <div class="mastery-challenge-icon" aria-hidden="true">
    <img
      class="mastery-challenge-icon-image"
      src="/assets/images/icons/mastery-challenge-trophy.svg"
      alt=""
      aria-hidden="true">
  </div>
  <div class="mastery-challenge-content">
    <h3 class="mastery-challenge-title">{{ title }}</h3>
    <p class="mastery-challenge-description">{{ description }}</p>
  </div>
  <button class="mastery-challenge-button"
          type="button"
          [disabled]="!actionUrl"
          (click)="navigateToAction()">
    <span class="mastery-challenge-button-icon" aria-hidden="true">★</span>
    <span>{{ buttonLabel }}</span>
  </button>
</div>
