.oppia-error-h1 {
    font-size: 1em;
    margin: 1.33em 0;
  }
  .oppia-error-h2 {
    font-size: 1.17em;
    font-weight: 700;
  }
  @media screen and (min-width: 768px) {
    .oppia-footer {
      position: relative;
    }
  }
