<div class="oppia-content oppia-error-page-main-content">
  <br>

  <div class="oppia-wide-panel oppia-error-wide-container">
    <div class="oppia-wide-panel-content protractor-test-error-container">
      <h1 class="oppia-error-h1">
        <div ng-if="$ctrl.getStatusCode() === 400">
          <span translate="I18N_ERROR_HEADER_400"></span>
          - Bad Request
        </div>
        <div ng-if="$ctrl.getStatusCode() === 401">
          <span translate="I18N_ERROR_HEADER_401"></span>
          - Unauthorized
        </div>
        <div ng-if="$ctrl.getStatusCode() === 404" class="protractor-test-error-page">
          <span translate="I18N_ERROR_HEADER_404"></span>
          - Page Not Found
        </div>
        <div ng-if="$ctrl.getStatusCode() === 500">
          <span translate="I18N_ERROR_HEADER_500"></span>
          - System Error
        </div>
      </h1>

      <br>
      <picture>
        <source type="image/webp" ng-srcset="<[$ctrl.getStaticImageUrl('/general/oops_mint.webp')]>">
        <source type="image/png" ng-srcset="<[$ctrl.getStaticImageUrl('/general/oops_mint.png')]>">
        <img ng-src="<[$ctrl.getStaticImageUrl('/general/oops_mint.png')]>" alt="Oops!" width="299" height="142">
      </picture>

      <p>
        <h2 ng-if="$ctrl.statusCode === 400" class="oppia-error-h2" translate="I18N_ERROR_MESSAGE_400"></h2>
        <h2 ng-if="$ctrl.statusCode === 401" class="oppia-error-h2" translate="I18N_ERROR_MESSAGE_401"></h2>
        <h2 ng-if="$ctrl.statusCode === 404" class="oppia-error-h2" translate="I18N_ERROR_MESSAGE_404"></h2>
        <h2 ng-if="$ctrl.statusCode === 500" class="oppia-error-h2" translate="I18N_ERROR_MESSAGE_500"></h2>
      </p>
      <p><span translate="I18N_ERROR_NEXT_STEPS" translate-values="{issueTrackerUrl: 'https://github.com/oppia/oppia/issues/new', homeUrl: '/'}"></span></p>
    </div>
  </div>
</div>
<style>
  .oppia-error-h1 {
    font-size: 1em;
    margin: 1.33em 0;
  }
  .oppia-error-h2 {
    font-size: 1.17em;
    font-weight: 700;
  }
  @media screen and (min-width: 768px) {
    .oppia-footer {
      position: relative;
    }
  }
</style>
