<oppia-angular-root>
  <div ng-controller="Base">
    <oppia-base-content>
      <navbar-breadcrumb>
        <oppia-story-editor-navbar-breadcrumb>
        </oppia-story-editor-navbar-breadcrumb>
      </navbar-breadcrumb>

      <nav-options>
        <oppia-story-editor-navbar>
        </oppia-story-editor-navbar>
      </nav-options>

      <mobile-nav-options>
        <oppia-story-editor-navbar>
        </oppia-story-editor-navbar>
      </mobile-nav-options>

      <content>
        <oppia-story-editor-page></oppia-story-editor-page>
      </content>

      <page-footer></page-footer>
    </oppia-base-content>
  </div>
</oppia-angular-root>
