<!DOCTYPE html>
<html ng-app="oppia" itemscope itemtype="http://schema.org/Organization">
  <head>
    @load('base-components/header.template.html', {"title": "Oppia"})
  </head>

  <body>
    <oppia-root>
      <div ng-controller="Base">
        <oppia-base-content>
          <navbar-breadcrumb>
            <oppia-story-editor-navbar-breadcrumb>
            </oppia-story-editor-navbar-breadcrumb>
          </navbar-breadcrumb>

          <nav-options>
            <oppia-story-editor-navbar>
            </oppia-story-editor-navbar>
          </nav-options>

          <mobile-nav-options>
            <oppia-story-editor-navbar>
            </oppia-story-editor-navbar>
          </mobile-nav-options>

          <content>
            <oppia-story-editor-page></oppia-story-editor-page>
          </content>

          <page-footer></page-footer>
        </oppia-base-content>
      </div>

    </oppia-root>
    @load('pages/footer_js_libs.html')
    <script src="/third_party/static/MathJax-2.7.5/MathJax.js?config=default"></script>

  </body>
</html>
