<div class="oppia-opportunities-list">
  <div [hidden]="loadingOpportunityData" *ngFor="let opportunity of visibleOpportunities">
    <oppia-opportunities-list-item [opportunity]="opportunity"
                                   (clickActionButton)="clickActionButton.emit($event)"
                                   (clickPinButton)="clickPinButton.emit($event)"
                                   (clickUnpinButton)="clickUnpinButton.emit($event)"
                                   [progressBarRequired]="progressBarRequired"
                                   [labelRequired]="labelRequired"
                                   [opportunityHeadingTruncationLength]="opportunityHeadingTruncationLength"
                                   [opportunityType]="opportunityType"
                                   [showOpportunityButton]="showOpportunityButton"
                                   [showPinUnpinButton]="showPinUnpinButton">
    </oppia-opportunities-list-item>
  </div>
  <div [hidden]="!loadingOpportunityData" class="e2e-test-opportunity-loading-placeholder">
    <oppia-opportunities-list-item></oppia-opportunities-list-item>
    <oppia-opportunities-list-item></oppia-opportunities-list-item>
  </div>
  <div class="oppia-opportunity-pagination-container" *ngIf="visibleOpportunities.length > 0">
    <div class="oppia-pagination-button-wrapper">
      <button *ngIf="activePageNumber > 1" type="button"
              class="oppia-pagination-button"
              (click)="gotoPage(activePageNumber - 1)"
              [disabled]="activePageNumber == 1">
        <span class="material-icons">navigate_before</span>Previous
      </button>
    </div>
    <div class="oppia-pagination-button-wrapper">
      <button *ngIf="!userIsOnLastPage" type="button"
              class="oppia-pagination-button"
              (click)="gotoPage(activePageNumber + 1)"
              [disabled]="loadingOpportunityData || userIsOnLastPage">
        Next<span class="material-icons">navigate_next</span>
      </button>
    </div>
  </div>
  <div class="oppia-end-availability" [hidden]="!(visibleOpportunities.length === 0 && !loadingOpportunityData)">
    <div class="oppia-end-availability-line"></div>
    <div class="oppia-opportunity-availablity-message e2e-test-opportunity-list-empty-availability-message">No opportunity available!</div>
    <div class="oppia-end-availability-line"></div>
  </div>
</div>

<style>
  .oppia-opportunity-availablity-message {
    color: #555;
    font-style: italic;
    overflow: hidden;
    padding: 0 2%;
  }
  .oppia-end-availability {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  .oppia-end-availability-line {
    border: 1px solid #ababab;
    flex-grow: 1;
  }
  .oppia-opportunities-list {
    margin: auto;
    max-width: 1200px;
    overflow: auto;
    padding-bottom: 20px;
    width: 95%;
  }
  .oppia-opportunity-pagination-container {
    display: flex;
    margin: 20px 0;
    width: 100%;
  }
  .oppia-pagination-button {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: #009688;
    font-size: 18px;
    font-weight: bold;
    min-height: 40px;
    min-width: 100px;
    text-align: center;
  }
  .oppia-pagination-button-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    max-width: 50%;
  }
  .oppia-pagination-button:hover {
    border: 2px solid #009688;
    border-radius: 5px;
  }
  .oppia-pagination-button[disabled] {
    color: #a9e5df;
  }
  .oppia-pagination-button[disabled]:hover {
    border: none;
  }
  @media only screen and (max-width: 700px) {
    .oppia-opportunities-list {
      margin: auto 0;
      width: 100%;
    }
  }
</style>
