.oppia-search-bar {
  margin-bottom: 20px;
}
.oppia-input-group {
  align-items: center;
  display: flex;
  width: 100%;
}
.oppia-search-bar-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  height: 40px;
  padding: 8px 12px;
}
.oppia-search-bar-input:focus {
  border-color: #009688;
  outline: none;
}
.oppia-opportunity-availablity-message {
  color: #555;
  font-style: italic;
  overflow: hidden;
  padding: 0 2%;
}
.oppia-end-availability {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.oppia-end-availability-line {
  border: 1px solid #ababab;
  flex-grow: 1;
}
.oppia-opportunities-list {
  margin: auto;
  max-width: 1200px;
  overflow: auto;
  padding-bottom: 20px;
  width: 95%;
}
.oppia-opportunity-pagination-container {
  display: flex;
  margin: 20px 0;
  width: 100%;
}
.oppia-pagination-button {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: #009688;
  font-size: 18px;
  font-weight: bold;
  min-height: 40px;
  min-width: 100px;
  text-align: center;
}
.oppia-pagination-button-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  max-width: 50%;
}
.oppia-pagination-button:hover {
  border: 2px solid #009688;
  border-radius: 5px;
}
.oppia-pagination-button[disabled] {
  color: #a9e5df;
}
.oppia-pagination-button[disabled]:hover {
  border: none;
}
@media only screen and (max-width: 700px) {
  .oppia-opportunities-list {
    margin: auto 0;
    width: 100%;
  }
}
