<div class="oppia-opportunities-list">
  <div class="oppia-search-bar" *ngIf="showSearchBar">
    <div class="oppia-input-group">
      <input type="text"
             class="oppia-search-bar-input"
             placeholder="Search Skill or Topic ..."
             [value]="searchQuery"
             (input)="onSearchQueryChange($any($event.target).value)">
    </div>
  </div>
  <div [hidden]="loadingOpportunityData" *ngFor="let opportunity of visibleOpportunities">
    <oppia-opportunities-list-item [opportunity]="opportunity"
                                   (clickActionButton)="clickActionButton.emit($event)"
                                   (clickPinButton)="clickPinButton.emit($event)"
                                   (clickUnpinButton)="clickUnpinButton.emit($event)"
                                   [progressBarRequired]="progressBarRequired"
                                   [labelRequired]="labelRequired"
                                   [opportunityHeadingTruncationLength]="opportunityHeadingTruncationLength"
                                   [opportunityType]="opportunityType"
                                   [showOpportunityButton]="showOpportunityButton"
                                   [showPinUnpinButton]="showPinUnpinButton">
    </oppia-opportunities-list-item>
  </div>
  <div [hidden]="!loadingOpportunityData" class="e2e-test-opportunity-loading-placeholder">
    <oppia-opportunities-list-item></oppia-opportunities-list-item>
    <oppia-opportunities-list-item></oppia-opportunities-list-item>
  </div>
  <div class="oppia-opportunity-pagination-container" *ngIf="visibleOpportunities.length > 0">
    <div class="oppia-pagination-button-wrapper">
      <button *ngIf="activePageNumber > 1" type="button"
              class="oppia-pagination-button e2e-test-pagination-button-previous"
              (click)="gotoPage(activePageNumber - 1)"
              [disabled]="activePageNumber == 1">
        <span class="material-icons">navigate_before</span>Previous
      </button>
    </div>
    <div class="oppia-pagination-button-wrapper">
      <button *ngIf="!userIsOnLastPage" type="button"
              class="oppia-pagination-button e2e-test-pagination-button-next"
              (click)="gotoPage(activePageNumber + 1)"
              [disabled]="loadingOpportunityData || userIsOnLastPage">
        Next<span class="material-icons">navigate_next</span>
      </button>
    </div>
  </div>
  <div class="oppia-end-availability" [hidden]="!(visibleOpportunities.length === 0 && !loadingOpportunityData)">
    <div class="oppia-end-availability-line"></div>
    <div class="oppia-opportunity-availablity-message e2e-test-opportunity-list-empty-availability-message">No opportunity available!</div>
    <div class="oppia-end-availability-line"></div>
  </div>
</div>
