.oppia-carousel-heading {
color: #333;
font-family: Roboto;
font-style: normal;
font-weight: 500;
}

.oppia-carousel-head-content {
  display: flex;
  justify-content: space-between;
}

.oppia-carousel-button {
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
}

.tiles {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  overflow: scroll;
}

.tiles::-webkit-scrollbar {
  display: none;
}

.oppia-carousel-scroller {
  border-radius: 4px;
  color: white;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  height: 24px;
  outline: none !important;
  width: 24px;
  padding: 0;
  position: relative;
}
