.oppia-carousel-bar .oppia-carousel-heading {
color: #333;
font-family: Roboto;
font-style: normal;
font-weight: 500;
}

.oppia-carousel-bar .oppia-carousel-content {
  overflow: scroll;
}

.oppia-carousel-bar .oppia-coursel-container {
  display: inline-grid;
}

.oppia-carousel-bar .oppia-carousel-head-content {
  display: flex;
  justify-content: space-between;
}

.oppia-carousel-bar .oppia-carousel-button {
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
}

.oppia-carousel-bar .tiles {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  overflow: hidden;
}

.oppia-carousel-bar .oppia-carousel-content::-webkit-scrollbar {
  display: none;
}

.oppia-carousel-bar .oppia-carousel-scroller {
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  height: 24px;
  outline: none !important;
  width: 24px;
  padding: 0;
  position: relative;
}

.oppia-carousel-bar .oppia-horizontal-line {
  border: 1px solid #00645C;
  margin: 2px 0px 12px;
  width: 100%;
}

@media screen and (max-Width:500px) {
  .oppia-carousel-bar .oppia-untracked-topics-carousel-head-content {
    width: 187px;
  }
  .oppia-carousel-bar .oppia-untracked-topics-carousel-button {
    position: relative;
    top: 22px;
  }
}
