<div class="home-tab e2e-test-learner-dash-home-tab">
  <div>
    <!--TODO(#18384): Hides recommendations if no classroom topics in-progress (isNonemptyObject(untrackedTopics) not sure what this does)-->
    <div *ngIf="!allCardsLoaded" >
      <oppia-loading-message class="oppia-message-loader" [message]="loadingMessage"></oppia-loading-message>
    </div>
    <div  [class.loading-content]="!allCardsLoaded">
      <div class="oppia-learner-dash-section e2e-test-learner-dash-section" *ngIf="getTotalInProgressLessons() > 0 ">
        <p class="oppia-learner-dash-section-heading e2e-test-learner-dash-section-heading">
          {{ 'I18N_LEARNER_DASHBOARD_CONTINUE_WHERE_YOU_LEFT_OFF_SECTION' | translate }}
        </p>
        <div class="d-flex flex-wrap justify-content-between w-100">
          <oppia-card-display *ngIf="continueWhereYouLeftOffList.length !== 0 || incompleteExplorationsList?.length > 0 || incompleteCollectionsList?.length > 0 || partiallyLearntTopicsList.length !== 0"
                              [headingI18n]="'I18N_LEARNER_DASHBOARD_HOME_PROGRESS_SECTION'"
                              [numCards]="getTotalInProgressLessons()"
                              [displayMaxWidth]="'fit-content'"
                              class="e2e-test-continue-where-you-left-off">
            <ng-container *ngFor="let topicSummaryTile of partiallyLearntTopicsList">
              <ng-container *ngFor="let storySummaryTile of topicSummaryTile.canonicalStorySummaryDicts">
                <lesson-card [story]="storySummaryTile" [topic]="topicSummaryTile.name" [isGoal]="currentGoalIds.has(topicSummaryTile.id)" (lessonLoaded)="onLessonLoaded()" > </lesson-card>
              </ng-container>
            </ng-container>
            <ng-container *ngFor="let exploration of incompleteExplorationsList">
              <lesson-card [story]="exploration" (lessonLoaded)="onLessonLoaded()"></lesson-card>
            </ng-container>
            <ng-container *ngFor="let collection of incompleteCollectionsList">
              <lesson-card [story]="collection" (lessonLoaded)="onLessonLoaded()"></lesson-card>
            </ng-container>
          </oppia-card-display>
          <!--TODO(#18384): Learner Group (Recommended cards)Styling: https://www.figma.com/design/YWe7SqfUVjxlJLKTUn0UZa/Project-2?node-id=4405-61681&t=8H8GSGQJk3lUxOBc-0 (links to Figma frame) -->
          <oppia-card-display class="e2e-test-learner-dash-recommended-section" *ngIf="hasMultipleUnfinishedPublished &&
          storySummariesWithAvailableNodes.size > 0" [headingI18n]="'I18N_LEARNER_DASHBOARD_HOME_RECOMMEND_SECTION'" [numCards]="storySummariesWithAvailableNodes.size" [displayMaxWidth]="'fit-content'">
            <ng-container *ngFor="let topicSummaryTile of continueWhereYouLeftOffList">
              <ng-container *ngFor="let storySummaryTile of topicSummaryTile.canonicalStorySummaryDicts">
                <lesson-card *ngIf="storySummariesWithAvailableNodes.has(storySummaryTile.getId())" [story]="storySummaryTile" [topic]="topicSummaryTile.name" [isGoal]="currentGoalIds.has(topicSummaryTile.id)" [isRecommendation]="true" (lessonLoaded)="onLessonLoaded()"> </lesson-card>
              </ng-container>
            </ng-container>
          </oppia-card-display>
        </div>
      </div>
      <div class="oppia-learner-dash-section  e2e-test-learner-dash-section" *ngIf="(isNonemptyObject(untrackedTopics)) && !isGoalLimitReached()">
        <p class="oppia-learner-dash-section-heading e2e-test-learner-dash-section-heading"> {{ 'I18N_LEARNER_DASHBOARD_LEARN_SOMETHING_NEW_SECTION' | translate }} </p>
        <!--TODO(#18384): Add search bar -->
        <!--TODO(#18384): Only untracked topics. Will need to change headings when there are multiple classrooms-->
        <ng-container *ngFor="let item of untrackedTopics | keyvalue">
          <oppia-card-display [headingI18n]="'I18N_LEARNER_DASHBOARD_HOME_CLASSROOM_SECTION'" [numCards]="item.value.length" [cardWidth]="226">
            <ng-container *ngFor="let topicSummaryTile of item.value">
              <oppia-learner-topic-summary-tile class="e2e-test-learer-topic-summary-tile" [topicSummary]="topicSummaryTile">
              </oppia-learner-topic-summary-tile>
            </ng-container>
          </oppia-card-display>
          <oppia-classroom-button [classroom]="item.key" [variant]="'blue'"></oppia-classroom-button>
        </ng-container>
      </div>
      <div class="oppia-learner-dash-section px-3 py-4 w-100 e2e-test-learner-dash-section"
        *ngIf="!isNonemptyObject(untrackedTopics) && continueWhereYouLeftOffList.length === 0">
        <p class="oppia-learner-dash-section-heading"> {{ 'I18N_LEARNER_DASHBOARD_LEARN_SOMETHING_NEW_SECTION' | translate }} </p>
        <div class="empty-suggested-for-you-section e2e-test-home-tab-empty-suggestions">
          <p> {{ 'I18N_LEARNER_DASHBOARD_EMPTY_SUGGESTED_FOR_YOU_SECTION' | translate }} </p>
        </div>
      </div>
    </div>
  </div>
</div>
