.oppia-learner-dash-button-lg {
  border-radius: 4px;
  font-weight: 700;
  max-width: 344px;
  padding: 10px 0;
  text-decoration: none;
  transition: all 300ms ease-out;
  width: 100%;
}

.oppia-learner-dash-greeting {
  color: #00645c;
  font-family: 'Capriola', 'Roboto', Arial, sans-serif;
  font-size: 32px;
}

.oppia-learner-dash-section {
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 16px;
}

.oppia-learner-dash-section-heading {
  color: #205d86;
  font-family: 'Capriola', 'Roboto', Arial, sans-serif;
  font-size: 24px;
}


