<background-banner *ngIf="!windowIsNarrow || (windowIsNarrow && activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.HOME)"></background-banner>
<div [ngStyle]="{'min-height': windowIsNarrow ? '85.5vh': 'auto'}"
     class="oppia-learner-dashboard-container position-relative">
  <div class="row oppia-row"
       [ngStyle]="windowIsNarrow ? {'display': 'block'} : {'display': 'flex'}"
       [ngClass]="{'oppia-learner-dashboard-mobile-mode': windowIsNarrow}">
    <div class="col-md-3 oppia-learner-dashboard-side-content"
         *ngIf="!windowIsNarrow">
      <mat-card class="oppia-learner-dashboard-main-menu">
        <h4 class="oppia-learner-dashboard-menu oppia-learner-dashborad-menu-hover e2e-test-home-section" tabindex="0"
            [ngClass]="{'oppia-learner-dashboard-section-active': activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.HOME}"
            (click)="setActiveSection(LEARNER_DASHBOARD_SECTION_I18N_IDS.HOME)"
            (keyup.enter)="setActiveSection(LEARNER_DASHBOARD_SECTION_I18N_IDS.HOME)">
          <span [innerHTML]="LEARNER_DASHBOARD_SECTION_I18N_IDS.HOME | translate"></span>
        </h4>
        <h4 class="oppia-learner-dashboard-menu oppia-learner-dashborad-menu-hover e2e-test-goals-section" tabindex="0"
            [ngClass]="{'oppia-learner-dashboard-section-active': activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.GOALS}"
            (click)="setActiveSection(LEARNER_DASHBOARD_SECTION_I18N_IDS.GOALS)"
            (keyup.enter)="setActiveSection(LEARNER_DASHBOARD_SECTION_I18N_IDS.GOALS)">
          <span [innerHTML]="LEARNER_DASHBOARD_SECTION_I18N_IDS.GOALS | translate"></span>
        </h4>
        <h4 class="oppia-learner-dashboard-menu oppia-learner-dashborad-menu-hover e2e-test-progress-section" tabindex="0"
            [ngClass]="{'oppia-learner-dashboard-section-active': activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.PROGRESS}"
            (click)="setActiveSection(LEARNER_DASHBOARD_SECTION_I18N_IDS.PROGRESS)"
            (keyup.enter)="setActiveSection(LEARNER_DASHBOARD_SECTION_I18N_IDS.PROGRESS)" >
          <span [innerHTML]="LEARNER_DASHBOARD_SECTION_I18N_IDS.PROGRESS | translate"></span>
        </h4>
        <h4 class="oppia-learner-dashboard-menu oppia-learner-dashborad-menu-hover e2e-test-community-lessons-section" tabindex="0"
            [ngClass]="{'oppia-learner-dashboard-section-active': activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.COMMUNITY_LESSONS}"
            (click)="setActiveSection(LEARNER_DASHBOARD_SECTION_I18N_IDS.COMMUNITY_LESSONS)"
            (keyup.enter)="setActiveSection(LEARNER_DASHBOARD_SECTION_I18N_IDS.COMMUNITY_LESSONS)">
          <span [innerHTML]="LEARNER_DASHBOARD_SECTION_I18N_IDS.COMMUNITY_LESSONS | translate"></span>
        </h4>
        <h4 class="oppia-learner-dashboard-menu oppia-learner-dashborad-menu-hover e2e-test-feedback-section" tabindex="0"
            [ngClass]="{'oppia-learner-dashboard-section-active': activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.FEEDBACK}"
            (click)="setActiveSection(LEARNER_DASHBOARD_SECTION_I18N_IDS.FEEDBACK)"
            (keyup.enter)="setActiveSection(LEARNER_DASHBOARD_SECTION_I18N_IDS.FEEDBACK)">
          <span [innerHTML]="LEARNER_DASHBOARD_SECTION_I18N_IDS.FEEDBACK | translate"></span>
          <span *ngIf="numberOfUnreadThreads !== 0">({{ numberOfUnreadThreads }})</span>
        </h4>
      </mat-card>
    </div>
    <footer class="oppia-learner-dashboard-buttons" *ngIf="windowIsNarrow" headroom>
      <mat-card class="oppia-learner-dashboard-button-menu d-flex justify-content-around">
        <div class="oppia-buttons" (click)="setActiveSection(LEARNER_DASHBOARD_SECTION_I18N_IDS.HOME)" [ngClass]="{'oppia-learner-dashboard-section-active-button': activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.HOME, 'oppia-learner-dashboard-section-not-active-button': activeSection !== LEARNER_DASHBOARD_SECTION_I18N_IDS.HOME}">
          <img [src]="homeImageUrl" alt="home image" class="oppia-svg-image">
          <span [innerHTML]="LEARNER_DASHBOARD_SECTION_I18N_IDS.HOME | translate" class="home-button"></span>
        </div>
        <div class="oppia-buttons" (click)="setActiveSection(LEARNER_DASHBOARD_SECTION_I18N_IDS.GOALS)" [ngClass]="{'oppia-learner-dashboard-section-active-button': activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.GOALS, 'oppia-learner-dashboard-section-not-active-button': activeSection !== LEARNER_DASHBOARD_SECTION_I18N_IDS.GOALS}">
          <img [src]="todolistImageUrl" alt="todolist image" class="oppia-svg-image">
          <span [innerHTML]="LEARNER_DASHBOARD_SECTION_I18N_IDS.GOALS | translate" class="goals-button"></span>
        </div>
        <div class="oppia-buttons" (click)="setActiveSection(LEARNER_DASHBOARD_SECTION_I18N_IDS.PROGRESS)" [ngClass]="{'oppia-learner-dashboard-section-active-button': activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.PROGRESS, 'oppia-learner-dashboard-section-not-active-button': activeSection !== LEARNER_DASHBOARD_SECTION_I18N_IDS.PROGRESS}">
          <img [src]="progressImageUrl" alt="progress image" class="oppia-svg-image">
          <span [innerHTML]="LEARNER_DASHBOARD_SECTION_I18N_IDS.PROGRESS | translate"></span>
        </div>
      </mat-card>
    </footer>

    <div *ngIf="windowIsNarrow && activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.PROGRESS">
      <mat-card class="oppia-learner-dashboard-progress-button-menu d-flex justify-content-around">
        <div class="oppia-learner-dashboard-progress-button-menu-options" [ngStyle]="activeSubsection === LEARNER_DASHBOARD_SUBSECTION_I18N_IDS.SKILL_PROFICIENCY && {'border-bottom': '2px solid #00645C'}" (click)="setActiveSubsection(LEARNER_DASHBOARD_SUBSECTION_I18N_IDS.SKILL_PROFICIENCY)">
          <p [innerHTML]="'I18N_DASHBOARD_SKILL_PROFICIENCY' | translate">
          </p>
        </div>
        <div class="oppia-learner-dashboard-progress-button-menu-options" [ngStyle]="activeSubsection === LEARNER_DASHBOARD_SUBSECTION_I18N_IDS.STORIES && {'border-bottom': '2px solid #00645C'}" (click)="setActiveSubsection(LEARNER_DASHBOARD_SUBSECTION_I18N_IDS.STORIES)">
          <p [innerHTML]="'I18N_DASHBOARD_STORIES' | translate">
          </p>
        </div>
        <div class="oppia-learner-dashboard-progress-button-menu-options" [ngStyle]="activeSubsection === LEARNER_DASHBOARD_SUBSECTION_I18N_IDS.LESSONS && {'border-bottom': '2px solid #00645C'}" (click)="setActiveSubsection(LEARNER_DASHBOARD_SUBSECTION_I18N_IDS.LESSONS)">
          <p [innerHTML]="'I18N_DASHBOARD_LESSONS' | translate">
          </p>
        </div>
      </mat-card>
    </div>

    <div class="col-md-8 oppia-learner-dashboard-main-content"
         [ngClass]="{'oppia-learner-dashboard-mobile-mode': windowIsNarrow}">
      <div>
        <span class="sort-explorations-select oppia-learner-dashboard-sort oppia-sort-options"
              *ngIf="activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.FEEDBACK && threadSummaries.length !== 0 && !feedbackThreadActive"
              [ngClass]="{'oppia-learner-dashboard-sort-mobile': windowIsNarrow}">
          <p class="sort-by-text mt-0">Sort By</p>
          <select [(ngModel)]="currentFeedbackThreadsSortType"
                  class="sort-options oppia-sort-options"
                  (change)="setFeedbackSortingOptions(currentFeedbackThreadsSortType)">
            <option *ngFor="let thread of FEEDBACK_THREADS_SORT_BY_KEYS_AND_I18N_IDS | keyvalue"
                    [value]="thread.value['key']">
              {{ thread.value['i18nId'] | translate }}
            </option>
          </select>
          <span class="sort-order fas"
                (click)="setFeedbackSortingOptions(currentFeedbackThreadsSortType)"
                [ngClass]="isCurrentFeedbackSortDescending ? 'fa-long-arrow-alt-down':'fa-long-arrow-alt-up'">
          </span>
        </span>
      </div>
      <div class="oppia-learner-dashboard-main-content-container d-flex"
           [ngClass]="{'pl-5': !windowIsNarrow, 'justify-content-center': windowIsNarrow}">
        <div *ngIf="activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.HOME">
          <oppia-home-tab [currentGoals]="topicsToLearn"
                          [goalTopics]="allTopics"
                          [partiallyLearntTopicsList]="partiallyLearntTopicsList"
                          [untrackedTopics]="untrackedTopics"
                          [username]="username"
                          (setActiveSection)="setActiveSection($event)">
          </oppia-home-tab>
        </div>
        <div *ngIf="activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.GOALS">
          <oppia-goals-tab [currentGoals]="topicsToLearn"
                           [editGoals]="allTopics"
                           [completedGoals]="learntTopicsList"
                           [untrackedTopics]="untrackedTopics"
                           [partiallyLearntTopicsList]="partiallyLearntTopicsList"
                           [learntToPartiallyLearntTopics]="learntToPartiallyLearntTopics">
          </oppia-goals-tab>
        </div>
        <div *ngIf="activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.PROGRESS && !windowIsNarrow">
          <oppia-progress-tab [completedStoriesList]="completedStoriesList"
                              [partiallyLearntTopicsList]="partiallyLearntTopicsList"
                              [learntTopicsList]="learntTopicsList"
                              (setActiveSection)="setActiveSection($event)">
          </oppia-progress-tab>
        </div>
        <div *ngIf="activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.PROGRESS && windowIsNarrow">
          <oppia-progress-tab [completedStoriesList]="completedStoriesList"
                              [partiallyLearntTopicsList]="partiallyLearntTopicsList"
                              [learntTopicsList]="learntTopicsList"
                              [activeSubsection]="activeSubsection">
          </oppia-progress-tab>
        </div>
        <div *ngIf="((!windowIsNarrow && activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.COMMUNITY_LESSONS) || (windowIsNarrow && activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.PROGRESS && activeSubsection === LEARNER_DASHBOARD_SUBSECTION_I18N_IDS.LESSONS)) && communtiyLessonsDataLoaded">
          <oppia-community-lessons-tab [incompleteExplorationsList]="incompleteExplorationsList"
                                       [incompleteCollectionsList]="incompleteCollectionsList"
                                       [completedExplorationsList]="completedExplorationsList"
                                       [completedCollectionsList]="completedCollectionsList"
                                       [explorationPlaylist]="explorationPlaylist"
                                       [collectionPlaylist]="collectionPlaylist"
                                       [subscriptionsList]="subscriptionsList"
                                       [completedToIncompleteCollections]="completedToIncompleteCollections">
          </oppia-community-lessons-tab>
        </div>

        <div *ngIf="activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.FEEDBACK"
             class="oppia-learner-dashboard-feedback-section oppia-feedback-section-top-margin w-100"
             [ngStyle]="threadSummaries.length !== 0 && {'cursor': 'pointer'}">
          <mat-card class="oppia-learner-dashboard-no-activity-card layout-row"
                    *ngIf="threadSummaries.length === 0">
            <div>
              <span class="oppia-learner-dashboard-main-content-title"
                    *ngIf="activeSection === LEARNER_DASHBOARD_SECTION_I18N_IDS.FEEDBACK">
                <span [innerHTML]="activeSection | translate">
                </span>
              </span>
              <p [innerHTML]="'I18N_LEARNER_DASHBOARD_EMPTY_FEEDBACK_THREADS' | translate" class="empty-feedback-threads"></p>

              <a class="btn oppia-dashboard-intro-button oppia-transition-200 oppia-learner-dashboard-intro-button-link"
                 [innerHTML]="'I18N_ACTION_BROWSE_LESSONS' | translate"
                 href="/learn/math"
                 [smartRouterLink]="'/' + PAGES_REGISTERED_WITH_FRONTEND.CLASSROOM.ROUTE">
              </a>
            </div>
          </mat-card>

          <table class="table" *ngIf="!feedbackThreadActive">
            <tr *ngFor="let thread of threadSummaries | sortBy: isCurrentFeedbackSortDescending: getValueOfFeedbackThreadSortKey()"
                (click)="onClickThread(thread.status, thread.explorationId, thread.threadId, thread.explorationTitle)"
                class="oppia-feedback-tab-row e2e-test-feedback-thread">
              <td width="10%">
                <span [ngClass]="getLabelClass(thread.status)">{{ getHumanReadableStatus(thread.status) }}</span>
              </td>
              <td width="20%">
                <span *ngIf="thread.totalMessageCount > 1">
                  <span *ngIf="thread.authorSecondLastMessage">
                    <span *ngIf="thread.secondLastMessageIsRead">{{ thread.authorSecondLastMessage | truncate:7 }}, </span>
                    <span *ngIf="!thread.secondLastMessageIsRead">
                      <strong>{{ thread.authorSecondLastMessage | truncate:7 }}, </strong>
                    </span>
                  </span>
                  <span *ngIf="!thread.authorSecondLastMessage">
                    <span *ngIf="thread.totalMessageCount > 1">
                      <span [innerHTML]="'I18N_FEEDBACK_MESSAGE_ANONYMOUS_AUTHOR' | translate"></span>,
                    </span>
                  </span>
                </span>
                <span *ngIf="thread.authorLastMessage">
                  <span *ngIf="thread.lastMessageIsRead">{{ thread.authorLastMessage | truncate:7 }}</span>
                  <span *ngIf="!thread.lastMessageIsRead">
                    <strong>{{ thread.authorLastMessage | truncate:7 }}</strong>
                  </span>
                </span>
                <span *ngIf="!thread.authorLastMessage">
                  <span [innerHTML]="'I18N_FEEDBACK_MESSAGE_ANONYMOUS_AUTHOR' | translate"></span>
                </span>
                <span class="feedback-thread-message-count">({{ thread.totalMessageCount }})</span>
              </td>
              <td width="50%">
                <span *ngIf="thread.totalMessageCount > 1 && thread.secondLastMessageIsRead && thread.lastMessageIsRead">{{ thread.explorationTitle }} -</span>
                <span class="e2e-test-feedback-exploration" *ngIf="thread.totalMessageCount === 1 && thread.lastMessageIsRead">{{ thread.explorationTitle }} -</span>
                <span *ngIf="thread.totalMessageCount === 1 && !thread.lastMessageIsRead">
                  <strong>{{ thread.explorationTitle }} -</strong>
                </span>
                <span *ngIf="thread.totalMessageCount > 1 && (!thread.lastMessageIsRead || !thread.secondLastMessageIsRead)">
                  <strong>{{ thread.explorationTitle }} -</strong>
                </span>
                <span *ngIf="thread.lastMessageText">{{ thread.lastMessageText | truncate:50 }}</span>
                <span *ngIf="!thread.lastMessageText && thread.totalMessageCount !== 1">
                  <i [innerHTML]="'I18N_LEARNER_DASHBOARD_FEEDBACK_THREAD_STATUS_CHANGE_MESSAGE' | translate: {threadStatus: getHumanReadableStatus(thread.status)}">
                  </i>
                </span>
                <span *ngIf="!thread.lastMessageText && thread.totalMessageCount === 1">
                  <i [innerHTML]="'I18N_LEARNER_DASHBOARD_SUGGESTION_TEXT' | translate"></i>
                </span>
              </td>
              <td width="20%">
                <span>{{ getLocaleAbbreviatedDatetimeString(thread.lastUpdatedMsecs) }}</span>
              </td>
            </tr>
          </table>

          <table class="table" *ngIf="feedbackThreadActive">
            <tr>
              <td>
                <button (click)="showAllThreads()"
                        class="btn btn-secondary oppia-btn-secondary oppia-box-size">
                  <i class="fas fa-chevron-left"
                     title="{{ 'I18N_LEARNER_DASHBOARD_RETURN_TO_FEEDBACK_THREADS_MESSAGE' | translate }}">
                  </i>
                </button>
                <span class="oppia-exploration-title">{{ explorationTitle }}</span>
              </td>
            </tr>
            <tr *ngIf="loadingFeedbacks">
              <td class="text-center">
                <span>
                  Loading
                  <loading-dots></loading-dots>
                </span>
              </td>
            </tr>
            <ng-container *ngIf="!loadingFeedbacks">
              <tr *ngFor="let message of messageSummaries"
                  class="oppia-message-summaries">
                <td>
                  <div class="row">
                    <div class="col-sm-9">
                      <span class="feedback-message-header">
                        <span *ngIf="message.authorPictureDataUrl"
                              class="d-inline-block">
                          <img [src]="decodePngURIData(message.authorPictureDataUrl)"
                               class="oppia-navbar-profile-picture rounded-circle oppia-profile-picture"
                               alt="User Avatar">
                        </span>

                        <span *ngIf="!message.authorPictureDataUrl"
                              class="d-inline-block">
                          <i class="oppia-profile-alignment fas fa-user-circle fa-2x"></i>
                        </span>
                      </span>

                      <span *ngIf="message.authorUsername"
                            class="feedback-message-author-name">
                        <strong>{{ message.authorUsername }}</strong>
                      </span>
                      <span *ngIf="!message.authorUsername"
                            class="feedback-message-author-name">
                        <strong [innerHTML]="'I18N_FEEDBACK_MESSAGE_ANONYMOUS_AUTHOR' | translate"></strong>
                      </span>
                      <span class="oppia-updated-status"
                            *ngIf="message.messageId !== 0 && message.updatedStatus">
                        <em [innerHTML]="'I18N_LEARNER_DASHBOARD_FEEDBACK_THREAD_STATUS_CHANGE_MESSAGE' | translate: {threadStatus: getHumanReadableStatus(message.updatedStatus)}">
                        </em>
                      </span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <span>{{ getLocaleAbbreviatedDatetimeString(message.createdOnMsecs) }}</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-2 feedback-message-spacing oppia-feedback-message-spacing"></div>
                    <div class="col-sm-10 feedback-thread-message-body">
                      <div>
                        <span class="e2e-test-feedback-message" *ngIf="message.text">{{ message.text }}</span>
                        <button *ngIf="message.currentContentHtml"
                                class="btn btn-primary oppia-dashboard-view-suggestion-button"
                                (click)="showSuggestionModal(message.suggestionHtml, message.currentContentHtml, message.description)"
                                [innerHTML]="'I18N_LEARNER_DASHBOARD_VIEW_SUGGESTION' | translate">
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
            <tr>
              <td>
                <div class="row">
                  <div class="col-sm-1 feedback-message-author-picture oppia-feedback-message-spacing p-0">
                    <span class="feedback-message-header">
                      <span class="d-inline-block">
                        <img [src]="profilePictureDataUrl"
                             class="oppia-navbar-profile-picture rounded-circle feedback-thread-learner-profile-pic"
                             alt="User Avatar">
                      </span>
                    </span>
                  </div>

                  <div class="col-sm-11">
                    <div class="feedback-thread-new-message">
                      <textarea class="form-control feedback-thread-reply-box"
                                placeholder="{{ 'I18N_LEARNER_DASHBOARD_FEEDBACK_THREAD_DEFAULT_MESSAGE' | translate }}" [(ngModel)]="newMessage.text">
                      </textarea>
                    </div>
                    <div>
                      <button class="btn btn-success feedback-thread-new-message-send"
                              (click)="addNewMessage(threadId, newMessage.text)"
                              ng-disabled="messageSendingInProgress || !newMessage.text">
                        <span *ngIf="messageSendingInProgress"
                              [innerHTML]="'I18N_LEARNER_DASHBOARD_SEND_FEEDBACK_THREAD_MESSAGE_IN_PROGRESS' | translate">
                        </span>
                        <span class="e2e-test-feedback-send-message"
                              *ngIf="!messageSendingInProgress"
                              [innerHTML]="'I18N_LEARNER_DASHBOARD_SEND_FEEDBACK_THREAD_MESSAGE' | translate">
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <div class="feedback-thread-warning"
               *ngIf="feedbackThreadActive">
            <i class="fas fa-exclamation-circle"></i>
            <span [innerHTML]="'I18N_LEARNER_DASHBOARD_FEEDBACK_THREAD_WARNING' | translate"></span>
          </div>
          <div class="oppia-learnerdashboard-pagination-container" *ngIf="paginatedThreadsList.length > 0">
            <button class="oppia-pagination-button" type="button" (click)="fetchFeedbackUpdates()">
              <span *ngIf="!loadingIndicatorIsShown">Show more</span>
              <span *ngIf="loadingIndicatorIsShown">
                <mat-progress-spinner [diameter]="25"
                                      [mode]="indeterminate"
                                      class="oppia-diagram-spinning-button">
                </mat-progress-spinner>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 oppia-learner-dashboard-side-content"
         [ngClass]="{'oppia-learner-dashboard-mobile-mode': windowIsNarrow}">
    </div>
  </div>
</div>

<style>
  .oppia-profile-alignment {
    vertical-align: middle;
  }
  .oppia-box-size {
    padding: 2px 10px;
  }
</style>
