/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

.oppia-learner-dashboard-container {
  margin: 0 auto 30px auto;
  max-width: 1400px;
  text-align: left;
}

.oppia-learner-dashboard-button-menu {
  padding: 8px;

}
.oppia-learner-dashboard-title {
  color: #01645c;
  font-family: 'Capriola', 'Roboto', Arial, sans-serif;
  font-size: 3em;
  margin-bottom: 33px;
  margin-top: 0;
  padding-top: 65.5px;
  text-align: center;
}

.oppia-learner-dashboard-section-not-active-button {
  filter: invert(31%) sepia(3%) saturate(11%) hue-rotate(341deg) brightness(101%) contrast(90%);
}

.oppia-learner-dashboard-section-active-button {
  filter: invert(12%) sepia(99%) saturate(4263%) hue-rotate(171deg) brightness(94%) contrast(101%);
}

.oppia-learner-dashboard-progress-button-menu {
  background: #e8e7e3;
  border-bottom: 2px solid #d4d4d4;
  border-radius: 0;
  box-shadow: none;
  padding: 0.1px;
}

.oppia-learner-dashboard-buttons {
  background: #fff 0% 0% no-repeat padding-box;
  bottom: 0;
  box-shadow: 0 -3px 5px #3333331a;
  height: 2.5rem;
  position: absolute;
  width: 100%;
  z-index: 20;
}

.oppia-learner-dashboard-progress-button-menu-options {
  color: #00645c;
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  font-weight: 500;
  margin: 0 16px;
  padding: 23px 5px;
  text-align: center;
}


oppia-learner-dashboard-page .oppia-buttons {
  cursor: pointer;
  display: grid;
  justify-items: center;
}

oppia-learner-dashboard-page .oppia-svg-image {
  display: block;
  height: 48px;
  margin: auto;
  width: 64px;
}

.oppia-learner-dashboard-menu {
  cursor: pointer;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 17px 20px 17px 20px;
}

.oppia-learner-dashboard-menu:focus {
  background-color: rgba(0, 100, 92, 0.1);
}

.oppia-learner-dashboard-section-active {
  background-color: rgba(0, 100, 92, 0.1);
  color: #00645c;
}

.oppia-learner-dashborad-menu-hover:hover {
  background-color: rgba(0, 100, 92, 0.1);
}

.oppia-learner-dashboard-side-content {
  min-width: 270px;
  padding-left: 80px;
  width: 20%;
}

.oppia-learner-dashboard-main-content {
  padding: 0;
  width: 60%;
}

.oppia-learner-dashboard-main-content .remove-icon {
  color: white;
  float: right;
  font-size: 20px;
  margin-left: -26px;
  margin-top: 10px;
  position: relative;
  width: 18px;
  z-index: 20;
}

.oppia-learner-dashboard-main-menu {
  background-color: white;
  height: auto;
  margin: 64px 0 0 0;
  padding: 0;
}

.oppia-learner-dashboard-mobile-mode {
  margin: auto;
  width: 100%;
}

.oppia-learner-dashboard-main-content-title {
  color: #076962;
  display: inline-block;
  font-family: 'Capriola', 'Roboto', Arial, sans-serif;
  font-size: 24px;
  padding-bottom: 8px;
}

.oppia-learner-dashboard-sort {
  float: right;
  padding-right: 7.5px;
  padding-top: 8px;
}

.oppia-learner-dashboard-main-content-container .oppia-learner-dashboard-no-activity-card {
  background: rgb(255,255,255);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-family: "Capriola", "Roboto", Arial, sans-serif;
  margin: 0 17px 0 4px;
  padding: 30px 55px 30px 30px;
}

.oppia-learner-dashboard-sort-mobile {
  float: none;
  padding: 0 7.5px;
}

oppia-learner-dashboard-page .oppia-row {
  display: flex;
}
oppia-learner-dashboard-page .oppia-sort-options {
  width: auto;
}
.oppia-learner-dashboard-intro-button-link {
  margin-top: 13px;
  width: 230px;
}
oppia-learner-dashboard-page .oppia-btn-secondary {
  padding: 0 3px;
}
oppia-learner-dashboard-page .oppia-exploration-title {
  font-size: 105%;
  margin-left: 7px;
}
oppia-learner-dashboard-page .oppia-message-summaries {
  padding: 13px 8px 7px 8px;
}
oppia-learner-dashboard-page .oppia-profile-picture {
  margin-top: 4px;
  min-width: 32px;
}
oppia-learner-dashboard-page .oppia-updated-status {
  float: right;
  margin-right: 15px;
}

oppia-learner-dashboard-page .oppia-learner-groups-icon {
  font-size: 44px;
}

@media (max-width: 768px) {
  .oppia-learner-dashboard-container {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .oppia-learner-dashboard-buttons {
    height: 0.1rem;
  }
  oppia-learner-dashboard-page .oppia-buttons {
    margin-left: 135px;
  }
  .oppia-learner-dashboard-progress-button-menu-options {
    margin: 0 70px;
  }
}

@media(max-width:450px) {
  .oppia-learner-dashboard-progress-button-menu-options {
    font-size: 16px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  oppia-learner-dashboard-page .oppia-buttons {
    margin-left: 205px;
  }
  .oppia-learner-dashboard-progress-button-menu-options {
    margin: 0 110px;
  }
}

@media (max-width: 810px) {
  .sort-explorations-select.oppia-learner-dashboard-sort {
    padding: 0 0 6px 7.5px;
    width: 100%;
  }

  .oppia-learner-dashboard-main-content-container {
    margin-bottom: 10vh;
  }
}

@media (max-width: 500px) {
  .oppia-learner-dashboard-main-content-container {
    padding: 7px;
  }

  .oppia-learner-dashboard-main-content-container .oppia-learner-dashboard-no-activity-card {
    margin: 0 2px 0 4px;
  }


  oppia-learner-dashboard-page .oppia-svg-image {
    height: 35px;
    width: 44px;
  }

  oppia-learner-dashboard-page .home-button,
  oppia-learner-dashboard-page .goals-button,
  oppia-learner-dashboard-page .progress-button,
  oppia-learner-dashboard-page .oppia-learner-groups-button {
    font-size: 14px;
  }

  oppia-learner-dashboard-page .oppia-learner-groups-icon {
    font-size: 36px;
  }
}

@media screen and (max-width: 470px) {
  .oppia-learner-dashboard-main-content,
  .oppia-learner-dashboard-side-content {
    width: 100%;
  }
}

.oppia-dashboard-tooltip:hover + .oppia-dashboard-tooltip-text {
  visibility: visible;
}

.oppia-learner-dashboard-page-portfolio {
  font-weight: bold;
  margin-right: 14px;
  margin-top: 8px;
  text-align: right;
}

/* The css below helps in using headroom.js for footer. */
.oppia-learner-dashboard-buttons.headroom {
  bottom: 0;
  left: 0;
  right: 0;
}
.oppia-learner-dashboard-buttons.headroom--top {
  margin-bottom: 5px;
}

.oppia-learner-dashboard-buttons.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.oppia-learner-dashboard-buttons.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.oppia-learner-dashboard-buttons.headroom--unpinned {
  bottom: -30px;
}
.oppia-learner-dashboard-buttons.headroom--pinned {
  margin-bottom: 38px;
  position: fixed;
  transform: translateY(-100%);
}

.oppia-diagram-spinning-button {
  margin: 0 auto;
}



.oppia-learner-dash-container {
  padding: 0 16px;
}

.oppia-learner-dash-sidebar {
  background-color: #00645c;
  border-radius: 4px;
  height: 95%;
  list-style-type: none;
  margin-bottom: 0;
  max-height: 706px;
  padding: 16px;
  width: 248px;
}

.oppia-learner-dash-sidebar_btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin-bottom: 16px;
  padding: 12px 8px;
}

.oppia-learner-dash-sidebar_btn:not(.oppia-learner-dash-sidebar_btn--active):hover {
  background-color: #004d45;
}

.oppia-learner-dash-sidebar_btn span {
  margin-right: .5em;
}

.oppia-learner-dash-sidebar_btn--active {
  background-color: #fff;
  box-shadow: 0 4px 4px 0 #00000040;
  color: #00645c;
}

.oppia-learner-dash-sidebar_pic-frame {
  height: 72px;
  width: 72px;
}

.oppia-learner-dash-sidebar_position {
  height: 92vh;
  max-height: 750px;
}

.oppia-learner-dash-tab {
  flex-grow: 1;
  max-width: 1216px;
}

.oppia-learner-dash-content {
  display: flex;
  gap: 0 16px;
}

@media screen and (max-width: 767px) {
  .oppia-learner-dash-container {
    padding: 0;
  }

  .oppia-learner-dash-content {
    align-content: flex-start;
    flex-direction: column;
  }

  .oppia-learner-dash-sidebar {
    background-color: #a5d3ec;
    border-radius: 0;
    display: flex;
    height: max-content;
    justify-content: space-around;
    padding: 0;
    width: 100%;
  }

  .oppia-learner-dash-sidebar_btn {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0 !important;
    border-top: 2px solid transparent;
    color: #00645c;
    flex-direction: column;
    font-size: 14px;
    height: max-content;
    margin-bottom: 0;
    transition: all 300ms ease-out;
    width: 120px !important;
  }

  .oppia-learner-dash-sidebar_btn:not(.oppia-learner-dash-sidebar_btn--active):hover {
    background-color: transparent;
    border-bottom-color: #00645c;
    color: #00645c;
  }

  .oppia-learner-dash-sidebar_btn span {
    color: #fff;
    margin-bottom: .5em;
    margin-right: 0;
  }

  .oppia-learner-dash-sidebar_btn--active {
    background-color: transparent;
    border-bottom-color: #00645c;
    box-shadow: none;
    color: #00645c;
  }

  .oppia-learner-dash-sidebar_btn--active span {
    color: #00645c;
  }

  .oppia-learner-dash-sidebar_btn:not(.oppia-learner-dash-sidebar_btn--active):hover span {
    color: #00645c;
  }

  .oppia-learner-dash-sidebar_pic {
    display: none;
  }

  .oppia-learner-dash-sidebar_position {
    height: max-content;
    padding: 0;
    position: relative;
    top: 0;
  }

  .oppia-learner-dash-sidebar > ol li {
    width: max-content;
  }
}

@media screen and (min-width: 1513px) {
  .oppia-learner-dash-container {
    display: flex;
    justify-content: center;
  }
  
  .oppia-learner-dash-sidebar {
    max-height: 100%;
  }

  .oppia-learner-dash-sidebar_position {
    max-height: 100%;
  }

  .oppia-learner-dash-tab {
    width: 1216px;
  }

}

.oppia-learner-dash-button-sm {
  align-items: center;
  border: 1px solid;
  border-radius: 4px;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  padding: 10px 8px;
  text-decoration: none;
  transition: all 300ms ease-out;
}

.oppia-learner-dash-button-sm:hover {
  text-decoration: none;
}

.oppia-learner-dash-button-sm:focus {
  text-decoration: none;
}

.oppia-learner-dash-button--default {
  background-color: #00645c;
  border-color: #00645c;
  color: #fff;
}

.oppia-learner-dash-button--default:hover {
  background-color: #004d45;
  border-color: #004d45;
  color: #fff;
}

.oppia-learner-dash-button--default:focus {
  background-color: #429488;
  border-color: #429488;
  color: #fff;
}

.oppia-learner-dash-button--inverse {
  background-color: #fff;
  border-color: #00645c;
  color: #00645c;
}

.oppia-learner-dash-button--inverse:hover {
  background-color: #cadbda;
  color: #00645c;
}

.oppia-learner-dash--inverse:focus {
  background-color: #429488;
  border-color: #429488;
  color: #fff;
}

.oppia-learner-dash-greeting {
  color: #00645c;
  font-family: 'Capriola', 'Roboto', Arial, sans-serif;
  font-size: 32px;
}

.oppia-learner-dash-section {
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 16px;
}

.oppia-learner-dash-section-heading {
  color: #205d86;
  font-family: 'Capriola', 'Roboto', Arial, sans-serif;
  font-size: 24px;
}
