<h3>
  Back to <a ng-click="navigateToSubtopic()"><[editableTitle]></a>
</h3>
<div>
  <div class="content-box">
    <div class="left-menu">
      <div class="left-menu-item" ng-click="changeContent(THUMBNAIL)"><span>Card</span></div>
      <div class="left-menu-item" ng-click="changeContent(CONTENT)"><span>Content</span></div>
    </div>
    <div class="content">
      <preview-thumbnail ng-if="thumbnailIsShown" name="editableName"
                         description="editableDescription"
                         preview-footer="topic.getCanonicalStoryIds().length"
                         filename = "editableThumbnailFilename"
                         thumbnail-bg-color="editableThumbnailBgColor"
                         bg-color="'#2F6687'">
      </preview-thumbnail>

      <angular-html-bind ng-if="!thumbnailIsShown" html-data="pageContents.getHtml()">
      </angular-html-bind>
    </div>
  </div>
</div>

<style>
  .content-box {
    background-color: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    top: 20vh;
    width: 60%;
  }

  .left-menu {
    border-right: 2px solid #000000;
    width: 30%;
  }

  .content {
    padding: 30px;
    width: 65%;
  }

  .left-menu-item {
    border-bottom: 2px solid #000000;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
  }

  .left-menu-item span {
    font-size: 18px;
    font-weight: bold;
  }
</style>
