.content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    top: 20vh;
    width: 70%;
  }
  .content {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 35px;
    width: 65%;
  }
  .content-title {
    color: #00645c;
    display: block;
    font-family: Capriola, Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
  }
  .html-content {
    background-color: #ecf5fc;
    padding: 15px 25px;
  }

  .card {
    background-color: #fff;
    border: none !important;
    overflow: hidden;
  }

  .card-header {
    background-color: #003b36;
    padding: 10px 10px;
  }

  .card-title {
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    text-align: center;
  }

  .card-content {
    border: none !important;
    padding: 18px 6px;
  }

  .oppia-subtopic-viewer-container {
    margin-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    position: relative;
    text-align: left;
  }

  @media screen and (max-width: 1100px) {
    .content-box {
      width: 100%;
    }
  }

  @media screen and (max-width: 700px) {
    .back-to-subtopic-container {
      margin-bottom: 20px;
      margin-left: 1%;
      margin-top: 40px;
    }
    .content,
    .content-box {
      width: 100%;
    }
    .content {
      padding: 30px;
    }

    .card-header {
      padding: 15px 15px;
    }

    .card-title {
      font-size: 18px;
    }

    .card-content {
      padding: 15px;
    }
  }

  @media screen and (max-width: 600px) {
  .oppia-subtopic-viewer-container {
    padding-top: 80px;
  }
}
