<!DOCTYPE html>
<html ng-app="oppia">
  <head>
    <title>Oppia Admin Panel</title>

    <!-- Require head styles file using webpack -->
    @load('pages/header_css_libs.html')

    <!-- Require head javascript file using webpack -->
      @load('pages/header_js_libs.html')
  </head>

  <body>
    <service-bootstrap></service-bootstrap>
    <admin-page></admin-page>

    @load('pages/footer_js_libs.html')
    <script src="/third_party/static/ckeditor-4.12.1/ckeditor.js"></script>
  </body>
</html>
