<admin-navbar user-email="$ctrl.userEmail" logout-url="$ctrl.logoutUrl"></admin-navbar>

<div align="center"
     ng-if="$ctrl.statusMessage"
     style="background-color: #ffffff; position: fixed; max-width: 30%; z-index: 3000; border: 1px solid #00376d; right: 30px; bottom: 30px"
     class="protractor-test-status-message">
  <[$ctrl.statusMessage]>
</div>
<br>

<div style="padding-top: 16px;">
  <admin-dev-mode-activities-tab ng-if="$ctrl.isActivitiesTabOpen() && $ctrl.inDevMode"
                                 [set-status-message]="$ctrl.setStatusMessage">
  </admin-dev-mode-activities-tab>
  <admin-prod-mode-activities-tab ng-if="$ctrl.isActivitiesTabOpen() && !$ctrl.inDevMode">
  </admin-prod-mode-activities-tab>

  <admin-jobs-tab ng-if="$ctrl.isJobsTabOpen()"
                  set-status-message="$ctrl.setStatusMessage">
  </admin-jobs-tab>

  <admin-config-tab ng-if="$ctrl.isConfigTabOpen()"
                    set-status-message="$ctrl.setStatusMessage">
  </admin-config-tab>

  <admin-roles-tab ng-if="$ctrl.isRolesTabOpen()"
                   set-status-message="$ctrl.setStatusMessage">
  </admin-roles-tab>

  <admin-misc-tab ng-if="$ctrl.isMiscTabOpen()"
                  set-status-message="$ctrl.setStatusMessage">
  </admin-misc-tab>
</div>

<div ng-if="$ctrl.inDevMode" class="oppia-dev-mode">
  Dev Mode
</div>
