@media screen and (max-width: 768px) {
  oppia-merge-skill .skill-select-modal .modal-dialog {
    border: 0;
    border-radius: 0;
    margin: 0 auto;
    padding: 0;
  }
  oppia-merge-skill .skill-select-modal .modal-header {
    align-items: center;
    background-color: #00609c;
    justify-content: space-between;
    padding: 12px 10px;
    width: 100vw;
  }
  oppia-merge-skill .skill-select-modal .modal-header h3 {
    color: #fff;
  }
  oppia-merge-skill .skill-select-modal .modal-content {
    border: 0;
    border-radius: 0;
  }
  oppia-merge-skill .select-skill-modal-header .modal-close-button {
    color: #fff;
    display: block;
    font-size: 20px;
  }
  oppia-merge-skill .select-skill-modal-header .modal-footer {
    justify-content: flex-start;
  }
}
