.skill-selector .skill-selector-parent,
  .skill-selector .skill-list-box {
    max-height: 50vh;
    overflow-y: auto;
  }
  .skill-selector .oppia-skill-container {
    display: flex;
    flex-direction: row;
  }
  .skill-selector .oppia-list-group {
    width: 70%;
  }
  .skill-selector .list-view-item {
    display: flex;
    flex-direction: column;
    margin: 2px;
  }
  .skill-selector .oppia-topic-name-text,
  .skill-selector .oppia-heading-text,
  .skill-selector .oppia-list-view-item {
    padding-left: 10px;
  }
  .skill-selector .oppia-subtopic-name-text {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 20px;
  }
  .skill-selector .oppia-skills-list-item {
    margin-left: 10px;
  }
  .skill-selector .oppia-filter-list-group {
    padding-left: 20px;
    width: 30%;
  }
  .skill-selector .oppia-list-view-item-container {
    height: 15vh;
    overflow-y: auto;
    word-break: break-word;
  }
  .skill-selector .oppia-mat-radio-button-label {
    white-space: normal;
    word-break: break-word;
  }
  @media screen and (max-width: 768px) {
    .skill-selector .skill-selector-parent,
    .skill-selector .skill-list-box {
      max-height: initial;
    }

    .skill-selector .oppia-topic-name-text {
      word-break: break-word;
    }
  }
  @media screen and (max-width: 480px) {
    .skill-selector .oppia-skill-container {
      flex-direction: column;
    }
    .skill-selector.oppia-filter-list-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 1rem;
      width: 100%;
    }
    .skill-selector .oppia-list-group {
      width: 100%;
    }
    .skill-selector .oppia-filter-list-group {
      padding-left: 0;
      width: 100%;
    }
  }
