<div class="skill-selector-parent skill-container" style="display:flex;  flex-direction: row;">
  <div class="list-group" style="width:70%">
    <md-card layout="row" class="list-view-item protractor-test-skill-select-header">
      Search By Skill
      <input type="text" class="form-control protractor-test-skill-name-input" placeholder="Enter a skill name" ng-model="skillFilterText" autofocus>
    </md-card>
    <div class="skill-list-box">
      <md-radio-group ng-model="selectedSkill" ng-change="setSelectedSkillId()">
        <md-card ng-if="!hasUntriagedSkills(topicName)" ng-repeat="(topicName, subtopics) in categorizedSkills" class="list-view-item">
          <md-card layout="row" class="list-view-item">
            <h2><label class="oppia-skill-selector-text"><[topicName]></label></h2>
          </md-card>
          <div ng-if="!checkIfEmpty(skills)" ng-repeat="(subtopicName, skills) in subtopics" class="list-view-item ">
            <md-card class="list-view-item">
              <label class="oppia-subtopic-name"><[subtopicName]></label>
              <md-radio-button class="oppia-skills-list-item-text protractor-test-skills-list-item" ng-repeat="skill in skills | filter:skillFilterText" ng-value="skill.skill_id" aria-label="<[skill.skill_description]>">
                <[skill.skill_description]>
              </md-radio-button>
            </md-card>
          </div>
        </md-card>
        <md-card ng-if="hasUntriagedSkills(topicName)" ng-repeat="(topicName, skills) in categorizedSkills" class="list-view-item">
          <md-card layout="row" class="list-view-item">
            <h2><label class="oppia-skill-selector-text">Untriaged Skills</label></h2>
          </md-card>
          <div ng-if="!checkIfEmpty(skills)" class="list-view-item ">
            <md-card class="list-view-item">
              <md-radio-button class="oppia-skill-selector-text protractor-test-skills-list-item" ng-repeat="skill in skills | filter:skillFilterText" ng-value="skill.skill_id" aria-label="<[skill.skill_description]>">
                <[skill.skill_description]>
              </md-radio-button>
            </md-card>
          </div>
        </md-card>
      </md-radio-group>
    </div>
  </div>
  <div class="list-group oppia-list-group-extra">
    <md-card ng-if="canAllowSkillsFromOtherTopics()" layout="row" class="list-view-item oppia-list-view-item">
      <label>Filter By Topics</label>
    </md-card>
    <div ng-if="canAllowSkillsFromOtherTopics()" class="oppia-allow-skills">
      <md-card class="list-view-item ">
        <md-checkbox class="oppia-skills-list-item-text" ng-repeat="topic in topicFilterList" ng-model="topic.checked" ng-change="updateSkillsListOnTopicFilterChange()"><[topic.topicName]></md-checkbox>
      </md-card>
    </div>
    <br>
    <md-card layout="row" class="list-view-item oppia-skill-selector-text">
      <label>Filter By Subtopic</label>
    </md-card>
    <div class="oppia-allow-skills">
      <md-card class="list-view-item">
        <div ng-repeat="(topicName, subtopics) in subTopicFilterDict">
          <h3><label class="list-group-item-heading oppia-list-view-item"><[topicName]></label></h3>
          <md-card class="list-view-item">
            <md-checkbox class="oppia-skills-list-item-text" ng-repeat="subtopic in subtopics" ng-model="subtopic.checked" ng-change="updateSkillsListOnSubtopicFilterChange()"><[subtopic.subTopicName]></md-checkbox>
          </md-card>
        </div>
      </md-card>
    </div>
    <br>
    <button class="btn btn-secondary" ng-click="clearAllFilters()">Clear All Filters</button>
  </div>
</div>
<style>
  .skill-selector-parent .skill-list-box {
    max-height: 50vh;
    overflow-y: auto;
  }
  @media screen and (max-width: 768px) {
    .skill-selector-parent .skill-list-box {
      max-height: initial;
    }
  }
</style>
