name: Docker Setup Test
on: [push]

jobs:
  build:
    runs-on:  ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
    steps:
      - name: Checkout to the Oppia repository code
        uses: actions/checkout@v3

      - uses: ./.github/actions/merge

      - name: Build Images
        run: |
          echo ---Building Docker Images---
          docker compose build
          
      - name: Start Containers
        run: |
          echo ---Starting Containers---
          prod_env=true docker compose up angular-build -d
          prod_env=true docker compose up -d

      - name: Checking server reachability
        run: |
          for i in {1..50}; do
            if curl -s http://localhost:8181/; then
              echo ---Dev-server is up---
              exit 0
            else
              echo ---Retrying in 30 seconds---
              sleep 30
            fi
          done
          echo ---Dev-server is not started after all retries---
          make logs.dev-server
          exit 1

      - name: copy node_modules
        run: |
          df -H
          echo ---Copying node_modules---
          sudo docker cp oppia-angular-build:/app/oppia/node_modules .
          df -H
          
      - name: Stop Containers
        run: docker compose down
