name: End-to-End tests
on:
  push:
    branches:
      - develop
      - release-*
  pull_request:
    branches:
      - develop
      - release-*

jobs:
  e2e_user_features_and_library:
    runs-on:  ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '2.x'
          architecture: 'x64'
      - name: Setup python by installing wheel
        run: pip install wheel==0.35.0
      - uses: ./.github/actions/merge
      - name: Install third party
        run: python -m scripts.install_third_party_libs
      - id: check-risk
        name: Check if PR is low-risk
        uses: ./.github/actions/check-if-pr-is-low-risk
      - name: Install chrome
        if: ${{ steps.check-risk.outputs.is-low-risk != 0 }}
        run: python -m scripts.install_chrome_for_ci
      - name: Install ffmpeg
        if: ${{ steps.check-risk.outputs.is-low-risk != 0 }}
        run: sudo apt install ffmpeg
      - name: Run Library E2E Test
        if: ${{ steps.check-risk.outputs.is-low-risk != 0 }}
        run: xvfb-run -a --server-args="-screen 0, 1285x1000x24" python -m scripts.run_e2e_tests --suite="library" --prod_env
        env: 
          VIDEO_RECORDING_IS_ENABLED: 0
      - name: Run e2e preferences test
        if: ${{ steps.check-risk.outputs.is-low-risk != 0 }}
        run: xvfb-run -a --server-args="-screen 0, 1285x1000x24" python -m scripts.run_e2e_tests --skip-install --skip-build --suite="preferences" --prod_env
        env: 
          VIDEO_RECORDING_IS_ENABLED: 0
      - name: Run e2e subscriptions test
        if: ${{ steps.check-risk.outputs.is-low-risk != 0 }}
        run: xvfb-run -a --server-args="-screen 0, 1285x1000x24" python -m scripts.run_e2e_tests --skip-install --skip-build --suite="subscriptions" --prod_env
        env: 
          VIDEO_RECORDING_IS_ENABLED: 0
      - name: Run e2e wipeout test
        if: ${{ steps.check-risk.outputs.is-low-risk != 0 }}
        run: xvfb-run -a --server-args="-screen 0, 1285x1000x24" python -m scripts.run_e2e_tests --skip-install --skip-build --suite="wipeout" --prod_env
        env: 
          VIDEO_RECORDING_IS_ENABLED: 0
      - name: Uploading protractor-video as Artifacts
        if: ${{ steps.check-risk.outputs.is-low-risk != 0 && always() }}
        uses: actions/upload-artifact@v2
        with:
          name: protractor-video
          path: /home/runner/work/oppia/protractor-video
