name: Lighthouse CI tests
on: [pull_request, push]

jobs:
  lighthouse:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: '2.x'
          architecture: 'x64'
      - name: Install Third Party Dependencies
        run: python -m scripts.install_third_party_libs
      - name: Install Nginx
        run: python -m scripts.run_lighthouse_tests --only_install_nginx
      - name: Run lighthouse checks
        run: python -m scripts.run_lighthouse_tests
