name: Check code is formatted with prettier
on:
  merge_group:
    types: [checks_requested]
  push:
    branches:
      - develop
      - release-*
  pull_request:
    branches:
      - develop
      - release-*

jobs:
  run_prettier:
    name: Run prettier on the whole codebase
    runs-on:  ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: '3.8.15'
          architecture: 'x64'
      - name: Merge develop branch into the current branch
        uses: ./.github/actions/merge
      - name: Initialize Containers
        uses: ./.github/actions/install-oppia-dependencies-docker
      - name: Prettify code
        run: make run_tests.prettier
      - name: Explain how to fix the issue
        if: ${{ failure() }}
        run: echo "Read https://github.com/oppia/oppia/wiki/Formatters to understand how to fix this issue."
      - name: Report failure if failed on oppia/oppia develop branch
        if: ${{ failure() && github.event_name == 'push' && github.repository == 'oppia/oppia' && github.ref == 'refs/heads/develop'}}
        uses: ./.github/actions/send-webhook-notification
        with:
          message: "Prettier formatting failed on the upstream develop branch."
          webhook-url: ${{ secrets.BUILD_FAILURE_ROOM_WEBHOOK_URL }}
