.oppia-navbar-profile-classroom-admin .open > a,
.nav > li > a:focus,
.oppia-navbar-profile-classroom-admin > li > a:hover,
.oppia-navbar-profile-classroom-admin > li > a:focus,
.oppia-navbar-tabs-classroom-admin > li > a:hover,
.oppia-navbar-profile-classroom-admin .open > a:hover,
.oppia-navbar-profile-classroom-admin .open > a:focus,
.oppia-navbar-tabs-classroom-admin > li > a.active,
.oppia-classroom-admin-page-dropdown-icon {
  background-color: #fff;
  color: #00645c;
}
.oppia-navbar-tabs-classroom-admin .dropdown-toggle::after {
  color: #fff;
}
.oppia-navbar-classroom-admin {
  top: 0;
}
.oppia-navbar-tabs-classroom-admin:hover .dropdown-toggle::after,
.oppia-navbar-tabs-classroom-admin:focus .dropdown-toggle::after {
  color: #00645c;
}
.navbar-container.oppia-navbar-container {
  background-color: #00645c;
}
.nav .dropdown:hover > .dropdown-menu > li > a.oppia-dropdown-item-text {
  color: #00645c;
}
.oppia-dropdown-toggle-icon {
  margin-top: -1px;
}
@media screen and (max-width: 710px) {
  .oppia-classroom-admin-page-dropdown {
    display: block;
  }
  .oppia-hide-in-small-width-screens {
    display: none;
  }
}
@media screen and (min-width: 711px) {
  .oppia-classroom-admin-page-dropdown,
  .oppia-classroom-admin-page-dropdown-icon,
  .oppia-classroom-admin-page-dropdown-menu {
    display: none;
  }
}
