<div>
  <nav class="navbar navbar-default navbar-light oppia-navbar oppia-prevent-selection oppia-navbar-classroom-admin" role="navigation">
    <div class="navbar-container oppia-navbar-container">
      <div class="navbar-header e2e-test-navbar-header float-left">
        <a class="oppia-navbar-brand-name oppia-transition-200 float-left"
           href="/community-library"
           [smartRouterLink]="'/' + PAGES_REGISTERED_WITH_FRONTEND.LIBRARY_INDEX.ROUTE">
          <picture>
            <source type="image/webp" [srcset]="logoWebpImageSrc">
            <source type="image/png" [srcset]="logoPngImageSrc">
            <img [src]="logoPngImageSrc"
                 class="oppia-logo oppia-logo-wide"
                 alt="Oppia Logo">
          </picture>
          Return to Oppia Library Page
        </a>
        <ul class="nav navbar-nav oppia-navbar-breadcrumb">
          <li>
            <span class="oppia-navbar-breadcrumb-separator"></span>Classroom Admin
          </li>
        </ul>
      </div>
      <div class="navbar-header float-right">
        <ul class="nav oppia-navbar-nav oppia-navbar-profile-classroom-admin">
          <li>
            <ul class="nav oppia-navbar-tabs-classroom-admin">
              <li ngbDropdown class="nav-item dropdown float-right" [ngClass]="{'open' : profileDropdownIsActive}">
                <a ngbDropdownToggle class="nav-link oppia-navbar-dropdown-toggle e2e-test-navbar-dropdown-toggle"
                   data-toggle="dropdown"
                   (mouseenter)="activateProfileDropdown()"
                   (mouseleave)="deactivateProfileDropdown()">
                  <span *ngIf="profilePictureDataUrl">
                      <!--
                        Lighthouse flags <img> elements that don't have alt attributes:
                        If the image acts as decoration and does not provide any useful content, give it an empty alt=""
                        https://web.dev/image-alt/?utm_source=lighthouse&utm_medium=devtools#how-to-add-alternative-text-to-images
                      -->
                    <img [src]="profilePictureDataUrl"
                         class="oppia-navbar-profile-picture rounded-circle"
                         alt="">
                  </span>
                  <div *ngIf="!profilePictureDataUrl" class="dropdown-toggle">
                    <i class="material-icons md-40 oppia-dropdown-toggle-icon">&#xE853;</i>
                  </div>
                </a>
                <ul ngbDropdownMenu class="dropdown-menu dropdown-menu oppia-navbar-dropdown"
                    role="menu"
                    (mouseenter)="activateProfileDropdown()"
                    (mouseleave)="deactivateProfileDropdown()">
                  <li>
                    <a (click)="onMouseoutProfilePictureOrDropdown($event)"
                       [href]="profileUrl"
                       class="dropdown-item oppia-dropdown-item-text">
                      <strong>{{ username }}</strong>
                    </a>
                  </li>
                  <hr class="oppia-top-right-menu-item-separator">
                  <li>
                    <a (click)="onMouseoutProfilePictureOrDropdown($event)"
                       href="/preferences"
                       [smartRouterLink]="'/' + PAGES_REGISTERED_WITH_FRONTEND.PREFERENCES.ROUTE"
                       class="dropdown-item oppia-dropdown-item-text">
                      Preferences
                    </a>
                  </li>
                  <hr class="oppia-top-right-menu-item-separator">
                  <li>
                    <a (click)="onMouseoutProfilePictureOrDropdown($event)"
                       [href]="'/' + PAGES_REGISTERED_WITH_FRONTEND.LOGOUT.ROUTE"
                       [smartRouterLink]="'/' + PAGES_REGISTERED_WITH_FRONTEND.LOGOUT.ROUTE"
                       class="dropdown-item oppia-dropdown-item-text">
                      Logout
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<style>
  .oppia-navbar-profile-classroom-admin .open > a,
  .nav > li > a:focus,
  .oppia-navbar-profile-classroom-admin > li > a:hover,
  .oppia-navbar-profile-classroom-admin > li > a:focus,
  .oppia-navbar-tabs-classroom-admin > li > a:hover,
  .oppia-navbar-profile-classroom-admin .open > a:hover,
  .oppia-navbar-profile-classroom-admin .open > a:focus,
  .oppia-navbar-tabs-classroom-admin > li > a.active,
  .oppia-classroom-admin-page-dropdown-icon {
    background-color: #fff;
    color: #00645c;
  }
  .oppia-navbar-tabs-classroom-admin .dropdown-toggle::after {
    color: #fff;
  }
  .oppia-navbar-classroom-admin {
    top: 0;
  }
  .oppia-navbar-tabs-classroom-admin:hover .dropdown-toggle::after,
  .oppia-navbar-tabs-classroom-admin:focus .dropdown-toggle::after {
    color: #00645c;
  }
  .navbar-container.oppia-navbar-container {
    background-color: #00645c;
  }
  .nav .dropdown:hover > .dropdown-menu > li > a.oppia-dropdown-item-text {
    color: #00645c;
  }
  .oppia-dropdown-toggle-icon {
    margin-top: -1px;
  }
  @media screen and (max-width: 710px) {
    .oppia-classroom-admin-page-dropdown {
      display: block;
    }
    .oppia-hide-in-small-width-screens {
      display: none;
    }
  }
  @media screen and (min-width: 711px) {
    .oppia-classroom-admin-page-dropdown,
    .oppia-classroom-admin-page-dropdown-icon,
    .oppia-classroom-admin-page-dropdown-menu {
      display: none;
    }
  }
</style>
