.oppia-beam-jobs-tab-page {
    height: 100%;
    max-width: 900px;
  }
  .oppia-beam-jobs-tab-page .job-name-form-container {
    display: flex;
    width: 100%;
  }
  .oppia-beam-jobs-tab-page .job-name-form {
    flex-grow: 1;
  }
  .oppia-beam-jobs-tab-page .job-start-button {
    flex-grow: 0;
    margin-left: 26px;
    margin-top: 6px;
  }
  .oppia-beam-jobs-tab-page .job-runs-table-container {
    max-height: 800px;
    min-height: 300px;
    overflow: auto;
    width: 100%;
  }
  .oppia-beam-jobs-tab-page .job-runs-table {
    font-size: 30px;
    width: 100%;
  }
  .oppia-beam-jobs-tab-page .job-name-cell {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }
  .oppia-beam-jobs-tab-page .mat-icon.mat-warn {
    color: #f44336;
  }
  .oppia-beam-jobs-tab-page .mat-raised-button {
    width: 100%;
  }
  .oppia-beam-jobs-tab-page .mat-raised-button.mat-warn:not(.mat-button-disabled) {
    background-color: #f44336;
    color: #fff;
  }
  .oppia-beam-jobs-tab-page .job-run-action-column {
    width: 150px;
  }
  .oppia-beam-jobs-tab-page .job-status-mat-icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
  }
