.story-length-validation-error {
      align-items: center;
      background-color: #f8d7da;
      border: 0.0625rem solid #dc3545;
      border-radius: 0.25rem;
      color: #dc3545;
      display: flex;
      justify-content: center;
      padding: 0.25rem;
    }

    .oppia-page-card.chapter-control-container {
      padding: 10px;
    }

    .no-chapters-message {
      font-family: 'Capriola', 'Roboto', Arial, sans-serif;
      font-size: 18px;
      padding-top: 6px;
      text-align: center;
    }

    .chapter-control-bar {
      display: flex;
      justify-content: flex-end;
      margin-right: 15px;
    }

    .publish-upto-chapter-menu {
      background-color: #008098;
      border-radius: 5px;
      color: white;
      display: flex;
      font-weight: bold;
      gap: 1rem;
      justify-content: space-around;
      margin: 15px 0 15px;
      padding: 10px;
    }

    .publish-upto-chapter-dropdown {
      background-color: rgb(184 231 247);
      font-size: 14px;
      width: 60px;
    }

    .publish-upto-chapter-dropdown option {
      background-color: #fff;
      border: 0.5px solid #000;
    }

    .publish-upto-chapter-dropdown option:disabled {
      background-color: rgb(207, 206, 206);
    }

    .chapter-list-heading th {
      border: 1px solid #dbdbdb;
      border-top: 4px solid black;
      font-size: 15px;
      font-weight: bold;
      height: 30px;
      padding: 2%;
      vertical-align: top;
      word-wrap: break-word;
    }

    .chapter-list-heading .drag-handler-header {
      border: none;
    }

    .published-node {
      background-color: rgb(217, 248, 231);
    }

    .ready-to-publish-node {
      background-color: #f8f1e3;
    }

    .draft-node {
      background-color: rgb(239, 239, 239);
    }

    .story-editor-node {
      align-items: center;
      border-bottom: 1px solid #dbdbdb;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 15px 0;
      position: relative;
    }

    .story-editor-node-title {
      cursor: pointer;
      text-align: left;
      width: 95%;
    }

    .story-node .drag-handler {
      background-color: #fff;
      border: none;
      cursor: move;
      padding: 1%;
      width: 5%;
    }

    .draggable-icon-indicator {
      position: absolute;
      top: 1.5vh;
    }

    .story-node .chapter-index {
      border: 1px solid #dbdbdb;
      font-weight: bold;
      padding-left: 5px;
      width: 6%;
    }

    .story-node .chapter-title {
      border: 1px solid #dbdbdb;
      font-weight: bold;
      width: 25%;
    }

    .story-node .chapter-status {
      border: 1px solid #dbdbdb;
      width: 20%;
    }

    .story-node .chapter-last-modified {
      border: 1px solid #dbdbdb;
    }

    .story-node .chapter-planned-publication-date {
      border: 1px solid #dbdbdb;
      font-weight: bold;
    }

    .story-node .edit-options-container {
      background-color: #fff;
      border: none;
      padding-left: 5px;
    }

    .story-node td {
      height: 50px;
      padding: 2%;
      vertical-align: top;
      word-wrap: break-word;
    }

    .story-node {
      cursor: pointer;
      position: relative;
    }

    .story-editor-node:hover {
      cursor: grab;
    }

    .topic-story-name {
      font-size: 15px;
      margin-bottom: 35px;
      margin-left: 4%;
    }

    .topic-name {
      color: #666;
      cursor: pointer;
    }

    .story-editor-node:active {
      cursor: move;
    }

    .story-nodes-container {
      background-color: #fff;
      text-align: left;
      white-space: initial;
    }

    .story-nodes-container table {
      font-size: 14px;
    }

    .node-editor {
      display: inline-block;
      min-height: 25vh;
      padding-left: 5%;
      width: 65%;
    }

    .story-node-editor {
      margin-top: 20px;
    }

    .story-node-editor-container {
      margin-left: 5%;
      padding: 10px 0;
    }

    .story-node-editor-container span {
      font-size: 25px;
    }

    .form-heading {
      font-size: 15px;
    }

    .story-title {
      margin: 20px 0 15px;
    }

    .story-thumbnail {
      margin: 25px 0;
    }

    .story-nodes-title {
      margin-bottom: 2%;
    }

    .story-notes .save-button {
      margin-top: 1.5vh;
    }

    .story-description textarea,
    .story-meta-tag-content textarea {
      height: 10vh;
    }

    .story-meta-tag-content {
      margin-bottom: 25px;
      margin-top: 32px;
    }

    .parent-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
    }
    .content-container {
      margin-bottom: 40px;
      margin-right: 3%;
      width: 50%;
    }
    .chapter-list-container {
      width: 35%;
    }
    .content-card {
      margin: 0;
    }
    .chapter-editor-card {
      width: 80%;
    }
    .show-story-preview-button {
      border-top: 1px solid #c1c1c1;
      color: #00645d;
      font-size: 15px;
      padding: 10px 0;
      width: 100%;
    }
    .story-content-card {
      padding: 0;
    }
    .story-content {
      padding: 5px 55px 30px 45px;
    }
    .story-notes p {
       margin: 0;
    }
    .story-card-header {
      font-size: 20px;
      margin: 40px 18px 5px;
    }
    .story-contain-text {
      font-size: smaller;
    }
    .add-chapter-btn {
      background-color: #008098;
      color: #fff;
      font-weight: bold;
      margin: 25px 0 10px;
      text-align: left;
    }
    .add-chapter-button {
      background-color: #008098;
      color: #fff;
      font-weight: bold;
      margin: 15px 5% 15px;
      text-align: left;
    }
    .chapter-list-card-header {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      font-size: 20px;
      font-weight: bold;
      justify-content: space-between;
    }
    .chapter-list-card-heading {
      border-bottom: 2px solid #000;
      padding-left: 4%;
    }
    .chapter-list-card-heading span {
      font-weight: bold;
    }
    .chapter-option-box {
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.5);
      padding: 0;
      position: absolute;
      right: -5px;
      width: 140px;
      z-index: 1;
    }
    .chapter-edit-option {
      border: 1px solid rgba(0, 0, 0, 0.5);
      cursor: pointer;
      font-size: 15px;
      padding: 5px;
      text-align: left;
    }
    .chapter-edit-option span {
      margin-left: 5%;
    }
    .chapter-edit-toggle-button {
      cursor: pointer;
      position: relative;
    }
    .chapter-list-card-header i {
      display: none;
    }
    .story-editor-notes-edit-icon {
      padding-top: 4px;
    }
    .cdk-drag-placeholder {
      opacity: 0;
    }

    .oppia-error-message-container {
      background-color: #fff;
      border: 1px solid #00376d;
      bottom: 30px;
      max-width: 30%;
      padding: 5px;
      position: fixed;
      right: 30px;
      text-align: center;
      z-index: 3000;
    }
    @media screen and (max-width: 1150px) {
      .content-container {
          width: 55%;
      }
      .chapter-list-container {
        margin-right: 2%;
        width: 35%;
      }
      .add-chapter-button {
        font-size: 12px;
      }
      .publish-upto-chapter-label {
        font-size: 14px;
      }
      .chapter-list-heading th {
        font-size: 14px;
      }
    }
    @media screen and (max-width: 1000px) {
      .parent-container {
          width: 100%;
      }
      .chapter-list-container {
        margin-right: 0;
        width: 40%;
      }
    }
    @media screen and (max-width: 800px) {
      .story-content {
        padding: 0;
      }
    }
    @media screen and (max-width: 768px) {
      .content-container,
      .chapter-list-container {
        margin-bottom: 100px;
        margin-right: 0;
        width: 100%;
      }

      .content-container {
        margin-bottom: 0;
      }

      .topic-story-name {
        display: none;
      }

      .chapter-list-container {
        margin-top: 40px;
      }

      .draggable-icon-indicator {
         top: 2.5vh;
      }

      .story-notes {
        width: 95%;
      }

      .story-node-editor {
        margin-top: 0;
      }

      .story-card-header {
        margin: 0;
      }

      .chapter-option-box {
        right: 20px;
      }

      .chapter-list-card-header i {
        display: block;
      }
      .chapter-list-card-header div {
        margin-top: 16px;
        width: 100%;
      }
      .chapter-list-card-header {
        margin-bottom: 0;
        padding-bottom: 18px;
      }
      .chapter-list-card-heading {
        padding-top: 15px;
      }
    }
    @media screen and (max-width: 425px) {
      .drag-handler,.drag-handler-header {
        display: none;
      }
      .chapter-control-panel {
        padding: 20px 0 15px;
      }
    }
    @media screen and (max-width: 375px) {
      .chapter-control-bar {
        flex-direction: column;
        padding-left: 5px;
      }
      .publish-upto-chapter-menu {
        margin-top: 5px;
      }
      .add-chapter-button {
        font-size: 14px;
      }
      .story-nodes-container table {
        font-size: 12px;
      }
      .chapter-edit-option span {
        font-size: 12px;
      }
    }
